<div class="_main_content">

  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="_1card">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h2 class="today-event-title">Profile Update Requests - Agent</h2>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table id="table_record" class="table table-bordered">
                <thead>
                  <tr align="center">
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each agentData as |value key| }}

                  <tr>
                    <td>{{value.iAgentId.iUserID}}
                    </td>
                    <td>{{value.iAgentId.vFirstName}} {{value.iAgentId.vLastName}}</td>
                    <td>{{value.iAgentId.vEmail}}</td>
                    <td class="text-center">
                      <div class="dropdown action-dropdown">

                        <button class="listing-dropdown dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-expanded="false">
                          <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23" viewBox="0 0 4.8 23">
                            <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                              d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                              transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                          </svg>
                        </button>
                        <div class="dropdown-menu w-100" style="will-change: transform;">
                          <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-id="{{value._id}}"
                            data-target="#profile_model_{{value._id}}">View</a>
                          <a class="dropdown-item approved" href="javascript:;" data-id="{{value._id}}">Approved</a>
                          <a class="dropdown-item reject" href="javascript:;" data-id="{{value._id}}">Decline</a>
                        </div>

                        {{!--view Modal start --}}
                        <div class="modal fade edit-conference-modal" id="profile_model_{{value._id}}" tabindex="-1"
                          role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header p-0 pb-3">
                                <h5 class="modal-title" id="exampleModalLabel">Update Profile Info.</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body p-0">
                                <div class="row">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th></th>
                                        <th>Old</th>
                                        <th>New</th>
                                      </tr>
                                    </thead>
                                    {{#if value.vFirstName}}
                                    <tr>
                                      <td>First Name</td>
                                      <td>{{value.iAgentId.vFirstName}}</td>
                                      <td>{{value.vFirstName}}</td>
                                    </tr>
                                    {{/if}}

                                    {{#if value.vLastName}}
                                    <tr>
                                      <td>Last Name</td>
                                      <td>{{value.iAgentId.vLastName}}</td>
                                      <td>{{value.vLastName}}</td>
                                    </tr>
                                    {{/if}}

                                    {{#if value.vCity}}
                                    <tr>
                                      <td>City</td>
                                      <td>{{value.iAgentId.vCity}}</td>
                                      <td>{{value.vCity}}</td>
                                    </tr>
                                    {{/if}}

                                    {{#if value.vCountry}}
                                    <tr>
                                      <td>Country</td>
                                      <td>{{value.iAgentId.vCountry}}</td>
                                      <td>{{value.vCountry}}</td>
                                    </tr>
                                    {{/if}}
                                    {{#if value.vZipCode}}
                                    <tr>
                                      <td>ZipCode</td>
                                      <td>{{value.iAgentId.vZipCode}}</td>
                                      <td>{{value.vZipCode}}</td>
                                    </tr>
                                    {{/if}}
                                    {{#if value.vPhone}}
                                    <tr>
                                      <td>Phone</td>
                                      <td>{{value.iAgentId.vPhone}}</td>
                                      <td>{{value.vPhone}}</td>
                                    </tr>
                                    {{/if}}
                                    {{#if value.vAddress}}
                                    <tr>
                                      <td>Address</td>
                                      <td>{{value.iAgentId.vAddress}}</td>
                                      <td>{{value.vAddress}}</td>
                                    </tr>
                                    {{/if}}
                                  </table>
                                </div>
                                <div class="footer-btns-group">
                                  <a class="medium-btn approved" href="javascript:;"
                                    data-id="{{value._id}}">Approved</a>
                                  <button type="button" class="medium-btn2" data-dismiss="modal">Close</button>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        {{!-- Modal end --}}
                      </div>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="_1card">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h2 class="today-event-title">Profile Update Requests - Client</h2>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table id="table_record2" class="table table-bordered">
                <thead>
                  <tr align="center">
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each clientData as |value key| }}

                  <tr>
                    <td>{{value.iClientId.iUserID}}
                    </td>
                    <td>{{value.iClientId.vFirstName}} {{value.iClientId.vLastName}}</td>
                    <td>{{value.iClientId.vEmail}}</td>
                    <td class="text-center">
                      <div class="dropdown action-dropdown">

                        <button class="listing-dropdown dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-expanded="false">
                          <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23" viewBox="0 0 4.8 23">
                            <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                              d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                              transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                          </svg>
                        </button>
                        <div class="dropdown-menu w-100" style="will-change: transform;">
                          <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-id="{{value._id}}"
                            data-target="#profile_model_{{value._id}}">View</a>
                          <a class="dropdown-item approvedClient" href="javascript:;"
                            data-id="{{value._id}}">Approved</a>
                          <a class="dropdown-item rejectClient" href="javascript:;" data-id="{{value._id}}">Decline</a>
                        </div>

                        {{!-- Modal start --}}
                        <div class="modal fade edit-conference-modal" id="profile_model_{{value._id}}" tabindex="-1"
                          role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header pl-0 pr-0 pt-0 pb-3">
                                <h5 class="modal-title" id="exampleModalLabel">Update Profile Info.</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body p-0">
                                <div class="row">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th></th>
                                        <th>Old</th>
                                        <th>New</th>
                                      </tr>
                                    </thead>
                                    {{#if value.vFirstName}}
                                    <tr>
                                      <td>First Name</td>
                                      <td>{{value.iClientId.vFirstName}}</td>
                                      <td>{{value.vFirstName}}</td>
                                    </tr>
                                    {{/if}}

                                    {{#if value.vLastName}}
                                    <tr>
                                      <td>Last Name</td>
                                      <td>{{value.iClientId.vLastName}}</td>
                                      <td>{{value.vLastName}}</td>
                                    </tr>
                                    {{/if}}

                                    {{#if value.vCity}}
                                    <tr>
                                      <td>City</td>
                                      <td>{{value.iClientId.vCity}}</td>
                                      <td>{{value.vCity}}</td>
                                    </tr>
                                    {{/if}}

                                    {{#if value.vCountry}}
                                    <tr>
                                      <td>Country</td>
                                      <td>{{value.iClientId.vCountry}}</td>
                                      <td>{{value.vCountry}}</td>
                                    </tr>
                                    {{/if}}
                                    {{#if value.vZipCode}}
                                    <tr>
                                      <td>ZipCode</td>
                                      <td>{{value.iClientId.vZipCode}}</td>
                                      <td>{{value.vZipCode}}</td>
                                    </tr>
                                    {{/if}}
                                    {{#if value.vPhone}}
                                    <tr>
                                      <td>Phone</td>
                                      <td>{{value.iClientId.vPhone}}</td>
                                      <td>{{value.vPhone}}</td>
                                    </tr>
                                    {{/if}}
                                    {{#if value.vAddress}}
                                    <tr>
                                      <td>Address</td>
                                      <td>{{value.iClientId.vAddress}}</td>
                                      <td>{{value.vAddress}}</td>
                                    </tr>
                                    {{/if}}
                                  </table>
                                </div>
                                <div class="footer-btns-group">
                                  <a class="medium-btn approvedClient" href="javascript:;"
                                    data-id="{{value._id}}">Approved</a>
                                  <button type="button" class="medium-btn2" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {{!-- Modal end --}}
                      </div>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">

  $(document).ready(function () {
    var dataTable = $('#table_record').DataTable();
    var dataTable2 = $('#table_record2').DataTable();
  });

  function updateInfo(vAction, id) {
    var iUpdateAgentId = id;
    var vAction = vAction;
    $.ajax({
      url: '/profile-notification/updateProfileInfo',
      type: 'POST',
      data: {
        iUpdateAgentId: iUpdateAgentId,
        vAction: vAction
      },
      success: function (response) {
        window.location.reload();
      }
    })
  }

  $(document).on("click", ".approved", function () {
    iUpdateAgentId = $(this).data("id");
    if (confirm('Do you really allow updating profile information? ')) {
      updateInfo('approved', iUpdateAgentId);
    }
  })

  $(document).on("click", ".reject", function () {
    iUpdateAgentId = $(this).data("id");
    if (confirm('Are you sure Decline this record?')) {
      updateInfo('reject', iUpdateAgentId);
    }
  })

  function updateClientInfo(vAction,id){
        var iUpdateClientId = id;
        var vAction = vAction;
        
        $.ajax({
            url:'/profile-notification/updateClientProfileInfo',
            type:'POST',
            data:{
                iUpdateClientId:iUpdateClientId,
                vAction:vAction
            },
            success:function(response){
                window.location.reload();
            }
        })
    }

    $(document).on("click",".approvedClient",function(){
        iUpdateClientId = $(this).data("id");

        if(confirm('Do you really allow updating profile information? ')){
            updateClientInfo('approved',iUpdateClientId);
        }
    })

    $(document).on("click",".rejectClient",function(){
        iUpdateClientId = $(this).data("id");

        if(confirm('Are you sure decline this record?')){
            updateClientInfo('reject',iUpdateClientId);
        }
    })
</script>