<a class="medium-btn2 mb-4" href="/department">Go back</a>
<div class="row">
    <div class="col-lg-11 col-xl-8 mx-auto">
        <div class="_main_content">
            <div class="add-client-info-msg">
                <div class="icon">
                    <i class="fal fa-lightbulb"></i>
                </div>
                <div class="info-text">
                    <p class="info-alert-message">
                        Add Department!
                    </p>
                </div>
            </div>
            <div class="_1card">
                <div class="_1card_body pt-2 profile-difrt-box">
                    <form action="/department/add_action" method="POST" class="department_form"
                        enctype="multipart/form-data">
                        <input type="hidden" value="{{ departmentData._id }}" name="iDepartmentId">
                        <div class="row">

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="ivu-form-item">
                                    <label class="ivu-form-item-label">Department Name</label>
                                    <div class="ivu-form-item-content">
                                        <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                            <input type="text" class="ivu-input ivu-input-default" name="vTitle"
                                                id="vTitle" placeholder="Enter Department Name"
                                                value="{{departmentData.vTitle}}">
                                            <div class="text-danger" id="vTitle_error" style="display: none;">Please
                                                select
                                                department
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="ivu-form-item">
                                    <label class="ivu-form-item-label">Department Position</label>
                                    <div class="ivu-form-item-content">
                                        <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                            <input type="number" class="ivu-input ivu-input-default" name="iPosition"
                                                id="iPosition" placeholder="Enter Position"
                                                value="{{departmentData.iPosition}}">
                                            <div class="text-danger" id="iPosition_error" style="display: none;">Please
                                                select
                                                position
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="ivu-form-item">
                                    <label class="ivu-form-item-label">Status</label>
                                    <div class="ivu-form-item-content">
                                        <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                            <select name="eStatus" id="eStatus" class="ivu-select-input">
                                                <option value="Active" {{#if_equal departmentData.eStatus "Active" }}
                                                    selected {{/if_equal}}>Active</option>
                                                <option value="Inactive" {{#if_equal departmentData.eStatus "Inactive"
                                                    }} selected {{/if_equal}}>Inactive</option>
                                            </select>
                                            <div class="text-danger" id="eStatus_error" style="display: none;">Please
                                                enter
                                                status</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="ivu-form-item">
                                    <label class="ivu-form-item-label">Left Menu Div Id</label>
                                    <div class="ivu-form-item-content">
                                        <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                            <input type="text" class="ivu-input ivu-input-default" name="vDivId"
                                                id="vDivId" placeholder="Enter div id"
                                                value="{{departmentData.vDivId}}">
                                            <div class="text-danger" id="vDivId_error" style="display: none;">Please
                                                enter
                                                div id
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="ivu-form-item">
                                    <label class="ivu-form-item-label">Data Target</label>
                                    <div class="ivu-form-item-content">
                                        <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                            <input type="text" class="ivu-input ivu-input-default" name="vDataTarget"
                                                id="vDataTarget" placeholder="Enter data target"
                                                value="{{departmentData.vDataTarget}}">
                                            <div class="text-danger" id="vDataTarget_error" style="display: none;">
                                                Please enter
                                                data target
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="footer-btns-group">
                        <button type="button" class="medium-btn save">
                            <span>Create</span>
                        </button>
                        <button class="medium-btn save_loader" style="display: none;">
                            <span>Please Wait...</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-loader spin mr-2 text-white">
                                <line x1="12" y1="2" x2="12" y2="6"></line>
                                <line x1="12" y1="18" x2="12" y2="22"></line>
                                <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                                <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                                <line x1="2" y1="12" x2="6" y2="12"></line>
                                <line x1="18" y1="12" x2="22" y2="12"></line>
                                <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                                <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                            </svg>
                        </button>
                        <button type="button" class="medium-btn2 cancel">
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '.cancel', function () {
        location.href = "/department";
    });

    $(document).on('click', '.save', function () {

        var vTitle = $("#vTitle").val();
        var eStatus = $("#eStatus").val();
        var vError = false;

        if (vTitle.length == 0) {
            $("#vTitle_error").show();
            vError = true;
        } else {
            $("#vTitle_error").hide();
        }

        if (eStatus.length == 0) {
            $("#eStatus_error").show();
            vError = true;
        } else {
            $("#eStatus_error").hide();
        }

        if (vError == true) {
            return false;
        } else {
            $(".save").hide();
            $(".save_loader").show();
            setTimeout(function () {
                $(".department_form").submit();
                return true;
            }, 500);
        }

    });
</script>