<div class="col-lg-12 col-xl-12 mx-auto new-business-form">
    <div class="add-client-info-msg">
        <div class="icon">
            <i class="fal fa-lightbulb"></i>
        </div>
        <div class="info-text">
            <p class="info-alert-message"> Add Handouts </p>
        </div>
    </div>
    <div class="profile-difrt-box mt-4">
        <form class="handouts_form" method="POST" action="/in-field-form/handouts_action" enctype="multipart/form-data">
            <div class="row">
                <input type="hidden" id="iFormId" value="{{handoutsData._id}}" name="iFormId">
                <div class="col-xl-6">
                    <div class="dashboard-form-group mt-0">
                        <label for="service" class="dash-form-label">Service</label>
                        <input type="text" name="vService" id="vService" value="{{handoutsData.vService}}"
                            class="ivu-input ivu-input-default">
                        <div class="text-danger" id="vService_error" style="display: none;">Please enter services
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="dashboard-form-group pt-0 mb-0">
                        <label class="dash-form-label">Document</label>
                        <input type="file" class="ivu-input ivu-input-default" name="vStructureDoc" id="vStructureDoc"
                            value="{{ handoutsData.vStructureDoc }}" />
                        <div class="text-danger" id="vStructureDoc_error" style="display: none;">Please select document
                        </div>
                        {{#if handoutsData.vStructureDoc}}
                        <a href="{{handoutsData.vStructureDoc}}" download target="_blank"><i
                                class="fal fa-download"></i></a>
                        {{/if}}
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="dashboard-form-group">
                        <label for="video" class="dash-form-label">Video ID
                            (https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1)</label>
                        <input type="text" name="vVideoLink" id="vVideoLink" value="{{handoutsData.vVideoLink}}"
                            class="ivu-input ivu-input-default">
                        <div class="text-danger" id="vVideoLink_error" style="display: none;">Please enter video url
                        </div>
                    </div>
                    <div class="footer-btns-group mt-4">
                        <button type="button" class="medium-btn save">
                            <span>Submit</span>
                        </button>
                        <button class="medium-btn save_loader" style="display: none;">
                            <span>Please Wait...</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-loader spin mr-2 text-white">
                                <line x1="12" y1="2" x2="12" y2="6"></line>
                                <line x1="12" y1="18" x2="12" y2="22"></line>
                                <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                                <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                                <line x1="2" y1="12" x2="6" y2="12"></line>
                                <line x1="18" y1="12" x2="22" y2="12"></line>
                                <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                                <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                            </svg>
                        </button>
                        <a class="medium-btn2" href="/in-field-form">Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">

        $(document).on('click', '.save', function () {
            var iFormId = $("#iFormId").val()
            var vService = $("#vService").val();
            var vStructureDoc = $("#vStructureDoc").val();
            var vError = false;

            if (vService.length == 0) {
                $("#vService_error").show();
                vError = true;
            } else {
                $("#vService_error").hide();
            }

            if (iFormId.length == 0) {

                if (vStructureDoc.length == 0) {
                    $("#vStructureDoc_error").show();
                    vError = true;
                } else {
                    $("#vStructureDoc_error").hide();
                }
            }

            if (vError == true) {
                return false;
            } else {
                $(".save").hide();
                $(".save_loader").show();
                setTimeout(function () {
                    $(".handouts_form").submit();
                    return true;
                }, 500);
            }

        });
    </script>