<div class="in-field-tabs">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-toggle="pill" data-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">New Business</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-toggle="pill" data-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Sales
                Presentations</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-toggle="pill" data-target="#pills-contact"
                type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Handouts</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active profile-difrt-box" id="pills-home" role="tabpanel"
            aria-labelledby="pills-home-tab">

            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h2 class="today-event-title">New Business</h2>
                        </div>
                        <div class="col-sm-12 col-md-6" style="text-align: right;">
                            <a href="javascript:;" id="delete_btn" class="medium-btn">Multi Delete</a>
                            <a href="/in-field-form/new-business" class="medium-btn"><span>Add New</span></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="business_table_record" class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="selectall" name="selectall" />
                                    </td>
                                    <th>Service</th>
                                    <th>Structure (Documentation)</th>
                                    <th>Added (Documentation)</th>
                                    <th>Pricing</th>
                                    <th>Video</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each businessData as |value key| }}
                                <tr>
                                    <td><input type="checkbox" name="iFormId[]" id="iFormId_{{value._id}}"
                                            value="{{value._id}}" class="checkboxall" /></td>
                                    <td>{{value.vService}}</td>
                                    <td>
                                        <a href="{{value.vStructureDoc}}" download target="_blank"><i
                                                class="fal fa-download"></i></a>
                                    </td>
                                    <td>
                                        <a href="{{value.vAddedDoc}}" download target="_blank"><i
                                                class="fal fa-download"></i></a>
                                    </td>
                                    <td>{{value.vPrice}}</td>
                                    <td>
                                        <a href="{{value.vVideoLink}}" download target="_blank"><i
                                                class="fal fa-download"></i></a>
                                    </td>
                                    <td class="text-center">
                                        <div class="dropdown action-dropdown">
                                            <button class="listing-dropdown dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23"
                                                    viewBox="0 0 4.8 23">
                                                    <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                                                        d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                                                        transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                                                </svg>
                                            </button>
                                            <div class="dropdown-menu w-100" style="will-change: transform;">
                                                <a class="dropdown-item"
                                                    href="/in-field-form/new-business-edit/{{value._id}}">Edit</a>
                                                <a class="dropdown-item delete_business" href="javascript:;"
                                                    data-id="{{value._id}}">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade profile-difrt-box" id="pills-profile" role="tabpanel"
            aria-labelledby="pills-profile-tab">

            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h2 class="today-event-title">Sales Presentations</h2>
                        </div>
                        <div class="col-sm-12 col-md-6" style="text-align: right;">
                            <a href="javascript:;" id="delete_btn" class="medium-btn">Multi Delete</a>
                            <a href="/in-field-form/sales-presentations" class="medium-btn"><span>Add New</span></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="sales_table_record" class="table table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="sales_selectall" name="sales_selectall" />
                                    </td>
                                    <th>Name</th>
                                    <th>Download</th>
                                    <th>Video</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each salesData as |value key| }}
                                <tr>
                                    <td><input type="checkbox" name="iFormId[]" id="iFormId_{{value._id}}"
                                            value="{{value._id}}" class="sales_checkboxall" /></td>
                                    <td>{{value.vService}}</td>
                                    <td>
                                        <a href="{{value.vStructureDoc}}" download target="_blank"><i
                                                class="fal fa-download"></i></a>
                                    </td>
                                    <td>
                                        <a href="{{value.vVideoLink}}" download target="_blank"><i
                                                class="fal fa-download"></i></a>
                                    </td>
                                    <td class="text-center">
                                        <div class="dropdown action-dropdown">
                                            <button class="listing-dropdown dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23"
                                                    viewBox="0 0 4.8 23">
                                                    <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                                                        d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                                                        transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                                                </svg>
                                            </button>
                                            <div class="dropdown-menu w-100" style="will-change: transform;">
                                                <a class="dropdown-item"
                                                    href="/in-field-form/sales-presentations-edit/{{value._id}}">Edit</a>
                                                <a class="dropdown-item delete_sales" href="javascript:;"
                                                    data-id="{{value._id}}">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade profile-difrt-box" id="pills-contact" role="tabpanel"
            aria-labelledby="pills-contact-tab">

            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h2 class="today-event-title">Handouts</h2>
                        </div>
                        <div class="col-sm-12 col-md-6" style="text-align: right;">
                            <a href="javascript:;" id="delete_btn" class="medium-btn">Multi Delete</a>
                            <a href="/in-field-form/handouts" class="medium-btn"><span>Add New</span></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="handouts_table_record" class="table table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="handouts_selectall" name="selectall" />
                                    </td>
                                    <th>Service</th>
                                    <th>Download PDF</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each handoutsData as |value key| }}
                                <tr>
                                    <td><input type="checkbox" name="iFormId[]" id="iFormId_{{value._id}}"
                                            value="{{value._id}}" class="handouts_checkboxall" /></td>
                                    <td>{{value.vService}}</td>
                                    <td>
                                        <a href="{{value.vStructureDoc}}" download target="_blank"><i
                                                class="fal fa-download"></i></a>
                                    </td>
                                    <td class="text-center">
                                        <div class="dropdown action-dropdown">
                                            <button class="listing-dropdown dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23"
                                                    viewBox="0 0 4.8 23">
                                                    <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                                                        d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                                                        transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                                                </svg>
                                            </button>
                                            <div class="dropdown-menu w-100" style="will-change: transform;">
                                                <a class="dropdown-item"
                                                    href="/in-field-form/handouts/{{value._id}}">Edit</a>
                                                <a class="dropdown-item delete_handouts" href="javascript:;"
                                                    data-id="{{value._id}}">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#business_table_record').DataTable();
            $('#sales_table_record').DataTable();
            $('#handouts_table_record').DataTable();
        });

        $("#selectall").click(function () {
            if (this.checked) {
                $('.checkboxall').each(function () {
                    $(".checkboxall").prop('checked', true);
                });
            } else {
                $('.checkboxall').each(function () {
                    $(".checkboxall").prop('checked', false);
                });
            }
        });
        $("#sales_selectall").click(function () {
            if (this.checked) {
                $('.sales_checkboxall').each(function () {
                    $(".sales_checkboxall").prop('checked', true);
                });
            } else {
                $('.sales_checkboxall').each(function () {
                    $(".sales_checkboxall").prop('checked', false);
                });
            }
        });
        $("#handouts_selectall").click(function () {
            if (this.checked) {
                $('.handouts_checkboxall').each(function () {
                    $(".handouts_checkboxall").prop('checked', true);
                });
            } else {
                $('.handouts_checkboxall').each(function () {
                    $(".handouts_checkboxall").prop('checked', false);
                });
            }
        });

        //Delete record
        function deleteRecord(iFormId, vAction) {
            $.ajax({
                url: '/in-field-form/delete',
                type: 'post',
                data: { vAction: vAction, iFormId: iFormId },
                success: function () {
                    location.reload();
                }
            });
        }

        $(document).on('click', '.delete', function () {
            var iFormId = $(this).data('id');
            if (confirm('Are you sure to delete this record ?')) {
                deleteRecord(iFormId, "delete");
            }
        });

        $(document).on('click', '#delete_btn', function () {

            var id = [];
            $("input[name='iFormId[]']:checked").each(function () {
                id.push($(this).val());
            });
            var iFormId = id.join(",");
            if (iFormId.length == 0) {
                alert('Please select records.')
            } else {
                if (confirm('Are you sure delete this record?')) {
                    deleteRecord(iFormId, "multiple_delete")
                }
            }
        });

    </script>