<div class="col-lg-8 mx-auto">
<div class="_main_content">
  {{!-- <div class="add-client-info-msg">
    <div class="icon">
      <i class="fal fa-lightbulb"></i>
    </div>
    <div class="info-text">
      <p class="info-alert-message">
        Company Detail
      </p>
    </div>
  </div> --}}
  <div class="_1card">
    <div class="_1card_body pt-2 profile-difrt-box mt-0">
      <form action="/company-detail/add_action" method="POST" autocomplete="off" class="frm"
        enctype="multipart/form-data">

        <input type="hidden" name="iCompanyDetailId" value="{{companyData._id}}">

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Company Name</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Company Name"
                    class="ivu-input ivu-input-default" name="vName" id="vName" value="{{ companyData.vName }}" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Website</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Website"
                    class="ivu-input ivu-input-default" name="vWebsite" id="vWebsite"
                    value="{{ companyData.vWebsite }}" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Address</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Title"
                    class="ivu-input ivu-input-default" name="tAddress" id="tAddress"
                    value="{{ companyData.tAddress }}" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Description</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Description"
                    class="ivu-input ivu-input-default" name="tDescription" id="tDescription"
                    value="{{ companyData.tDescription }}" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Email</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Email"
                    class="ivu-input ivu-input-default" name="vEmail" id="vEmail" value="{{ companyData.vEmail }}" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Phone No.</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Phone No."
                    class="ivu-input ivu-input-default" name="vNumber" id="vNumber" value="{{ companyData.vNumber }}" />
                </div>
              </div>
            </div>
          </div>



          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Copyright</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Copyright"
                    class="ivu-input ivu-input-default" name="vCopyright" id="vCopyright"
                    value="{{ companyData.vCopyright }}" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Item Per Page</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Item Per Page"
                    class="ivu-input ivu-input-default" name="vItemPerPage" id="vItemPerPage"
                    value="{{ companyData.vItemPerPage }}" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Admin User ID (for Notification)</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <select class="ivu-input" name="iNotificationAdminId" id="iNotificationAdminId">
                    <option value="">Select Admin User Id</option>
                    {{#each adminData as |value key| }}
                      <option value="{{ value._id }}" {{ isSelected companyData.iNotificationAdminId ../adminData._id
                        }}>
                        {{value.iUserID }} - {{value.vFirstName }} {{value.vLastName }}
                      </option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Favicon</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input type="file" class="ivu-input ivu-input-default" name="vFavicon" id="vFavicon" />
                  {{#if companyData.vFavicon}}
                    <img src="{{companyData.vFavicon}}" style="height: 80px;">
                  {{/if}}
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Logo</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input type="file" class="ivu-input ivu-input-default" name="vLogo" id="vLogo" />
                  {{#if companyData.vLogo}}
                    <img src="{{companyData.vLogo}}" style="height: 80px;">
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="footer-btns-group">
        <button type="button" class="medium-btn save">
          <span>Create</span>
        </button>
        <button class="medium-btn save_loader" style="display: none;">
          <span>Please Wait...</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-loader spin mr-2 text-white">
            <line x1="12" y1="2" x2="12" y2="6"></line>
            <line x1="12" y1="18" x2="12" y2="22"></line>
            <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
            <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
            <line x1="2" y1="12" x2="6" y2="12"></line>
            <line x1="18" y1="12" x2="22" y2="12"></line>
            <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
            <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
</div>


<script type="text/javascript">

  $(document).on('click', '.save', function () {
    $(".save").hide();
    $(".save_loader").show();
    setTimeout(function () {
      $(".frm").submit();
      return true;
    }, 500);
  });
</script>