<div class="_main_content">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="_1card">
                <div class="_1card_top p-0">
                    <div class="_1card_top_left">
                        <h2 class="today-event-title">Form List</h2>
                    </div>
                </div>
                <div class="_1card_body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Page</th>
                                    <th>Slug</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="table_record">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function filter(vAction, vPage) {
        var vAction = vAction;
        var vPage = vPage;

        $("#table_record").html('');
        $("#table_record").html('<tr><td colspan="3"><div class="loader multi-loader mx-auto"></div></td></tr>')

        $.ajax({
            url: "/form/ajax_listing",
            type: "POST",
            data: { vAction: vAction, vPage: vPage },
            success: function (response) {
                $("#table_record").html(response);
            }
        });
    }

    $(document).ready(function () {
        filter("search", "");
    });

    $(document).on('click', '.ajax_page', function () {
        var vPage = $(this).data("id");
        filter("search", vPage);
    });

</script>