<div class="col-lg-11 col-xl-8 mx-auto">
<div class="_main_content">
  <div class="add-client-info-msg">
    <div class="icon">
      <i class="fal fa-lightbulb"></i>
    </div>
    <div class="info-text">
      <p class="info-alert-message">
        Edit Profile
      </p>
    </div>
  </div>
  <div class="_1card">
    <div class="_1card_body pt-2 profile-difrt-box">
      <form class="user_form" method="POST" action="/profile/add_action" enctype="multipart/form-data">
        <input type="hidden" name="iUserId" id="iUserId" value="{{userData._id}}">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Firstname</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Firstname"
                    class="ivu-input ivu-input-default" name="vFirstName" id="vFirstName"
                    value="{{ userData.vFirstName }}" />
                  <div class="text-danger" id="vFirstName_error" style="display: none;">Please enter firstname
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Lastname</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Lastname"
                    class="ivu-input ivu-input-default" name="vLastName" id="vLastName"
                    value="{{ userData.vLastName }}" />
                  <div class="text-danger" id="vLastName_error" style="display: none;">Please enter lastname
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Email</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Email"
                    class="ivu-input ivu-input-default" name="vEmail" id="vEmail" value="{{ userData.vEmail }}" />
                  <div class="text-danger" id="vEmail_error" style="display: none;">Please enter email
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Change timezone</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <select class="ivu-input ivu-input-default select2" name="vTimezone" id="vTimezone">
                    <option value=""></option>
                    {{#each offsetTmz as |value key| }}
                      <option value="{{value.name}}" {{ isSelected value.name ../userData.vTimezone }}>
                        {{value.timeZoneName}}
                      </option>
                    {{/each}}
                  </select>
                  <div class="text-danger" id="vTimezone_error" style="display: none; margin-top: 21px;">Please select
                    timezone.</div>
                </div>
              </div>
            </div>
          </div>

          {{#if_condition userData null}}
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Password</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="password" placeholder="Enter Password"
                      class="ivu-input ivu-input-default" name="vPassword" id="vPassword"
                      value="{{ userData.vPassword }}" />
                    <div class="text-danger" id="vPassword_error" style="display: none;">Please enter password
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/if_condition}}

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item c-file-upload">
              <label class="ivu-form-item-label">Upload Image</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="file" placeholder="Enter Email"
                    class="ivu-input ivu-input-default" name="vImage" id="vImage" value="{{ userData.vImage }}" />
                  {{#if userData.vImage}}
                    <img src="{{userData.vImage}}" style="height: 50px; width: 50px;">
                  {{/if}}
                  <div class="text-danger" id="vImage_error" style="display: none;">Please enter email
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>
      <div class="footer-btns-group">
        <button type="button" class="medium-btn save">
          <span>Create</span>
        </button>
        <button class="medium-btn save_loader" style="display: none;">
          <span>Please Wait...</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-loader spin mr-2 text-white">
            <line x1="12" y1="2" x2="12" y2="6"></line>
            <line x1="12" y1="18" x2="12" y2="22"></line>
            <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
            <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
            <line x1="2" y1="12" x2="6" y2="12"></line>
            <line x1="18" y1="12" x2="22" y2="12"></line>
            <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
            <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
          </svg>
        </button>
                <button type="button" class="medium-btn2 cancel">
          <span>Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">
  $(".select2").select2({
    placeholder: "Select Timezone",
    allowClear: true,
  });

  $(document).on('click', '.cancel', function () {
    location.href = "/dashboard";
  });

  $(document).on('click', '.save', function () {
    var iUserId = $("#iUserId").val();
    var vFirstName = $("#vFirstName").val();
    var vLastName = $("#vLastName").val();
    var vEmail = $("#vEmail").val();
    var vPassword = $("#vPassword").val();
    var eType = $("#eType").val();
    var eStatus = $("#eStatus").val();
    var vError = false;

    if (vFirstName.length == 0) {
      $("#vFirstName").addClass('border border-danger');
      vError = true;
    } else {
      $("#vFirstName").removeClass('border border-danger');
    }

    if (vLastName.length == 0) {
      $("#vLastName").addClass('border border-danger');
      vError = true;
    } else {
      $("#vLastName").removeClass('border border-danger');
    }

    if (vEmail.length == 0) {
      $("#vEmail").addClass('border border-danger');
      vError = true;
    } else {
      $("#vEmail").removeClass('border border-danger');
    }

    if (vError == true) {
      return false;
    } else {
      $(".save").hide();
      $(".save_loader").show();
      setTimeout(function () {
        $(".user_form").submit();
        return true;
      }, 500);
    }

  });
</script>