<div class="_main_content">
  <div class="add-client-info-msg">
    <div class="icon">
      <i class="fal fa-lightbulb"></i>
    </div>
    <div class="info-text">
      <p class="info-alert-message">
        Change Password
      </p>
    </div>
  </div>
  <div class="_1card">
    <div class="_1card_body">
      <form class="user_form" method="POST" action="/profile/change-password-action" enctype="multipart/form-data">

        <input type="hidden" name="iUserId" id="iUserId" value="{{iUserId}}">

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Password</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="password" placeholder="Enter Password"
                    class="ivu-input ivu-input-default" name="vPassword" id="vPassword" />
                  <div class="text-danger" id="vPassword_error" style="display: none;">Please enter password</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Password</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="password" placeholder="Enter Password"
                    class="ivu-input ivu-input-default" name="vConfirmPassword" id="vConfirmPassword" />
                  <div class="text-danger" id="vConfirmPassword_error" style="display: none;">Please enter confirm
                    password</div>
                  <div class="text-danger" id="vConfirmPasswordError" style="display: none; color:tomato;">Confirm
                    password is
                    not match</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>
      <div class="footer-btns-group">
        <button type="button" class="ivu-btn ivu-btn-secondary cancel">
          <span>Close</span>
        </button>
        <button type="button" class="ivu-btn btn-primary save">
          <span>Create</span>
        </button>
        <button class="ivu-btn btn-primary save_loader" style="display: none;">
          <span>Please Wait...</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-loader spin mr-2 text-white">
            <line x1="12" y1="2" x2="12" y2="6"></line>
            <line x1="12" y1="18" x2="12" y2="22"></line>
            <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
            <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
            <line x1="2" y1="12" x2="6" y2="12"></line>
            <line x1="18" y1="12" x2="22" y2="12"></line>
            <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
            <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
          </svg>
        </button>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).on('click', '.cancel', function () {
    location.href = "/dashboard";
  });

  $(document).on('click', '.save', function () {
    var vPassword = $("#vPassword").val();
    var vConfirmPassword = $("#vConfirmPassword").val();
    var vError = false;

    if (vPassword.length == 0) {
      $("#vPassword_error").show();
      vError = true;
    } else {
      $("#vPassword_error").hide();
    }

    if (vConfirmPassword.length == 0) {
      $("#vConfirmPassword_error").show();
      vError = true;
    } else {
      $("#vConfirmPassword_error").hide();
    }

    if (vPassword != vConfirmPassword) {
      $("#vConfirmPasswordError").show();
      vError = true;
    } else {
      $("vConfirmPasswordError").show()
    }

    if (vError == true) {
      return false;
    } else {
      $(".save").hide();
      $(".save_loader").show();
      setTimeout(function () {
        $(".user_form").submit();
        return true;
      }, 500);
    }

  });
</script>