{{#each logData as |value key| }}

    <tr>
        <td>{{value.vDescription}}</td>
        <td>{{value.vUserName}}</td>
        <td>{{value.eUserType}}</td>
        <td>{{value.vIpAddress}}</td>
        <td>{{value.dtAddedDateTime}}</td>
    </tr>
{{/each}}

{{#if_count logData}}
    {{#if_pagination datalimit dataCount}}
        <tr>
            <td colspan="5" align="center">
                {{{paginator.vPagination}}}
            </td>
        </tr>
    {{/if_pagination}}
    {{else}}
        <tr class="text-center">
            <td colspan="5">No Record Found</td>
        </tr>
{{/if_count}}