<div class="_main_content">

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="_1card">

                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <h2 class="today-event-title">Activity Logs</h2>
                            </div>
                            <div class="col-sm-12 col-md-6" style="text-align: right;">
                                 <a href="javascript:;" id="clear_logs" class="medium-btn">Clear Activity Logs</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="table_record" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Username</th>
                                        <th>User Type</th>
                                        <th>IP Address</th>
                                        <th>Datetime</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each logData as |value key| }}
                                    <tr>
                                        <td>{{value.vDescription}}</td>
                                        <td>{{value.vUserName}}</td>
                                        <td>{{value.eUserType}}</td>
                                        <td>{{value.vIpAddress}}</td>
                                        <td>{{value.dtAddedDateTime}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var dataTable = $('#table_record').DataTable();
    });

    $("#clear_logs").click(function () {
        if (confirm('Are you sure delete all logs?')) {
            $.ajax({
                url: "/activity-log/clear_logs",
                type: "POST",
                data: {},
                success: function (response) {
                    window.location.reload();
                }
            });
        }
    })

</script>