<div class="footer-wrapper">
    <div class="footer-section f-section-1">
        <p class="">{{companyData.vCopyright}}</p>
    </div>
  <div class="footer-section f-section-2">
<a class="f-help-btn" href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
<path id="help" d="M19.15,27.738a1.409,1.409,0,1,0-1.013-.413A1.377,1.377,0,0,0,19.15,27.738Zm-1.312-5.475H20.05a6.138,6.138,0,0,1,.244-1.781,4.415,4.415,0,0,1,1.519-1.856,6.561,6.561,0,0,0,1.65-1.912,4.4,4.4,0,0,0,.487-2.063,4.14,4.14,0,0,0-1.294-3.187,4.845,4.845,0,0,0-3.431-1.2,5.8,5.8,0,0,0-3.244.919,5.247,5.247,0,0,0-2.044,2.531l1.987.75a3.5,3.5,0,0,1,1.237-1.631,3.3,3.3,0,0,1,1.95-.581,3.006,3.006,0,0,1,2.063.694,2.266,2.266,0,0,1,.788,1.781,2.757,2.757,0,0,1-.488,1.556A7.47,7.47,0,0,1,20.05,17.8a7.627,7.627,0,0,0-1.669,1.931,5.1,5.1,0,0,0-.544,2.531ZM19,34a14.514,14.514,0,0,1-5.812-1.181,15.113,15.113,0,0,1-8.006-8.006,14.983,14.983,0,0,1,0-11.662A14.991,14.991,0,0,1,8.406,8.388a15.376,15.376,0,0,1,4.781-3.206,14.983,14.983,0,0,1,11.662,0,14.977,14.977,0,0,1,7.969,7.969,14.983,14.983,0,0,1,0,11.662,15.376,15.376,0,0,1-3.206,4.781,14.991,14.991,0,0,1-4.763,3.225A14.606,14.606,0,0,1,19,34Zm0-2.25a12.269,12.269,0,0,0,9.037-3.731A12.318,12.318,0,0,0,31.75,19a12.3,12.3,0,0,0-3.713-9.038A12.3,12.3,0,0,0,19,6.25,12.318,12.318,0,0,0,9.981,9.962,12.269,12.269,0,0,0,6.25,19a12.287,12.287,0,0,0,3.731,9.019A12.287,12.287,0,0,0,19,31.75ZM19,19Z" transform="translate(-4 -4)" fill="#8d99ae"></path>
</svg></a>
</div>
</div>
