<!--  BEGIN NAVBAR  -->
<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm">
        <ul class="navbar-item theme-brand flex-row align-items-center text-center">
            <li class="nav-item theme-text">
                <img src="https://assets.hombolt.com/assets/company-detail/1674119130452.png" alt="" title=""
                    class="d-header-logo" />
                {{!-- <a href="/dashboard" class="nav-link" style="font-size: 14pt !important;">{{companyData.vName}}
                </a> --}}
            </li>
            <li class="nav-item theme-text">
                <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-menu">
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                </a>
            </li>
        </ul>
        <ul class="navbar-item flex-row ml-md-0 ml-auto header-icons ">
            {{#if_equal loginUserData.eType 'Admin'}}
            <li class="nav-item header-tooltipl ">
                <span class="tooltipText fb">Forms & reports</span>
                <a class="" href="/form-builder">
                    <svg xmlns="http://www.w3.org/2000/svg" width="29.555" height="30.495" viewBox="0 0 29.555 30.495">
                        <g id="Group_363" data-name="Group 363" transform="translate(-1176.537 -584.311)">
                            <path id="Path_167" data-name="Path 167"
                                d="M1183.126,587.179a7.713,7.713,0,0,1,.106-.783,2.37,2.37,0,0,1,2.426-1.833c2.055-.006,4.109,0,6.164,0,.734,0,1.468,0,2.2,0a2.383,2.383,0,0,1,2.58,2.467c0,.031.009.061.02.131l.355.017a18.861,18.861,0,0,1,2.411.123,4.381,4.381,0,0,1,3.558,4.16c.042,1.782.017,3.565.013,5.348a.9.9,0,1,1-1.8.012c-.01-1.657-.007-3.314,0-4.971a2.774,2.774,0,0,0-.8-2.082,2.256,2.256,0,0,0-1.464-.72c-.749-.04-1.5-.01-2.275-.01a5.97,5.97,0,0,1-.059.629,2.4,2.4,0,0,1-2.43,1.956c-2.464.006-4.927,0-7.39,0-.461,0-.925.025-1.383-.016a2.374,2.374,0,0,1-2.189-2.247c-.009-.114-.018-.228-.025-.308a18.411,18.411,0,0,0-2.4.02,2.61,2.61,0,0,0-2.141,2.462c0,.094,0,.189,0,.283q0,9.061,0,18.121a2.685,2.685,0,0,0,2.1,2.735,3.716,3.716,0,0,0,.811.074c2.149.006,4.3,0,6.447,0,.707,0,1.127.333,1.134.893s-.424.911-1.148.911c-2.2,0-4.4.01-6.6,0a4.467,4.467,0,0,1-4.46-3.641,4.871,4.871,0,0,1-.09-.968q-.008-9.076,0-18.153a4.512,4.512,0,0,1,4.528-4.611C1181.92,587.168,1182.526,587.179,1183.126,587.179Zm6.754,2.628q2.106,0,4.212,0c.483,0,.693-.206.7-.685.007-.681.006-1.363,0-2.044,0-.5-.208-.71-.708-.71q-4.2,0-8.393,0c-.51,0-.719.219-.721.736q-.005.975,0,1.95c0,.556.2.753.763.754Q1187.806,589.808,1189.881,589.807Z"
                                fill="#8d99ae"></path>
                            <path id="Path_168" data-name="Path 168"
                                d="M1318.6,723.74a3.1,3.1,0,0,1,2.884,1.939,3.167,3.167,0,0,1-.56,3.515c-.088.1-.185.2-.281.3q-3.846,3.849-7.69,7.7a2.274,2.274,0,0,1-1.3.692c-.786.121-1.568.272-2.355.391a1.759,1.759,0,0,1-2.067-2.129c.143-.8.275-1.611.408-2.417a1.862,1.862,0,0,1,.529-1.047q3.982-3.98,7.961-7.963A3.378,3.378,0,0,1,1318.6,723.74Zm-3.439,4.534a.238.238,0,0,0-.052.031q-2.789,2.787-5.574,5.579a.592.592,0,0,0-.14.3c-.109.6-.207,1.2-.305,1.795-.03.18-.049.363-.078.582.785-.155,1.525-.292,2.259-.454a.968.968,0,0,0,.449-.245c1.265-1.253,2.519-2.517,3.778-3.775.584-.583,1.175-1.16,1.755-1.731Zm3.413.714c.325-.323.681-.649,1-1.005a1.451,1.451,0,0,0,0-1.973,1.413,1.413,0,0,0-1.93-.2,12.046,12.046,0,0,0-1.094,1.165Z"
                                transform="translate(-115.949 -123.749)" fill="#8d99ae"></path>
                            <path id="Path_169" data-name="Path 169"
                                d="M1239.068,690.154c-1.593,0-3.186,0-4.779,0a.9.9,0,0,1-.156-1.788,2.783,2.783,0,0,1,.314-.015q4.638,0,9.276,0a.988.988,0,0,1,1.053.573.887.887,0,0,1-.833,1.231c-.87.014-1.74,0-2.61,0Z"
                                transform="translate(-50.277 -92.279)" fill="#8d99ae"></path>
                            <path id="Path_170" data-name="Path 170"
                                d="M1236.406,736.517c-.7,0-1.4,0-2.1,0a.9.9,0,0,1-.969-.888.888.888,0,0,1,.939-.92q2.134-.016,4.268,0a.908.908,0,1,1-.032,1.809C1237.808,736.52,1237.107,736.517,1236.406,736.517Z"
                                transform="translate(-50.279 -133.493)" fill="#8d99ae"></path>
                        </g>
                    </svg>
                </a>
            </li>
            {{else}}
            <li class="nav-item header-tooltipl ">
                <span class="tooltipText fb">Department Forms & reports</span>
                <a class="" href="/form">
                    <svg xmlns="http://www.w3.org/2000/svg" width="29.555" height="30.495" viewBox="0 0 29.555 30.495">
                        <g id="Group_363" data-name="Group 363" transform="translate(-1176.537 -584.311)">
                            <path id="Path_167" data-name="Path 167"
                                d="M1183.126,587.179a7.713,7.713,0,0,1,.106-.783,2.37,2.37,0,0,1,2.426-1.833c2.055-.006,4.109,0,6.164,0,.734,0,1.468,0,2.2,0a2.383,2.383,0,0,1,2.58,2.467c0,.031.009.061.02.131l.355.017a18.861,18.861,0,0,1,2.411.123,4.381,4.381,0,0,1,3.558,4.16c.042,1.782.017,3.565.013,5.348a.9.9,0,1,1-1.8.012c-.01-1.657-.007-3.314,0-4.971a2.774,2.774,0,0,0-.8-2.082,2.256,2.256,0,0,0-1.464-.72c-.749-.04-1.5-.01-2.275-.01a5.97,5.97,0,0,1-.059.629,2.4,2.4,0,0,1-2.43,1.956c-2.464.006-4.927,0-7.39,0-.461,0-.925.025-1.383-.016a2.374,2.374,0,0,1-2.189-2.247c-.009-.114-.018-.228-.025-.308a18.411,18.411,0,0,0-2.4.02,2.61,2.61,0,0,0-2.141,2.462c0,.094,0,.189,0,.283q0,9.061,0,18.121a2.685,2.685,0,0,0,2.1,2.735,3.716,3.716,0,0,0,.811.074c2.149.006,4.3,0,6.447,0,.707,0,1.127.333,1.134.893s-.424.911-1.148.911c-2.2,0-4.4.01-6.6,0a4.467,4.467,0,0,1-4.46-3.641,4.871,4.871,0,0,1-.09-.968q-.008-9.076,0-18.153a4.512,4.512,0,0,1,4.528-4.611C1181.92,587.168,1182.526,587.179,1183.126,587.179Zm6.754,2.628q2.106,0,4.212,0c.483,0,.693-.206.7-.685.007-.681.006-1.363,0-2.044,0-.5-.208-.71-.708-.71q-4.2,0-8.393,0c-.51,0-.719.219-.721.736q-.005.975,0,1.95c0,.556.2.753.763.754Q1187.806,589.808,1189.881,589.807Z"
                                fill="#8d99ae"></path>
                            <path id="Path_168" data-name="Path 168"
                                d="M1318.6,723.74a3.1,3.1,0,0,1,2.884,1.939,3.167,3.167,0,0,1-.56,3.515c-.088.1-.185.2-.281.3q-3.846,3.849-7.69,7.7a2.274,2.274,0,0,1-1.3.692c-.786.121-1.568.272-2.355.391a1.759,1.759,0,0,1-2.067-2.129c.143-.8.275-1.611.408-2.417a1.862,1.862,0,0,1,.529-1.047q3.982-3.98,7.961-7.963A3.378,3.378,0,0,1,1318.6,723.74Zm-3.439,4.534a.238.238,0,0,0-.052.031q-2.789,2.787-5.574,5.579a.592.592,0,0,0-.14.3c-.109.6-.207,1.2-.305,1.795-.03.18-.049.363-.078.582.785-.155,1.525-.292,2.259-.454a.968.968,0,0,0,.449-.245c1.265-1.253,2.519-2.517,3.778-3.775.584-.583,1.175-1.16,1.755-1.731Zm3.413.714c.325-.323.681-.649,1-1.005a1.451,1.451,0,0,0,0-1.973,1.413,1.413,0,0,0-1.93-.2,12.046,12.046,0,0,0-1.094,1.165Z"
                                transform="translate(-115.949 -123.749)" fill="#8d99ae"></path>
                            <path id="Path_169" data-name="Path 169"
                                d="M1239.068,690.154c-1.593,0-3.186,0-4.779,0a.9.9,0,0,1-.156-1.788,2.783,2.783,0,0,1,.314-.015q4.638,0,9.276,0a.988.988,0,0,1,1.053.573.887.887,0,0,1-.833,1.231c-.87.014-1.74,0-2.61,0Z"
                                transform="translate(-50.277 -92.279)" fill="#8d99ae"></path>
                            <path id="Path_170" data-name="Path 170"
                                d="M1236.406,736.517c-.7,0-1.4,0-2.1,0a.9.9,0,0,1-.969-.888.888.888,0,0,1,.939-.92q2.134-.016,4.268,0a.908.908,0,1,1-.032,1.809C1237.808,736.52,1237.107,736.517,1236.406,736.517Z"
                                transform="translate(-50.279 -133.493)" fill="#8d99ae"></path>
                        </g>
                    </svg>
                </a>
            </li>
            {{/if_equal}}
            <li class="nav-item header-tooltipl ">
                <span class="tooltipText fb">Calendar</span>
                <a class="" href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="30"
                        viewBox="0 0 28 30">
                        <path
                            d="M8.333,34A2.279,2.279,0,0,1,6.7,33.325,2.122,2.122,0,0,1,6,31.75V8.5a2.122,2.122,0,0,1,.7-1.575A2.279,2.279,0,0,1,8.333,6.25h2.528V4h2.528V6.25H26.611V4h2.528V6.25h2.528a2.279,2.279,0,0,1,1.633.675A2.122,2.122,0,0,1,34,8.5V31.75a2.122,2.122,0,0,1-.7,1.575A2.279,2.279,0,0,1,31.667,34Zm0-2.25H31.667V15.625H8.333Zm0-18.375H31.667V8.5H8.333Zm0,0v0ZM20,22a1.534,1.534,0,0,1-1.108-.431,1.5,1.5,0,0,1,0-2.137,1.64,1.64,0,0,1,2.217,0,1.5,1.5,0,0,1,0,2.137A1.534,1.534,0,0,1,20,22Zm-6.222,0a1.534,1.534,0,0,1-1.108-.431,1.5,1.5,0,0,1,0-2.137,1.64,1.64,0,0,1,2.217,0,1.5,1.5,0,0,1,0,2.137A1.534,1.534,0,0,1,13.778,22Zm12.444,0a1.534,1.534,0,0,1-1.108-.431,1.5,1.5,0,0,1,0-2.137,1.64,1.64,0,0,1,2.217,0,1.5,1.5,0,0,1,0,2.137A1.534,1.534,0,0,1,26.222,22ZM20,28a1.534,1.534,0,0,1-1.108-.431,1.5,1.5,0,0,1,0-2.137,1.64,1.64,0,0,1,2.217,0,1.5,1.5,0,0,1,0,2.137A1.534,1.534,0,0,1,20,28Zm-6.222,0a1.534,1.534,0,0,1-1.108-.431,1.5,1.5,0,0,1,0-2.137,1.64,1.64,0,0,1,2.217,0,1.5,1.5,0,0,1,0,2.137A1.534,1.534,0,0,1,13.778,28Zm12.444,0a1.534,1.534,0,0,1-1.108-.431,1.5,1.5,0,0,1,0-2.137,1.64,1.64,0,0,1,2.217,0,1.5,1.5,0,0,1,0,2.137A1.534,1.534,0,0,1,26.222,28Z"
                            transform="translate(-6 -4)" fill="#8d99ae"></path>
                    </svg> </a>
            </li>
            <li class="nav-item header-tooltipl ">
                <span class="tooltipText fb">Video Conference</span>
                <a class="" href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="38" height="30"
                        viewBox="0 0 38 30">
                        <path id="video-conference"
                            d="M11.22,30.594H27.18v-.984a3.791,3.791,0,0,0-2.137-3.4A11.641,11.641,0,0,0,19.2,24.969a11.641,11.641,0,0,0-5.843,1.242,3.791,3.791,0,0,0-2.137,3.4Zm7.98-8.2a3.725,3.725,0,0,0,2.731-1.055A3.624,3.624,0,0,0,23,18.641a3.624,3.624,0,0,0-1.069-2.7A3.725,3.725,0,0,0,19.2,14.891a3.725,3.725,0,0,0-2.731,1.055,3.624,3.624,0,0,0-1.069,2.7,3.624,3.624,0,0,0,1.069,2.7A3.725,3.725,0,0,0,19.2,22.391ZM6.85,38a2.752,2.752,0,0,1-2-.844A2.681,2.681,0,0,1,4,35.187V10.812a2.681,2.681,0,0,1,.855-1.969A2.752,2.752,0,0,1,6.85,8h24.7a2.752,2.752,0,0,1,1.995.844,2.681,2.681,0,0,1,.855,1.969V20.891l7.6-7.5V32.609l-7.6-7.5V35.187a2.681,2.681,0,0,1-.855,1.969A2.752,2.752,0,0,1,31.55,38Zm0-2.813h24.7V10.812H6.85Zm0,0v0Z"
                            transform="translate(-4 -8)" fill="#8d99ae"></path>
                    </svg> </a>
            </li>
            <li class="nav-item header-tooltipl ">
                <span class="tooltipText fb">Human Resources</span>
                <a class="" href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="28.626" height="30"
                        viewBox="0 0 28.626 30">
                        <g id="Group_228" data-name="Group 228" transform="translate(-594 -35)">
                            <path id="export_notes_FILL0_wght400_GRAD0_opsz48"
                                d="M8.253,33.034A2.243,2.243,0,0,1,6,30.781V8.253A2.243,2.243,0,0,1,8.253,6H30.781a2.243,2.243,0,0,1,2.253,2.253V21.606a15.047,15.047,0,0,0-2.253-.788V8.253H8.253V30.781h13.6q.15.6.338,1.164a8.3,8.3,0,0,0,.451,1.089Zm0-4.018v0Zm3.755-1.99h9.748c0-.833,0-1.36,0-2.253H12.008Zm0-6.383H27.026V18.39H12.008Zm0-6.383H27.026V12.008H12.008Z"
                                transform="translate(588 29)" fill="#8d99ae"></path>
                            <path id="Union_1" data-name="Union 1"
                                d="M-1964.359-2589.876a6.961,6.961,0,0,1-4.059-2.866,8.374,8.374,0,0,1-1.582-4.914v-4.215l5.677-2.129,5.677,2.129v4.215a8.374,8.374,0,0,1-1.582,4.914,6.956,6.956,0,0,1-4.059,2.866l-.036.009Zm-4.307-11.064v3.283a6.934,6.934,0,0,0,1.226,4,6.128,6.128,0,0,0,3.118,2.407,6.123,6.123,0,0,0,3.117-2.407,6.935,6.935,0,0,0,1.227-4v-3.283l-4.344-1.637Zm.921,3.853.969-.97,1.745,1.745,3.161-3.161.937.916-4.151,4.151Z"
                                transform="translate(2581.272 2654.867)" fill="#8d99ae"></path>
                        </g>
                    </svg></a>
            </li>
            <li class="nav-item header-tooltipl ">
                <span class="tooltipText fb">CEO Analytics</span>
                <a class="" href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="30"
                        viewBox="0 0 24 30">
                        <path id="contact_page_FILL0_wght400_GRAD0_opsz48"
                            d="M20,22a3,3,0,0,0,2.119-5.119,3,3,0,1,0-4.238,4.238A2.889,2.889,0,0,0,20,22Zm-6,6H26v-.863a3,3,0,0,0-1.837-2.775,11.345,11.345,0,0,0-2.006-.638,10.445,10.445,0,0,0-4.313,0,11.345,11.345,0,0,0-2.006.638A3,3,0,0,0,14,27.138Zm15.75,6H10.25A2.307,2.307,0,0,1,8,31.75V6.25a2.159,2.159,0,0,1,.675-1.575A2.159,2.159,0,0,1,10.25,4H23.037L32,12.962V31.75A2.307,2.307,0,0,1,29.75,34Zm0-2.25V13.975L22.025,6.25H10.25v25.5Zm-19.5,0v0Z"
                            transform="translate(-8 -4)" fill="#8d99ae"></path>
                    </svg> </a>
            </li>
            <li class="nav-item header-tooltipl ">
                <span class="tooltipText fb">Employees & Contractors</span>
                <a class="" href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="30"
                        viewBox="0 0 24 30">
                        <path id="contact_page_FILL0_wght400_GRAD0_opsz48"
                            d="M20,22a3,3,0,0,0,2.119-5.119,3,3,0,1,0-4.238,4.238A2.889,2.889,0,0,0,20,22Zm-6,6H26v-.863a3,3,0,0,0-1.837-2.775,11.345,11.345,0,0,0-2.006-.638,10.445,10.445,0,0,0-4.313,0,11.345,11.345,0,0,0-2.006.638A3,3,0,0,0,14,27.138Zm15.75,6H10.25A2.307,2.307,0,0,1,8,31.75V6.25a2.159,2.159,0,0,1,.675-1.575A2.159,2.159,0,0,1,10.25,4H23.037L32,12.962V31.75A2.307,2.307,0,0,1,29.75,34Zm0-2.25V13.975L22.025,6.25H10.25v25.5Zm-19.5,0v0Z"
                            transform="translate(-8 -4)" fill="#8d99ae"></path>
                    </svg> </a>
            </li>
            <li class="nav-item header-tooltipl ">
                <span class="tooltipText fb">Task</span>
                <a class="" href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="30.741" height="32.936"
                        viewBox="0 0 30.741 32.936">
                        <path id="calendar_add_on_FILL0_wght400_GRAD0_opsz48"
                            d="M29.46,36.936V32H24.606v-2.47H29.46v-4.94h2.427v4.94h4.854V32H31.887v4.94ZM8.427,33.643a2.309,2.309,0,0,1-1.7-.741A2.391,2.391,0,0,1,6,31.173V8.94a2.391,2.391,0,0,1,.728-1.729,2.309,2.309,0,0,1,1.7-.741h2.629V4h2.629V6.47H24.2V4h2.629V6.47H29.46a2.309,2.309,0,0,1,1.7.741,2.39,2.39,0,0,1,.728,1.729V21.374a8.982,8.982,0,0,0-2.427,0V16.763H8.427v14.41H21.37a6.392,6.392,0,0,0,.121,1.235,10.425,10.425,0,0,0,.324,1.235Zm0-19.35H29.46V8.94H8.427Zm0,0v0Z"
                            transform="translate(-6 -4)" fill="#8d99ae" />
                    </svg></a>
            </li>
            <li class="nav-item header-tooltipl ">
                <span class="tooltipText fb">Inventory Management</span>
                <a class="" href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="30"
                        viewBox="0 0 24 30">
                        <path id="contact_page_FILL0_wght400_GRAD0_opsz48"
                            d="M20,22a3,3,0,0,0,2.119-5.119,3,3,0,1,0-4.238,4.238A2.889,2.889,0,0,0,20,22Zm-6,6H26v-.863a3,3,0,0,0-1.837-2.775,11.345,11.345,0,0,0-2.006-.638,10.445,10.445,0,0,0-4.313,0,11.345,11.345,0,0,0-2.006.638A3,3,0,0,0,14,27.138Zm15.75,6H10.25A2.307,2.307,0,0,1,8,31.75V6.25a2.159,2.159,0,0,1,.675-1.575A2.159,2.159,0,0,1,10.25,4H23.037L32,12.962V31.75A2.307,2.307,0,0,1,29.75,34Zm0-2.25V13.975L22.025,6.25H10.25v25.5Zm-19.5,0v0Z"
                            transform="translate(-8 -4)" fill="#8d99ae"></path>
                    </svg> </a>
            </li>
        </ul>
        <ul class="navbar-item flex-row ml-md-auto align-items-center header-right-profile">
            <li class="text-right">
                <p class="header-profile-title">{{ loginUserData.vFirstName }}</p>
                <a href="javascript:;" class="header-small-font mt-1 mb-0">{{loginUserData.vEmail}}</a>
            </li>
            <li class="nav-item dropdown user-profile-dropdown">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle user pr-0" id="userProfileDropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <div class="nav-right-icon">
                        <img src="{{loginUserData.vImage}}" class="navbar-logo" width="80px" />
                    </div>
                </a>
                <div class="dropdown-menu position-absolute login-profile-menu p-0"
                    aria-labelledby="userProfileDropdown">
                    <div class="">
                        <div class="dropdown-item">
                            <a class="" href="/dashboard">Dashboard</a>
                        </div>
                    </div>
                    <div class="">
                        <div class="dropdown-item">
                            <a class="" href="/profile/edit/637b1cc19fe133ba7a5da214">Profile</a>
                        </div>
                    </div>
                    <div class="nav-item">
                        <div class="dropdown-item">
                            <a class="" href="/logout">Sign Out</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="notification-icon" href="/notification">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                        <path id="notification"
                            d="M8,29.5V27.25h3.15V15.775a9.053,9.053,0,0,1,1.856-5.606A8,8,0,0,1,17.9,7.075V5.988a1.842,1.842,0,0,1,.619-1.425,2.232,2.232,0,0,1,2.962,0A1.842,1.842,0,0,1,22.1,5.988V7.075a8.077,8.077,0,0,1,4.913,3.094,8.994,8.994,0,0,1,1.875,5.606V27.25H32V29.5ZM20,18.438ZM20,34a2.908,2.908,0,0,1-2.1-.881A2.859,2.859,0,0,1,17,31h6a3.009,3.009,0,0,1-3,3Zm-6.6-6.75H26.637V15.775a6.5,6.5,0,0,0-1.913-4.725A6.312,6.312,0,0,0,20.037,9.1a6.373,6.373,0,0,0-4.706,1.95A6.467,6.467,0,0,0,13.4,15.775Z"
                            transform="translate(-8 -4)" fill="#8d99ae"></path>
                    </svg>
                    <p class="notification-box">{{notificationCount}}</p>
                </a>
            </li>
            <li>
                <div class="btnn">
                    <a href="javascript:;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                            <path id="chat_FILL0_wght400_GRAD0_opsz48_1_"
                                data-name="chat_FILL0_wght400_GRAD0_opsz48 (1)"
                                d="M10,22.038H21.738v-2.25H10Zm0-4.875H28v-2.25H10Zm0-4.875H28v-2.25H10ZM4,34V6.25a2.18,2.18,0,0,1,.675-1.556A2.131,2.131,0,0,1,6.25,4h25.5a2.152,2.152,0,0,1,1.556.694A2.152,2.152,0,0,1,34,6.25v19.5A2.38,2.38,0,0,1,31.75,28H10Zm2.25-5.437L9.062,25.75H31.75V6.25H6.25Zm0-22.313v0Z"
                                transform="translate(-4 -4)" fill="#8d99ae" />
                        </svg>
                    </a>
                </div>
                <nav class="sidebar">
                    <div class="chat-box user-profile-list">
                        <div class="today-event-header p-0">
                            <div class="agent-left-arrow chat__close">
                                <i class="fas fa-times chat-close-icon"></i>
                                <a class="worked-changes-text" href="javascript:;">
                                    <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                        viewBox="0 0 30 30">
                                        <path id="chat_FILL0_wght400_GRAD0_opsz48_1_"
                                            data-name="chat_FILL0_wght400_GRAD0_opsz48 (1)"
                                            d="M10,22.038H21.738v-2.25H10Zm0-4.875H28v-2.25H10Zm0-4.875H28v-2.25H10ZM4,34V6.25a2.18,2.18,0,0,1,.675-1.556A2.131,2.131,0,0,1,6.25,4h25.5a2.152,2.152,0,0,1,1.556.694A2.152,2.152,0,0,1,34,6.25v19.5A2.38,2.38,0,0,1,31.75,28H10Zm2.25-5.437L9.062,25.75H31.75V6.25H6.25Zm0-22.313v0Z"
                                            transform="translate(-4 -4)" fill="#8d99ae"></path>
                                    </svg> Chat </a>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" id="myInputNew" placeholder="Search"
                                aria-autocomplete="list" />
                            <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                viewBox="0 0 14 14">
                                <path id="search_FILL0_wght400_GRAD0_opsz48_1_"
                                    data-name="search_FILL0_wght400_GRAD0_opsz48 (1)"
                                    d="M19.144,19.95l-5.114-5.114a4.285,4.285,0,0,1-1.361.788,4.812,4.812,0,0,1-1.653.282,4.841,4.841,0,0,1-3.558-1.458A4.8,4.8,0,0,1,6,10.928,4.8,4.8,0,0,1,7.458,7.408,4.819,4.819,0,0,1,11,5.95a4.764,4.764,0,0,1,3.51,1.458,4.977,4.977,0,0,1,1.176,5.133A4.936,4.936,0,0,1,14.867,14L20,19.094ZM11,14.739a3.639,3.639,0,0,0,2.683-1.118,3.687,3.687,0,0,0,1.108-2.693,3.687,3.687,0,0,0-1.108-2.693A3.639,3.639,0,0,0,11,7.117a3.817,3.817,0,0,0-3.831,3.811A3.817,3.817,0,0,0,11,14.739Z"
                                    transform="translate(-6 -5.95)" fill="#8d99ae"></path>
                            </svg>
                        </div>
                        <div class="all-user-list" id="parentBox">
                            <div class="userview-pic client_user_click" data-name="Client Demo"
                                data-userid="63e1f63ef83ad80769fa9a38" id="childBox">
                                <a href="javascript:;"><img src=".../../../assets/img/navbar-right-icon.png" class=""
                                        width="50px" /></a>
                                <div class="profile-user-name">
                                    <a href="javascript:;" class="worked-changes-text userChatData">Admin Demo</a>
                                    <p class="user-small-text">
                                        <a href="javascript:;" class="user-small-text">Admin</a>
                                    </p>
                                </div>
                            </div>
                            <div class="userview-pic client_user_click" data-name="Ian  Ferguson"
                                data-userid="63fbf62da6c506966699dc13" id="childBox">
                                <a href="javascript:;"><img src=".../../../assets/img/navbar-right-icon.png" class=""
                                        width="50px" /></a>
                                <div class="profile-user-name">
                                    <a href="javascript:;" class="worked-changes-text userChatData">Ian Ferguson</a>
                                    <p class="user-small-text">
                                        <a href="javascript:;" class="user-small-text">Admin</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="chat-box chat-view-box show_chat__" style="display: none;">
                    <div class="chat-user-profile">
                        <div class="profileuser-pic">
                            <img src=".../../../assets/img/navbar-right-icon.png" class="" width="50px" />
                            <div>
                                <p class="worked-changes-text" id="usertextdata">Admin Demo</p>
                                <p class="user-small-text">Admin</p>
                            </div>
                            <input type="hidden" value="63e1f63ef83ad80769fa9a38" id="userID" />
                        </div>
                        <div class="dropdown">
                            <button class="border-0 bg-none dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23" viewBox="0 0 4.8 23">
                                    <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                                        d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                                        transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                                </svg>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <div class="all-massage-view all-massage-latest">
                        <div id="chat_list">
                            <div class="sendd-massage">
                                <div class="">
                                    <p class="sendd-user-name">You</p>
                                    <div class="d-flex gap-2">
                                        <div class="send-massage-box">
                                            <p class="chat-massage-text">Hi</p>
                                            <p class="user-small-text pt-2">3:34 PM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="replyed-massage">
                                <div class="replyed-chat-view-profile">
                                    <img src="https://assets.hombolt.com/assets/agent/1675961902076.jpeg"
                                        alt="profile" />
                                </div>
                                <div class="">
                                    <p class="replyed-user-name">Agent Demo</p>
                                    <div class="d-flex gap-2">
                                        <div class="chat-massage-box">
                                            <p class="chat-massage-text">HI</p>
                                            <p class="user-small-text pt-2">3:34 PM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="replyed-massage">
                                <div class="replyed-chat-view-profile">
                                    <img src="https://assets.hombolt.com/assets/agent/1675961902076.jpeg"
                                        alt="profile" />
                                </div>
                                <div class="">
                                    <p class="replyed-user-name">Agent Demo</p>
                                    <div class="d-flex gap-2">
                                        <div class="chat-massage-box">
                                            <p class="chat-massage-text">hii</p>
                                            <p class="user-small-text pt-2">5:37 PM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sendd-massage">
                                <div class="">
                                    <p class="sendd-user-name">You</p>
                                    <div class="d-flex gap-2">
                                        <div class="send-massage-box">
                                            <p class="chat-massage-text">😅</p>
                                            <p class="user-small-text pt-2">11:22 AM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sendd-massage">
                                <div class="">
                                    <p class="sendd-user-name">You</p>
                                    <div class="d-flex gap-2">
                                        <div class="send-massage-box">
                                            <p class="chat-massage-text">ok</p>
                                            <p class="user-small-text pt-2">11:26 AM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sendd-massage">
                                <div class="">
                                    <p class="sendd-user-name">You</p>
                                    <div class="d-flex gap-2">
                                        <div class="send-massage-box">
                                            <p class="chat-massage-text">😄😄</p>
                                            <p class="user-small-text pt-2">3:53 PM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-type-box">
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" id="vMessage" placeholder="Message" />
                            <div class="text-type-icon">
                                <a class="emogi-icon" href="javascript:;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                                        <path id="sentiment_satisfied_FILL0_wght400_GRAD0_opsz48"
                                            d="M14.237,10.506a.964.964,0,0,0,.722-.3,1.014,1.014,0,0,0-1.434-1.434,1.017,1.017,0,0,0,.712,1.734Zm-5.475,0a.964.964,0,0,0,.722-.3A1.014,1.014,0,0,0,8.05,8.772a1.017,1.017,0,0,0,.712,1.734Zm2.738,5.1a4.144,4.144,0,0,0,2.278-.666,3.817,3.817,0,0,0,1.509-1.809h-.975a2.952,2.952,0,0,1-1.181,1.153,3.354,3.354,0,0,1-1.613.4,3.512,3.512,0,0,1-1.641-.394,2.732,2.732,0,0,1-1.172-1.162H7.713a3.945,3.945,0,0,0,1.519,1.809A4.1,4.1,0,0,0,11.5,15.606ZM11.5,19a7.3,7.3,0,0,1-2.925-.591,7.488,7.488,0,0,1-3.984-3.984,7.538,7.538,0,0,1,0-5.85A7.488,7.488,0,0,1,8.575,4.591a7.538,7.538,0,0,1,5.85,0,7.488,7.488,0,0,1,3.984,3.984,7.538,7.538,0,0,1,0,5.85,7.488,7.488,0,0,1-3.984,3.984A7.3,7.3,0,0,1,11.5,19ZM11.5,11.5Zm0,6.375A6.338,6.338,0,0,0,17.875,11.5,6.338,6.338,0,0,0,11.5,5.125,6.338,6.338,0,0,0,5.125,11.5,6.338,6.338,0,0,0,11.5,17.875Z"
                                            transform="translate(-4 -4)" fill="#8d99ae"></path>
                                    </svg>
                                </a>
                                <a class="drive-icon" href="javascript:;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18.75" height="15"
                                        viewBox="0 0 18.75 15">
                                        <path id="drive_folder_upload_FILL0_wght400_GRAD0_opsz48"
                                            d="M12.7,20.187H14.1v-4.8l1.734,1.734.984-.984L13.4,12.711,9.98,16.133l.984.984L12.7,15.383ZM5.456,23a1.332,1.332,0,0,1-.984-.434,1.362,1.362,0,0,1-.422-.973V9.406a1.362,1.362,0,0,1,.422-.973A1.332,1.332,0,0,1,5.456,8h6.562l1.406,1.406h7.969A1.488,1.488,0,0,1,22.8,10.812V21.594A1.488,1.488,0,0,1,21.394,23Zm0-13.594V21.594H21.394V10.812H12.839L11.433,9.406Zm0,0v0Z"
                                            transform="translate(-4.05 -8)" fill="#8d99ae"></path>
                                    </svg>
                                </a>
                                <a class="chat-next-icon" href="javascript:;" id="sendMessage">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 20 15">
                                        <path id="arrow_right_alt_FILL0_wght400_GRAD0_opsz48"
                                            d="M20.512,26.85,19.17,25.54,24.412,20.3H8V18.43H24.412l-5.273-5.27,1.342-1.31L28,19.366Z"
                                            transform="translate(-8 -11.85)" fill="#8d99ae"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {{!--
            <li class="nav-item">
                <a href="javascript:;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <path id="chat_FILL0_wght400_GRAD0_opsz48_1_" data-name="chat_FILL0_wght400_GRAD0_opsz48 (1)"
                            d="M10,22.038H21.738v-2.25H10Zm0-4.875H28v-2.25H10Zm0-4.875H28v-2.25H10ZM4,34V6.25a2.18,2.18,0,0,1,.675-1.556A2.131,2.131,0,0,1,6.25,4h25.5a2.152,2.152,0,0,1,1.556.694A2.152,2.152,0,0,1,34,6.25v19.5A2.38,2.38,0,0,1,31.75,28H10Zm2.25-5.437L9.062,25.75H31.75V6.25H6.25Zm0-22.313v0Z"
                            transform="translate(-4 -4)" fill="#8d99ae"></path>
                    </svg>
                </a>
            </li>
            --}}
        </ul>
    </header>
</div>
<!--  END NAVBAR  -->
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
    integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
    crossorigin="anonymous"></script>
<script>
    // sidebar
    $(".btnn").click(function () {
        $(this).addClass("click");
        $(".sidebar").addClass("show");
    });
    $(".chat-close-icon").click(function () {
        $(".btnn").removeClass("click");
        $(".sidebar").removeClass("show");
    });
    $(".feat-btn").click(function () {
        $("nav user-profile-list .feat-show").toggleClass("show");
        $("nav user-profile-list .first").toggleClass("rotate");
    });
    $(".serv-btn").click(function () {
        $("nav user-profile-list .serv-show").toggleClass("show1");
        $("nav user-profile-list .second").toggleClass("rotate");
    });
    $("nav user-profile-list ").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });

   /* const mouseWheel = document.querySelector(".chat-tabs-j");
    mouseWheel.addEventListener("wheel", function (e) {
        const speed = 30;
        if (e.deltaY > 0) {
            mouseWheel.scrollLeft += speed;
        } else {
            mouseWheel.scrollLeft -= speed;
        }
        e.preventDefault();
    }); */

    //mobile-sidebar
    $(".btnmobile").click(function () {
        $(this).toggleClass("click");
        $(".msidebar").toggleClass("show");
    });
    $(".feat-btn").click(function () {
        $("nav mobile-h-icons .feat-show").toggleClass("show");
        $("nav mobile-h-icons .first").toggleClass("rotate");
    });
    $(".serv-btn").click(function () {
        $("nav mobile-h-icons .serv-show").toggleClass("show1");
        $("nav mobile-h-icons .second").toggleClass("rotate");
    });
    $("nav mobile-h-icons ").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });

    $(".userChatData").click(function () {
        $(".show_chat__").show();
    });

    $(".chat__close").click(function () {
        $(".show_chat__").hide();
    });

    $(".toggle").click(function () {
        $("#target").toggle("slow");
    });

    // ######### Chat Start #########
    $(".client_user_click").click(function () {
        var name = $(this).data("name");
        var userid = $(this).data("userid");
        $("#usertextdata").text(name);
        $("#userID").val(userid);
        //$("#chatSystemNone").show();
        //$("#chatSystemBlock").hide();
        //var name_split = name.split(' ');
        //var name_0 = name_split[0].charAt(0).toUpperCase();
        //var name_1 = name_split[1].charAt(0).toUpperCase();
        //var name_1Let = name_0 + '' + name_1;
        //$(".usernametext").text(name_1Let);
    });

    $(".client_user_click").click(function () {
        var iReceiverId = $("#userID").val();

        $.ajax({
            url: "/chat/ajax_listing",
            type: "POST",
            data: {
                iReceiverId: iReceiverId,
            },
            success: function (response) {
                $("#chat_list").html(response);
                $(".all-massage-latest").animate(
                    {
                        scrollTop: $(".all-massage-latest").get(0).scrollHeight,
                    },
                    50
                );
            },
        });
    });

    $("#sendMessage").click(function () {
        var vMessage = $("#vMessage").val();
        var iSenderId = `{{session.userid}}`;
        var iReceiverId = $("#userID").val();

        if (vMessage.length != 0) {
            $.ajax({
                url: "/chat/add_action",
                type: "POST",
                data: {
                    iReceiverId: iReceiverId,
                    iSenderId: iSenderId,
                    vMessage: vMessage,
                },
                success: function (response) {
                    sendSocketMessage(response);
                    $("#vMessage").val("");
                },
            });
        }
    });

    $("#vMessage").keypress(function (e) {
        var key = e.which;
        if (key == 13) {
            $("#sendMessage").trigger("click");
        }
    });

    function getSingleChat() {
        var iReceiverId = $("#userID").val();

        $.ajax({
            url: "/chat/ajax_listing",
            type: "POST",
            data: {
                iReceiverId: iReceiverId,
            },
            success: function (response) {
                $("#chat_list").html(response);
                $(".all-massage-latest").animate(
                    {
                        scrollTop: $(".all-massage-latest").get(0).scrollHeight,
                    },
                    50
                );
            },
        });
    }
    // ######### End Chat #########
</script>