<div class="overlay"></div>
<div class="search-overlay"></div>
<div class="sidebar-wrapper sidebar-theme">
    <nav id="sidebar">
        <div class="leftside-menu-list">
            <ul class="list-unstyled menu-categories">
                <li class="menu">
                    <a href="/dashboard" {{#if_equal route 'dashboard' }} data-active="false" aria-expanded="true"
                        {{/if_equal}} class="dropdown-toggle">
                        <div class="menu-item-group">
                            <i class="fad fa-th-large"></i>
                            <span>Dashboard</span>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="accordion" id="accordionExample">
                {{#if_equal loginUserData.eType 'Admin'}}
                    <div class="card">
                        <div class="card-header" id="headingDepartments">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left {{#InArray route "
                                    admin-type,admin,user,addendum,project-type,agent-type,banner,blog-category,security,activity-log,company-detail,email-setting,system-email,social-setting,client-reset-request"}}{{else}}collapsed{{/InArray}}"
                                    type="button" data-toggle="collapse" data-target="#collapseDepartments"
                                    aria-expanded="true" aria-controls="collapseDepartments">
                                    <i class="fad fa-th-large"></i> <span>CEO & Administration</span>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseDepartments" class="collapse {{#InArray route "
                            admin-type,admin,user,addendum,project-type,agent-type,banner,blog-category,security,activity-log,company-detail,email-setting,system-email,social-setting,client-reset-request"}}show{{/InArray}}"
                            aria-labelledby="headingDepartments" data-parent="#accordionExample">
                            <ul class="leftside-sub-menu">
                                <li {{#if_equal route 'admin-type' }} class="active" {{/if_equal}}>
                                    <a href="/admin-type">Admin Type</a>
                                </li>
                                <li {{#if_equal route 'admin' }} class="active" {{/if_equal}}>
                                    <a href="/admin">Admin </a>
                                </li>
                                <li {{#if_equal route 'user' }} class="active" {{/if_equal}}>
                                    <a href="/user">New User</a>
                                </li>
                                <li {{#if_equal route 'addendum' }} class="active" {{/if_equal}}>
                                    <a href="/addendum">Addendum </a>
                                </li>
                                <li {{#if_equal route 'project-type' }} class="active" {{/if_equal}}>
                                    <a href="/project-type">Project Type </a>
                                </li>
                                <li {{#if_equal route 'agent-type' }} class="active" {{/if_equal}}>
                                    <a href="/agent-type">Agent Type </a>
                                </li>
                                <li {{#if_equal route 'banner' }} class="active" {{/if_equal}}>
                                    <a href="/banner">Login Page </a>
                                </li>
                                <li {{#if_equal route 'blog-category' }} class="active" {{/if_equal}}>
                                    <a href="/blog-category">Blog Category </a>
                                </li>
                                <li {{#if_equal route 'security' }} class="active" {{/if_equal}}>
                                    <a href="/security">Security Question </a>
                                </li>
                                <li {{#if_equal route 'activity-log' }} class="active" {{/if_equal}}>
                                    <a href="/activity-log">Activity Log </a>
                                </li>
                                <li {{#if_equal route 'company-detail' }} class="active" {{/if_equal}}>
                                    <a href="/company-detail/edit/62e3c10dfe39f7da306d514d">Company Setting </a>
                                </li>
                                <li {{#if_equal route 'email-setting' }} class="active" {{/if_equal}}>
                                    <a href="/email-setting/edit/62e4cf02a7c7536fbeaae22e">Email Credentials Setting
                                    </a>
                                </li>
                                <li {{#if_equal route 'system-email' }} class="active" {{/if_equal}}>
                                    <a href="/system-email">System Emails </a>
                                </li>
                                <li {{#if_equal route 'social-setting' }} class="active" {{/if_equal}}>
                                    <a href="/social-setting/edit/62e4d048a7c7536fbeaae27f">Social Links </a>
                                </li>
                                <li {{#if_equal route 'client-reset-request' }} class="active" {{/if_equal}}>
                                    <a href="client-reset-request">Reset requests</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {{/if_equal}}
                {{!-- show all departments --}}
                {{#each departments as |value key|}}
                    {{!-- when login super admin --}}
                    {{#if_equal ../loginUserData.eType 'Admin'}}
                        <div class="card">
                            <div class="card-header" id="{{value.vDivId}}">
                                <h2 class="mb-0">
                                    <button
                                        class="btn btn-link btn-block text-left {{#InArray ../route2 value.roleArray}}{{else}}collapsed{{/InArray}}"
                                        type="button" data-toggle="collapse" data-target="#{{value.vDataTarget}}"
                                        aria-expanded="true" aria-controls="{{value.vDataTarget}}">
                                        <i class="fad fa-th-large"></i> <span>{{value.vTitle}} </span>
                                    </button>
                                </h2>
                            </div>
                            <div id="{{value.vDataTarget}}"
                                class="collapse {{#InArray ../route2 value.roleArray}}show{{/InArray}}"
                                aria-labelledby="{{value.vDivId}}" data-parent="#accordionExample">
                                <ul class="leftside-sub-menu">
                                    {{#each value.roleData as |val key2|}}
                                        {{#if_equal val.isRole 'No'}}
                                            <li {{#if_equal ../../route val.vUrl}} class="active" {{/if_equal}}>
                                                <a href="/{{val.vUrl}}">{{val.vTitle}}</a>
                                            </li>
                                    {{else}}
                                        <li {{#if_equal ../../route2 val.vUrl}} class="active" {{/if_equal}}>
                                            <a href="/{{val.vUrl}}">{{val.vTitle}}</a>
                                        </li>
                                        {{/if_equal}}
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                {{else}}
                    {{!-- when login departments users --}}
                    {{#if_equal value._id ../loginUserData.vDepartment }}
                        <div class="card">
                            <div class="card-header" id="{{value.vDivId}}">
                                <h2 class="mb-0">
                                    <button
                                        class="btn btn-link btn-block text-left {{#InArray ../route2 value.roleArray}}{{else}}collapsed{{/InArray}}"
                                        type="button" data-toggle="collapse" data-target="#{{value.vDataTarget}}"
                                        aria-expanded="true" aria-controls="{{value.vDataTarget}}">
                                        <i class="fad fa-th-large"></i> <span>{{value.vTitle}} </span>
                                    </button>
                                </h2>
                            </div>
                            <div id="{{value.vDataTarget}}"
                                class="collapse {{#InArray ../route2 value.roleArray}}show{{/InArray}}"
                                aria-labelledby="{{value.vDivId}}" data-parent="#accordionExample">
                                <ul class="leftside-sub-menu">
                                    {{#each value.roleData as |val key2|}}
                                        {{#if_equal val.isRole 'No'}}
                                            <li {{#if_equal ../../route val.vUrl}} class="active" {{/if_equal}}>
                                                <a href="/{{val.vUrl}}">{{val.vTitle}}</a>
                                            </li>
                                    {{else}}
                                        {{#if_greterThen val.iPosition ../../loginUserData.rolePosition.iPosition }}
                                            <li {{#if_equal ../../route2 val.vUrl}} class="active" {{/if_equal}}>
                                                <a href="/{{val.vUrl}}">{{val.vTitle}}</a>
                                            </li>
                                        {{/if_greterThen}}
                                        {{/if_equal}}
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    {{/if_equal}}
                    {{/if_equal}}
                {{/each}}
                <div class="leftside-menu-list d-none">
                    <ul class="list-unstyled menu-categories">
                        <li class="menu">
                            <a href="/dashboard" {{#if_equal route 'dashboard' }} data-active="false"
                                aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                                <div class="menu-item-group">
                                    <i class="fad fa-th-large"></i>
                                    <span>Dashboard</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingDepartments">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left {{#InArray route "
                                        admin,user,addendum,project-type,agent-type,banner,blog-category,security,activity-log,company-detail,email-setting,system-email,social-setting"}}{{else}}collapsed{{/InArray}}"
                                        type="button" data-toggle="collapse" data-target="#collapseDepartments"
                                        aria-expanded="true" aria-controls="collapseDepartments">
                                        <i class="fad fa-th-large"></i> <span>CEO & Administration</span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseDepartments" class="collapse {{#InArray route "
                                admin,user,addendum,project-type,agent-type,banner,blog-category,security,activity-log,company-detail,email-setting,system-email,social-setting"}}show{{/InArray}}"
                                aria-labelledby="headingDepartments" data-parent="#accordionExample">
                                <ul class="leftside-sub-menu">
                                    {{!-- <li {{#if_equal route 'admin-type' }} class="active" {{/if_equal}}>
                                        <a href="/admin-type">Admin Type</a>
                                    </li> --}}
                                    <li {{#if_equal route 'admin' }} class="active" {{/if_equal}}>
                                        <a href="/admin"><i class="fad fa-user-tie"></i><span>Super Admin</span></a>
                                    </li>
                                    <li {{#if_equal route 'user' }} class="active" {{/if_equal}}>
                                        <a href="/user"><i class="fad fa-user-tie"></i><span>Add User</span> </a>
                                    </li>
                                    <li {{#if_equal route 'addendum' }} class="active" {{/if_equal}}>
                                        <a href="/addendum"><i class="fad fa-user-tie"></i> <span>Addendum</span> </a>
                                    </li>
                                    <li {{#if_equal route 'project-type' }} class="active" {{/if_equal}}>
                                        <a href="/project-type"><i class="fad fa-user-tie"></i><span>Project
                                                Type</span></a>
                                    </li>
                                    <li {{#if_equal route 'agent-type' }} class="active" {{/if_equal}}>
                                        <a href="/agent-type"><i class="fad fa-user-tie"></i><span>Agent Type</span></a>
                                    </li>
                                    <li {{#if_equal route 'banner' }} class="active" {{/if_equal}}>
                                        <a href="/banner"><i class="fad fa-user-tie"></i><span>Login Page</span></a>
                                    </li>
                                    <li {{#if_equal route 'blog-category' }} class="active" {{/if_equal}}>
                                        <a href="/blog-category"><i class="fad fa-user-tie"></i><span>Blog
                                                Category</span></a>
                                    </li>
                                    <li {{#if_equal route 'security' }} class="active" {{/if_equal}}>
                                        <a href="/security"><i class="fad fa-user-tie"></i><span>Security
                                                Question</span></a>
                                    </li>
                                    <li {{#if_equal route 'activity-log' }} class="active" {{/if_equal}}>
                                        <a href="/activity-log"><i class="fad fa-user-tie"></i><span>Activity
                                                Log</span></a>
                                    </li>
                                    <li {{#if_equal route 'company-detail' }} class="active" {{/if_equal}}>
                                        <a href="/company-detail/edit/62e3c10dfe39f7da306d514d"><i
                                                class="fad fa-user-tie"></i><span>Company Setting</span></a>
                                    </li>
                                    <li {{#if_equal route 'email-setting' }} class="active" {{/if_equal}}>
                                        <a href="/email-setting/edit/62e4cf02a7c7536fbeaae22e"><i
                                                class="fad fa-user-tie"></i><span>Email Credentials Setting</span></a>
                                    </li>
                                    <li {{#if_equal route 'system-email' }} class="active" {{/if_equal}}>
                                        <a href="/system-email"><i class="fad fa-user-tie"></i><span>System
                                                Emails</span></a>
                                    </li>
                                    <li {{#if_equal route 'social-setting' }} class="active" {{/if_equal}}>
                                        <a href="/social-setting/edit/62e4d048a7c7536fbeaae27f"><i
                                                class="fad fa-user-tie"></i><span>Social Links</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingMarketing">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left {{#InArray route "
                                        blog,social-accounts,lead-center"}}{{else}}collapsed{{/InArray}}" type="button"
                                        data-toggle="collapse" data-target="#collapseMarketing" aria-expanded="true"
                                        aria-controls="collapseMarketing">
                                        <i class="fad fa-th-large"></i> <span>Marketing Department</span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseMarketing" class="collapse {{#InArray route "
                                blog,social-accounts,lead-center"}}show{{/InArray}}" aria-labelledby="headingMarketing"
                                data-parent="#accordionExample">
                                <ul class="leftside-sub-menu">
                                    <li {{#if_equal route 'blog' }} class="active" {{/if_equal}}>
                                        <a href="/blog"><i class="fad fa-user-tie"></i><span>Blog</span></a>
                                    </li>
                                    <li {{#if_equal route 'social-accounts' }} class="active" {{/if_equal}}>
                                        <a href="/social-accounts"><i class="fad fa-user-tie"></i><span>Social
                                                Accounts</span></a>
                                    </li>
                                    <li {{#if_equal route 'lead-center' }} class="active" {{/if_equal}}>
                                        <a href="/lead-center"><i class="fad fa-user-tie"></i><span>Lead
                                                Center</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Chief Marketing
                                                Officer </span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Vice President of
                                                Marketing </span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Marketing
                                                Director</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Marketing
                                                Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Brand
                                                Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Creative
                                                Director</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Digital Marketing
                                                Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Digital Marketing
                                                Specialist</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Product Marketing
                                                Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Blog
                                                Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Content
                                                Writer</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Marketing
                                                Analyst</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>SEO
                                                Specialist</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Social Media
                                                Specialist</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Communications
                                                Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Marketing
                                                Intern</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFinance">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left {{#InArray route "
                                        project-commission,invoice"}}{{else}}collapsed{{/InArray}}" type="button"
                                        data-toggle="collapse" data-target="#collapseFinance" aria-expanded="true"
                                        aria-controls="collapseFinance">
                                        <i class="fad fa-th-large"></i> <span>Finance Department</span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFinance" class="collapse {{#InArray route "
                                project-commission,invoice"}}show{{/InArray}}" aria-labelledby="headingFinance"
                                data-parent="#accordionExample">
                                <ul class="leftside-sub-menu">
                                    <li {{#if_equal route 'project-commission' }} class="active" {{/if_equal}}>
                                        <a href="/project-commission"><i
                                                class="fad fa-user-tie"></i><span>Payroll</span></a>
                                    </li>
                                    <li {{#if_equal route 'invoice' }} class="active" {{/if_equal}}>
                                        <a href="/invoice"><i class="fad fa-user-tie"></i><span>Invoice &
                                                Receipts</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Chief Financial
                                                Officer </span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i
                                                class="fad fa-user-tie"></i><span>Accountant</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Junior
                                                Accountant</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Auditor</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Budget
                                                Analyst</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Payroll
                                                Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Payroll
                                                Specialist</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Finance
                                                Administrator</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Project Payment
                                                Specialist</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Corporate
                                                Controller</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Cost
                                                Estimator</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Financial
                                                Analyst</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Investment
                                                Banker</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Procurement
                                                Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Personal
                                                Relationship Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Tax
                                                Examiner</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Treasury
                                                Associate</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOperations">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left {{#InArray route "
                                        project,agent,accountability,client,training-category,client-video,agent-video"}}{{else}}collapsed{{/InArray}}"
                                        type="button" data-toggle="collapse" data-target="#collapseOperations"
                                        aria-expanded="true" aria-controls="collapseOperations">
                                        <i class="fad fa-th-large"></i> <span>Operations Department</span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOperations" class="collapse {{#InArray route "
                                project,agent,accountability,client,training-category,client-video,agent-video"}}show{{/InArray}}"
                                aria-labelledby="headingOperations" data-parent="#accordionExample">
                                <ul class="leftside-sub-menu">
                                    <li {{#if_equal route 'project' }} class="active" {{/if_equal}}>
                                        <a href="/project"><i class="fad fa-user-tie"></i><span>Project</span></a>
                                    </li>
                                    <li {{#if_equal route 'agent' }} class="active" {{/if_equal}}>
                                        <a href="/agent"><i class="fad fa-user-tie"></i><span>Agent</span></a>
                                    </li>
                                    <li {{#if_equal route 'accountability' }} class="active" {{/if_equal}}>
                                        <a href="/accountability"><i
                                                class="fad fa-user-tie"></i><span>Accountability</span></a>
                                    </li>
                                    <li {{#if_equal route 'client' }} class="active" {{/if_equal}}>
                                        <a href="/client"><i class="fad fa-user-tie"></i><span>Clients</span></a>
                                    </li>
                                    <li {{#if_equal route 'training-category' }} class="active" {{/if_equal}}>
                                        <a href="/training-category"><i class="fad fa-user-tie"></i><span>Training
                                                Category</span></a>
                                    </li>
                                    <li {{#if_equal route 'client-video' }} class="active" {{/if_equal}}>
                                        <a href="/client-video"><i class="fad fa-user-tie"></i><span>Client
                                                Videos</span></a>
                                    </li>
                                    <li {{#if_equal route 'agent-video' }} class="active" {{/if_equal}}>
                                        <a href="/agent-video"><i class="fad fa-user-tie"></i><span>Agent Training
                                                Video</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Chief Operating
                                                Officer </span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>President of
                                                Sales</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Vice President of
                                                Sales </span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Operations
                                                Director</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Operations
                                                Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Project
                                                Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Office
                                                Coordinator</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Operations
                                                Intern</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Company Form
                                                Creator</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingHr">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left {{#InArray route "
                                        profile-notification,holiday"}}{{else}}collapsed{{/InArray}}" type="button"
                                        data-toggle="collapse" data-target="#collapseHr" aria-expanded="true"
                                        aria-controls="collapseHr">
                                        <i class="fad fa-th-large"></i> <span>HR Department</span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseHr" class="collapse {{#InArray route "
                                profile-notification,client-reset-request,holiday"}}show{{/InArray}}"
                                aria-labelledby="headingHr" data-parent="#accordionExample">
                                <ul class="leftside-sub-menu">
                                    <li {{#if_equal route 'profile-notification' }} class="active" {{/if_equal}}>
                                        <a href="/profile-notification"><i class="fad fa-user-tie"></i><span>Profile
                                                Update Notification</span></a>
                                    </li>
                                    <li {{#if_equal route 'client-reset-request' }} class="active" {{/if_equal}}>
                                        <a href="/client-reset-request">Password Reset requests </a>
                                    </li>
                                    <li {{#if_equal route 'holiday' }} class="active" {{/if_equal}}>
                                        <a href="/holiday"><i class="fad fa-user-tie"></i><span>Holiday / Vacations /
                                                Time-Off</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Chief Human
                                                Resources Officer </span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Vice President of
                                                Human Resources</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>HR
                                                Consultant</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>HR
                                                Director</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>HRIS
                                                Specialist</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Compliance Officer
                                            </span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>DEI
                                                Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Recruiting
                                                Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Recruiter</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Employee Relations
                                                Specialist</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Customer Relations
                                                Specialist</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>HR Intern</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingIt">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left {{#InArray route "
                                        developer-type"}}{{else}}collapsed{{/InArray}}" type="button"
                                        data-toggle="collapse" data-target="#collapseIt" aria-expanded="true"
                                        aria-controls="collapseIt">
                                        <i class="fad fa-th-large"></i> <span>IT Department </span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseIt" class="collapse {{#InArray route " developer-type"}}show{{/InArray}}"
                                aria-labelledby="headingIt" data-parent="#accordionExample">
                                <ul class="leftside-sub-menu">
                                    <li {{#if_equal route 'developer-type' }} class="active" {{/if_equal}}>
                                        <a href="/developer-type"><i class="fad fa-user-tie"></i><span>Developer
                                                Type</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Chief Technical
                                                Officer </span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>President of
                                                Development</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Support
                                                Desk</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Network
                                                Administrator</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Security
                                                Analyst</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Systems / Server /
                                                Database Engineer</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Project
                                                Manager</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Team
                                                Leader</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Quality
                                                Assurance</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Designer</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Developer</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Architect</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Software
                                                Intern</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingLegal">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left {{#InArray route "
                                        contract"}}{{else}}collapsed{{/InArray}}" type="button" data-toggle="collapse"
                                        data-target="#collapseLegal" aria-expanded="true" aria-controls="collapseLegal">
                                        <i class="fad fa-th-large"></i> <span>Legal Department</span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseLegal" class="collapse {{#InArray route " contract"}}show{{/InArray}}"
                                aria-labelledby="headingLegal" data-parent="#accordionExample">
                                <ul class="leftside-sub-menu">
                                    <li {{#if_equal route 'contract' }} class="active" {{/if_equal}}>
                                        <a href="/contract"><i class="fad fa-user-tie"></i><span>Contract
                                                Content</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Chief Legal Officer
                                            </span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Intellectual
                                                Property Attorney</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>IP
                                                Paralegalk</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Contract
                                                Lawyer</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Contract
                                                Paralegalt</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Corporate
                                                Lawyer</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Corporate
                                                Paralegal</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Litigation
                                                Lawyer</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Litigation Legal
                                                Assistant</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Associate
                                                Attorney</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Employment
                                                Lawyer</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Legal
                                                Advisor</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingPartnership">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapsePartnership" aria-expanded="true"
                                        aria-controls="collapsePartnership">
                                        <i class="fad fa-th-large"></i> <span>Partnership Department</span>
                                    </button>
                                </h2>
                            </div>
                            <di v id="collapsePartnership" class="collapse" aria-labelledby="headingPartnership"
                                data-parent="#accordionExample">
                                <ul class="leftside-sub-menu">
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Customer Service
                                                Specialist</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Order
                                                Specialist</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Payment
                                                Specialist</span></a>
                                    </li>
                                </ul>
                            </di>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingBusiness">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseBusiness" aria-expanded="true"
                                        aria-controls="collapseBusiness">
                                        <i class="fad fa-th-large"></i> <span>Business Intelligence</span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseBusiness" class="collapse" aria-labelledby="headingBusiness"
                                data-parent="#accordionExample">
                                {{!-- <ul class="leftside-sub-menu">
                                    <li>
                                        <a href="javascript:;">Customer Service Specialist</a>
                                    </li>
                                </ul> --}}
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingBoard">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseBoard" aria-expanded="true"
                                        aria-controls="collapseBoard">
                                        <i class="fad fa-th-large"></i> <span>Board & Shareholders</span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseBoard" class="collapse" aria-labelledby="headingBoard"
                                data-parent="#accordionExample">
                                <ul class="leftside-sub-menu">
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span><span>Corporate
                                                    Secretary</span></span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Board
                                                Member</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i
                                                class="fad fa-user-tie"></i><span>Shareholder</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSecretaries">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseSecretaries" aria-expanded="true"
                                        aria-controls="collapseSecretaries">
                                        <i class="fad fa-th-large"></i> <span>Secretaries</span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseSecretaries" class="collapse" aria-labelledby="headingSecretaries"
                                data-parent="#accordionExample">
                                <ul class="leftside-sub-menu">
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Corporate
                                                Secretary</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fad fa-user-tie"></i><span>Secretary</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- old --}}
                <ul class="list-unstyled menu-categories d-none" id="accordionExample">
                    <li class="menu">
                        <a href="/dashboard" {{#if_equal route 'dashboard' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-th-large"></i>
                                <span>Dashboard</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/admin-type" {{#if_equal route 'admin-type' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-users-cog"></i>
                                <span>Admin Type</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/user" {{#if_equal route 'user' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-user-cog"></i>
                                <span>Admin</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/addendum" {{#if_equal route 'addendum' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-file-edit"></i>
                                <span>Addendum</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/project-type" {{#if_equal route 'project-type' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-poll-people"></i>
                                <span>Project Type</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/project" {{#if_equal route 'project' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-file-edit"></i>
                                <span>Project</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/project-commission" {{#if_equal route 'project-commission' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-file-edit"></i>
                                <span>Project Commission</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/profile-notification" {{#if_equal route 'ProfileNotification' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-user-tie"></i>
                                <span>Profile Update Notification</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/agent-type" {{#if_equal route 'agent-type' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-user-tie"></i>
                                <span>Agent Type</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/agent" {{#if_equal route 'agent' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-user-tie"></i>
                                <span>Agents</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/agent-hierarchy" {{#if_equal route 'agentHierarchy' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-user-tie"></i>
                                <span>Agents Hierarchy</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/onboarding" {{#if_equal route 'onboarding' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-user-tie"></i>
                                <span>Agent Onboarding Contract</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/agent-training" {{#if_equal route 'agent-training' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-users-crown"></i>
                                <span>Agent Training Video</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/developer-type" {{#if_equal route 'developer-type' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-users-cog"></i>
                                <span>Developer Type</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/client" {{#if_equal route 'client' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-user-friends"></i>
                                <span>Clients</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/developer" {{#if_equal route 'developer' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-users-cog"></i>
                                <span>Developers</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/client-reset-request" {{#if_equal route 'client-reset-request' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fas fa-key"></i>
                                <span>Reset requests</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/holiday" {{#if_equal route 'holiday' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-users-cog"></i>
                                <span>Holiday</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/banner" {{#if_equal route 'banner' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-th-large"></i>
                                <span>Banner</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/contract" {{#if_equal route 'contract' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-th-large"></i>
                                <span>Contract Content</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/invoice" {{#if_equal route 'invoice' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-th-large"></i>
                                <span>Invoice & Receipts</span>
                            </div>
                        </a>
                    </li>
                    <!-- <li class="menu">
                <a href="/important-video" {{#if_equal route 'important-video'}} data-active="false"
                    aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                    <div class="menu-item-group">
                        <i class="fad fa-film-alt"></i>
                        <span>Important Video</span>
                    </div>
                </a>
            </li> -->
                    <li class="menu">
                        <a href="/training-category" {{#if_equal route 'training-category' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-analytics"></i>
                                <span>Training Category</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/client-video" {{#if_equal route 'client-video' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-analytics"></i>
                                <span>Client Training Video</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/agent-video" {{#if_equal route 'agent-video' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-analytics"></i>
                                <span>Agent Training Video</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/blog-category" {{#if_equal route 'blog-category' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-th"></i>
                                <span>Blog Category</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/blog" {{#if_equal route 'blog' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-cubes"></i>
                                <span>Blog</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/chat" {{#if_equal route 'chat' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-comments-alt"></i>
                                <span>Chat</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/security" {{#if_equal route 'security' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fas fa-question-circle"></i>
                                <span>Security Question</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/social-accounts" {{#if_equal route 'social-accounts' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-share"></i>
                                <span>Social Accounts</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/activity-log" {{#if_equal route 'activity-log' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-share"></i>
                                <span>Activity Log</span>
                            </div>
                        </a>
                    </li>
                    {{!-- <li class="menu">
                        <a href="/role" {{#if_equal route 'role' }} data-active="false" aria-expanded="true"
                            {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-comments-alt"></i>
                                <span>Role</span>
                            </div>
                        </a>
                    </li>

                    <li class="menu">
                        <a href="/role-module-master" {{#if_equal route 'role-module-master' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-comments-alt"></i>
                                <span>Role Module Master</span>
                            </div>
                        </a>
                    </li>

                    <li class="menu">
                        <a href="/role-module-permission" {{#if_equal route 'role-module-permission' }}
                            data-active="false" aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-comments-alt"></i>
                                <span>Role Module Permission</span>
                            </div>
                        </a>
                    </li> --}}
                    <li class="menu">
                        <a href="/company-detail/edit/62e3c10dfe39f7da306d514d" {{#if_equal route 'company-detail' }}
                            data-active="false" aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-building"></i>
                                <span>Company Setting</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/email-setting/edit/62e4cf02a7c7536fbeaae22e" {{#if_equal route 'email-setting' }}
                            data-active="false" aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-at"></i>
                                <span>Email Credentials Setting</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/system-email" {{#if_equal route 'system-email' }} data-active="false"
                            aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-envelope"></i>
                                <span>System Emails</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/social-setting/edit/62e4d048a7c7536fbeaae27f" {{#if_equal route 'social-setting' }}
                            data-active="false" aria-expanded="true" {{/if_equal}} class="dropdown-toggle">
                            <div class="menu-item-group">
                                <i class="fad fa-share"></i>
                                <span>Social Links</span>
                            </div>
                        </a>
                    </li>
                </ul>
    </nav>
</div>