  <a class="medium-btn2 mb-4" href="/banner">Go back</a>
<div class="row">
<div class="col-lg-11 col-xl-8 mx-auto">
<div class="_main_content">
    <div class="add-client-info-msg">
        <div class="icon">
            <i class="fal fa-lightbulb"></i>
        </div>
        <div class="info-text">
            <p class="info-alert-message">
                Add new Login Page!
            </p>
        </div>
    </div>
    <div class="_1card">
        <div class="_1card_body pt-2 profile-difrt-box">
            <form action="/banner/add_action" method="POST" class="agentType_form" enctype="multipart/form-data">
                <input type="hidden" value="{{ bannerData._id }}" name="iBannerId" id="iBannerId">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Title</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter title"
                                        class="ivu-input ivu-input-default" name="vTitle" id="vTitle"
                                        value="{{ bannerData.vTitle }}" />
                                    <div class="text-danger" id="vTitle_error" style="display: none;">Please enter
                                        title.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Select panel</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select name="vPanel" id="vPanel" class="ivu-select-input">
                                        <option value="Admin" {{#if_equal bannerData.vPanel "Admin" }} selected
                                            {{/if_equal}}>Admin</option>
                                        <option value="Client" {{#if_equal bannerData.vPanel "Client" }} selected
                                            {{/if_equal}}>Client</option>
                                        <option value="Agent" {{#if_equal bannerData.vPanel "Agent" }} selected
                                            {{/if_equal}}>Agent</option>
                                        <option value="Developer" {{#if_equal bannerData.vPanel "Developer" }} selected
                                            {{/if_equal}}>Developer</option>
                                    </select>
                                    <div class="text-danger" id="vPanel_error" style="display: none;">Please select
                                        panel.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Select panel screen</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select name="vPanelScreen" id="vPanelScreen" class="ivu-select-input">
                                        <option value="Login" {{#if_equal bannerData.vPanelScreen "Login" }} selected
                                            {{/if_equal}}>Login</option>
                                        <option value="Register" {{#if_equal bannerData.vPanelScreen "Register" }}
                                            selected {{/if_equal}}>Register</option>
                                    </select>
                                    <div class="text-danger" id="vPanelScreen_error" style="display: none;">Please
                                        select panel screen.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Choose image</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input type="file" name="vImage" id="vImage" class="ivu-input ivu-input-default">
                                    <div class="text-danger" id="vImage_error" style="display: none;">Please choose
                                        image.</div>
                                    {{#if bannerData.vImage}}
                                        <img src="{{ bannerData.vImage }}" style="height: 50px; width: 50px;">
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Status</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select name="eStatus" id="eStatus" class="ivu-select-input">
                                        <option value="Active" {{#if_equal bannerData.eStatus "Active" }} selected
                                            {{/if_equal}}>Active</option>
                                        <option value="Inactive" {{#if_equal bannerData.eStatus "Inactive" }} selected
                                            {{/if_equal}}>Inactive</option>
                                    </select>
                                    <div class="text-danger" id="eStatus_error" style="display: none;">Please enter
                                        status</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="footer-btns-group">
                <button type="button" class="medium-btn save">
                    <span>Create</span>
                </button>
                <button class="medium-btn save_loader" style="display: none;">
                    <span>Please Wait...</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-loader spin mr-2 text-white">
                        <line x1="12" y1="2" x2="12" y2="6"></line>
                        <line x1="12" y1="18" x2="12" y2="22"></line>
                        <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                        <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                        <line x1="2" y1="12" x2="6" y2="12"></line>
                        <line x1="18" y1="12" x2="22" y2="12"></line>
                        <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                        <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>
                </button>
                   <button type="button" class="medium-btn2 cancel">
                    <span>Close</span>
                </button>
            </div>
        </div>
        </div>
    </div>

</div>
</div>

<script type="text/javascript">
    $(document).on('click', '.cancel', function () {
        location.href = "/banner";
    });

    $(document).on('click', '.save', function () {

        var vTitle = $("#vTitle").val();
        var vImage = $("#vImage").val();
        var vPanel = $("#vPanel").val();
        var vPanelScreen = $("#vPanelScreen").val();
        var eStatus = $("#eStatus").val();
        var iBannerId = $("#iBannerId").val();
        var vError = false;

        if (vTitle.length == 0) {
            $("#vTitle_error").show();
            vError = true;
        } else {
            $("#vTitle_error").hide();
        }

        if (iBannerId.length == 0) {
            if (vImage.length == 0) {
                $("#vImage_error").show();
                vError = true;
            } else {
                $("#vImage_error").hide();
            }
        }

        if (vPanel.length == 0) {
            $("#vPanel_error").show();
            vError = true;
        } else {
            $("#vPanel_error").hide();
        }

        if (vPanelScreen.length == 0) {
            $("#vPanelScreen_error").show();
            vError = true;
        } else {
            $("#vPanelScreen_error").hide();
        }

        if (eStatus.length == 0) {
            $("#eStatus_error").show();
            vError = true;
        } else {
            $("#eStatus_error").hide();
        }

        if (vError == true) {
            return false;
        } else {
            $(".save").hide();
            $(".save_loader").show();
            setTimeout(function () {
                $(".agentType_form").submit();
                return true;
            }, 500);
        }

    });
</script>