<div class="layout-px-spacing _main_layout">

  <div class="row">

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 _mar_b20 col-sm-6">
      <div class="_box _b_radious3">
        <div class="_dash_card">
          <div class="_dash_card_details">
            <p class="_dash_card_amm">{{agentData.vFirstName}} {{agentData.vLastName}}</p>
            <p class="_dash_card_title">{{agentData.iAgentType.vTitle}}</p>
            <p class="_dash_card_title">({{agentData.iUserID}})</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 _mar_b20 col-sm-6">
      <div class="_box _b_radious3">
        <div class="_dash_card">
          <div class="_dash_card_icon"><i class="fad fa-chart-line"></i></div>
          <div class="_dash_card_details">
            <p class="_dash_card_amm">{{#arrLength subAgent}}{{/arrLength}}</p>
            <p class="_dash_card_title">Total Agent</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 _mar_b20 col-sm-6">
      <div class="_box _b_radious3">
        <div class="_dash_card">
          <div class="_dash_card_icon"><i class="fad fa-balance-scale"></i></div>
          <div class="_dash_card_details">
            <p class="_dash_card_amm">{{#arrLength subClient}}{{/arrLength}}</p>
            <p class="_dash_card_title">Total Client</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 _mar_b20 col-sm-6">
      <div class="_box _b_radious3">
        <div class="_dash_card">
          <div class="_dash_card_icon"><i class="fad fa-temperature-low"></i></div>
          <div class="_dash_card_details">
            <p class="_dash_card_amm">
              {{#arrLength projectData}}{{/arrLength}}
            </p>
            <p class="_dash_card_title">Total Project</p>
          </div>
        </div>
      </div>
    </div>




    <div class="col-12 col-md-12 col-lg-12">
      <div class="_1card">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h2 class="today-event-title">Agent List</h2>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table id="table_record" class="table table-bordered">
                <thead>
                  <tr>
                    <th>Agent Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    {{!-- <th>Progress</th>
                    <th>Project status</th>
                    <th>Payment method</th> --}}
                  </tr>
                </thead>
                <tbody>
                  {{#each subAgent as |value key|}}
                  {{#if value.iSubAgentId}}
                  <tr>
                    <td>{{value.iSubAgentId.iUserID}}</td>
                    <td>{{value.iSubAgentId.vFirstName}} {{value.iSubAgentId.vLastName}}</td>
                    <td>{{value.iSubAgentId.vEmail}}</td>
                    <td>{{value.iSubAgentId.vPhone}}</td>
                  </tr>
                  {{/if}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 mt-4">
      <div class="_1card">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h2 class="today-event-title">Client List</h2>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table id="table_record" class="table table-bordered">
                <thead>
                  <tr>
                    <th>Client Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each subClient as |value key|}}
                  {{#if value.iClientId}}
                  <tr>
                    <td>{{value.iClientId.iUserID}}</td>
                    <td>{{value.iClientId.vFirstName}} {{value.iClientId.vLastName}}</td>
                    <td>{{value.iClientId.vEmail}}</td>
                    <td>{{value.iClientId.vPhone}}</td>
                  </tr>
                  {{/if}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 mt-4">
      <div class="_1card">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h2 class="today-event-title">Project List</h2>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table id="table_record" class="table table-bordered">
                <thead>
                  <tr>
                    <th>Project Id</th>
                    <th>Client</th>
                    <th>Project Name</th>
                    <th>Project Type</th>
                    <th>Minimum Price $</th>
                    <th>Sales Price $</th>
                    <th>Start Date</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each projectData as |value key|}}
                  <tr>
                    <td>{{value.iProjectUniqueId}}</td>
                    <td>{{value.ClientUserId.vFirstName}} {{value.ClientUserId.vLastName}}
                      ({{value.ClientUserId.iUserID}})</td>
                    <td>{{value.vProject}}</td>
                    <td>{{value.iProjectTypeId.vTitle}}</td>
                    <td>{{value.iMinimumPrice}}</td>
                    <td>{{value.iSalesPrice}}</td>
                    <td>{{value.dtProjectStartDate}}</td>
                    <td>{{value.eStatus}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function () {
    var dataTable = $('.table').DataTable();
  });
</script>