{{#each agentData as |value key| }}
<tr data-toggle="collapse" data-target="#demo1_{{value._id}}" class="accordion-toggle subagent">
    <td><button class="btn btn-default btn-xs subagentbtn active_{{value._id}}" id="show-id" data-id="{{value._id}}">
            <span>
                <i class="fas fa-plus"></i>
                <i class="fas fa-minus" style="display: none;"></i>
            </span>
        </button>

    </td>
    <td><a href="/agent-hierarchy/agentOverview/{{value._id}}">{{value.vFirstName}} {{value.vLastName}}</a></td>
    {{!-- <td>{{value.vFirstName}}{{value.vLastName}}</td> --}}
    <td>{{value.iAgentType.vTitle}}</td>
    <td>{{value.vEmail}}</td>
</tr>

<tr>
    <td colspan="12" class="hiddenRow">
        <div class="accordian-body collapse" id="demo1_{{value._id}}">
            <table class="table table-striped">
                <tbody id="tbl_record_{{value._id}}">

                </tbody>
            </table>
        </div>
    </td>
</tr>

{{/each}}


<script type="text/javascript">

    function findsubagent(iAgentId){

        var iAgentId = iAgentId;
       // $("#tbl_record_"+iAgentId).append('');

        $.ajax({
            url: "/agent-hierarchy/subagent",
            type: "POST",
            data: {
               iAgentId:iAgentId
            },
            success: function (response) {

                var d1 = [];

                response.forEach(element => {

                    var id = element._id;

                    var dynaimic = `<tr data-toggle="collapse" data-target="#demo10_${element._id}" class="accordion-toggle s1"><td><button class="btn btn-default btn-xs subagentbtn active_${element._id}" id="show-id" data-id="${element._id}"><i class="fas fa-plus"></i><i class="fas fa-minus" style="display: none;"></i></button></td><td><a href="/agent-hierarchy/agentOverview/${element._id}">${element.vFirstName} ${element.vLastName}</a></td><td>${element.iAgentType.vTitle}</td><td>${element.vEmail}</td></tr><tr><td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="demo10_${element._id}"><table class="table table-striped"><tbody id="tbl_record_${element._id}"></tbody></table></div></td></tr>`
                    d1.push(dynaimic)
                });

                $("#tbl_record_"+iAgentId).html(d1);
            }
        });

    }

    $(document).on("click", ".subagentbtn", function () {
        var iAgentId = $(this).data("id");
       findsubagent(iAgentId);
    });

    $(document).on("click","#show-id",function(){
        var iAgentId = $(this).data("id");
        $(".active_"+iAgentId).toggleClass("active");
    });

</script>