
<div class="_main_content">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="_1card">
                <div class="_1card_top p-0">
                    <div class="_1card_top_left">
                        <h2 class="today-event-title">Agent Hierarchy</h2>
                    </div>
                </div>

                <div class="_1card_body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Agent Name</th>
                                    <th>Type</th>
                                    <th>Email</th>
                                </tr>
                            </thead>

                            <tbody id="table_record">
                                
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

   $(document).ready(function () {
        $("#table_record").html('');
        $("#table_record").html('<tr><td colspan="4"><div class="loader multi-loader mx-auto"></div></td></tr>')

        $.ajax({
            url: "/agent-hierarchy/ajax_listing",
            type: "POST",
            data: { 
            },
            success: function (response) {
                $("#table_record").html(response);
            }
        });
    }); 

</script>