  <a class="medium-btn2 mb-4" href="/agent-training">Go back</a>
<div class="row">
<div class="col-lg-11 col-xl-8 mx-auto">
<div class="_main_content">
    {{!-- <div class="add-client-info-msg">
        <div class="icon">
            <i class="fal fa-lightbulb"></i>
        </div>
        <div class="info-text">
            <p class="info-alert-message">
                Add new blog!
            </p>
            <span class="info-alert-desc">You can assign agent directly from here. If
                you don't have any agent right now, you can leave it blank. Agent ID is
                required to assign.</span>
        </div>
    </div> --}}
    <div class="_1card">
        <div class="_1card_body pt-2 profile-difrt-box mt-0">
            <form action="/agent-training/add_action" method="POST" class="agent_taining_form"
                enctype="multipart/form-data">
                <input type="hidden" value="{{ AgentTrainingData._id }}" name="iAgentTrainingId">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Select Category</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select name="iTrainingCategoryId" id="iTrainingCategoryId"
                                        class="ivu-select-input">
                                        <option value="">Select Category</option>
                                        {{#each trainingCategoryData as |value key| }}
                                            <option value="{{ value._id }}" {{ isSelected value._id
                                                ../AgentTrainingData.iTrainingCategoryId }}>{{
                                            value.vCategory }}</option>
                                        {{/each}}
                                    </select>
                                    <div class="text-danger" id="iTrainingCategoryId_error" style="display: none;">
                                        Please
                                        select Agent Training category</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Title</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Title"
                                        class="ivu-input ivu-input-default" name="vTitle" id="vTitle"
                                        value="{{ AgentTrainingData.vTitle }}" />
                                    <div class="text-danger" id="vTitle_error" style="display: none;">Please enter title
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Video Url (Enter Embed Link)</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input type="url" autocomplete="off" spellcheck="false" placeholder="Enter Link"
                                        class="ivu-input ivu-input-default" name="vUrl" id="vUrl"
                                        value="{{ AgentTrainingData.vUrl }}" />
                                    <div class="text-danger" id="vUrl_error" style="display: none;">Please enter valid
                                        link
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Select Agent Type</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select name="iAgentType" id="iAgentType" class="ivu-select-input">
                                        <option value="">Select Agent Type</option>
                                        {{#each agentTypeData as |value key| }}
                                            <option value="{{ value._id }}" {{ isSelected value._id
                                                ../AgentTrainingData.iAgentType }}>{{
                                            value.vTitle }}</option>
                                        {{/each}}
                                    </select>
                                    <div class="text-danger" id="iAgentType_error" style="display: none;">Please
                                        select Agent Type</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Description</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <textarea rows="5" autocomplete="off" spellcheck="false" type="text"
                                        placeholder="Enter Title" class="ivu-input ivu-input-default"
                                        name="tDescription"
                                        id="tDescription">{{ AgentTrainingData.tDescription }}</textarea>
                                    <div class="text-danger" id="tDescription_error" style="display: none;">Please enter
                                        description
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">PDF</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="file"
                                        class="ivu-input ivu-input-default" name="vFile" id="vFile" />
                                    {{#if AgentTrainingData.vFile}}
                                        <a href="{{ AgentTrainingData.vFile}}" target="_blank" download>
                                            <img src="/assets/img/System-pictures-icon.png" class="mt-2"
                                                style="width: 100px;">
                                        </a>
                                    {{/if}}
                                    <div class="text-danger" id="vFile_error" style="display: none;">Please choose
                                        PDF
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <div class="footer-btns-group">
                <button type="button" class="medium-btn save">
                    <span>Create</span>
                </button>
                <button class="medium-btn save_loader" style="display: none;">
                    <span>Please Wait...</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-loader spin mr-2 text-white">
                        <line x1="12" y1="2" x2="12" y2="6"></line>
                        <line x1="12" y1="18" x2="12" y2="22"></line>
                        <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                        <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                        <line x1="2" y1="12" x2="6" y2="12"></line>
                        <line x1="18" y1="12" x2="22" y2="12"></line>
                        <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                        <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>
                </button>
                  <button type="button" class="medium-btn2 cancel">
                    <span>Close</span>
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript">


    $(document).on('click', '.cancel', function () {
        location.href = "/agent-training";
    });

    $(document).on('click', '.save', function () {
        var vTitle = $("#vTitle").val();
        var iTrainingCategoryId = $("#iTrainingCategoryId").val();
        var iAgentType = $("#iAgentType").val();
        var tDescription = $("#tDescription").val();
        var vUrl = $("#vUrl").val();
        //        var vFile = $('#vFile').val();

        var vError = false;

        function isValidURL(string) {
            var res = string.match(/(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})/gi);
            return (res !== null)
        }

        if (vTitle.length == 0) {
            $("#vTitle_error").show();
            vError = true;
        } else {
            $("#vTitle_error").hide();
        }

        if (iTrainingCategoryId.length == 0) {
            $("#iTrainingCategoryId_error").show();
            vError = true;
        } else {
            $("#iTrainingCategoryId_error").hide();
        }

        if (iAgentType.length == 0) {
            $("#iAgentType_error").show();
            vError = true;
        } else {
            $("#iAgentType_error").hide();
        }

        if (tDescription.length == 0) {
            $("#tDescription_error").show();
            vError = true;
        } else {
            $("#tDescription_error").hide();
        }

        if (isValidURL(vUrl) == false || vUrl.length == 0) {
            $("#vUrl_error").show();
            vError = true;
        } else {

            $("#vUrl_error").hide();
        }

        if (vError == true) {
            return false;
        } else {
            $(".save").hide();
            $(".save_loader").show();
            setTimeout(function () {
                $(".agent_taining_form").submit();
                return true;
            }, 500);
        }

    });



</script>