<div class="_main_content">

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="_1card">

                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <h2 class="today-event-title">Agent Training Video</h2>
                            </div>
                            <div class="col-sm-12 col-md-6" style="text-align: right;">
                                <a href="/training-category" class="medium-btn">Training Category</a>
                                <a href="javascript:;" id="delete_btn" class="medium-btn">Multi Delete</a>
                                <a href="/agent-training/add" class="medium-btn"><span>Add New</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="table_record" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="selectall" name="selectall" /></th>
                                        <th>Title</th>
                                        <th>Training Category</th>
                                        <th>Agent Type</th>
                                        <th>Video</th>
                                        <th>Description</th>
                                        <th>PDF</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each AgentTrainingData as |value key| }}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="iAgnetTrainingId[]"
                                                id="iAgnetTrainingId{{value._id}}" value="{{value._id}}"
                                                class="checkboxall" />
                                        </td>
                                        <td>{{value.vTitle}}</td>
                                        <td>{{value.iTrainingCategoryId.vCategory}}</td>
                                        <td>{{value.iAgentType.vTitle}}</td>
                                        <td>
                                            <div class="action-wrapper">
                                                <a href="#" class="icon-btn" data-toggle="modal"
                                                    data-target="#videoModal{{value._id}}">
                                                    <i class="fad fa-video"></i>
                                                </a>
                                            </div>
                                            <div class="modal fade edit-conference-modal " id="videoModal{{value._id}}"
                                                tabindex="-1" role="   " aria-labelledby="videoModal"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                                    <div class="modal-content">

                                                        <div class="modal-header pl-0 pr-0 pt-0 pb-3">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">&times;</button>
                                                        </div>

                                                        <div class="modal-body p-0">

                                                            <div>
                                                                {{#if value.vUrl}}
                                                                <iframe src="{{value.vUrl}}" width="100%" height="315"
                                                                    :src="videoSrc" frameborder="0"
                                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                                    allowfullscreen></iframe>
                                                                {{/if}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="action-wrapper">
                                                <a href="#" class="icon-btn" data-toggle="modal"
                                                    data-target="#desModal{{value._id}}">
                                                    <i class="fad fa-file-alt"></i>
                                                </a>
                                            </div>
                                            <div class="modal fade edit-conference-modal " id="desModal{{value._id}}"
                                                tabindex="-1" role="dialog" aria-labelledby="desModal"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header pl-0 pr-0 pt-0 pb-3">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">&times;</button>
                                                        </div>
                                                        <div class="modal-body p-0">
                                                            <p>
                                                                {{value.tDescription}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td>

                                            <div class="action-wrapper">
                                                {{#if_equal value.vFile 'NaN'}}
                                                <a href="javascript:;" class="icon-btn">
                                                    <i class="fad fa-file-pdf"></i>
                                                </a>
                                                {{else}}
                                                <a href="{{value.vFile}}" target="_blank" class="icon-btn">
                                                    <i class="fad fa-file-pdf"></i>
                                                </a>
                                                {{/if_equal}}
                                            </div>
                                        </td>

                                        <td>
                                            <div class="dropdown action-dropdown">
                                                <button class="listing-dropdown dropdown-toggle" type="button"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23"
                                                        viewBox="0 0 4.8 23">
                                                        <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                                                            d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                                                            transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                                                    </svg>
                                                </button>
                                                <div class="dropdown-menu w-100" style="will-change: transform;">
                                                    <a class="dropdown-item"
                                                        href="/agent-training/edit/{{value._id}}">Edit</a>
                                                    <a class="dropdown-item delete" href="javascript:;"
                                                        data-id="{{value._id}}">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $("#selectall").click(function () {
        if (this.checked) {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', true);
            });
        } else {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', false);
            });
        }
    });

    $(document).ready(function () {
        var dataTable = $('#table_record').DataTable();
    });

    //Delete record
    function deleteRecord(iAgnetTrainingId, vAction) {
        $.ajax({
            url: '/agent-training/delete',
            type: 'post',
            data: { vAction: vAction, iAgnetTrainingId: iAgnetTrainingId },
            success: function () {
                location.reload();
            }
        });
    }

    $(document).on('click', '.delete', function () {
        var iAgnetTrainingId = $(this).data('id');
        if (confirm('Are you sure to delete this record ?')) {
            deleteRecord(iAgnetTrainingId, "delete");
        }
    });

    $(document).on('click', '#delete_btn', function () {

        var id = [];
        $("input[name='iAgnetTrainingId[]']:checked").each(function () {
            id.push($(this).val());
        });
        var iAgnetTrainingId = id.join(",");
        if (iAgnetTrainingId.length == 0) {
            alert('Please select records.')
        } else {
            if (confirm('Are you sure delete this record?')) {
                // AJAX request
                deleteRecord(iAgnetTrainingId, "multiple_delete")
            }
        }
    });

</script>