<div class="layout-px-spacing _main_layout developer-view-page">
  <a class="medium-btn2 mb-4" href="/developer">Go back</a>

  <div class="row">
 <div class="col-12 col-md-6 col-lg-4 col-xl-3">
<div class="overview-info-box" style="background-image: url('../..//assets/img/overview-img6.png');">
    <p class="overview-info-text">Total Projects</p>
    <p class="overview-count projectCount">0</p>
</div>

 </div>
 <div class="col-12 col-md-6 col-lg-4 col-xl-3">
  <div class="overview-info-box" style="background-image: url('../..//assets/img/overview-img7.png');">
    <p class="overview-info-text">Total Projects</p>
    <p class="overview-count projectCount">0</p>
</div>

 </div>
    {{!-- <div class="col-12 col-md-6 col-lg-4 col-xl-3 _mar_b20 col-sm-6">
      <div class="_box _b_radious3">
        <div class="_dash_card">
          <div class="_dash_card_details">
            <p class="_dash_card_amm">{{developerData.vFirstName}} {{developerData.vLastName}}</p>
            <p class="_dash_card_title">{{developerData.iAgentType.vTitle}}</p>
            <p class="_dash_card_title">({{developerData.iUserID}})</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 _mar_b20 col-sm-6">
      <div class="_box _b_radious3">
        <div class="_dash_card">
          <div class="_dash_card_icon"><i class="fad fa-balance-scale"></i></div>
          <div class="_dash_card_details">
            <p class="_dash_card_amm">
              {{#arrLength projectData}}{{/arrLength}}
            </p>
            <p class="_dash_card_title">Total Project</p>
          </div>
        </div>
      </div>
    </div> --}}

    <div class="col-12 col-md-12 col-lg-12 mt-4">
      <div class="_1card">
        <div class="_1card_top p-0">
          <div class="_1card_top_left">
            <h2 class="today-event-title">Project List</h2>
            </div>
        </div>

        <div class="_1card_body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Project Id</th>
                  <th>Developer</th>
                  <th>Project Name</th>
                  <th>Project Type</th>
                  {{!-- <th>Minimum Price $</th>
                  <th>Sales Price $</th> --}}
                  <th>Start Date</th>
                  <th>Status</th>
                  {{!-- <th>Payment Method</th> --}}
                </tr>
              </thead>
              <tbody>
                  {{#each projectData as |value key|}}
                  <tr>
                     <td>{{value.iProjectId.iProjectUniqueId}}</td>
                    <td>{{../developerData.vFirstName}} {{../developerData.vLastName}} ({{../developerData.iUserID}})</td>
                    <td>{{value.iProjectId.vProject}}</td>
                    <td>{{value.iProjectId.iProjectTypeId.vTitle}}</td>
                    {{!-- <td>{{value.iProjectId.iMinimumPrice}}</td>
                    <td>{{value.iProjectId.iSalesPrice}}</td> --}}
                    <td>{{value.iProjectId.dtProjectStartDate}}</td>
                    <td>{{value.iProjectId.eStatus}}</td>
                    </tr>
                  {{/each}}
                  {{#if_count projectData}}
                    {{else}}
                    <tr class="text-center">
                        <td colspan="13">No Record Found</td>
                    </tr>
                  {{/if_count}}
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
