.btn-primary {
    background-color: #f0542a !important;
    border: 1px solid #f0542a !important;
    display: inline-block;
  }
  
  /* .btn-primary:hover{
  background-color: #fff!important;
  color: #f0542a!important;
  border: 1px solid #f0542a!important;
} */






  /* buttons  */
  
  .ivu-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    transition: color 0.2s linear, background-color 0.2s linear,
      border 0.2s linear, box-shadow 0.2s linear;
    color: #515a6e;
    background-color: #fff;
    border: 1px solid #dcdee2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ivu-btn:hover{
    border: 1px solid #f0542a;
    color: #f0542a;
  }


  
  ._log_btn {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 0 22px rgb(0 0 0 / 7%);
    transition: all 0.3s ease 0s;
    color: #fff;
    font-size: 15px;
    transition: all 0.2s ease;
  }
  
  ._login .ivu-form-item-content button {  width: 100% !important;
    height: auto;
    color: #fff !important;
    text-transform: none;
    padding: 10px 40px !important;
    border-radius: 0 !important;
    background-color: var(--orange-color) !important;
    border: 0 !important;
    font-weight: unset !important;
  }

  .action-wrapper .icon-btn{
    font-size: 20px;
  }

  .footer-btns-group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }