.main-chat-wrapper{
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 130px);
    overflow: hidden;
}


.main-chat-wrapper .chat-side-bar{
    border-right: 1px solid #d9e5eb;
    flex: 0 0 391px;
    overflow: hidden;
    transition: all .2s ease;
    height: 100%;    
}

.main-chat-wrapper .chat-side-bar .chat-left-header{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-chat-wrapper .chat-side-bar .chat-left-header .chat-search-header{
    padding: 27px 20px;
    height: 96px;
    flex: 0 0 auto;
    
}

.main-chat-wrapper .chat-side-bar .chat-left-header .chat-search-header .search-header-wrapper{
    background-color: #f5f5f5!important;
    display: flex;
    align-items: center;
    color: #455560;
    border-radius: 35px;
    max-height: 50px;
    overflow: hidden;
    padding: 3px 10px 3px 19px;
    transition: all .2s ease;
    background: transparent;
    z-index: 1;
    cursor: pointer;
}


/* slidner left side tabing */


.main-chat-wrapper .chat-side-bar .chat-left-header .tabs-wrapper{    
    max-width: 370px;
    overflow-x: auto;
    height: 40px;
    min-height: 40px;
}

.main-chat-wrapper .chat-side-bar .chat-left-header .tabs-wrapper::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
  
  /* Track */
  .main-chat-wrapper .chat-side-bar .chat-left-header .tabs-wrapper::-webkit-scrollbar-track,.main-chat-wrapper .chat-side-bar .chat-left-header .tabs-wrapper::-webkit-scrollbar-thumb:hover,.main-chat-wrapper .chat-side-bar .chat-left-header .tabs-wrapper::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    display: none;
  }

.main-chat-wrapper .chat-side-bar .chat-left-header .tabs-wrapper ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
    
}
.main-chat-wrapper .chat-side-bar .chat-left-header .tabs-wrapper ul li a{
    display: inline-block;
    padding: 5px 25px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #f0542a;
    color: #f0542a;    
}
.main-chat-wrapper .chat-side-bar .chat-left-header .tabs-wrapper ul li a.active,.main-chat-wrapper .chat-side-bar .chat-left-header .tabs-wrapper ul li a:hover{
    background-color: #f0542a;
    color: #fff;    
}



/* left side chat user media and   chat options */

.left-side-user-listing{
    min-height: 50vh;
    overflow-y: auto;
}

.left-side-user-listing::-webkit-scrollbar {
    width: 5px;    
    background: #ccc;
  }







.left-side-user-listing ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px auto;
    height: 100%;
}
.left-side-user-listing ul li{
    width: 100%;
}
.left-side-user-listing ul li .left-user-list-main {
    display: flex;
    align-items: center;
    padding: 12px 20px 12px 18px;
    transition: all .2s ease;
    cursor: pointer;
    border-left: 2px solid transparent;    
    width: 100%;
}
.left-side-user-listing ul li .left-user-list-main:hover{
    background: rgba(255,54,0,.07059)!important;
}

.left-side-user-listing ul li .left-user-list-main.active{
    background-color: #f5f5f5!important;
    background: #f0faff;
}


.left-side-user-listing ul li .left-user-list-main .left-media{
    height: 60px;
    width: 60px;
    position: relative;
    border-radius: 100%;
    flex: 0 0 60px;
}
.left-side-user-listing ul li .left-user-list-main .left-media img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 7%);
}


.left-side-user-listing ul li .left-user-list-main .user-desc{
    flex: 1 1;
    overflow: hidden;
    padding: 0 13px;
}

.left-side-user-listing ul li .left-user-list-main .user-desc p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
    color: #333;
    font-weight: 600;
    letter-spacing: .5px;
    margin: 0 0 4px;
}

.left-side-user-listing ul li .left-user-list-main .user-desc p.user-text{
    color: #727e85;
    font-size: 15px;
}

/* chat right side main  */

.main-chat-wrapper .chat-right-side{
    flex: 1 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #f3f3f5;
}

.main-chat-wrapper .chat-right-side .chat-right-header{
    background-color: #f5f5f5;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    height: 96px;
}

.main-chat-wrapper .chat-right-side .chat-r-user{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    overflow: hidden;
    padding: 5px;
}

.main-chat-wrapper .chat-right-side .chat-r-user .media-user{
    height: 60px;
    width: 60px;
    flex: 0 0 60px;
    position: relative;
    display: block;
}


.main-chat-wrapper .chat-right-side .chat-r-user .media-user::before{
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    background: #51cb20;
    top: 7px;
    right: 0;
    border-radius: 100%;
    border: 2px solid #fff;
    z-index: 1;
}



.main-chat-wrapper .chat-right-side .chat-r-user .media-user img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 7%);
}


.main-chat-wrapper .chat-right-side .user-text{
    color: #000;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: .5px;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1;
    padding: 0 16px;
    overflow: hidden;
}


.chat-right-side .main-chat-container{
    background: #f3f3f5;
    height: 100%;
    padding: 1px 0 0;
    flex: 1 1;
    overflow: auto;
}

.chat-right-side .main-chat-container .mes-date{
    padding: 12px 20px;
    font-size: 13px;
    text-align: center;
    color: rgba(240,84,42,.65098);
    font-weight: 700;
    letter-spacing: .3px;
}



.chat-right-side .main-chat-container .chats-left-right{
    padding: 5px 42px;
}

.chat-right-side .main-chat-container .chats-left-right .right-side-msg{
    max-width: 60%;
    padding: 0 0 0 9px;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}

.chat-right-side .main-chat-container .chats-left-right .right-side-msg .msg-right{
    position: relative;
    display: inline-block;
    background: #f0542a;
    padding: 11px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.chat-right-side .main-chat-container .chats-left-right .right-side-msg .msg-right p{
    font-size: 15px;
    color: #fff;
    line-height: 23px;
    text-align: left;
}

.chat-right-side .main-chat-container .chats-left-right .right-side-msg .msg-right p.time{
    text-align: right;
    font-size: 12px;
    padding: 5px 0 0;
    color: #fff;
}




.chat-right-side .main-chat-container .chats-left-right .right-side-msg.incoming-msgs{    
    margin-right: auto;
    margin-left: 0px;
    text-align: left;
    
}



.chat-right-side .main-chat-container .chats-left-right .right-side-msg.incoming-msgs .msg-right{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 30px;
    background-color: #fff;
}

.chat-right-side .main-chat-container .chats-left-right .right-side-msg.incoming-msgs .msg-right p{
    color: #000;
}


.chat-right-side .main-chat-container .chats-left-right .right-side-msg.incoming-msgs p.time{
    color: #ccc;
}



.main-chat-send{
    width: 85%;
}

.chat-right-side .chat-footer{
    background-color: #fff;    
    border-radius: 30px;
    padding: 15px 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin: 10px auto;
    width: 99%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-right-side .chat-footer .ivu-input{
    background-color: #fff!important;
}
.chat-right-side .chat-footer .ivu-input:focus{
    box-shadow: none;
}

.chat-right-side .chat-footer .chat-widget{
    width: 15%;
}

.chat-right-side .chat-footer .chat-widget ul{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding-right: 20px; 
}   

.chat-right-side .chat-footer .chat-widget ul li{
    /* height: 40px;
    width: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    font-size: 30px;
}

.chat-right-side .chat-footer .chat-widget ul li a.active{
    color: #f0542a;
}


.chat-right-side .chat-footer .chat-widget ul li input[type=file]{
    opacity: 0;
    position: absolute;
    z-index: 99;
    cursor: pointer;
}

.chat-left-header div#pills-tabContent {
    overflow-y: auto;
}