/*====================== table design====================== */
._1card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 3px;
  /* box-shadow: 0 4px 20px 1px rgb(0 0 0 / 3%), 0 1px 4px rgb(0 0 0 / 2%); */
}

._1card_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

._1card_top_left {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

._1card_top_right {
  flex: 0 0 auto;
}

._1card_top_right_list li {
  display: inline-block;
  margin-left: 13px;
  vertical-align: middle;
  font-size: 15px;
  color: #000;
  font-weight: bold;
}
._1card_top_right_list li:first-child {
  margin-left: 0px;
}

._1card_body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 20px 0;
}

table th,
table td {
  background-color: #F2F5F9 ;
  border: 1px solid #DDE4EC !important;
  /* min-width: 180px;     */
}
table td{
  background-color: #fff;
  border: 1px solid #DDE4EC !important; 
}
.table > tbody > tr > td {
  vertical-align: middle;
  color: #232323;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px; white-space: nowrap;}

.table th {
  color: #4D5A71;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  vertical-align: middle;
  white-space: nowrap;
}
.table-small-text{
  font-size: 10px;
  color: #8D99AE;
  font-weight: 300;
}
.editbtn-list{
  display: flex;
  gap: 15px;
  /* flex-wrap: wrap; */
}




/* user detail in table */
.user-name{    
  display: flex;
  align-items: center;
}

.user-name  .user-media{
  flex: 0 0 35px;
  overflow: hidden;
  border-radius: 100%;
  max-width: 35px;
  height: 35px;
  width: 35px;
}
.user-name  .user-media img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.user-name .user-text{
  flex: 1 1;
  overflow: hidden;
  padding-left: 11px;
}

/* table input.form-control,table select{
  height: 40px!important;
  font-size: 15px!important;
}

table input.form-control:focus,table select:focus{
  outline: 0!important;
  box-shadow: 0 0 0 2px rgb(240 84 42 / 23%);
} */


/* table tr:hover td{
  background-color: #ee542a0f;
} */

.c-checkbox-wrapper{
display: flex;
justify-content: flex-start;
align-items: center;
height: 40px;
width: 40px;
margin: auto;
}


.search-input-sort{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;  
}



.search-input-sort .c-sort-box{
  font-size: 25px;
  height: 40px;
  width: 30px;    
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input-sort .c-sort-box.sort-icon{
  font-size: 15px;
}

.user-pic{
  max-width: 50px;
  max-height: 50px;
  margin: auto;
}

.user-pic img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 2px solid #fff;
}
.table-responsive .search-icon{
  display: none;
}