
.ivu-input{
    background: #FFFFFF;
    border: 1px solid #C6CBD2 !important;
    border-radius: 5px;
    width: 100%;
    height: 45px !important;
    color: #232323;
    font-weight: 500;
    padding: 5px 15px 5px 15px !important;
    position: relative;
}
.form-control.form-control-sm{
    background: #FFFFFF;
    border: 1px solid #C6CBD2 !important;
    border-radius: 5px;
    width: 100%;
    height: 45px !important;
    color: #232323;
    font-weight: 500;
    padding: 5px 15px 5px 15px !important;
    position: relative; 
}
.form-control::placeholder{
    color: #232323;
    font-weight: 500; 
    font-size: 15px;  
}
.ivu-input::placeholder{
    color: #232323;
    font-weight: 500; 
    font-size: 15px;  
}


select.ivu-input{
    border: 0px;
}


.ivu-input:focus,
.ivu-select-visible .ivu-select-selection {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(240 84 42 / 23%);
}



  
input[type=radio]{
    height: 20px !important;
  }

  input[type=checkbox]{
    height: 20px!important;
    width: 20px!important;
    padding: 5px!important;
    appearance: none;
    border: 1px solid #000;
    border-radius: 0px;
    background-color: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    display: block;
        
}

input[type=checkbox]:checked{
    background-color: var(--orange-color);    
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    background-size: 100%;
}

input[type=file]{
    padding: 5px!important;
}


.ivu-select-input{
    background: #FFFFFF;
    border: 1px solid #C6CBD2;
    border-radius: 5px;
    width: 100%;
    height: 45px !important;
    color: #232323;
    font-weight: 500;
    padding: 5px 15px !important;
    text-align: left;
}



textarea.ivu-input{
    max-width: 100%;
    height: auto;
    min-height: 32px;
    vertical-align: bottom;
    font-size: 14px;
    border: 0px;
}


/* search -input  */

.c-search-box{
    position: relative;
}

.c-search-box input{
    background-color: #f5f5f5;
    border: 0!important;
    border-radius: 20px!important;
    display: inline-block!important;
}
.c-search-box i {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 2;
    transform: translateY(-50%);
    font-size: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


label.ivu-form-item-label{
    font-size: 14px;
    color: #515a6e;
    line-height: 1;    
    box-sizing: border-box;
}


/* file upload  image  */

.c-file-upload img{
    margin-top: 20px;
    height: 100px;
    width: 100px;
    object-fit: contain;
    border: 1px solid #f0542a;
    background-color: rgba(255,54,0,.07059);
}   


.search-wrapper{
    position: relative;
}
.search-wrapper i {
    position: absolute;
    top: 50%;
    right: 2px;
    background-color: #fff;
    height: 90%;
    width: 30px;
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    color: #c5c8ce;
}