/* left side bar  */

.sidebar-wrapper {
  position: fixed;
  width: 280px;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 101px;
  padding-bottom: 100px;
  z-index: 10;
  /* background: #fff; */
  box-shadow: 1px 0 20px rgb(0 0 0 / 8%);
  box-shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
  overflow-y: auto;
  overflow-x: hidden;
}


/* width */
.sidebar-wrapper::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.sidebar-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sidebar-wrapper::-webkit-scrollbar-thumb {
  background: #f0542a;
}

/* Handle on hover */
.sidebar-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}



._left_sidebar_main {
  background-color: #f5f5f5 !important;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

._left_sidebar_top {
  flex: 0 0 auto;

  overflow: hidden;
  height: auto;
  position: relative;
  transition: all 0.2s ease;
  margin-bottom: 20px;
}

._mob_side_close {
  font-size: 20px;
  display: none;
  position: absolute;
  top: 10px;
  right: 14px;
  cursor: pointer;
}

._left_sidebar_top_main {
  height: 112px;
  transition: all 0.2s ease;
}

._left_sidebar_pic {
  height: 112px;
  width: 112px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  transition: height 0.2s linear 10ms, width 0.2s linear 15ms, margin 20ms;
  border-radius: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to left top, #f0542a 75%, #dadada 0) border-box
    100%;
  border-radius: 50%;
  border: 2px solid transparent;
  padding: 3px;
}

._left_sidebar_img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid #f5f5f5;
  background-color: #f5f5f5;
}

._left_sidebar_pro {
  font-weight: 700;
  color: #f0542a;
  font-size: 16px;
  margin: 10px 0px;
  bottom: 0;
}

#sidebar ul.menu-categories li.menu a span {
  background: transparent !important;
  display: inline-block;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  color: #515a6e;
  font-size: 14px;
  position: relative;
  z-index: 900;
}

#sidebar
  ul.menu-categories
  li.menu
  > .dropdown-toggle[aria-expanded="true"]:not([data-active="true"]),
#sidebar ul.menu-categories li.menu > .dropdown-toggle:hover,
#sidebar
  ul.menu-categories
  li.menu
  > .dropdown-toggle.dropdown-toggle:not([data-active="true"]):not([aria-expanded="true"]):hover {
  color: #f0542a !important;
  background: #fff !important;
  border-left: 4px solid #f0542a !important;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  box-shadow: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

#sidebar ul.menu-categories li.menu a {
  padding: 15px 20px !important;
  display: flex !important;
  align-items: center !important;
  color: #5b5a5a !important;
  border-left: 4px solid transparent !important;
  font-weight: 600;
  white-space: nowrap;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

#sidebar ul.menu-categories li.menu a i {
  font-size: 14px;

}

#sidebar ul.menu-categories li.menu a .menu-item-group {
  display: flex;
  justify-content: center;
  unicode-bidi: c;
  align-items: center;
  gap: 10px;
}

