@media only screen and (min-width:1200px) {}
@media only screen and (min-width:1400px) {}
@media only screen and (max-width:2560px) {}
@media only screen and (max-width:1920px) {}
@media only screen and (max-width:1800px) {
    .engagement-img-list li {
        width: 31.50%;
    }
}
@media only screen and (max-width:1600px) {
    .chat-right-side .chat-footer .chat-widget{
        width: 18%;
    }
    .login-container{
        padding: 0px 150px;
  }
  .engagement-img-list li {
    width: 31.40%;
}
.engagement-leftimg{
    height: 160px;
}
}

@media only screen and (max-width:1500px) {
    .login-container{
        padding: 0px 100px;
}
    .register-page ._login_main {
        width: 90%;
}
.engagement-img-list li {
    width: 31.20%;
}
.engagement-leftimg{
    height: 150px;
}
.dash-box {
    gap: 15px;
    flex-wrap: nowrap;
}
}
@media only screen and (max-width:1400px) {
    ._dash_card_amm{
        font-size: 15px;
    }
    .engagement-img-list li {
        width: 48.20%;
    }
    .engagement-rightimg {
        width: 150px;
    }
    .enguser-name {
        font-size: 17px;
    }
    ._dash_card_icon {
        padding: 20px 15px;
    }    
    .chat-right-side .chat-footer .chat-widget{
        width: 25%;
    }
    .chat-right-side .chat-footer .chat-widget ul li{
        font-size: 25px;
    }
    .payment-method-option .card-body{
        padding: 10px;
    }
    .payment-method-option .box-payment{
        margin: 5px 5px;
        width: auto;
    }
    .payment-method-option .card-body{
        display: block;
    }
    .login-container{
        padding: 0px 100px;
    }
    .ivu-form-item{
        margin-top: 40px;
    }
    ._login_main ._login_form {
        margin-top: 40px;
    }
    .dash-box {
        gap: unset;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width:1399px) {
    ._login_main {
        width: 90%;
    }
    .login-text {
        font-size: 18px;
        line-height: 28px;
    }
    .logo-left-center img {
        height: 60px;
    }
    ._login_form .ivu-form-item .ivu-input{
        min-height: 45px;
    }
    ._login_form .ivu-form-item{
        margin-top: 30px;
        margin-bottom: 0px;
    }
    ._forget {
        text-align: left;
        padding: 0 0 30px;
    }
    ._login_form ._forget{
        display: inline-block;
        margin-top: 15px;
    }
    ._log_btn.login-btn{
        padding: 10px 50px;
        font-size: 18px;
    }
    .ivu-form-item .ivu-input{
        min-height: 50px;
    }
    .login-wrapper-img img{
        height: 560px;
    }
    .ivu-form-item label{
        font-size: 18px;
    }
    .right-top-box{
        flex-wrap: wrap;
    }
    .video-content {
        gap: 10px;
        flex-wrap: wrap;
    }
    .blog-img {
        min-width: 130px;
        height: 130px;
        width: 130px;
    }
    .dash-box-text{
        width: 40%;
    }
    .custom-video img {
        height: 118px;
    }
    .securty-form ._login_main ._login_form{
        margin-top: 0 !important;
    }
    .login-title{
        font-size: 25px;
    }
    .securty-form .ivu-form-item-content{
        margin-top: 20px;
    }
}
@media only screen and (max-width:1340px) {
    .dash-box-text{
        width: 40%;
    }
}
@media only screen and (max-width:1299px) {
    .engagement-img-list li {
        width: 48%;
    }
    .dash-box {
        margin-top: 30px;
        height: auto;
    }
}
@media only screen and (max-width:1200px) {
    .chat-right-side .chat-footer .chat-widget{
        width: 30%;
    }
    .chat-right-side .chat-footer .chat-widget ul li{
        font-size: 20px;
    }
    .main-chat-send{
        width: 75%;
    }

    .main-chat-wrapper .chat-side-bar{
        flex: 0 0 310px;
    }
    .chat-right-side .chat-footer .chat-widget ul{
        justify-content: flex-end;
        gap: 10px;
    }
}
@media only screen and (max-width:1199px) {
    .login-container{
        padding: 50px 60px;
        height: auto;
    }
    .logo-left-center img {
        height: 60px;
    }  

    .ivu-form-item {
        margin-top: 30px;
    } 
    ._login_main ._login_form {
        margin-top: 40px;
    }
    ._forget{
        font-size: 18px;
    }
    .register-page ._login_main {
        width: 100%;
    }
    .ivu-form-item label{
        font-size: 18px;
    }
    .ivu-form-item {
        margin-bottom: 20px;
    }
    .top-dropdowns{
        flex-wrap: wrap;
    }
    .engagement-img-list li {
        width: 47.30%;
    }
}
@media only screen and (max-width:1085px) {
    .register-logo-content{
        gap: 20px;
    }
}
@media only screen and (max-width:1040px) {
    .login-container{
        padding: 40px 50px;
}
}
@media only screen and (max-width:991px) {
    .login-container {
        padding: 30px 15px;
    }
    ._login_main ._login_form {
        margin-top: 30px;
    }
    ._login_main {
        width: 100%;
    }
}
@media only screen and (max-width:768px) {

    .main-chat-wrapper{
        height: 100%;
    }

    .main-chat-wrapper .chat-side-bar{
        flex: auto;
    }
    
    .main-chat-wrapper .chat-right-side{
        flex: auto;
        width: 100%;
    }

    .main-chat-wrapper .chat-side-bar .chat-left-header .tabs-wrapper{
        max-width: 100%;
    }
    .w-file .w-input{
        width: 100%;
      }

      .w-file ._1card_body ul li{
        margin-left: 0px;
        list-style: none;
        width: 100%;
      }
}
@media only screen and (max-width:767px) {
    .login-text {
        font-size: 16px;
    }
    .logo-left-center img {
        height: 60px;
    }
    .ivu-form-item {
        margin-top: 25px;
    }
    .ivu-form-item label{
        font-size: 16px;
    }
    ._log_btn.login-btn {
        padding: 8px 40px;
        font-size: 16px;
    }
    .register-page .login-wrapper-img {
        display: none;
        
    }
    .register-logo-content{
        margin-bottom: 20px;
    }
    .top-dropdowns {
        flex-wrap: unset;
    }
    .engagement-img-list li {
        width: 48.50%;
    }
    .engagement-right-box{
        margin-top: 20px;
    }
}
@media only screen and (max-width:675px) {
    .login-container{
        padding: 30px 0px;
    }
    ._forget {
        text-align: left;
        padding: 0 0 20px;
    }
    ._login_main ._login_form {
        margin-top: 25px;
    }
    .login-wrapper-img img {
        height: 520px;
    }
    .ivu-form-item .ivu-input {
        min-height: 45px;
    }
    ._forget {
        font-size: 17px;
    }
}
@media only screen and (max-width:576px) {
    .login-wrapper-img img {
        height: auto;
        margin-top: 20px;
        display: none;
    }
    .login-container{
        height: auto;
    }
    ._log_btn.login-btn {
        padding: 6px 40px;
    }
    .engagement-img-list li {
        width: 48.20%;
    }
}

@media only screen and (max-width:480px) {
    .engagement-img-list li {
        width: 47.50%;
    }
    .top-dropdowns{
        flex-wrap: wrap;
    
    }
}
@media only screen and (max-width:365px) {
    .engagement-img-list li {
        width:100%;
    }
}
@media only screen and (max-width:320px) {}