.paggination-wrapper{
        padding-top: 00px;
        display: flex;
        justify-content: center;
}

.paggination-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.paggination-wrapper ul .ivu-page-item{
    display: inline-block;        
    min-width: 32px;
    height: 32px;
    line-height: 30px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    color: #666;    
    border-radius: 4px;
    transition: all .2s ease-in-out;
}
.paggination-wrapper ul .ivu-page-item.active{
    transition: .5s;
    border: 1px solid #f0542a;
    background-color: #ee542a!important;
    
}
.paggination-wrapper ul .ivu-page-item.active a {
    color: #fff!important;
}

.ivu-page-item:hover a{
    color: #f0542a;
}