  <a class="medium-btn2 mb-4" href="/system-email">Go back</a>
<div class="row">
<div class="col-lg-11 col-xl-8 mx-auto">
<div class="_main_content">
  <div class="add-client-info-msg">
    <div class="icon">
      <i class="fal fa-lightbulb"></i>
    </div>
    <div class="info-text">
      <p class="info-alert-message">
        Add System Email
      </p>
    </div>
  </div>
  <div class="_1card">
    <div class="_1card_body pt-2 profile-difrt-box">
      <form class="frm" method="POST" action="/system-email/add_action" enctype="multipart/form-data">

        <input type="hidden" name="iSystemEmailId" value="{{systemEmailData._id}}">

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Email Code</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Email Code"
                    class="ivu-input ivu-input-default" name="vEmailCode" id="vEmailCode"
                    value="{{ systemEmailData.vEmailCode }}" />
                  <div class="text-danger" id="vEmailCode_error" style="display: none;">Please enter email code
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Email Title</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Email Title"
                    class="ivu-input ivu-input-default" name="vEmailTitle" id="vEmailTitle"
                    value="{{ systemEmailData.vEmailTitle }}" />
                  <div class="text-danger" id="vEmailTitle_error" style="display: none;">Please enter email title
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">From Name</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter From Name"
                    class="ivu-input ivu-input-default" name="vFromName" id="vFromName"
                    value="{{ systemEmailData.vFromName }}" />
                  <div class="text-danger" id="vFromName_error" style="display: none;">Please enter from name
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">From Email</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter From Email"
                    class="ivu-input ivu-input-default" name="vFromEmail" id="vFromEmail"
                    value="{{ systemEmailData.vFromEmail }}" />
                  <div class="text-danger" id="vFromEmail_error" style="display: none;">Please enter from email
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Cc Email</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Cc Email"
                    class="ivu-input ivu-input-default" name="vCcEmail" id="vCcEmail"
                    value="{{ systemEmailData.vCcEmail }}" />
                  <div class="text-danger" id="vCcEmail_error" style="display: none;">Please enter cc email
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Bcc Email</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Bcc Email"
                    class="ivu-input ivu-input-default" name="vBccEmail" id="vBccEmail"
                    value="{{ systemEmailData.vBccEmail }}" />
                  <div class="text-danger" id="vBccEmail_error" style="display: none;">Please enter bcc email
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Email Subject</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Email Subject"
                    class="ivu-input ivu-input-default" name="vEmailSubject" id="vEmailSubject"
                    value="{{ systemEmailData.vEmailSubject }}" />
                  <div class="text-danger" id="vEmailSubject_error" style="display: none;">Please enter email subject
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Internal Message</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Internal Message"
                    class="ivu-input ivu-input-default" name="tInternalMessage" id="tInternalMessage"
                    value="{{ systemEmailData.tInternalMessage }}" />
                  <div class="text-danger" id="tInternalMessage_error" style="display: none;">Please enter internal
                    message
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Email Message</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <textarea placeholder="Enter Email Message" class="ivu-input ivu-input-default" name="tEmailMessage"
                    id="tEmailMessage">{{ systemEmailData.tEmailMessage }}</textarea>
                  <div class="text-danger" id="tEmailMessage_error" style="display: none;">Please enter email message
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Sms Message</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Sms Message"
                    class="ivu-input ivu-input-default" name="tSmsMessage" id="tSmsMessage"
                    value="{{ systemEmailData.tSmsMessage }}" />
                  <div class="text-danger" id="tSmsMessage_error" style="display: none;">Please enter sms message
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Status</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <select name="eStatus" id="eStatus" class="ivu-select-input">
                    <option value="Active" {{#if_equal systemEmailData.eStatus "Active" }} selected {{/if_equal}}>Active
                    </option>
                    <option value="Inactive" {{#if_equal systemEmailData.eStatus "Inactive" }} selected {{/if_equal}}>
                      Inactive</option>
                  </select>
                  <div class="text-danger" id="eStatus_error" style="display: none;">Please enter
                    status</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="footer-btns-group">
   
        <button type="button" class="medium-btn save">
          <span>Create</span>
        </button>
        <button class="medium-btn save_loader" style="display: none;">
          <span>Please Wait...</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-loader spin mr-2 text-white">
            <line x1="12" y1="2" x2="12" y2="6"></line>
            <line x1="12" y1="18" x2="12" y2="22"></line>
            <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
            <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
            <line x1="2" y1="12" x2="6" y2="12"></line>
            <line x1="18" y1="12" x2="22" y2="12"></line>
            <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
            <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
          </svg>
        </button>
             <button type="button" class="medium-btn2 cancel">
          <span>Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.1.2/tinymce.min.js"
  integrity="sha512-cJ2vUNryvHzgNJfmFTtZ2VX5EMT5JOU1i8nm+L1kwoHQ9bSqSYdswxyk++9Gi27p3BG2rXZXLMsTsluY4RZSSw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
  tinymce.init({
    selector: '#tEmailMessage',
    height: 500,
    plugins: [
      'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
      'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
      'insertdatetime', 'media', 'table', 'help', 'wordcount'
    ],
    toolbar: 'undo redo | blocks | ' +
      'bold italic backcolor | alignleft aligncenter ' +
      'alignright alignjustify | bullist numlist outdent indent | ' +
      'removeformat | help',
    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
  });

  $(document).on('click', '.cancel', function () {
    location.href = "/system-email";
  });

  $(document).on('click', '.save', function () {

    var vEmailCode = $("#vEmailCode").val();
    var vEmailTitle = $("#vEmailTitle").val();
    var vFromName = $("#vFromName").val();
    var vFromEmail = $("#vFromEmail").val();
    var vCcEmail = $("#vCcEmail").val();
    var vBccEmail = $("#vBccEmail").val();
    var vEmailSubject = $("#vEmailSubject").val();
    var tEmailMessage = tinyMCE.get('tEmailMessage').getContent();
    var tSmsMessage = $("#tSmsMessage").val();
    var tInternalMessage = $("#tInternalMessage").val();
    var eStatus = $("#eStatus").val();
    var vError = false;

    if (vEmailCode.length == 0) {
      $("#vEmailCode_error").show();
      vError = true;
    } else {
      $("#vEmailCode_error").hide();
    }

    if (vEmailTitle.length == 0) {
      $("#vEmailTitle_error").show();
      vError = true;
    } else {
      $("#vEmailTitle_error").hide();
    }

    if (vFromName.length == 0) {
      $("#vFromName_error").show();
      vError = true;
    } else {
      $("#vFromName_error").hide();
    }

    if (vFromEmail.length == 0) {
      $("#vFromEmail_error").show();
      vError = true;
    } else {
      $("#vFromEmail_error").hide();
    }

    if (vCcEmail.length == 0) {
      $("#vCcEmail_error").show();
      vError = true;
    } else {
      $("#vCcEmail_error").hide();
    }

    if (vBccEmail.length == 0) {
      $("#vBccEmail_error").show();
      vError = true;
    } else {
      $("#vBccEmail_error").hide();
    }

    if (vEmailSubject.length == 0) {
      $("#vEmailSubject_error").show();
      vError = true;
    } else {
      $("#vEmailSubject_error").hide();
    }

    if (tEmailMessage.length == 0) {
      $("#tEmailMessage_error").show();
      vError = true;
    } else {
      $("#tEmailMessage_error").hide();
    }

    if (tSmsMessage.length == 0) {
      $("#tSmsMessage_error").show();
      vError = true;
    } else {
      $("#tSmsMessage_error").hide();
    }

    if (tInternalMessage.length == 0) {
      $("#tInternalMessage_error").show();
      vError = true;
    } else {
      $("#tInternalMessage_error").hide();
    }

    if (eStatus.length == 0) {
      $("#eStatus_error").show();
      vError = true;
    } else {
      $("#eStatus_error").hide();
    }

    if (vError == true) {
      return false;
    } else {
      $(".save").hide();
      $(".save_loader").show();
      setTimeout(function () {
        $(".frm").submit();
        return true;
      }, 500);
    }

  });
</script>