<a class="medium-btn2" href="/addendum">Go back</a>
<div class="row">
  <div class="col-lg-11 col-xl-8 m-auto">
    <div class="add-client-info-msg mt-3">
      <div class="icon">
        <i class="fal fa-lightbulb"></i>
      </div>
      <div class="info-text">
        <p class="info-alert-message"> Add new addendum </p>
      </div>
    </div>
    <div class="_1card p-0">
      <div class="_1card_body pt-2 profile-difrt-box">
        <form action="/addendum/add_action" method="POST" class="addendum_form" enctype="multipart/form-data">
          <input type="hidden" value="{{ AddendumData._id }}" name="iAddendumId">
          <div class="row align-items-center">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Project Type</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <select name="iProjectTypeId" id="iProjectTypeId" class="ivu-select-input">
                      {{#each projectTypeData as |value key| }}
                      <option value="{{ value._id }}" {{ isSelected value._id ../AddendumData.iProjectTypeId }}
                        data-filter="{{ value.vTitle }}">
                        {{ value.vTitle }}
                      </option>
                      {{/each}}
                    </select>
                    <div class="text-danger" id="iProjectTypeId_error" style="display: none;">Please select Project Type
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Commission Type</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <select name="eType" id="eType" class="ivu-select-input">
                      <option value="Percentage" {{ isSelected 'Percentage' AddendumData.eType }}>
                        Percentage
                      </option>
                      <option value="Doller" {{ isSelected 'Doller' AddendumData.eType }}>
                        Doller
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 QuoteDiv mt-3" style="display: none;">
              <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                  <div class="dashboard-form-group d-flex align-items-center gap-2">
                    <label class="dash-form-label mb-0">Quick Quote</label>
                    <div class="ivu-form-item-content">
                      <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                        <input type="radio" name="vQuote" id="vQuickQuote" value="Quick Quote" {{#if_equal
                          AddendumData.vQuote 'Quick Quote' }}checked{{/if_equal}}>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 QuoteDiv" style="display: none;">
                  <div class="dashboard-form-group d-flex align-items-center gap-2">
                    <label class="dash-form-label mb-0">Custom Quote</label>
                    <div class="ivu-form-item-content">
                      <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                        <input type="radio" name="vQuote" id="vCustomQuote" value="Custom Quote" {{#if
                          AddendumData._id}} {{#if_equal AddendumData.vQuote 'Custom Quote' }}checked{{/if_equal}}
                          {{else}}checked{{/if}}>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 QuoteLevelDiv" style="display: none;">
                  <div class="dashboard-form-group d-flex align-items-center gap-2">
                    <label class="dash-form-label mb-0">Better</label>
                    <div class="ivu-form-item-content">
                      <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                        <input type="radio" name="eQuoteLevel" id="vQuickQuoteLevel" value="Batter" {{#if
                          AddendumData._id}} {{#if_equal AddendumData.eQuoteLevel 'Batter' }}checked{{/if_equal}}
                          {{else}}checked{{/if}}>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 QuoteLevelDiv" style="display: none;">
                  <div class="dashboard-form-group d-flex align-items-center gap-2">
                    <label class="dash-form-label mb-0">Best</label>
                    <div class="ivu-form-item-content">
                      <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                        <input type="radio" name="eQuoteLevel" id="vCustomQuoteLevel" value="Best" {{#if_equal
                          AddendumData.eQuoteLevel 'Best' }}checked{{/if_equal}}>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-6 pageDiv" style="display: none;">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label"># Of Website Pages</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <select name="iQuoteId" id="iQuoteId" class="ivu-select-input">
                      <option value="">Select Website Pages</option>
                      {{#each quoteData as |value key| }}
                      <option value="{{ value._id }}" {{ isSelected value._id ../AddendumData.iQuoteId }} {{ isSelected
                        value._id ../AddendumData.iQuoteId }}>
                        {{ value.vPages }}
                      </option>
                      {{/each}}
                    </select>
                    <div class="text-danger" id="iQuoteId_error" style="display: none;">Please select # Of Website Pages
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Addendum Name</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Addendum Name"
                      class="ivu-input ivu-input-default" name="vName" id="vName" value="{{ AddendumData.vName }}" />
                    <div class="text-danger" id="vName_error" style="display: none;">Please enter Addendum Name </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">President (%)</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="number" min="0" max="100"
                      placeholder="Enter President" class="ivu-input ivu-input-default" name="iPresident"
                      id="iPresident" value="{{ AddendumData.iPresident }}" />
                    <div class="text-danger" id="iPresident_error" style="display: none;">Please enter percentage </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Margin of President (%)</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="number" min="0" max="100"
                      placeholder="Enter President Margin" class="ivu-input ivu-input-default" name="iPresidentMargin"
                      id="iPresidentMargin" value="{{ AddendumData.iPresidentMargin }}" />
                    <div class="text-danger" id="iPresidentMargin_error" style="display: none;">Please enter margin.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Vice President (%)</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="number" min="0" max="100"
                      placeholder="Enter Vice President" class="ivu-input ivu-input-default" name="iVicePresident"
                      id="iVicePresident" value="{{ AddendumData.iVicePresident }}" />
                    <div class="text-danger" id="iVicePresident_error" style="display: none;">Please enter percentage
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Margin of Vice President (%)</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="number" min="0" max="100"
                      placeholder="Enter Vice President Margin" class="ivu-input ivu-input-default"
                      name="iVicePresidentMargin" id="iVicePresidentMargin"
                      value="{{ AddendumData.iVicePresidentMargin }}" />
                    <div class="text-danger" id="iVicePresidentMargin_error" style="display: none;">Please enter margin.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Senior Management (%)</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="number" min="0" max="100"
                      placeholder="Enter Senior Management" class="ivu-input ivu-input-default" name="iSeniorManagement"
                      id="iSeniorManagement" value="{{ AddendumData.iSeniorManagement }}" />
                    <div class="text-danger" id="iSeniorManagement_error" style="display: none;">Please enter percentage
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Margin of Senior Management (%)</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="number" min="0" max="100"
                      placeholder="Enter Senior Management Margin" class="ivu-input ivu-input-default"
                      name="iSeniorManagementMargin" id="iSeniorManagementMargin"
                      value="{{ AddendumData.iSeniorManagementMargin }}" />
                    <div class="text-danger" id="iSeniorManagementMargin_error" style="display: none;">Please enter
                      margin. </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Sales Director (%)</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="number" min="0" max="100"
                      placeholder="Enter Sales Director" class="ivu-input ivu-input-default" name="iSalesDirector"
                      id="iSalesDirector" value="{{ AddendumData.iSalesDirector }}" />
                    <div class="text-danger" id="iSalesDirector_error" style="display: none;">Please enter percentage
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Margin of Sales Director Margin (%)</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="number" min="0" max="100"
                      placeholder="Enter Sales Director Margin" class="ivu-input ivu-input-default"
                      name="iSalesDirectorMargin" id="iSalesDirectorMargin"
                      value="{{ AddendumData.iSalesDirectorMargin }}" />
                    <div class="text-danger" id="iSalesDirectorMargin_error" style="display: none;">Please enter margin.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Sales Representative (%)</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="number" min="0" max="100"
                      placeholder="Enter Sales Representative" class="ivu-input ivu-input-default"
                      name="iSalesRepresentative" id="iSalesRepresentative"
                      value="{{ AddendumData.iSalesRepresentative }}" />
                    <div class="text-danger" id="iSalesRepresentative_error" style="display: none;">Please enter
                      percentage
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Development (%)</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="number" min="0" max="100"
                      placeholder="Enter development" class="ivu-input ivu-input-default" name="iDevelopment"
                      id="iDevelopment" value="{{ AddendumData.iDevelopment }}" />
                    <div class="text-danger" id="iDevelopment_error" style="display: none;">Please enter percentage
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Billable Hour Rate</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="number" min="0"
                      placeholder="Enter Billable Hour Rate" class="ivu-input ivu-input-default" name="iBillableHours"
                      id="iBillableHours" value="{{ AddendumData.iBillableHours }}" />
                    <div class="text-danger" id="iBillableHours_error" style="display: none;">Please enter rate </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Min Price</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="number" min="0" placeholder="Enter Min Price"
                      class="ivu-input ivu-input-default" name="iMinPrice" id="iMinPrice"
                      value="{{ AddendumData.iMinPrice }}" />
                    <div class="text-danger" id="iMinPrice_error" style="display: none;">Please enter value </div>
                  </div>
                </div>
              </div>
            </div>
            {{#if AddendumData }}
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Is Recurring</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <select name="eIsRecurring" id="eIsRecurring" class="ivu-select-input">
                      {{#if_equal AddendumData.eIsRecurring "Yes" }}
                      <option value="Yes" {{#if_equal AddendumData.eIsRecurring "Yes" }}selected {{/if_equal}}>Yes
                      </option>
                      {{/if_equal}}
                      {{#if_equal AddendumData.eIsRecurring "No" }}
                      <option value="No" {{#if_equal AddendumData.eIsRecurring "No" }}selected{{/if_equal}}> No
                      </option>
                      {{/if_equal}}
                    </select>
                    <div class="text-danger" id="eIsRecurring_error" style="display: none;">Please enter status</div>
                  </div>
                </div>
              </div>
            </div>
            {{/if}}
          </div>
        </form>
        <div class="footer-btns-group">
          <button type="button" class="medium-btn save">
            <span>Create</span>
          </button>
          <button class="medium-btn save_loader" style="display: none;">
            <span>Please Wait...</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-loader spin mr-2 text-white">
              <line x1="12" y1="2" x2="12" y2="6"></line>
              <line x1="12" y1="18" x2="12" y2="22"></line>
              <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
              <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
              <line x1="2" y1="12" x2="6" y2="12"></line>
              <line x1="18" y1="12" x2="22" y2="12"></line>
              <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
              <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
            </svg>
          </button>
          <button type="button" class="medium-btn2 cancel">
            <span>Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">


  $(document).on('click', '.cancel', function () {
    location.href = "/addendum";
  });

  $(document).on("change", "#iProjectTypeId", function () {
    var iProjectTypeId = $('#iProjectTypeId option:selected').data('filter');
    if (iProjectTypeId === 'Website Design and Development') {
      $(".QuoteDiv").show();
    } else {
      $(".QuoteDiv").hide();
      $("#vQuickQuote").prop("checked", false);
      $("#vCustomQuote").trigger("click");
    }
  });

  $(document).on("click", "#vQuoteData", function () {
    var price = $(this).val();
    if (price === 'Custom') {
      $("#vCustomQuote").trigger("click");
      $(this).prop("checked", false);
    }
  })

  $(document).ready(function () {
    var iProjectTypeId = $('#iProjectTypeId option:selected').data('filter');
    if (iProjectTypeId === 'Website Design and Development') {
      $(".QuoteDiv").show();
      $(".QuoteLevelDiv").show();
      $('.pageDiv').show();
    } else {
      $(".QuoteDiv").hide();
      // $("#vQuickQuote").prop("checked", false);
      //  $("#vCustomQuote").trigger("click");
    }
  })

  $(document).on('click', 'input[name="vQuote"]', function () {
    var vQuote = $('input[name="vQuote"]:checked').val();
    if (vQuote === 'Quick Quote') {
      $('.pageDiv').show();
      $(".QuoteLevelDiv").show();
    } else {
      $('.pageDiv').hide();
      $(".QuoteLevelDiv").hide();
    }
  })

  $(document).on('click', '.save', function () {
    var iProjectTypeId = $("#iProjectTypeId").val();
    var vName = $("#vName").val();
    var iPresident = $("#iPresident").val();
    var iPresidentMargin = $("#iPresidentMargin").val();
    var iVicePresident = $("#iVicePresident").val();
    var iVicePresidentMargin = $("#iVicePresidentMargin").val();
    var iSeniorManagement = $("#iSeniorManagement").val();
    var iSeniorManagementMargin = $("#iSeniorManagementMargin").val();
    var iSalesDirector = $("#iSalesDirector").val();
    var iSalesDirectorMargin = $("#iSalesDirectorMargin").val();
    var iDevelopment = $("#iDevelopment").val();
    var iSalesRepresentative = $("#iSalesRepresentative").val();
    var iBillableHours = $("#iBillableHours").val();
    var iMinPrice = $("#iMinPrice").val();
    //  var eIsRecurring = $("#eIsRecurring").val();
    var vQuote = $('input[name="vQuote"]:checked').val();

    var vError = false;

    if (iProjectTypeId.length == 0) {
      $("#iProjectTypeId_error").show();
      vError = true;
    } else {
      $("#iProjectTypeId_error").hide();
    }

    if (vName.length == 0) {
      $("#vName_error").show();
      vError = true;
    } else {
      $("#vName_error").hide();
    }

    //if (iPresident.length == 0 || iPresident > 100) {
    if (iPresident.length == 0) {
      $("#iPresident_error").show();
      vError = true;
    } else {
      $("#iPresident_error").hide();
    }

    if (iPresidentMargin.length == 0) {
      $("#iPresidentMargin_error").show();
      vError = true;
    } else {
      $("#iPresidentMargin_error").hide();
    }

    if (iVicePresident.length == 0) {
      $("#iVicePresident_error").show();
      vError = true;
    } else {
      $("#iVicePresident_error").hide();
    }

    if (iVicePresidentMargin.length == 0) {
      $("#iVicePresidentMargin_error").show();
      vError = true;
    } else {
      $("#iVicePresidentMargin_error").hide();
    }

    if (iSeniorManagement.length == 0) {
      $("#iSeniorManagement_error").show();
      vError = true;
    } else {
      $("#iSeniorManagement_error").hide();
    }

    if (iSeniorManagementMargin.length == 0) {
      $("#iSeniorManagementMargin_error").show();
      vError = true;
    } else {
      $("#iSeniorManagementMargin_error").hide();
    }

    if (iSalesDirector.length == 0) {
      $("#iSalesDirector_error").show();
      vError = true;
    } else {
      $("#iSalesDirector_error").hide();
    }

    if (iSalesDirectorMargin.length == 0) {
      $("#iSalesDirectorMargin_error").show();
      vError = true;
    } else {
      $("#iSalesDirectorMargin_error").hide();
    }

    if (iDevelopment.length == 0) {
      $("#iDevelopment_error").show();
      vError = true;
    } else {
      $("#iDevelopment_error").hide();
    }

    if (iSalesRepresentative.length == 0) {
      $("#iSalesRepresentative_error").show();
      vError = true;
    } else {
      $("#iSalesRepresentative_error").hide();
    }

    if (vQuote !== 'Quick Quote') {
      if (iBillableHours.length == 0) {
        $("#iBillableHours_error").show();
        vError = true;
      } else {
        $("#iBillableHours_error").hide();
      }

      if (iMinPrice.length == 0) {
        $("#iMinPrice_error").show();
        vError = true;
      } else {
        $("#iMinPrice_error").hide();
      }
    } else {
      $("#iBillableHours_error").hide();
      $("#iMinPrice_error").hide();
    }


    if (vQuote === 'Quick Quote') {
      var iQuoteId = $("#iQuoteId").val();
      if (iQuoteId.length == 0) {
        $('#iQuoteId_error').show();
      } else {
        $('#iQuoteId_error').hide();
      }
    }

    /* if (eIsRecurring.length == 0) {
       $("#eIsRecurring_error").show();
       vError = true;
     } else {
       $("#eIsRecurring_error").hide();
     } */


    if (vError == true) {
      return false;
    } else {
      $(".save").hide();
      $(".save_loader").show();
      setTimeout(function () {
        $(".addendum_form").submit();
        return true;
      }, 500);
    }
  });



</script>