<div class="_main_content">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="_1card">

                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <h2 class="today-event-title">Addendum List</h2>
                                </div>
                                <div class="col-sm-12 col-md-6" style="text-align: right;">
                                    <a href="javascript:;" id="delete_btn" class="medium-btn">Multi Delete</a>
                                    <a href="/addendum/add" class="medium-btn"><span>Add New</span></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="table_record" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" id="selectall" name="selectall" /></th>
                                            <th>Addendum Name</th>
                                            {{!-- <th>Project Type</th> --}}
                                            <th>President (%)</th>
                                            <th>President Margin (%)</th>
                                            <th>Vice President (%)</th>
                                            <th>Vice President Margin (%)</th>
                                            <th>Senior Management (%)</th>
                                            <th>Senior Management Margin (%)</th>
                                            <th>National Sales Director (%)</th>
                                            <th>National Sales Director Margin (%)</th>
                                            <th>National Sales Representative (%) </th>
                                            <th>Development</th>
                                            <th>Billable Hour Rate</th>
                                            <th>Minimum Price (%)</th>
                                            <th>IsRecurring</th>
                                            {{!-- <th>Status</th> --}}
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each AddendumData as |value key| }}
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="iAddendumId[]" id="iAddendumId_{{value._id}}" value="{{value._id}}"
                                                        class="checkboxall" />
                                                </td>
                                                <td>{{value.vName}}</td>
                                                {{!-- <td>{{value.iProjectTypeId.vTitle}}</td> --}}
                                                <td>{{#if value.iPresident}}{{#if_equal value.eType 'Doller'}}${{/if_equal}}{{value.iPresident}}{{#if_equal value.eType 'Percentage'}}%{{/if_equal}}{{/if}}</td>
                                                <td>{{#if value.iPresidentMargin}}{{#if_equal value.eType 'Doller'}}${{/if_equal}}{{value.iPresidentMargin}}{{#if_equal value.eType 'Percentage'}}%{{/if_equal}}{{/if}}</td>
                                                <td>{{#if value.iVicePresident}}{{#if_equal value.eType 'Doller'}}${{/if_equal}}{{value.iVicePresident}}{{#if_equal value.eType 'Percentage'}}%{{/if_equal}}{{/if}}</td>
                                                <td>{{#if value.iVicePresidentMargin}}{{#if_equal value.eType 'Doller'}}${{/if_equal}}{{value.iVicePresidentMargin}}{{#if_equal value.eType 'Percentage'}}%{{/if_equal}}{{/if}}</td>
                                                <td>{{#if value.iSeniorManagement}}{{#if_equal value.eType 'Doller'}}${{/if_equal}}{{value.iSeniorManagement}}{{#if_equal value.eType 'Percentage'}}%{{/if_equal}}{{/if}}</td>
                                                <td>{{#if value.iSeniorManagementMargin}}{{#if_equal value.eType 'Doller'}}${{/if_equal}}{{value.iSeniorManagementMargin}}{{#if_equal value.eType 'Percentage'}}%{{/if_equal}}{{/if}}</td>
                                                <td>{{#if value.iSalesDirector}}{{#if_equal value.eType 'Doller'}}${{/if_equal}}{{value.iSalesDirector}}{{#if_equal value.eType 'Percentage'}}%{{/if_equal}}{{/if}}</td>
                                                <td>{{#if value.iSalesDirectorMargin}}{{#if_equal value.eType 'Doller'}}${{/if_equal}}{{value.iSalesDirectorMargin}}{{#if_equal value.eType 'Percentage'}}%{{/if_equal}}{{/if}}</td>
                                                <td>{{#if value.iSalesRepresentative}}{{#if_equal value.eType 'Doller'}}${{/if_equal}}{{value.iSalesRepresentative}}{{#if_equal value.eType 'Percentage'}}%{{/if_equal}}{{/if}}</td>
                                                <td>{{#if value.iDevelopment}}{{#if_equal value.eType 'Doller'}}${{/if_equal}}{{value.iDevelopment}}{{#if_equal value.eType 'Percentage'}}%{{/if_equal}}{{/if}}</td>
                                                <td>{{#if value.iBillableHours}}{{#if_equal value.eType 'Doller'}}${{/if_equal}}{{value.iBillableHours}}{{#if_equal value.eType 'Percentage'}}%{{/if_equal}}{{/if}}</td>
                                                <td>{{#if value.iMinPrice}}{{#if_equal value.eType 'Doller'}}${{/if_equal}}{{value.iMinPrice}}{{#if_equal value.eType 'Percentage'}}%{{/if_equal}}{{/if}}</td>
                                                {{!-- <td>{{value.iDevelopment}}%</td> --}}
                                                <td class="text-center">
                                                    {{#if_equal value.eIsRecurring "Yes"}}
                                                        <span class="badge badge-success">{{value.eIsRecurring}}</span>
                                                    {{/if_equal}}
                                                    {{#if_equal value.eIsRecurring "No"}}
                                                        <span class="badge badge-warning">{{value.eIsRecurring}}</span>
                                                    {{/if_equal}}
                                                </td>
                                                <td class="text-center">
                                                    <div class="dropdown action-dropdown">
                                                        <button class="listing-dropdown dropdown-toggle" type="button" data-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23" viewBox="0 0 4.8 23">
                                                                <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                                                                    d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                                                                    transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                                                            </svg>
                                                        </button>
                                                        <div class="dropdown-menu w-100" style="will-change: transform;">
                                                            <a class="dropdown-item" href="/addendum/edit/{{value._id}}">Edit</a>
                                                            <a class="dropdown-item delete" href="javascript:;" data-id="{{value._id}}">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $("#selectall").click(function () {
        if (this.checked) {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', true);
            });
        } else {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', false);
            });
        }
    });

    $(document).ready(function () {
        var dataTable = $('#table_record').DataTable();
    });

    //Delete record
    function deleteRecord(iAddendumId, vAction) {
        $.ajax({
        url: "/addendum/delete",
        type: 'post',
        data: { vAction: vAction, iAddendumId: iAddendumId },
        success: function () {
            location.reload();
        }
        });
    }

    $(document).on('click', '.delete', function () {
        var iAddendumId = $(this).data('id');
        if (confirm('Are you sure to delete this record ?')) {
        deleteRecord(iAddendumId, "delete");
        }
    });

    $(document).on('click', '#delete_btn', function () {

        var id = [];
        $("input[name='iAddendumId[]']:checked").each(function () {
            id.push($(this).val());
        });
        var iAddendumId = id.join(",");
        if (iAddendumId.length == 0) {
            alert('Please select records.')
        } else {
            if (confirm('Are you sure delete this record?')) {
                deleteRecord(iAddendumId, "multiple_delete")
            }
        }
    });

</script>