<a class="medium-btn2 mb-4" href="/security">Go back</a>
<div class="row">
    <div class="col-lg-11 col-xl-8 mx-auto">
        <div class="_main_content">
            <div class="add-client-info-msg">
                <div class="icon">
                    <i class="fal fa-lightbulb"></i>
                </div>
                <div class="info-text">
                    <p class="info-alert-message">
                        Add new security question!
                    </p>
                </div>
            </div>
            <div class="_1card">
                <div class="_1card_body pt-2 profile-difrt-box">
                    <form action="/security/add_action" method="POST" class="frm" enctype="multipart/form-data">
                        <input type="hidden" value="{{ securityQuestionData._id }}" name="iSecurityQuestionId">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="ivu-form-item">
                                    <label class="ivu-form-item-label">Security Question</label>
                                    <div class="ivu-form-item-content">
                                        <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                            <input autocomplete="off" spellcheck="false" type="text"
                                                placeholder="Enter Security Question"
                                                class="ivu-input ivu-input-default" name="vQuestion" id="vQuestion"
                                                value="{{ securityQuestionData.vQuestion }}" />
                                            <div class="text-danger" id="vQuestion_error" style="display: none;">Please
                                                enter
                                                security question
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="ivu-form-item">
                                    <label class="ivu-form-item-label">Status</label>
                                    <div class="ivu-form-item-content">
                                        <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                            <select name="eStatus" id="eStatus" class="ivu-select-input">
                                                <option value="Active" {{#if_equal securityQuestionData.eStatus "Active"
                                                    }} selected {{/if_equal}}>Active</option>
                                                <option value="Inactive" {{#if_equal
                                                    securityQuestionData.eStatus "Inactive" }} selected {{/if_equal}}>
                                                    Inactive</option>
                                            </select>
                                            <div class="text-danger" id="eStatus_error" style="display: none;">Please
                                                enter
                                                status</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="footer-btns-group">

                        <button type="button" class="medium-btn save">
                            <span>Create</span>
                        </button>
                        <button class="medium-btn save_loader" style="display: none;">
                            <span>Please Wait...</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-loader spin mr-2 text-white">
                                <line x1="12" y1="2" x2="12" y2="6"></line>
                                <line x1="12" y1="18" x2="12" y2="22"></line>
                                <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                                <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                                <line x1="2" y1="12" x2="6" y2="12"></line>
                                <line x1="18" y1="12" x2="22" y2="12"></line>
                                <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                                <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                            </svg>
                        </button>
                        <button type="button" class="medium-btn2 cancel">
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '.cancel', function () {
        location.href = "/security";
    });

    $(document).on('click', '.save', function () {

        var vQuestion = $("#vQuestion").val();
        var eStatus = $("#eStatus").val();
        var vError = false;

        if (vQuestion.length == 0) {
            $("#vQuestion_error").show();
            vError = true;
        } else {
            $("#vQuestion_error").hide();
        }

        if (eStatus.length == 0) {
            $("#eStatus_error").show();
            vError = true;
        } else {
            $("#eStatus_error").hide();
        }

        if (vError == true) {
            return false;
        } else {
            $(".save").hide();
            $(".save_loader").show();
            setTimeout(function () {
                $(".frm").submit();
                return true;
            }, 500);
        }

    });
</script>