  <a class="medium-btn2 mb-4" href="/project">Go back</a>
<div class="row">
<div class="col-lg-11 col-xl-8 mx-auto">
<div class="_main_content">
    <div class="add-client-info-msg">
        <div class="icon">
            <i class="fal fa-lightbulb"></i>
        </div>
        <div class="info-text">
            <p class="info-alert-message">
                Add new project!
            </p>
        </div>
    </div>
    <div class="_1card">
        <div class="_1card_body pt-2 profile-difrt-box">
            <form action="/project/add_action" method="POST" class="project_form" enctype="multipart/form-data">
                <input type="hidden" value="{{ projectData._id }}" name="iProjectId">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Client Name</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select class="ivu-input ivu-input-default" name="iClientUserId" id="iClientUserId">
                                        <option value="">Select Client</option>
                                        {{#each clientData as |value key| }}
                                        <option value="{{ value.iUserID }}" {{ isSelected value.iUserID
                                            ../projectData.iClientUserId }}>{{ value.vFirstName }} {{ value.vLastName }}
                                        </option>
                                        {{/each}}
                                    </select>
                                    <div class="text-danger" id="iClientUserId_error" style="display: none;">Please enter
                                        Client Name
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Project Name</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="text"
                                        placeholder="Enter Project Name" class="ivu-input ivu-input-default"
                                        name="vProject" id="vProject" value="{{ projectData.vProject }}" />
                                    <div class="text-danger" id="vProject_error" style="display: none;">Please enter
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Project Description</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="textarea"
                                        placeholder="Enter Project Description" class="ivu-input ivu-input-default"
                                        name="vDescription" id="vDescription" value="{{ projectData.vDescription }}" />
                                    <div class="text-danger" id="vDescription_error" style="display: none;">Please enter
                                        Project Description
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">ProjectType</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select name="iProjectTypeId" id="iProjectTypeId" class="ivu-select-input">
                                        {{#each projectTypeData as |value key| }}
                                        <option value="{{ value._id }}" {{ isSelected value._id
                                            ../projectData.iProjectTypeId }}>{{
                                            value.vTitle }}</option>
                                        {{/each}}
                                    </select>
                                    <div class="text-danger" id="iProjectTypeId_error" style="display: none;">Please
                                        select Project Type</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Attachment</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="file"
                                        placeholder="Enter Project Description" class="ivu-input ivu-input-default"
                                        name="vAttachment" id="vAttachment" value="{{ projectData.vAttachment }}" />
                                    {{#if projectData.vAttachment}}
                                    <label class="ivu-form-item-label">{{projectData.vAttachment}}</label>
                                    {{/if}}
                                    <div class="text-danger" id="vAttachment_error" style="display: none;">Please enter
                                        Project Description
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <div style="text-align: center;">

                <button type="button" class="medium-btn save">
                    <span>Create</span>
                </button>
                <button class="medium-btn save_loader" style="display: none;">
                    <span>Please Wait...</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-loader spin mr-2 text-white">
                        <line x1="12" y1="2" x2="12" y2="6"></line>
                        <line x1="12" y1="18" x2="12" y2="22"></line>
                        <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                        <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                        <line x1="2" y1="12" x2="6" y2="12"></line>
                        <line x1="18" y1="12" x2="22" y2="12"></line>
                        <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                        <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>
                </button>
                                <button type="button" class="medium-btn2 cancel">
                    <span>Close</span>
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script type="text/javascript">
    $(document).on('click', '.cancel', function () {
        location.href = "/project";
    });

    $(document).on('click', '.save', function () {

        var iClientUserId = $("#iClientUserId").val();
        var vProject = $("#vProject").val();
        var vDescription = $("#vDescription").val();
        var iProjectTypeId = $("#iProjectTypeId").val();
        var vError = false;

        if (iClientUserId.length == 0) {
            $("#iClientUserId_error").show();
            vError = true;
        } else {
            $("#iClientUserId_error").hide();
        }

        if (vProject.length == 0) {
            $("#vProject_error").show();
            vError = true;
        } else {
            $("#vProject_error").hide();
        }

        if (vDescription.length == 0) {
            $("#vDescription_error").show();
            vError = true;
        } else {
            $("#vDescription_error").hide();
        }

        if (iProjectTypeId.length == 0) {
            $("#iProjectTypeId_error").show();
            vError = true;
        } else {
            $("#iProjectTypeId_error").hide();
        }

        if (vError == true) {
            return false;
        } else {
            $(".save").hide();
            $(".save_loader").show();
            setTimeout(function () {
                $(".project_form").submit();
                return true;
            }, 500);
        }

    });
</script>