
  <a class="medium-btn2 mb-4" href="/project">Go back</a>
<div class="row">
<div class="col-lg-11 col-xl-8 mx-auto">
    <div class="_main_content">
    <div class="add-client-info-msg">
        <div class="icon">
            <i class="fal fa-lightbulb"></i>
        </div>
        <div class="info-text">
            <p class="info-alert-message">
                Add project prices!
            </p>
            <span class="info-alert-desc">You can add project price from here.</span>
        </div>
    </div>
    <div class="_1card">
        <div class="_1card_body pt-2 profile-difrt-box">
            <form action="/project/amount_action" method="POST" class="project_amount_form"
                enctype="multipart/form-data">
                <input type="hidden" value="{{ projectData._id }}" name="iProjectId">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Client Name</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select class="ivu-input ivu-input-default select2" name="iClientUserId"
                                        id="iClientUserId">
                                        <option value="">Select Client</option>
                                        {{#each clientData as |value key| }}
                                            <option value="{{ value.iUserID }}" {{ isSelected value.iUserID
                                                ../projectData.iClientUserId }}>{{value.iUserID}}:
                                                {{ value.vFirstName }} {{
                                            value.vLastName }}
                                            </option>
                                        {{/each}}
                                    </select>
                                    <div class="text-danger" id="iClientUserId_error" style="display: none;">Please
                                        enter
                                        client name
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">ProjectType</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select class="ivu-input ivu-input-default" name="iProjectTypeId"
                                        id="iProjectTypeId">
                                        <option value="">Select ProjectType</option>
                                        {{#each projectTypeData as |value key| }}
                                            <option value="{{ value._id }}" {{ isSelected value._id
                                                ../projectData.iProjectTypeId }}>{{value.vTitle}}
                                            </option>
                                        {{/each}}
                                    </select>
                                    <div class="text-danger" id="iProjectTypeId_error" style="display: none;">Please
                                        enter
                                        ProjectType
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Tech Hours</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="number"
                                        placeholder="Enter Project Tech Hours" class="ivu-input ivu-input-default"
                                        name="iTechHour" id="iTechHour" value="{{ projectData.iTechHour }}" min="0" />
                                    <div class="text-danger" id="iTechHour_error" style="display: none;">Please enter
                                        project tech hours
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Tech Price</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="number"
                                        placeholder="Project Tech Price" class="ivu-input ivu-input-default"
                                        name="iTechPrice" id="iTechPrice" value="{{ projectData.iTechPrice }}" min="1"
                                        readonly />
                                    <div class="text-danger" id="iTechPrice_error" style="display: none;">Please enter
                                        project tech price
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Minimum Price</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="number"
                                        placeholder="Enter Project Minimum Price" class="ivu-input ivu-input-default"
                                        name="iMinimumPrice" id="iMinimumPrice" value="{{ projectData.iMinimumPrice }}"
                                        min="1" readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Sales Price</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="number"
                                        placeholder="Project Sales Price" class="ivu-input ivu-input-default"
                                        name="iSalesPrice" id="iSalesPrice" value="{{ projectData.iSalesPrice }}"
                                        readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Project Start Date</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="text"
                                        class="ivu-input ivu-input-default datepicker" name="dtProjectStartDate"
                                        id="dtProjectStartDate" value="{{ projectData.dtProjectStartDate }}"
                                        pattern="\d{4}-\d{2}-\d{2}" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Project Expected Deadline</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="text"
                                        class="ivu-input ivu-input-default datepicker" name="dtDeadlineDate"
                                        id="dtDeadlineDate" value="{{ projectData.dtDeadlineDate }}" />
                                    <div class="text-danger" id="dtDeadlineDate_error" style="display: none;">Please
                                        enter
                                        project expected deadline
                                    </div>
                                    <div class="text-danger" id="valid_dtDeadlineDate_error" style="display: none;">
                                        Please enter
                                        greater then project start date
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <div class="footer-btns-group">
                <button type="button" class="medium-btn save">
                    <span>Create</span>
                </button>
                <button class="medium-btn save_loader" style="display: none;">
                    <span>Please Wait...</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-loader spin mr-2 text-white">
                        <line x1="12" y1="2" x2="12" y2="6"></line>
                        <line x1="12" y1="18" x2="12" y2="22"></line>
                        <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                        <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                        <line x1="2" y1="12" x2="6" y2="12"></line>
                        <line x1="18" y1="12" x2="22" y2="12"></line>
                        <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                        <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>
                </button>
                    <button type="button" class="medium-btn2 cancel">
                    <span>Close</span>
                </button>
            </div>
        </div>
    </div>
    </div>

</div>
</div>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

<script type="text/javascript">
    $('#iClientUserId').select2({
        placeholder: 'select Client',
        allowClear: true
    });

    $(function () {
        $(".datepicker").datepicker({
            dateFormat: "mm/dd/yy"
        });
    });

    $('.timepicker').timepicker({
        timeFormat: 'HH:mm',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });

</script>
<script type="text/javascript">
    $(document).on('click', '.cancel', function () {
        location.href = "/project";
    });

    $(document).on("keyup", "#iTechHour", function () {
        //var iTechPrice = $(this).val();
        //var iMinimumPrice = (iTechPrice)/(addendumPer/100)

        var BillableHourRate = "{{addendumData.iBillableHours}}";
        var addendumMinimumPer = "{{addendumData.iMinPrice}}";
        var iTechHour = $(this).val();
        var iMinimumPrice = (iTechHour * BillableHourRate) / addendumMinimumPer;
        $('#iMinimumPrice').val(iMinimumPrice.toFixed(2));
    })

    /* $(document).ready(function(){
         var iSalesPrice = "{{ projectData.iSalesPrice }}";
         if(iSalesPrice){
             $('#iTechPrice').attr("readonly",true);
           //  $('.save').hide();
         }
     }) */

    $(document).on('click', '.save', function () {

        var iClientUserId = $("#iClientUserId").val();
        var iProjectTypeId = $("#iProjectTypeId").val();
        // var iTechPrice = $("#iTechPrice").val();
        var dtDeadlineDate = $("#dtDeadlineDate").val();
        var iTechHour = $("#iTechHour").val();
        var vError = false;

        if (iClientUserId.length == 0) {
            $("#iClientUserId_error").show();
            vError = true;
        } else {
            $("#iClientUserId_error").hide();
        }

        if (iProjectTypeId.length == 0) {
            $("#iProjectTypeId_error").show();
            vError = true;
        } else {
            $("#iProjectTypeId_error").hide();
        }

        /* if (iTechPrice.length == 0) {
             $("#iTechPrice_error").show();
             vError = true;
         } else {
             $("#iTechPrice_error").hide();
         } */

        if (dtDeadlineDate.length == 0) {
            $("#dtDeadlineDate_error").show();
            vError = true;
        } else {
            $("#dtDeadlineDate_error").hide();
        }

        if (iTechHour.length == 0) {
            $("#iTechHour_error").show();
            vError = true;
        } else {
            $("#iTechHour_error").hide();
        }

        if (vError == true) {
            return false;
        } else {
            $(".save").hide();
            $(".save_loader").show();
            setTimeout(function () {
                $(".project_amount_form").submit();
                return true;
            }, 500);
        }

    });
</script>