<div class="layout-px-spacing _main_layout">

 <h2 class="today-event-title mb-4">{{projectTeam.iProjectId.vProject}}</h2>
  <div class="row">

    <div class="col-12 col-md-12 col-lg-12">

      <div class="_1card">
        <div class="_1card_top p-0">
          <div class="_1card_top_left">
            <h2 class="today-event-title">Project Manager</h2>
            </div>
        </div>

        <div class="_1card_body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>{{projectTeam.iProjectManagerId.vFirstName}} {{projectTeam.iProjectManagerId.vLastName}}</td>
                    <td>{{projectTeam.iProjectManagerId.vEmail}}</td>
                    <td>{{projectTeam.iProjectManagerId.vPhone}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12">
      <div class="_1card">
        <div class="_1card_top p-0">
          <div class="_1card_top_left">
            <h2 class="today-event-title">Team Members List</h2>
            </div>
        </div>

        <div class="_1card_body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Email</th>
                  <th>Phone</th>
                </tr>
              </thead>
              <tbody>
                  {{#each projectTeam.DeveloperId as |value key|}}
                  <tr>
                    <td>{{value.vFirstName}} {{value.vLastName}}</td>
                    <td>{{value.iDeveloperTypeId.vTitle}} </td>
                    <td>{{value.vEmail}}</td>
                    <td>{{value.vPhone}}</td>
                    </tr>
                  {{/each}}
                 {{#if_count projectTeam.DeveloperId}}
                    {{else}}
                    <tr class="text-center">
                        <td colspan="3">No Record Found</td>
                    </tr>
                  {{/if_count}}
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
