<style>
    .dropzone {
        min-height: 150px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        background: white;
        padding: 20px 20px;
    }
</style>



<div class="product-detail-page">
    <a href="/project" class="medium-btn2 mb-4">Go back</a>
    <div class="row">
        <div class="col-lg-12 col-xl-10 mx-auto">
            <div class="product-detail-box">
                <div class="product-tab-list">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-project-tab" data-toggle="pill"
                                data-target="#pills-project" type="button" role="tab" aria-controls="pills-project"
                                aria-selected="true">Project# </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-document-tab" data-toggle="pill"
                                data-target="#pills-document" type="button" role="tab" aria-controls="pills-document"
                                aria-selected="false">Document</button>
                        </li>
                        {{!-- <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-chat-tab" data-toggle="pill" data-target="#pills-chat"
                                type="button" role="tab" aria-controls="pills-chat" aria-selected="false"> Chat
                            </button>
                        </li> --}}
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-project" role="tabpanel"
                            aria-labelledby="pills-project-tab">
                            <p class="profile-sub-text">Project Name</p>
                            <p class="worked-changes-text">project #1</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="project-list-box">
                                        <p class="profile-sub-text">Client Name</p>
                                        <div class="project-user-list">
                                            <div class="project-user-pic">
                                                <img src="https://assets.hombolt.com/assets/user/1676551601380.png">
                                            </div>
                                            <p class="worked-changes-text">Client
                                                Demo
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="project-list-box">
                                        <p class="profile-sub-text">Agent Name</p>
                                        <div class="project-user-list">
                                            <div class="project-user-pic">
                                                <img src="https://assets.hombolt.com/assets/agent/1676551580897.png">
                                            </div>
                                            <p class="worked-changes-text">Agent
                                                Demo
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="project-list-box">
                                        <p class="profile-sub-text">Project Manager</p>
                                        <div class="project-user-list">
                                            -
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-condensed mb-3">
                                    <thead>
                                        <tr align="center">
                                            <th>Project Type</th>
                                            <th>Project Status</th>
                                            <th>Est. Completion Date</th>
                                        </tr>
                                        <tr>
                                            <td>Search Engine Optimization (SEO)</td>
                                            <td class="project-active">
                                                <p>Approve</p>
                                            </td>
                                            <td>200 Hour</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="project-price-section">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-condensed mb-3">
                                        <thead>
                                            <tr align="center">
                                                <th>Project price</th>
                                                <th>Payment option</th>
                                                <th>Created date</th>
                                                <th>Contract date</th>
                                                <th>Start date</th>
                                            </tr>
                                            <tr>
                                                <td>$150.00</td>
                                                <td>SemiAnnual</td>
                                                <td>03/14/2023</td>
                                                <td>03/01/2023</td>
                                                <td>
                                                    03/02/2023
                                                </td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-3">
                                        <div class="project-price-box ">
                                            <p class="profile-sub-text">1 Payment</p>
                                            <p class="profile-sub-text mt-1">
                                                03/02/2023
                                            </p>
                                            <p class="worked-changes-text">$150.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-document" role="tabpanel"
                            aria-labelledby="pills-document-tab">
                            <div class="dashboard-form-group">
                                <label class="dash-form-label">Attachment</label>
                                <div class="dropzone text-center dz-clickable" id="my-dropzone" name="mainFileUploader">

                                    <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
                                        <path
                                            d="M12.5 40q-4.3 0-7.4-3.1Q2 33.8 2 29.5q0-3.9 2.475-6.875t6.375-3.575q1-4.85 4.7-7.925T24.1 8.05q5.65 0 9.475 4.075Q37.4 16.2 37.4 21.9v1.2q3.6-.1 6.1 2.325Q46 27.85 46 31.55q0 3.45-2.5 5.95T37.55 40H25.5q-1.2 0-2.1-.9-.9-.9-.9-2.1V24.1l-4.15 4.15-2.15-2.15 7.8-7.8 7.8 7.8-2.15 2.15-4.15-4.15V37h12.05q2.25 0 3.85-1.6t1.6-3.85q0-2.25-1.6-3.85t-3.85-1.6H34.4v-4.2q0-4.45-3.025-7.65t-7.475-3.2q-4.45 0-7.5 3.2t-3.05 7.65h-.95q-3.1 0-5.25 2.175T5 29.45q0 3.1 2.2 5.325T12.5 37h7v3ZM24 25.5Z">
                                        </path>
                                    </svg>
                                    <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                                </div>
                            </div>
                            <div class="footer-btns-group">
                                <a href="javascript:;" class="medium-btn save_btnn postbtn">Upload</a>
                                <a href="javascript:;" class="medium-btn save_loader mr-2" style="display: none;">
                                    <span>Please Wait...</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-loader spin mr-2 text-white">
                                        <line x1="12" y1="2" x2="12" y2="6"></line>
                                        <line x1="12" y1="18" x2="12" y2="22"></line>
                                        <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                                        <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                                        <line x1="2" y1="12" x2="6" y2="12"></line>
                                        <line x1="18" y1="12" x2="22" y2="12"></line>
                                        <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                                        <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                                    </svg>
                                </a>
                                <a href="javascript:;" class="medium-btn submit mr-2" style="display: none;">Submit</a>
                            </div>
                            <h2 class="today-event-title mb-0 mt-3">All documents</h2>
                            <div class="row">
                                <div class="col-md-6" id="deleteDiv641b0818a50388b504c05715">
                                    <div class="upload-file-box">
                                        <div>
                                            <a class="worked-changes-text" href="javascript:;">1679493144278.jpeg</a>
                                            <div>03/22/2023 13:52:24</div>
                                        </div>
                                        <div class="document-btn-list">
                                            <a class="inner-btn"
                                                href="https://assets.hombolt.com/assets/project/1679493144278.jpeg"
                                                target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="15"
                                                    viewBox="0 0 22 15">
                                                    <path id="visibility_FILL0_wght400_GRAD0_opsz48"
                                                        d="M13,19.75a4.225,4.225,0,0,0,4.25-4.25A4.225,4.225,0,0,0,13,11.25,4.225,4.225,0,0,0,8.75,15.5,4.225,4.225,0,0,0,13,19.75Zm0-1.45a2.811,2.811,0,0,1-1.988-4.788,2.837,2.837,0,0,1,3.975,0A2.8,2.8,0,0,1,13,18.3ZM13,23a11.2,11.2,0,0,1-6.6-2.075A12.641,12.641,0,0,1,2,15.5a12.641,12.641,0,0,1,4.4-5.425A11.2,11.2,0,0,1,13,8a11.2,11.2,0,0,1,6.6,2.075A12.641,12.641,0,0,1,24,15.5a12.641,12.641,0,0,1-4.4,5.425A11.2,11.2,0,0,1,13,23ZM13,15.5Zm0,6a10.053,10.053,0,0,0,5.563-1.638A10.626,10.626,0,0,0,22.425,15.5a10.626,10.626,0,0,0-3.862-4.362,10.267,10.267,0,0,0-11.125,0A10.8,10.8,0,0,0,3.55,15.5a10.8,10.8,0,0,0,3.888,4.363A10.053,10.053,0,0,0,13,21.5Z"
                                                        transform="translate(-2 -8)" fill="#8d99ae"></path>
                                                </svg>
                                            </a>
                                            <a class="inner-btn download-icon"
                                                href="https://assets.hombolt.com/assets/project/1679493144278.jpeg"
                                                download="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="11.708" height="11.708"
                                                    viewBox="0 0 11.708 11.708">
                                                    <g id="Icon_feather-download" data-name="Icon feather-download"
                                                        transform="translate(-4 -4)">
                                                        <path id="Path_116" data-name="Path 116"
                                                            d="M15.208,22.5v2.38a1.19,1.19,0,0,1-1.19,1.19H5.69A1.19,1.19,0,0,1,4.5,24.88V22.5"
                                                            transform="translate(0 -10.861)" fill="none"
                                                            stroke="#8d99ae" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="1"></path>
                                                        <path id="Path_117" data-name="Path 117"
                                                            d="M10.5,15l2.974,2.974L16.449,15"
                                                            transform="translate(-3.62 -6.336)" fill="none"
                                                            stroke="#8d99ae" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="1"></path>
                                                        <path id="Path_118" data-name="Path 118" d="M18,11.639V4.5"
                                                            transform="translate(-8.146)" fill="none" stroke="#8d99ae"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            stroke-width="1">
                                                        </path>
                                                    </g>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-Team" role="tabpanel" aria-labelledby="pills-Team-tab">
                            Lorem ipsum
                            dolor sit amet, consectetur adipiscing elit. Aliquam maximus risus nunc, sit amet vulputate
                            orci iaculis
                            quis. Mauris vitae risus maximus, auctor metus eu, scelerisque mauris. </div>
                        {{!-- <div class="tab-pane fade" id="pills-chat" role="tabpanel"
                            aria-labelledby="pills-chat-tab">
                            <div class="row">
                                <div class="col-lg-12 project-view-chat">
                                    <div class="chatnew-right-box">
                                        <div class="all-massage-view pt-0">
                                            <p class="event-small-font text-center">16 jan, 2023</p>
                                            <div class="replyed-massage">
                                                <div class="replyed-chat-view-profile"><img
                                                        src="../../assets/img/videocall-img4.png" alt="profile"></div>
                                                <div class="">
                                                    <p class="replyed-user-name">John Doe</p>
                                                    <div class="chat-massage-box">
                                                        <p class="chat-massage-text">Hello</p>
                                                    </div>
                                                    <p class="user-small-text pt-2">11:08 AM</p>
                                                </div>
                                            </div>
                                            <div class="sendd-massage">
                                                <div>
                                                    <p class="sendd-user-name">John Doe</p>
                                                    <div class="send-massage-box">
                                                        <p class="chat-massage-text"> Lorem ipsum dolor sit amet,
                                                            consectetur adipiscing elit.
                                                            Aliquam fringilla aliquam risus. Etiam at ex iaculis,
                                                            blandit nibh nec, feugiat urna.
                                                            Nulla mi lorem, viverra nec massa a, maximus varius ex.
                                                            Donec ornare felis in fermentum
                                                            cursus. Integer non rhoncus lectus. Vivamus in ultricies
                                                            ante. Maecenas mollis leo
                                                            risus, quis elementum erat gravida in. </p>
                                                    </div>
                                                    <p class="user-small-text pt-2">11:09 AM</p>
                                                </div>
                                            </div>
                                            <div class="replyed-massage">
                                                <div class="replyed-chat-view-profile">JD</div>
                                                <div>
                                                    <p class="replyed-user-name">John Doe</p>
                                                    <div class="chat-massage-box">
                                                        <p class="chat-massage-text">Hello</p>
                                                        <img src="../../assets/img/videocall-img4.png"
                                                            class="chat-massage-gallery">
                                                    </div>
                                                    <p class="user-small-text pt-2">11:08 AM</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chat-type-box p-0">
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control" id="vMessage"
                                                    placeholder="Message">
                                                <div class="text-type-icon">
                                                    <a class="emogi-icon" href="javascript:;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                            viewBox="0 0 15 15">
                                                            <path id="sentiment_satisfied_FILL0_wght400_GRAD0_opsz48"
                                                                d="M14.237,10.506a.964.964,0,0,0,.722-.3,1.014,1.014,0,0,0-1.434-1.434,1.017,1.017,0,0,0,.712,1.734Zm-5.475,0a.964.964,0,0,0,.722-.3A1.014,1.014,0,0,0,8.05,8.772a1.017,1.017,0,0,0,.712,1.734Zm2.738,5.1a4.144,4.144,0,0,0,2.278-.666,3.817,3.817,0,0,0,1.509-1.809h-.975a2.952,2.952,0,0,1-1.181,1.153,3.354,3.354,0,0,1-1.613.4,3.512,3.512,0,0,1-1.641-.394,2.732,2.732,0,0,1-1.172-1.162H7.713a3.945,3.945,0,0,0,1.519,1.809A4.1,4.1,0,0,0,11.5,15.606ZM11.5,19a7.3,7.3,0,0,1-2.925-.591,7.488,7.488,0,0,1-3.984-3.984,7.538,7.538,0,0,1,0-5.85A7.488,7.488,0,0,1,8.575,4.591a7.538,7.538,0,0,1,5.85,0,7.488,7.488,0,0,1,3.984,3.984,7.538,7.538,0,0,1,0,5.85,7.488,7.488,0,0,1-3.984,3.984A7.3,7.3,0,0,1,11.5,19ZM11.5,11.5Zm0,6.375A6.338,6.338,0,0,0,17.875,11.5,6.338,6.338,0,0,0,11.5,5.125,6.338,6.338,0,0,0,5.125,11.5,6.338,6.338,0,0,0,11.5,17.875Z"
                                                                transform="translate(-4 -4)" fill="#8d99ae"></path>
                                                        </svg>
                                                    </a>
                                                    <a class="drive-icon" href="javascript:;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="18.75"
                                                            height="15" viewBox="0 0 18.75 15">
                                                            <path id="drive_folder_upload_FILL0_wght400_GRAD0_opsz48"
                                                                d="M12.7,20.187H14.1v-4.8l1.734,1.734.984-.984L13.4,12.711,9.98,16.133l.984.984L12.7,15.383ZM5.456,23a1.332,1.332,0,0,1-.984-.434,1.362,1.362,0,0,1-.422-.973V9.406a1.362,1.362,0,0,1,.422-.973A1.332,1.332,0,0,1,5.456,8h6.562l1.406,1.406h7.969A1.488,1.488,0,0,1,22.8,10.812V21.594A1.488,1.488,0,0,1,21.394,23Zm0-13.594V21.594H21.394V10.812H12.839L11.433,9.406Zm0,0v0Z"
                                                                transform="translate(-4.05 -8)" fill="#8d99ae"></path>
                                                        </svg>
                                                    </a>
                                                    <a class="chat-next-icon" href="javascript:;" id="sendMessage">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15"
                                                            viewBox="0 0 20 15">
                                                            <path id="arrow_right_alt_FILL0_wght400_GRAD0_opsz48"
                                                                d="M20.512,26.85,19.17,25.54,24.412,20.3H8V18.43H24.412l-5.273-5.27,1.342-1.31L28,19.366Z"
                                                                transform="translate(-8 -11.85)" fill="#8d99ae"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





















<div class="_main_content d-none">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="_1card">
                <div class="_1card_top p-0">
                    <div class="_1card_top_left">
                        <h2 class="today-event-title">Project Details</h2>
                    </div>
                    <div class="_1card_top_right">
                        <button class="medium-btn2 back">Back</button>
                    </div>
                </div>

                <div class="_1card_body">
                    <ul class="_project_details_list _mar_b30">
                        <li><span>Project Name:</span>
                            <p>
                                {{projectData.vProject}}
                            </p>
                        </li>
                        <li><span>Project Type:</span>
                            <p>
                                {{projectData.iProjectTypeId.vTitle}}
                            </p>
                        </li>
                        <li><span>Client Name:</span>
                            <p>
                                {{projectData.ClientUserId.iUserID}} - {{projectData.ClientUserId.vFirstName}}
                                {{projectData.ClientUserId.vLastName}}
                            </p>
                        </li>
                        <li><span>Tech Price:</span>
                            <p>{{projectData.iTechPrice}}</p>
                        </li>
                        {{!-- <li><span>Client Price:</span>
                            <p>: $695.41</p>
                        </li> --}}
                        <li><span>Sales Price:</span>
                            <p>{{projectData.iSalesPrice}}</p>
                        </li>
                        <li><span>Started at:</span>
                            <p>{{projectData.dtProjectStartDate}}</p>
                        </li>
                        <li><span>Status:</span>
                            <p>{{projectData.eStatus}}</p>
                        </li>
                        <li><span>Payment Phase:</span>
                            <p>{{projectData.ePaymentPhases}} </p>
                        </li>
                        <li><span>All documents:</span>
                            <p>

                            <ul class="view-action-imgs">
                                {{#each projectAttachmentData as |value key| }}
                                <li>
                                    <div class="img-wrapper-doc">
                                        <img src="/assets/img/images.jpeg" alt="">
                                        <div class="action-img">
                                            <a href="{{value.vAttachment}}" target="_blank"><i
                                                    class="far fa-eye"></i></a>
                                            <a href="{{value.vAttachment}}" download target="_blank"><i
                                                    class="fal fa-download"></i></a>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>


                            </p>
                        </li>
                    </ul>
                    <div class="payment-method-option">
                        <div class="row">
                            {{#each projectPaymentData as |value key| }}
                            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12 mb-4">
                                <div
                                    class="card {{#if_equal value.ePaymentStatus 'succeeded'}}select-card{{/if_equal}}">
                                    <div class="card-body">
                                        <div class="box-payment">
                                            <label>Payment Deposit</label>
                                            <input class="ivu-input" disabled type="text"
                                                value="$ {{ value.iSalesPrice }}">
                                        </div>
                                        <div class="box-payment">
                                            <label>Due Date</label>
                                            <input class="ivu-input" disabled type="date"
                                                value="{{ value.dtPaymentDate }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <ul>

                </div>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $(document).on("click", ".back", function () {
        location.href = "/project";
    });

</script>