<div class="col-12 col-md-12 col-lg-12">
  <div class="_1card">

    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h2 class="today-event-title">Accountability</h2>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table id="table_record" class="table table-bordered">
            <thead>
              <tr>
                <th>Agent</th>
                <th>Week</th>
                <th>Date</th>
                <th>Contacts</th>
                <th>interviews</th>
                <th>New client onboards</th>
                <th>Sales</th>
              </tr>
            </thead>
            <tbody>
              {{#each accountabilityData as |value key| }}
                <tr>
                  <td>{{value.agentId.iUserID}} -{{value.agentId.vFirstName}} {{value.agentId.vLastName}}</td>
                  <td>{{value.vWeek}}</td>
                  <td>{{value.dtAddedDate}}</td>
                  <td>{{value.vContact}}</td>
                  <td>{{value.vInterview}}</td>
                  <td>{{value.vClient}}</td>
                  <td>{{value.vSales}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function () {
    var dataTable = $('#table_record').DataTable();
  });

</script>