<div class="col-lg-11 col-xl-8 mx-auto">
  <div class="_main_content">
    {{!-- <div class="add-client-info-msg">
    <div class="icon">
      <i class="fal fa-lightbulb"></i>
    </div>
    <div class="info-text">
      <p class="info-alert-message">
        Email Setting
      </p>
    </div>
  </div> --}}
    <div class="_1card">
      <div class="_1card_body pt-2 profile-difrt-box">
        <form class="frm" method="POST" action="/email-setting/add_action" enctype="multipart/form-data">
          <input type="hidden" name="iEmailSettingId" value="{{emailData._id}}">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Mailer</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Mailer"
                      class="ivu-input ivu-input-default" name="vMailer" id="vMailer" value="{{ emailData.vMailer }}" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Host</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Host"
                      class="ivu-input ivu-input-default" name="vHost" id="vHost" value="{{ emailData.vHost }}" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Port</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Port"
                      class="ivu-input ivu-input-default" name="vPort" id="vPort" value="{{ emailData.vPort }}" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Username</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Username"
                      class="ivu-input ivu-input-default" name="vUsername" id="vUsername"
                      value="{{ emailData.vUsername }}" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Password</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Password"
                      class="ivu-input ivu-input-default" name="vPassword" id="vPassword"
                      value="{{ emailData.vPassword }}" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Encryption</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Encryption"
                      class="ivu-input ivu-input-default" name="vEncryption" id="vEncryption"
                      value="{{ emailData.vEncryption }}" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">From Address</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter From Address"
                      class="ivu-input ivu-input-default" name="vFromAddress" id="vFromAddress"
                      value="{{ emailData.vFromAddress }}" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">From Name</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter From Name"
                      class="ivu-input ivu-input-default" name="vFromName" id="vFromName"
                      value="{{ emailData.vFromName }}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="footer-btns-group">
          <button type="button" class="medium-btn save">
            <span>Save</span>
          </button>
          <button class="medium-btn save_loader" style="display: none;">
            <span>Please Wait...</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-loader spin mr-2 text-white">
              <line x1="12" y1="2" x2="12" y2="6"></line>
              <line x1="12" y1="18" x2="12" y2="22"></line>
              <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
              <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
              <line x1="2" y1="12" x2="6" y2="12"></line>
              <line x1="18" y1="12" x2="22" y2="12"></line>
              <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
              <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
            </svg>
          </button>
          <button class="medium-btn ml-2" data-toggle="modal" data-target="#sendTestEmail">Send test email</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="sendTestEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Send test email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/email-setting/test_email_action" method="post" id="sendForTestForm">
        <div class="modal-body">
          <input type="hidden" name="idd" value="{{emailData._id}}">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Enter your email</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter your email"
                    class="ivu-input ivu-input-default" name="vTestEmail" id="vTestEmail" />
                  <div class="text-danger" id="vTestEmail_error" style="display: none;">Please enter your email.</div>
                  <div class="text-danger" id="vTestEmail_valid_error" style="display: none;">Please enter valid email.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer justify-content-start">
        <a href="javascript:;" id="sendTestEmailForm" class="ivu-btn btn-primary">Send</a>
        <a href="javascript:;" class="ivu-btn ivu-btn-secondary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).on('click', '.save', function () {
    $(".save").hide();
    $(".save_loader").show();
    setTimeout(function () {
      $(".frm").submit();
      return true;
    }, 500);
  });

  $(document).on('click', '#sendTestEmailForm', function () {

    var vTestEmail = $("#vTestEmail").val();
    var vError = false;
    var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

    if (vTestEmail.length == 0) {
      $("#vTestEmail_error").show();
      vError = true;
    } else {
      $("#vTestEmail_error").hide();
      if (!filter.test(vTestEmail)) {
        $("#vTestEmail_valid_error").show();
        vError = true;
      } else {
        $("#vTestEmail_valid_error").hide();
      }
    }

    if (vError == true) {
      return false;
    } else {
      $("#sendTestEmailForm").hide();
      setTimeout(function () {
        $("#sendForTestForm").submit();
        return true;
      }, 500);
    }

  });

</script>