<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="dash-box" style="background-image: url('.../../..//assets/img/dash-card-img.png');">
                    <p class="dash-box-text">Total Agent</p>
                    <p class="dash-box-aam">8</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="dash-box" style="background-image: url('.../../..//assets/img/dash-card-img-2.png');">
                    <p class="dash-box-text">Total Client</p>
                    <p class="dash-box-aam">13</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="dash-box" style="background-image: url('.../../..//assets/img/dash-card-img-4.png');">
                    <p class="dash-box-text">Projects completed</p>
                    <p class="dash-box-aam">10</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="dash-box" style="background-image: url('.../../..//assets/img/dash-card-img-5.png');">
                    <p class="dash-box-text">Projects inprogress</p>
                    <p class="dash-box-aam">12</p>
                </div>
            </div>

        </div>

        <div class="_1card_body pl-0 pr-0 pb-0">
            <div class="today-event-header p-0 mb-3">
                <h2 class="today-event-title">Project Listing</h2>
                <a class="view-all-btn" href="/project">View All</a>
            </div>
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>Project name</th>
                            <th>Project id</th>
                            <th>Project amount</th>
                            <th>Date of generate</th>
                            <th>Project status</th>
                            <th>Payment status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Software hosting</td>
                            <td>1234567890</td>
                            <td>500</td>
                            <td>20-2-23</td>
                            <td>Inprogress</td>
                            <td>Completed</td>
                            {{!-- <td>
                                <div class="action-wrapper">

                                    <a href="#" class="icon-btn" data-toggle="tooltip" data-placement="top"
                                        title="View">
                                        <i class="far fa-eye"></i>
                                    </a>

                                </div>
                            </td> --}}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h2 class="today-event-title">Super Admin List</h2>
                        </div>
                        <div class="col-sm-12 col-md-6" style="text-align: right;">
                            <a href="javascript:;" id="delete_btn" class="medium-btn">Multi Delete</a>
                            <a href="/admin/add" class="medium-btn"><span>Add New</span></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="table_record" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectall" name="selectall" class="remove" /></th>
                                    <th>User Id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each data as |value key| }}

                                <tr>
                                    <td><input type="checkbox" name="iAdminId[]" id="iAdminId_{{value._id}}"
                                            value="{{value._id}}" class="checkboxall" /></td>
                                    <td>{{value.iUserID}}</td>
                                    <td>{{value.vFirstName}} {{value.vLastName}}</td>
                                    <td>{{value.vEmail}}</td>
                                    <td class="">
                                        <div class="dropdown action-dropdown">
                                            <button class="listing-dropdown dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23"
                                                    viewBox="0 0 4.8 23">
                                                    <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                                                        d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                                                        transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                                                </svg>
                                            </button>
                                            <div class="dropdown-menu w-100" style="will-change: transform;">
                                                <a class="dropdown-item" href="/admin/edit/{{value._id}}">Edit</a>
                                                <a class="dropdown-item delete" href="javascript:;"
                                                    data-id="{{value._id}}">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<script>

    $(document).ready(function () {
        var dataTable = $('#table_record').DataTable();
    });

    $("#selectall").click(function () {
        if (this.checked) {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', true);
            });
        } else {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', false);
            });
        }
    });

    //Delete record
    function deleteRecord(iAdminId, vAction) {
        $.ajax({
            url: '/dashboard/delete',
            type: 'post',
            data: { vAction: vAction, iAdminId: iAdminId },
            success: function (result) {
                location.reload();
            }
        });
    }

    $(document).on('click', '.delete', function () {
        var iAdminId = $(this).data('id');
        if (confirm('Are you sure to delete this record ?')) {
            deleteRecord(iAdminId, "delete")
        }
    });

    $(document).on('click', '#delete_btn', function () {

        var id = [];
        $("input[name='iAdminId[]']:checked").each(function () {
            id.push($(this).val());
        });
        var iAdminId = id.join(",");
        if (iAdminId.length == 0) {
            alert('Please select records.')
        } else {
            if (confirm('Are you sure delete this record?')) {
                // AJAX request
                deleteRecord(iAdminId, "multiple_delete")
            }
        }
    });
</script>