  <a class="medium-btn2 mb-4" href="/client-video">Go back</a>
<div class="row">
<div class="col-lg-11 col-xl-8 mx-auto">
<div class="_main_content">
    <div class="add-client-info-msg">
        <div class="icon">
            <i class="fal fa-lightbulb"></i>
        </div>
        <div class="info-text">
            <p class="info-alert-message">
                Add new Client Video!
            </p>
        </div>
    </div>
    <div class="_1card">
        <div class="_1card_body pt-2 profile-difrt-box">
            <form action="/client-video/add_action" method="POST" class="video_form" enctype="multipart/form-data">
                <input type="hidden" value="{{ clientVideoData._id }}" name="iClientVideoId">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Title</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Title"
                                        class="ivu-input ivu-input-default" name="vTitle" id="vTitle"
                                        value="{{ clientVideoData.vTitle }}" />
                                    <div class="text-danger" id="vTitle_error" style="display: none;">Please enter title
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Video Url(https://youtu.be/RIWuGeTSLY4)</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="text"
                                        placeholder="Enter last parameter eg. : RIWuGeTSLY4"
                                        class="ivu-input ivu-input-default" name="vLink" id="vLink"
                                        value="{{ clientVideoData.vLink }}" />
                                    <div class="text-danger" id="vLink_error" style="display: none;">Please enter video
                                        link
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Description</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <textarea rows="5" autocomplete="off" spellcheck="false" type="text"
                                        placeholder="Enter Title" class="ivu-input ivu-input-default textarea"
                                        name="tDescription"
                                        id="tDescription">{{ clientVideoData.tDescription }}</textarea>
                                    <div class="text-danger" id="tDescription_error" style="display: none;">Please enter
                                        description
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Status</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select name="eStatus" id="eStatus" class="ivu-select-input">
                                        <option value="Active" {{#if_equal clientVideoData.eStatus "Active" }} selected
                                            {{/if_equal}}>Active</option>
                                        <option value="Inactive" {{#if_equal clientVideoData.eStatus "Inactive" }}
                                            selected {{/if_equal}}>Inactive</option>
                                    </select>
                                    <div class="text-danger" id="eStatus_error" style="display: none;">Please enter
                                        status</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Image</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="file"
                                        class="ivu-input ivu-input-default" name="vImage" id="vImage"
                                        value="{{ clientVideoData.vImage }}" />
                                    {{#if clientVideoData.vImage}}
                                        <img src="{{clientVideoData.vImage}}" class="mt-2" style="width: 100px;">
                                    {{/if}}
                                    <div class="text-danger" id="vImage_error" style="display: none;">Please choose
                                        image
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="footer-btns-group">
                <a href="javascript:;" class="medium-btn save">Create</a>
                <a href="javascript:;" class="medium-btn save_loader" style="display: none;">
                    Please Wait...
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-loader spin mr-2 text-white">
                        <line x1="12" y1="2" x2="12" y2="6"></line>
                        <line x1="12" y1="18" x2="12" y2="22"></line>
                        <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                        <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                        <line x1="2" y1="12" x2="6" y2="12"></line>
                        <line x1="18" y1="12" x2="22" y2="12"></line>
                        <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                        <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>
                </a>
                 <a href="javascript:;" class="medium-btn2 cancel">Close</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.1.2/tinymce.min.js"
    integrity="sha512-cJ2vUNryvHzgNJfmFTtZ2VX5EMT5JOU1i8nm+L1kwoHQ9bSqSYdswxyk++9Gi27p3BG2rXZXLMsTsluY4RZSSw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
    tinymce.init({
        selector: '.textarea',
        height: 500,
        plugins: [
            'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
            'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
            'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | blocks | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
    });

    $(document).on('click', '.cancel', function () {
        location.href = "/client-video";
    });

    $(document).on('click', '.save', function () {
        var vTitle = $("#vTitle").val();
        var vLink = $("#vLink").val();
        var tDescription = tinyMCE.get('tDescription').getContent();
        var eStatus = $("#eStatus").val();
        var vError = false;

        if (vTitle.length == 0) {
            $("#vTitle_error").show();
            vError = true;
        } else {
            $("#vTitle_error").hide();
        }

        if (tDescription.length == 0) {
            $("#tDescription_error").show();
            vError = true;
        } else {
            $("#tDescription_error").hide();
        }

        if (vLink.length == 0) {
            $("#vLink_error").show();
            vError = true;
        } else {
            $("#vLink_error").hide();
        }

        if (eStatus.length == 0) {
            $("#eStatus_error").show();
            vError = true;
        } else {
            $("#eStatus_error").hide();
        }

        if (vError == true) {
            return false;
        } else {
            $(".save").hide();
            $(".save_loader").show();
            setTimeout(function () {
                $(".video_form").submit();
                return true;
            }, 500);
        }

    });
</script>