<div class="_main_content">

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="_1card">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <h2 class="today-event-title">Agent Video List</h2>
                            </div>
                            <div class="col-sm-12 col-md-6" style="text-align: right;">
                                <a href="javascript:;" id="delete_btn" class="medium-btn">Multi Delete</a>
                                <a href="/agent-video/add" class="medium-btn"><span>Add New</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="table_record" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="selectall" name="selectall" /></th>
                                        <th>Title</th>
                                        <th>Video</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each agentVideoData as |value key| }}
                                    <tr>
                                        <td><input type="checkbox" name="iAgentVideoId[]"
                                                id="iAgentVideoId_{{value._id}}" value="{{value._id}}"
                                                class="checkboxall" />
                                        </td>
                                        <td>{{value.vTitle}}</td>
                                        <td>
                                            <span data-toggle="modal" data-target="#exampleModalCenter_{{value._id}}"
                                                class="badge badge-danger">Watch</span>

                                            <!-- Modal -->
                                            <div class="modal fade edit-conference-modal"
                                                id="exampleModalCenter_{{value._id}}" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-lg"
                                                    role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header pb-3 pt-0 pr-0 pl-0">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Video
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body p-0">
                                                            {{#if value.vLink}}
                                                            <iframe src="https://www.youtube.com/embed/{{value.vLink}}"
                                                                width="100%" height="315" :src="videoSrc"
                                                                frameborder="0"
                                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                                allowfullscreen></iframe>
                                                            {{/if}}
                                                            <div class="footer-btns-group">
                                                                <button type="button" class="medium-btn2"
                                                                    data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Modal -->
                                        </td>
                                        <td>
                                            <div class="action-wrapper">
                                                <a class="icon-btn" title="View Description" data-toggle="modal"
                                                    data-target="#ShowDesModel_{{value._id}}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="15"
                                                        viewBox="0 0 22 15">
                                                        <path id="visibility_FILL0_wght400_GRAD0_opsz48"
                                                            d="M13,19.75a4.225,4.225,0,0,0,4.25-4.25A4.225,4.225,0,0,0,13,11.25,4.225,4.225,0,0,0,8.75,15.5,4.225,4.225,0,0,0,13,19.75Zm0-1.45a2.811,2.811,0,0,1-1.988-4.788,2.837,2.837,0,0,1,3.975,0A2.8,2.8,0,0,1,13,18.3ZM13,23a11.2,11.2,0,0,1-6.6-2.075A12.641,12.641,0,0,1,2,15.5a12.641,12.641,0,0,1,4.4-5.425A11.2,11.2,0,0,1,13,8a11.2,11.2,0,0,1,6.6,2.075A12.641,12.641,0,0,1,24,15.5a12.641,12.641,0,0,1-4.4,5.425A11.2,11.2,0,0,1,13,23ZM13,15.5Zm0,6a10.053,10.053,0,0,0,5.563-1.638A10.626,10.626,0,0,0,22.425,15.5a10.626,10.626,0,0,0-3.862-4.362,10.267,10.267,0,0,0-11.125,0A10.8,10.8,0,0,0,3.55,15.5a10.8,10.8,0,0,0,3.888,4.363A10.053,10.053,0,0,0,13,21.5Z"
                                                            transform="translate(-2 -8)" fill="#8d99ae" />
                                                    </svg>
                                                </a>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade edit-conference-modal"
                                                id="ShowDesModel_{{value._id}}" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-lg"
                                                    role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header pb-3 pt-0 pr-0 pl-0">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Details
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body p-0">
                                                            {{{value.tDescription}}}
                                                            <div class="footer-btns-group">
                                                                <button type="button" class="medium-btn2"
                                                                    data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Modal -->
                                        </td>
                                        <td class="text-center">
                                            {{#if_equal value.eStatus "Active"}}
                                            <span class="badge badge-success">{{value.eStatus}}</span>
                                            {{else}}
                                            <span class="badge badge-danger">{{value.eStatus}}</span>
                                            {{/if_equal}}
                                        </td>
                                        <td>
                                            <div class="dropdown action-dropdown">
                                                <button class="listing-dropdown dropdown-toggle" type="button"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23"
                                                        viewBox="0 0 4.8 23">
                                                        <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                                                            d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                                                            transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                                                    </svg>
                                                </button>
                                                <div class="dropdown-menu w-100" style="will-change: transform;">
                                                    <a class="dropdown-item"
                                                        href="/agent-video/edit/{{value._id}}">Edit</a>
                                                    <a class="dropdown-item delete" href="javascript:;"
                                                        data-id="{{value._id}}">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $("#selectall").click(function () {
        if (this.checked) {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', true);
            });
        } else {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', false);
            });
        }
    });

     $(document).ready(function () {
        var dataTable = $('#table_record').DataTable();
    });

    //Delete record
    function deleteRecord(iAgentVideoId, vAction) {
        $.ajax({
            url: '/agent-video/delete',
            type: 'post',
            data: { vAction: vAction, iAgentVideoId: iAgentVideoId },
            success: function () {
                location.reload();
            }
        });
    }

    $(document).on('click', '.delete', function () {
        var iAgentVideoId = $(this).data('id');
        if (confirm('Are you sure to delete this record ?')) {
            deleteRecord(iAgentVideoId, "delete");
        }
    });

    $(document).on('click', '#delete_btn', function () {

        var id = [];
        $("input[name='iAgentVideoId[]']:checked").each(function () {
            id.push($(this).val());
        });
        var iAgentVideoId = id.join(",");
        if (iAgentVideoId.length == 0) {
            alert('Please select records.')
        } else {
            if (confirm('Are you sure delete this record?')) {
                // AJAX request
                deleteRecord(iAgentVideoId, "multiple_delete")
            }
        }
    });
</script>