<div class="_main_content">
    {{!-- <div class="_1card_top p-0">
                    <div class="_1card_top_left">
                        <h2 class="today-event-title">Role module permission</h2>
                    </div>
                </div> --}}
    <div class="_1card">
        <div class="_1card_body pt-2">
                <form action="/role-module-permission/add_action" method="POST" class="role_form" enctype="multipart/form-data">
           <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="ivu-form-item mt-0">
                        <label class="ivu-form-item-label">Role</label>
                        <div class="ivu-form-item-content">
                            <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                <select name="iRoleId" id="iRoleId" class="ivu-select-input">
                                    <option value="">Select Role</option>
                                    {{#each roleData as |value key| }}
                                    <option value="{{value.vTitle._id}}" {{ isSelected value.vTitle._id ../route3 }}>
                                        {{value.vTitle.vTitle}}
                                    </option>
                                    {{/each}}
                                </select>
                                <div class="text-danger" id="iRoleId_error" style="display: none;">Please select role
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="table-data table-responsive mt-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Modules</th>
                                    <th>Create</th>
                                    <th>Read</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>

                                {{!-- edit Permission --}}
                                {{!-- {{#if roleModulePermissionData}}
                                {{#each roleModulePermissionData as |value key| }}
                                <tr>
                                    <td>{{ value.iRoleModuleMasterId.vTitle }}</td>
                                    <td>
                                      <input type="checkbox" name="{{value.iRoleModuleMasterId._id}}" value="eCreate" {{#if_equal value.eCreate 'Yes'}} checked {{/if_equal}} />
                                    </td>
                                    <td>
                                      <input type="checkbox" name="{{value.iRoleModuleMasterId._id}}" value="eRead" {{#if_equal value.eRead 'Yes'}} checked {{/if_equal}}/>
                                    </td>
                                    <td>
                                      <input type="checkbox" name="{{value.iRoleModuleMasterId._id}}" value="eUpdate" {{#if_equal value.eUpdate 'Yes'}} checked {{/if_equal}}/>
                                    </td>
                                    <td>
                                      <input type="checkbox" name="{{value.iRoleModuleMasterId._id}}" value="eDelete" {{#if_equal value.eDelete 'Yes'}} checked {{/if_equal}}/>
                                    </td>
                                </tr>
                                {{/each}}
                               
                                {{else}} --}}

                                {{!-- add Permission --}}
                                {{!-- {{roleModulePermissionData}} --}}

                                 {{#each roleModuleMasterData as |value key|}}
                                <tr>
                                    <td>{{ this.vTitle }}</td>
                                    <td>
                                      <input type="checkbox" name="{{this._id}}" value="eCreate" {{#if_equal (lookup (lookup ../roleModulePermissionData @index) 'iRoleModuleMasterId') this._id}} {{#if_equal (lookup (lookup ../roleModulePermissionData @index) 'eCreate') 'Yes'}} checked {{/if_equal}} {{/if_equal}}/>
                                    </td>
                                    <td>
                                      <input type="checkbox" name="{{value._id}}" value="eRead" {{#if_equal (lookup (lookup ../roleModulePermissionData @index) 'iRoleModuleMasterId') this._id}} {{#if_equal (lookup (lookup ../roleModulePermissionData @index) 'eRead') 'Yes'}} checked {{/if_equal}} {{/if_equal}}/>
                                    </td>
                                    <td>
                                      <input type="checkbox" name="{{value._id}}" value="eUpdate" {{#if_equal (lookup (lookup ../roleModulePermissionData @index) 'iRoleModuleMasterId') this._id}} {{#if_equal (lookup (lookup ../roleModulePermissionData @index) 'eUpdate') 'Yes'}} checked {{/if_equal}} {{/if_equal}}/>
                                    </td>
                                    <td>
                                      <input type="checkbox" name="{{value._id}}" value="eDelete" {{#if_equal (lookup (lookup ../roleModulePermissionData @index) 'iRoleModuleMasterId') this._id}} {{#if_equal (lookup (lookup ../roleModulePermissionData @index) 'eDelete') 'Yes'}} checked {{/if_equal}} {{/if_equal}}/>
                                    </td>
                                </tr>
                                {{/each}}
                                
                                {{!-- {{/if}} --}}
                            </tbody>
                        </table>
                    </div>
                 <button type="button" class="medium-btn savePermission">
                    <span>Create</span>
                </button>
                </div>
            </form>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $("#iRoleId").change(function () {
        var iRoleId = $("#iRoleId").val();
        var url = '/role-module-permission/edit/' + iRoleId;
        if (iRoleId != '') {
            window.location.href = url;
        }
    });

    $(document).on('click', '.savePermission', function () {
        $(".save").hide();
        $(".save_loader").show();
        setTimeout(function () {
            $(".role_form").submit();
            return true;
        }, 500);
    });

</script>