<div class="_main_content">
    <div class="_1card">
        <div class="_1card_body">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="ivu-form-item">
                        <label class="ivu-form-item-label">Role</label>
                        <div class="ivu-form-item-content">
                            <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                <select name="iRoleId" id="iRoleId" class="ivu-select-input">
                                    <option value="">Select Role</option>
                                    {{#each roleData as |value key| }}
                                    <option value="{{value.vTitle._id}}">{{value.vTitle.vTitle}}</option>
                                    {{/each}}
                                </select>
                                <div class="text-danger" id="iRoleId_error" style="display: none;">Please select role
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $("#iRoleId").change(function () {
        var iRoleId = $("#iRoleId").val();
        var url = '/role-module-permission/edit/' + iRoleId;

        if (iRoleId != '') {
            window.location.href = url;
        }

    });
</script>