  <a class="medium-btn2 mb-4" href="/lead-center">Go back</a>
<div class="row">
<div class="col-lg-11 col-xl-8 mx-auto">
<div class="_main_content">
    <div class="add-client-info-msg">
        <div class="icon">
            <i class="fal fa-lightbulb"></i>
        </div>
        <div class="info-text">
            <p class="info-alert-message">
                Add new Lead Center!
            </p>
        </div>
    </div>
    <div class="_1card">
        <div class="_1card_body pt-2 profile-difrt-box">
            <form action="/lead-center/add_action" method="POST" class="leadCenter_form" enctype="multipart/form-data">
                <input type="hidden" value="{{ leadCenterData._id }}" name="iLeadCenterId">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Title</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Title"
                                        class="ivu-input ivu-input-default" name="vTitle" id="vTitle"
                                        value="{{ leadCenterData.vTitle }}" />
                                    <div class="text-danger" id="vTitle_error" style="display: none;">Please enter title
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Login Url</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="text"
                                        placeholder="Enter login url"
                                        class="ivu-input ivu-input-default" name="vLoginLink" id="vLoginLink"
                                        value="{{ leadCenterData.vLoginLink }}" />
                                    <div class="text-danger" id="vLoginLink_error" style="display: none;">Please enter login
                                        link</div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Registration Url</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="text"
                                        placeholder="Enter registration url"
                                        class="ivu-input ivu-input-default" name="vRegistrationLink" id="vRegistrationLink"
                                        value="{{ leadCenterData.vRegistrationLink }}" />
                                    <div class="text-danger" id="vRegistrationLink_error" style="display: none;">Please enter registration
                                        link</div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Home Url</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="text"
                                        placeholder="Enter home url"
                                        class="ivu-input ivu-input-default" name="vHomePageLink" id="vHomePageLink"
                                        value="{{ leadCenterData.vHomePageLink }}" />
                                    <div class="text-danger" id="vHomePageLink_error" style="display: none;">Please enter home
                                        link</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Logo</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="file"
                                        class="ivu-input ivu-input-default" name="vLogo" id="vLogo"
                                        value="{{ leadCenterData.vLogo }}" />
                                            {{#if leadCenterData.vLogo}}
                                                <img src="{{leadCenterData.vLogo}}" class="mt-2" style="width: 100px;">
                                            {{/if}}
                                    <div class="text-danger" id="vLogo_error" style="display: none;">Please choose
                                        image
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Logo SVG</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                     <input autocomplete="off" spellcheck="false" type="text"
                                        placeholder="Enter home url"
                                        class="ivu-input ivu-input-default" name="vLogoSVG" id="vLogoSVG"
                                        value="{{ leadCenterData.vLogoSVG }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="footer-btns-group">
                <a href="javascript:;" class="medium-btn save">Create</a>
                <a href="javascript:;" class="medium-btn save_loader" style="display: none;">
                    Please Wait...
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-loader spin mr-2 text-white">
                        <line x1="12" y1="2" x2="12" y2="6"></line>
                        <line x1="12" y1="18" x2="12" y2="22"></line>
                        <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                        <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                        <line x1="2" y1="12" x2="6" y2="12"></line>
                        <line x1="18" y1="12" x2="22" y2="12"></line>
                        <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                        <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>
                </a>
                <a href="javascript:;" class="medium-btn2 cancel">Close</a>
            </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">

    $(document).on('click', '.cancel', function () {
        location.href = "/lead-center";
    });

    $(document).on('click', '.save', function () {
        var vTitle = $("#vTitle").val();
        var vLoginLink = $("#vLoginLink").val();
        var vRegistrationLink = $("#vRegistrationLink").val();
        var vHomePageLink = $("#vHomePageLink").val();
        var vError = false;

        if (vTitle.length == 0) {
            $("#vTitle_error").show();
            vError = true;
        } else {
            $("#vTitle_error").hide();
        }

        if (vLoginLink.length == 0) {
            $("#vLoginLink_error").show();
            vError = true;
        } else {
            $("#vLoginLink_error").hide();
        }

        if (vRegistrationLink.length == 0) {
            $("#vRegistrationLink_error").show();
            vError = true;
        } else {
            $("#vRegistrationLink_error").hide();
        }

        if (vHomePageLink.length == 0) {
            $("#vHomePageLink_error").show();
            vError = true;
        } else {
            $("#vHomePageLink_error").hide();
        }

        if (vError == true) {
            return false;
        } else {
            $(".save").hide();
            $(".save_loader").show();
            setTimeout(function () {
                $(".leadCenter_form").submit();
                return true;
            }, 500);
        }

    });
</script>