<div class="_main_content">

  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="_1card">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <h2 class="today-event-title">Super Admin List</h2>
                </div>
                <div class="col-sm-12 col-md-6" style="text-align: right;">
                  <a href="javascript:;" id="delete_btn" class="medium-btn">Multi Delete</a>
                  <a href="/admin/add" class="medium-btn"><span>Add New</span></a>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table id="table_record" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Select</th>
                      <th>User ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Joining Date</th>
                      <th>Phone</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each adminData as |value key| }}

                    <tr>
                      <td><input type="checkbox" name="iAdminId[]" id="iAdminId_{{value._id}}" value="{{value._id}}"
                          class="checkboxall" /></td>
                      <td>{{value.iUserID}}</td>
                      <td>{{value.vFirstName}} {{value.vLastName}}</td>
                      <td>{{value.vEmail}}</td>
                      <td>{{value.dtAddedDate}}</td>
                      <td>{{value.vPhone}}</td>
                      <td class="">
                        {{#if_equal value._id ../iAgentId }}
                        <div class="dropdown action-dropdown">
                          <button class="listing-dropdown dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23" viewBox="0 0 4.8 23">
                              <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                                d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                                transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                            </svg>
                          </button>
                          <div class="dropdown-menu w-100" style="will-change: transform;">
                            <a class="dropdown-item" href="/admin/edit/{{value._id}}">Edit</a>
                            <a class="dropdown-item delete" href="javascript:;" data-id="{{value._id}}">Delete</a>
                          </div>
                        </div>
                        {{/if_equal}}
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">

  $("#selectall").click(function () {
    if (this.checked) {
      $('.checkboxall').each(function () {
        $(".checkboxall").prop('checked', true);
      });
    } else {
      $('.checkboxall').each(function () {
        $(".checkboxall").prop('checked', false);
      });
    }
  });

  $(document).ready(function () {
    var dataTable = $('#table_record').DataTable();
  });

  //Delete record
  function deleteRecord(iAdminId, vAction) {
    $.ajax({
      url: '/admin/delete',
      type: 'post',
      data: { vAction: vAction, iAdminId: iAdminId },
      success: function () {
        location.reload();
      }
    });
  }

  $(document).on('click', '.delete', function () {
    var iAdminId = $(this).data('id');
    if (confirm('Are you sure to delete this record ?')) {
      deleteRecord(iAdminId, "delete");
    }
  });

  $(document).on('click', '#delete_btn', function () {

    var id = [];
    $("input[name='iAdminId[]']:checked").each(function () {
      id.push($(this).val());
    });
    var iAdminId = id.join(",");
    if (iAdminId.length == 0) {
      alert('Please select records.')
    } else {
      if (confirm('Are you sure delete this record?')) {
        // AJAX request
        deleteRecord(iAdminId, "multiple_delete")
      }
    }
  });

</script>