<!DOCTYPE html>
<html>

<head>
    <title>email template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>

<body
    style="background-color: #F5F5F5; margin: 0 !important; padding: 0 !important; font-family: 'Roboto', sans-serif;">

    <div style="background: #fff; margin: 50px auto; max-width: 1000px;">
        <table style="width: 100%;padding: 40px 30px; border-radius: 5px;" border="0">
            <tbody>
                <tr>
                    <td colspan="2">
                        <h1 style="margin: 0px; font-size: 26px;text-align: center;">Hombolt Onboarding Application</h1>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%;">
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            name</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.vName}}</h3>
                    </td>
                    <td style="width: 50%;">
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Address</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.vAddress}}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Date of Birth</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.vBirthDate}}</h3>
                    </td>
                    <td>
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Last 4 Digits of Social Security Number</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.vSecurityNumber}}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">In
                            the past 3 year, have you has a professional License revoked?</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.eLicenseRevoked}}</h3>
                    </td>
                    <td>
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">In
                            the past 3 year, have you been convicted or plead no contest to a misdemeanor?</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.eConvicted}}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Have you ever been convicted of a Felony?</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.eFelony}}</h3>
                    </td>
                    <td>
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Has an employer ever terminated dure to Fraud of Theft?</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.eTheft}}</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h1 style="margin-bottom: 30px; margin-top: 40px; font-size: 26px;">Authorization for Background
                            Checks</h1>
                        <p style="color: #93a2b1;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
                            impedit voluptatibus optio quibusdam, nemo nulla pariatur est asperiores expedita
                            consequatur fugiat ratione, eius soluta quis, quod laudantium. Aperiam, illum
                            temporibus Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, velit corrupti!
                            Ratione eum necessitatibus reprehenderit laborum, pariatur vel aspernatur eaque officia.
                            Saepe distinctio accusantium incidunt ratione
                            veritatis minus eaque quae?</p>
                        <p style="color: #93a2b1;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum
                            assumenda numquam tempora laborum atque laudantium sit ipsam labore, commodi error rem
                            adipisci explicabo? Id officia explicabo sequi eveniet corrupti consectetur? Lorem
                            ipsum dolor sit, amet consectetur adipisicing elit. Quos dolores quae nihil facilis, vero
                            sapiente esse officia delectus cupiditate ullam ea praesentium, quia ratione tempora quaerat
                            facere obcaecati distinctio. Fugit! Lorem
                            ipsum dolor sit amet consectetur, adipisicing elit. Libero, tempora id sint dolor omnis odio
                            rerum voluptatibus dolore. Praesentium ipsam quo modi similique magnam laudantium reiciendis
                            perspiciatis sit! Possimus, illo. Lorem
                            ipsum dolor, sit amet consectetur adipisicing elit. Minus ad qui, quaerat odio, eaque, iusto
                            ipsa ex ullam debitis dolores sapiente illum. Nostrum suscipit maxime voluptatibus illo unde
                            odit quae. Lorem, ipsum dolor sit amet
                            consectetur adipisicing elit. Ratione vitae minima eius exercitationem. Praesentium in sunt
                            laboriosam earum ipsum animi vitae libero voluptate nisi sed. Modi quibusdam debitis ipsam
                            facilis. </p>
                        <p style="color: #93a2b1;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
                            impedit voluptatibus optio quibusdam, nemo nulla pariatur est asperiores expedita
                            consequatur fugiat ratione, eius soluta quis, quod laudantium. Aperiam, illum
                            temporibus Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, velit corrupti!
                            Ratione eum necessitatibus reprehenderit laborum, pariatur vel aspernatur eaque officia.
                            Saepe distinctio accusantium incidunt ratione
                            veritatis minus eaque quae?</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            First Name</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.vAuthorizedPersonFirstName}}</h3>
                    </td>
                    <td>
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Middle Name</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.vAuthorizedPersonLastName}}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Last Name</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.vAuthorizedPersonMiddleName}}</h3>
                    </td>
                    <td>
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Maiden/Other Name</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.vAuthorizedPersonOtherName}}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Year Used</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.vYearsUsed}}</h3>
                    </td>
                    <td>
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">If
                            you live or work fot the corporation in californai, Minnesota, Or Oklahoma. Cheack this box
                            if you would like a free copy of your background check report if one is requird of
                            conduccted.</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.eWorkOfCorporation}}</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Signature</h2>
                        <div class="img" style="height: auto; width: 50%; object-fit:contain;">
                            <img style="width: 100%; height: 100%;" src="{{applicationData.vEmployeeSignature}}" alt="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Date</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{applicationData.dtApplicationDate}}</h3>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width: 100%; padding: 40px 30px; border-radius: 5px;">
            <tr>
                <td>
                    <h6>Legal Name :{{applicationData.vName}} </h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h6>Date Contract:{{applicationData.dtApplicationDate}} </h6>
                </td>
            </tr>

            <tr>
                <td>
                    <h6>Contract Name:Hombolt Onboarding Application </h6>
                </td>
            </tr>

            <tr>
                <td>
                    <h6>IP Address: {{IP_Address}} </h6>
                </td>
            </tr>



        </table>
    </div>
</body>

</html>