<!DOCTYPE html>
<html>

<head>
    <title>email template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>

<body
    style="background-color: #F5F5F5; margin: 0 !important; padding: 0 !important; font-family: 'Roboto', sans-serif;">

    <div style="background: #fff; margin: 50px auto; max-width: 1000px;">
        <table style="width: 100%;padding: 40px 30px; border-radius: 5px;" border="0">
            <tbody>
                <tr>
                    <td colspan="2">
                        <h1 style="margin: 0px; font-size: 26px;text-align: center;">Direct Deposit Authorization Form
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%;">
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            name</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{authorizationData.vName}}</h3>
                    </td>
                    <td style="width: 50%;">
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Address</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{authorizationData.vAddress}}</h3>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%;">
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            City, State, Zip</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{authorizationData.vCity}} / {{authorizationData.vState}} /
                            {{authorizationData.vZipCode}}</h3>
                    </td>
                    <td style="width: 50%;">
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Name of Bank</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{authorizationData.vBankName}}</h3>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%;">
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Account #</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{authorizationData.vAccount}}</h3>
                    </td>
                    <td style="width: 50%;">
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            9-Digit Routing #</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{authorizationData.vRouting}}</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Type of Account</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{authorizationData.eAccountType}}</h3>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">

                        <p style="color: #4f4f4f; font-weight: 700;">Attach a voided check for
                            each
                            bank account to which funds should be deposited (if necessary) Hombolt is hereby
                            authorized
                            to directly deposit my pay to the account listed above. This authorization will remain
                            in
                            effect until |
                            modify or cancel it in writing.</p>

                    </td>
                </tr>


                <tr>
                    <td colspan="2">
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Employee’s Signature</h2>
                        <div class="img" style="height:auto; width: 50%; object-fit:contain;">
                            <img style="width: 100%; height: 100%;" src="{{authorizationData.vEmpSignature}}" alt="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h2 style="margin: 0; color: #4f4f4f; font-weight: 700; font-size: 15px; margin-bottom: 8px;">
                            Date</h2>
                        <h3 style="margin: 0; color: #4f4f4f; font-size: 14px; font-weight: 500;">
                            {{authorizationData.dtApplicationDate}}</h3>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width: 100%; padding: 40px 30px; border-radius: 5px;">
            <tr>
                <td>
                    <h6>Legal Name :{{authorizationData.vName}}</h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h6>Date Contract: {{authorizationData.dtApplicationDate}} </h6>
                </td>
            </tr>
            <tr>
                <td>
                    <h6>Contract Name:Direct Deposit Authorization Form </h6>
                </td>
            </tr>

            <tr>
                <td>
                    <h6>IP Address:{{IP_Address}} </h6>
                </td>
            </tr>
        </table>

    </div>
</body>

</html>