<div class="_main_content">

  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="_1card">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h2 class="today-event-title">Agent List</h2>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table id="table_record" class="table table-bordered">
                <thead>
                  <tr align="center">
                    <th>User ID</th>
                    <th>Name</th>
                    {{!-- <th>Email</th> --}}
                    {{!-- <th>Joining Date</th> --}}
                    <th>Onboarding Contract</th>
                    <th>Onboarding Application</th>
                    <th>Request Taxpayer</th>
                    <th>Direct Deposit</th>
                    <th>Drivers License</th>
                    <th>Clear To Market</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each agentData as |value key| }}

                  <tr>
                    <td>{{value.iUserID}}</td>
                    <td>{{value.vFirstName}} {{value.vLastName}}</td>
                    <td>
                      {{#if value.vOnboardingContract }}
                      <span class="btn badge badge-danger contract" data-id="{{value._id}}">View</span>
                      <button class="reset_contract btn btn-primary badge" data-id="{{value._id}}"
                        data-filter="vOnboardingContract">Reset</button>
                      {{else}}
                      <div>

                        <span class="btn badge badge-danger uploadContract" data-id="{{value._id}}"
                          data-filter="vOnboardingContract">Upload</span>

                        <!--upload contract Modal -->
                        <div class="modal fade" id="uploadContract_model_{{value._id}}" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Agent Onboarding Contract</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form class="uploadContract_form_{{value._id}}" method="POST"
                                  action="/onboarding/upload_contract" enctype="multipart/form-data">
                                  <input type="hidden" name="iAgentId" id="iAgentId" value="{{value._id}}">
                                  <input type="hidden" name="vContractName" id="vContractName_{{value._id}}" value="">
                                  <input name="vAdminAddContract" type="file" accept=".pdf"
                                    id="vAdminAddContract_{{value._id}}" class="ivu-input" />
                                  <div class="text-danger" id="vAdminAddContract_{{value._id}}_error"
                                    style="display: none;">
                                    Please select file</div>
                                </form>

                              </div>
                              <div class="modal-footer justify-content-start">
                                <button type="button" class="medium-btn save" id="save_{{value._id}}"
                                  data-id="{{value._id}}">Save</button>
                                <button type="button" class="medium-btn2" data-dismiss="modal">Close</button>
                              </div>

                              <script>
                                // add contract from admin end
                                $(document).on('click', '#save_{{value._id}}', function () {

                                  var vAdminAddContract = $("#vAdminAddContract_{{value._id}}").val();
                                  var vError = false;

                                  if (vAdminAddContract.length == 0) {
                                    $("#vAdminAddContract_{{value._id}}_error").show();
                                    vError = true;
                                  } else {
                                    $("#vAdminAddContract_{{value._id}}_error").hide();
                                  }

                                  if (vError == true) {
                                    return false;
                                  } else {
                                    setTimeout(function () {
                                      $(".uploadContract_form_{{value._id}}").submit();
                                      $('#uploadContract_model_{{value._id}}').modal('toggle');
                                      return true;
                                    }, 500);
                                  }
                                });
                              </script>
                            </div>
                          </div>
                        </div>
                        <!--End Modal -->
                      </div>
                      Not filled up yet
                      {{/if}}

                      <!-- Modal -->
                      <div class="modal fade" id="vOnboardingContract_model_{{value._id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                          <div class="modal-content">
                            <div class="modal-header" style="align-items: center;">
                              <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
                              <a href="onboarding/download_contract/{{value._id}}" type="button"
                                class="download_contract btn" style="margin-left: auto;">
                                <i class="fas fa-download"></i>
                              </a>

                              <button type="button" class="close m-0" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              {{#if value.vOnboardingContract.vAdminAddContract}}
                              <iframe src="{{value.vOnboardingContract.vAdminAddContract}}" frameborder="0"
                                style="height: 400px;width: 100%;" class="edit"></iframe>
                              {{else}}
                              <div class="contarctData">
                              </div>
                              {{/if}}

                            </div>
                            <div class="modal-footer justify-content-start">
                              <button type="button" class="medium-btn2" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--End Modal -->
                    </td>
                    <td>
                      {{#if value.vOnboardingApplication }}
                      <span class="btn badge badge-danger applicationContract" data-id="{{value._id}}">View</span>
                      <button class="reset_contract btn btn-primary badge" data-id="{{value._id}}"
                        data-filter="vOnboardingApplication">Reset</button>
                      {{else}}
                      <div>
                        <span class="btn badge badge-danger uploadContract" data-id="{{value._id}}"
                          data-filter="vOnboardingApplication">Upload</span>
                      </div>
                      Not filled up yet
                      {{/if}}

                      <!-- Modal -->
                      <div class="modal fade" id="application_model_{{value._id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header" style="align-items: center;">
                              <h5 class="modal-title" id="exampleModalLabel">Client List</h5>
                              <a href="onboarding/download_application/{{value._id}}" type="button"
                                class="download_application btn" style="margin-left: auto;">
                                <i class="fas fa-download"></i>
                              </a>
                              <button type="button" class="close m-0" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              {{#if value.vOnboardingApplication.vAdminAddContract}}
                              <iframe src="{{value.vOnboardingApplication.vAdminAddContract}}" frameborder="0"
                                style="height: 400px;width: 100%;" class="edit"></iframe>
                              {{else}}
                              <div class="ApplicationData">

                              </div>
                              {{/if}}


                            </div>
                            <div class="modal-footer justify-content-start">
                              <button type="button" class="medium-btn2" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--End Modal -->
                    </td>
                    <td>
                      {{#if value.vTaxPayerContract }}
                      <span class="btn badge badge-danger taxpayer" data-id="{{value._id}}">View</span>
                      <button class="reset_contract btn btn-primary badge" data-id="{{value._id}}"
                        data-filter="vTaxPayerContract">Reset</button>
                      {{else}}
                      <div>
                        <span class="btn badge badge-danger uploadContract" data-id="{{value._id}}"
                          data-filter="vTaxPayerContract">Upload</span>
                      </div>
                      Not filled up yet
                      {{/if}}

                      <!-- Modal -->
                      <div class="modal fade" id="taxpayer_model_{{value._id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Client List</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              {{#if value.vTaxPayerContract.vAdminAddContract}}
                              <iframe src="{{value.vTaxPayerContract.vAdminAddContract}}" frameborder="0"
                                style="height: 400px;width: 100%;" class="edit"></iframe>
                              {{else}}
                              <iframe src="{{value.vTaxPayerContract.vTaxPayerFile}}" frameborder="0"
                                style="height: 400px;width: 100%;" class="edit"></iframe>
                              {{/if}}

                            </div>
                            <div class="modal-footer justify-content-start">
                              <button type="button" class="medium-btn2" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--End Modal -->
                    </td>
                    <td>

                      {{#if value.vAuthorizationContract }}
                      <span class="btn badge badge-danger depositContract" data-id="{{value._id}}">View</span>
                      <button class="reset_contract btn btn-primary badge" data-id="{{value._id}}"
                        data-filter="vAuthorizationContract">Reset</button>
                      {{else}}
                      <div>
                        <span class="btn badge badge-danger uploadContract" data-id="{{value._id}}"
                          data-filter="vAuthorizationContract">Upload</span>
                      </div>
                      Not filled up yet
                      {{/if}}

                      <!-- Modal -->
                      <div class="modal fade" id="deposit_model_{{value._id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header" style="align-items: center;">
                              <h5 class="modal-title" id="exampleModalLabel">Client List</h5>
                              <a href="onboarding/download_authorizationfrm/{{value._id}}" type="button"
                                class="download_authorizationfrm btn" style="margin-left: auto;">
                                <i class="fas fa-download"></i>
                              </a>
                              <button type="button" class="close m-0" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              {{#if value.vAuthorizationContract.vAdminAddContract}}
                              <iframe src="{{value.vAuthorizationContract.vAdminAddContract}}" frameborder="0"
                                style="height: 400px;width: 100%;" class="edit"></iframe>
                              {{else}}
                              <div class="depositData">

                              </div>
                              {{/if}}


                            </div>
                            <div class="modal-footer justify-content-start">
                              <button type="button" class="medium-btn2" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--End Modal -->
                    </td>
                    <td>
                      {{#if value.vDrivingLicenseContract }}
                      <span data-toggle="modal" data-target="#license_model_{{value._id}}"
                        class="btn badge badge-danger">View</span>
                      <button class="reset_contract btn btn-primary badge" data-id="{{value._id}}"
                        data-filter="vDrivingLicenseContract">Reset</button>
                      {{else}}
                      <div>
                        <span class="btn badge badge-danger uploadContract" data-id="{{value._id}}"
                          data-filter="vDrivingLicenseContract">Upload</span>
                      </div>
                      Not filled up yet
                      {{/if}}

                      <!-- Modal -->
                      <div class="modal fade" id="license_model_{{value._id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Client List</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              {{#if value.vDrivingLicenseContract.vAdminAddContract}}
                              <iframe src="{{value.vDrivingLicenseContract.vAdminAddContract}}" frameborder="0"
                                style="height: 400px;width: 100%;" class="edit"></iframe>
                              {{else}}
                              <iframe src="{{value.vDrivingLicenseContract.vDrivingLicense}}" frameborder="0"
                                style="height: 400px;width: 100%;" class="edit"></iframe>
                              {{/if}}

                            </div>
                            <div class="modal-footer justify-content-start">
                              <button type="button" class="medium-btn2" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--End Modal -->
                    </td>
                    <td>{{value.eClearmarket}}</td>
                    <td class="">
                      <div class="dropdown action-dropdown">
                        <button class="listing-dropdown dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-expanded="false">
                          <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23" viewBox="0 0 4.8 23">
                            <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                              d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                              transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                          </svg>
                        </button>
                        <div class="dropdown-menu w-100" style="will-change: transform;">
                          {{#InArray value._id ...existContract}}
                          <a class="dropdown-item changeStatus" href="javascript:;" data-toggle="modal"
                            data-target="#status_{{value._id}}" data-id="{{value._id}}">change status</a>
                          <a class="dropdown-item reset_contract" href="javascript:;" data-id="{{value._id}}"
                            data-filter="allContract">Reset</a>
                          {{/InArray}}
                          <a class="dropdown-item restore_contract" href="javascript:;"
                            data-id="{{value._id}}">Restore</a>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="status_{{value._id}}" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Client List</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <select name="eContractStatus" id="eContractStatus_{{value._id}}" class="ivu-input">

                                      <option value="Pending" {{#if_equal value.eContractStatus "Pending" }} selected
                                        {{/if_equal}}>Pending</option>
                                      <option value="Active" {{#if_equal value.eContractStatus "Active" }} selected
                                        {{/if_equal}}>Active</option>
                                      <option value="Suspended" {{#if_equal value.eContractStatus "Suspended" }}
                                        selected {{/if_equal}}>Suspended</option>
                                      <option value="Terminated" {{#if_equal value.eContractStatus "Terminated" }}
                                        selected {{/if_equal}}>Terminated</option>

                                    </select>
                                  </div>
                                  <div class="col-lg-12">
                                    <div class="d-flex">
                                      <input type="checkbox" id="eClearmarket_{{value._id}}" name="eClearmarket"
                                        class="checkboxall m-0" {{#if_equal value.eClearmarket "Yes" }} checked
                                        {{/if_equal}} /> <label class="ml-2" for="selectalluser">Clear
                                        market</label>
                                    </div>
                                  </div>
                                </div>

                                <script>

                                  // update contract status
                                  $(document).on('click', '#updateStatus_{{value._id}}', function () {

                                    var iAgentId = "{{value._id}}";
                                    var eContractStatus = $("#eContractStatus_{{value._id}}").val();
                                    var eClearmarketcheck = $('#eClearmarket_{{value._id}}').is(':checked');

                                    if (eClearmarketcheck == true) {
                                      var eClearmarket = 'Yes';
                                    } else {
                                      var eClearmarket = 'No';
                                    }

                                    if (eContractStatus.length == 0) {
                                      alert('Please select records.');
                                    } else {
                                      $.ajax({
                                        url: "/onboarding/edit_contract_status",
                                        type: "POST",
                                        data: { iAgentId: iAgentId, eContractStatus: eContractStatus, eClearmarket: eClearmarket },
                                        success: function (response) {
                                          window.location.reload();
                                        }
                                      });
                                    }
                                  });

                                </script>
                              </div>
                              <div class="modal-footer justify-content-start">
                                <button type="button" class="medium-btn" id="updateStatus_{{value._id}}"
                                  data-id="{{value._id}}">Update</button>
                                <button type="button" class="medium-btn2" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--End Modal -->
                      </div>
                    </td>
                  </tr>
                  {{/each}}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $("#selectall").click(function () {
    if (this.checked) {
      $('.checkboxall').each(function () {
        $(".checkboxall").prop('checked', true);
      });
    } else {
      $('.checkboxall').each(function () {
        $(".checkboxall").prop('checked', false);
      });
    }
  });

  $(document).ready(function () {
    var dataTable = $('#table_record').DataTable();
  });

/*
  //Delete record
  function deleteRecord(iAgentId, vAction) {
    $.ajax({
      url: '/onboarding/delete',
      type: 'post',
      data: { vAction: vAction, iAgentId: iAgentId },
      success: function () {
        location.reload();
      }
    });
  }

  $(document).on('click', '.delete', function () {
    var iAgentId = $(this).data('id');
    if (confirm('Are you sure to delete this record ?')) {
      deleteRecord(iAgentId, "delete");
    }
  });

  $(document).on('click', '#delete_btn', function () {

    var id = [];
    $("input[name='iAgentId[]']:checked").each(function () {
      id.push($(this).val());
    });
    var iAgentId = id.join(",");
    if (iAgentId.length == 0) {
      alert('Please select records.')
    } else {
      if (confirm('Are you sure delete this record?')) {
        // AJAX request
        deleteRecord(iAgentId, "multiple_delete")
      }
    }
  }); */

  $(document).on("click", ".contract", function () {

    var iAgentId = $(this).data("id");
    $.ajax({
      url: "/onboarding/contract",
      type: "POST",
      data: {
        iAgentId: iAgentId
      },
      success: function (response) {
        $("#vOnboardingContract_model_" + iAgentId).modal();
        $(".contarctData").html(response);
      }
    })
  });

  $(document).on("click", ".applicationContract", function () {
    var iAgentId = $(this).data("id");
    $.ajax({
      url: "/onboarding/applicationContract",
      type: "POST",
      data: {
        iAgentId: iAgentId
      },
      success: function (response) {
        $("#application_model_" + iAgentId).modal();
        $(".ApplicationData").html(response);
      }
    })
  });

  $(document).on("click", ".taxpayer", function () {
    var iAgentId = $(this).data("id");
    $("#taxpayer_model_" + iAgentId).modal();
  });

  $(document).on("click", ".depositContract", function () {
    var iAgentId = $(this).data("id");
    $.ajax({
      url: "/onboarding/depositContract",
      type: "POST",
      data: {
        iAgentId: iAgentId
      },
      success: function (response) {
        $("#deposit_model_" + iAgentId).modal();
        $(".depositData").html(response);
      }
    })
  });

  $(document).on("click", ".reset_contract", function () {
    var iAgentId = $(this).data("id");
    var contract = $(this).data("filter");
    if (confirm("Are you sure you want to reset contract?")) {

      $.ajax({
        url: "/onboarding/reset_contract",
        type: "POST",
        data: {
          iAgentId: iAgentId,
          contract: contract
        },
        success: function (response) {
          window.location.reload()
        }
      })
    }
  });

  $(document).on("click", ".restore_contract", function () {
    var iAgentId = $(this).data("id");
    if (confirm("Are you sure you want to restore contract?")) {

      $.ajax({
        url: "/onboarding/restore_contract",
        type: "POST",
        data: {
          iAgentId: iAgentId
        },
        success: function (response) {
          window.location.reload()
        }
      })
    }
  });

  $(document).on("click", ".uploadContract", function () {
    var iAgentId = $(this).data("id");
    var contract = $(this).data("filter");
    $("#vContractName_" + iAgentId).val(contract);
    $("#uploadContract_model_" + iAgentId).modal();
  });

</script>