<style>
    .username_font{
        font-size: 24px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        background: #f0542abd;
        color: wheat;
        font-weight: 800;
    }
    .username_font_123{
        border-radius: 100px;
        display: flex !important;
    }
</style>
<div class="main-chat-wrapper">
    <div class="chat-side-bar">
        <div class="chat-left-header">
            <div class="chat-search-header">
                <div class="search-header-wrapper">
                    <input type="text" placeholder="Search.." class="ivu-input" />
                    <i class="fal fa-search"></i>
                </div>
            </div>

            {{! chat options }}
            <div class="tabs-wrapper">

                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                            aria-controls="pills-home" aria-selected="true">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                            aria-controls="pills-contact" aria-selected="false">Agents</a>
                    </li>
                </ul>

            </div>
            <div class="tab-content" id="pills-tabContent">

                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    {{! user list chat }}
                    <div class="left-side-user-listing">
                        <ul>
                            {{#each allData as |value key| }}
                            <li>
                                <a href="javascript:;" class="left-user-list-main active client_user_click"
                                    data-name="{{value.vFirstName}} {{value.vLastName}}" data-userid="{{value._id}}">
                                    <div class="left-media username_font">
                                        {{#user_name value.vFirstName value.vLastName}}{{/user_name}}
                                    </div>
                                    <div class="user-desc">
                                        <p class="user-name">
                                            {{value.vFirstName}} {{value.vLastName}}
                                        </p>
                                        <p class="user-text">
                                            {{value.eUserType}}
                                        </p>
                                    </div>
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>

                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    {{! user list chat }}
                    <div class="left-side-user-listing">
                        <ul>
                            {{#each clientData as |value key| }}
                            <li>
                                <a href="#" class="left-user-list-main active">
                                    <div class="left-media username_font">
                                        {{#user_name value.vFirstName value.vLastName}}{{/user_name}}
                                    </div>
                                    <div class="user-desc">
                                        <p class="user-name">
                                            {{value.vFirstName}} {{value.vLastName}}
                                        </p>
                                        <p class="user-text">
                                            {{value.eUserType}}
                                        </p>
                                    </div>
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    {{! user list chat }}
                    <div class="left-side-user-listing">
                        <ul>
                            {{#each agentData as |value key| }}
                            <li>
                                <a href="#" class="left-user-list-main active">
                                    <div class="left-media username_font">
                                        {{#user_name value.vFirstName value.vLastName}}{{/user_name}}
                                    </div>
                                    <div class="user-desc">
                                        <p class="user-name">
                                            {{value.vFirstName}} {{value.vLastName}}
                                        </p>
                                        <p class="user-text">
                                            {{value.eUserType}}
                                        </p>
                                    </div>
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="chat-right-side" id="chatSystemNone" style="display: none;">
        <div class="chat-right-header">
            <div class="chat-r-user">
                <a href="javascript:;" class="media-user username_font username_font_123 usernametext"></a>
                <p class="user-text" id="usertextdata"></p>
                <input type="hidden" value="" id="userID">
            </div>
        </div>

        <div class="main-chat-container">

            <ul class="chats-left-right">
                {{! message send right side }}
                <li class="w-100">
                    <div class="right-side-msg">
                        <div class="msg-right">
                            <p class="text">
                                hello
                            </p>
                            <p class="time">
                                10:58 am
                            </p>
                        </div>
                    </div>
                </li>

                {{! incoming message}}
                <li class="w-100">
                    <div class="right-side-msg incoming-msgs">
                        <div class="msg-right">
                            <p class="text">
                                hello
                            </p>
                            <p class="time">
                                10:58 am
                            </p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>

    <div class="chat-right-side justify-content-center align-items-center" id="chatSystemBlock">
        <img src="https://hombolt.s3.us-east-1.amazonaws.com/hombolt/erp/profile/notFound.png"
            style="height: auto; width: 30%;">
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    $(".client_user_click").click(function () {
        var name = $(this).data("name");
        var userid = $(this).data("userid");
        $("#usertextdata").text(name);
        $("#userID").val(userid);
        $("#chatSystemNone").show();
        $("#chatSystemBlock").hide();
        var name_split = name.split(' ');
        var name_0 = name_split[0].charAt(0).toUpperCase();
        var name_1 = name_split[1].charAt(0).toUpperCase();
        var name_1Let = name_0 + '' + name_1;
        $(".usernametext").text(name_1Let);
    });
    const socket = io();
</script>