<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="page-border">
            <h2 class="title-invoice today-event-title">Invoices</h2>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Project Name</th>
                        <th>Phases</th>
                        <th>Agent</th>
                        <th>End date</th>
                        <th>Sales price</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    {{#each paymentInvoice as |value key| }}

                    {{#if value.iProjectId.vProject}}
                    <tr>
                        <td>{{ value.iProjectId.vProject }}</td>
                        <td>{{ value.ePaymentPhases }} Step {{ value.ePaymentStep }}</td>
                        <td>{{ value.iAgentId.vFirstName }} {{ value.iAgentId.vLastName }}</td>
                        <td>{{ value.dtPaymentDate }}</td>
                        <td>{{ value.iSalesPrice }}</td>
                        <td style="text-transform:capitalize;">
                            <span {{#if_equal value.ePaymentStatus 'succeeded' }}class="badge badge-success"
                                {{else}}class="badge badge-warning" {{/if_equal}}>
                                {{#check_ternary value.ePaymentStatus}}{{/check_ternary}}
                            </span>
                        </td>
                        {{!-- <td><a href="/invoice/invoice-download/{{ value._id }}"
                                class="btn btn-primary">Download</a>
                        </td>
                        <td><a href="/payment/{{ value.iProjectId._id }}" class="btn btn-primary">Payment</a>
                        </td> --}}
                        <td>
                            <div class="dropdown action-dropdown">
                                <button class="listing-dropdown dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23"
                                        viewBox="0 0 4.8 23">
                                        <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                                            d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                                            transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                                    </svg>
                                </button>
                                <div class="dropdown-menu w-100" style="will-change: transform;">
                                    <a class="dropdown-item"
                                        href="/invoice/invoice-download/{{ value._id }}">Download</a>

                                    <a class="dropdown-item delete"
                                        href="/payment/{{ value.iProjectId._id }}">Payment</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="page-border">
            <h2 class="title-invoice today-event-title">Receipts</h2>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Project Name</th>
                        <th>User id </th>
                        <th>Sales price</th>
                        <th>Payment status </th>
                        <th>Document</th>
                    </tr>
                    {{#each paymentReceipt as |value key| }}
                    {{#if value.iProjectId.vProject}}
                    <tr>
                        <td>{{ value.iProjectId.vProject }}</td>
                        <td>{{ value.iClientUserId }}</td>
                        <td>{{ value.iSalesPrice }}</td>
                        <td style="text-transform:capitalize;">
                            <span {{#if_equal value.ePaymentStatus 'succeeded' }}class="badge badge-success"
                                {{else}}class="badge badge-warning" {{/if_equal}}>
                                {{#check_ternary value.ePaymentStatus}}{{/check_ternary}}
                            </span>
                        </td>
                        <td><a href="/invoice/receipt-download/{{ value._id }}" class="btn btn-primary">Download</a>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>