<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pdf</title>
</head>
<style>

</style>

<body style=" font-size: 14px;color: rgb(158, 157,
        157);font-family:sans-serif;">
    <table style="max-width: 700px;width: 100%; margin:auto; border: 1px
            solid black; border-bottom: none; margin-bottom: 0px; padding:
            20px;">
        <tr>
            <td>
                <h1 style="color: black; font-size: 18px; margin-bottom: 0px;">INVOICE #INVOICE_NAME#</h1>
                <div>
                    <p style="margin-bottom: 0px; margin-top: 15px;"><strong
                            style="min-width:150px;">Date:</strong><span> #INVOICE_DATE#</span></p>
                    <p style="margin-bottom: 0px; margin-top: 5px;"><strong style="min-width:150px;">Project
                            Phase:</strong><span> Stept #STEP_PAY# Payment</span></p>

                </div>
            </td>
            <td style="text-align: right; vertical-align: top;">
                <img src="https://hombolt.com/assets/images/logo/Vx6RVxsXftpPDx8Xxzy8uln6qIJmW9UI8V4DdLsd.png" alt=""
                    height="auto" width="200px">
                <div>
                    <p style="margin-bottom: 0px; margin-top: 15px; font-size: 16px; color: #626262;"><strong
                            style="min-width:150px;">INVOICE NO:</strong></p>
                    <p style="margin-bottom: 0px; margin-top: 0px; font-size: 16px; color: #626262;"><strong
                            style="min-width:150px;">#INVOICE_NO#</strong></p>
                </div>

            </td>

        </tr>

        <!-- <tr>
                <td>
                    <strong style="min-width:150px;">transaction ID:</strong><span>{{stripe_trans_id}}</span>
                </td>
            </tr> -->
    </table>
    <table style="max-width: 700px;width: 100%; margin:auto; border: 1px
        solid black; border-top: 0px; border-bottom: none; margin-bottom: 0px; padding:
        20px;">
        <tr>
            <td>
                <h3 style="margin-bottom: 0px; color: black;">Bill To:</h3>
                <strong style="min-width:150px; font-size: 19px;">#CLIENT_NAME#</strong>
            </td>
            <td style="text-align: right; vertical-align: top;">
                <h3 style="margin-bottom: 0px; color: black;">Bill From:</h3>
                <strong style="min-width:150px; font-size: 19px;">Hombolt</strong>
            </td>
        </tr>
    </table>
    <table
        style="max-width: 700px;width: 100%; border-collapse: collapse; margin:auto; border: 1px solid black;  margin-bottom: 0px; border-top: 0px; text-align: left;">
        <tr>
            <td style="padding: 20px;">
                <table style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <th
                            style="background-color: #626262; font-size: 14px; color: white; padding: 7px; border: 1px solid gray; ">
                            NO</th>
                        <th
                            style="background-color: #626262; font-size: 14px; color: white; padding: 7px; border: 1px solid gray; ">
                            Project</th>
                        <th
                            style="background-color: #626262; font-size: 14px; color: white; padding: 7px; border: 1px solid gray; ">
                            PRICE</th>
                    </tr>
                    <tr>
                        <td style="padding: 7px;color: #000;font-size: 12px; border: 1px solid gray; ">1</td>
                        <td style="padding: 7px;color: #000;font-size: 12px; border: 1px solid gray; ">
                            <p style="margin: 5px 0px; font-size: 16px; font-weight: bold;">#vProject#</p>
                        </td>
                        <td style="padding: 7px;color: #000;font-size: 12px; border: 1px solid gray; ">#iSalesPrice#
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td style="padding: 7px; color: #626262;font-size: 12px; border: 1px solid gray; text-align: right;"
                            colspan="2">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 50%; text-align: left;">
                                        <p style="margin: 5px 0px;"><strong>Sub Total:</strong></p>
                                    </td>
                                    <td style="text-align: right; width: 50%;"> $ #SUBTOTAL#</td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; text-align: left;">
                                        <p style="margin: 5px 0px;"><strong>DISCOUNT:</strong></p>
                                    </td>
                                    <td style="width: 50%;">#DISCOUNT# <span>#TOTAL_DISCOUNT#</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td style="padding: 7px; color: white;font-size: 12px; border: 1px solid gray; text-align: right; background-color: #626262;"
                            colspan="2">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 50%; text-align: left; font-size: 14px;">
                                        <p style="margin: 5px 0px;"><strong>Total:</strong></p>
                                    </td>
                                    <td style="text-align: right; width: 50%; font-size: 14px;"> $ #TOTAL#</td>
                                </tr>
                                <tr>
                                    <td style="width: 60%; text-align: left; font-size: 14px;">
                                        <p style="margin: 5px 0px;"><strong>Remaining Balance:</strong></p>
                                    </td>
                                    <td style="width: 50%; font-size: 14px;">$ #REMAINING_PRICE#</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>

</html>