<div class="_main_content">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="_1card">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h2 class="today-event-title">Agent List</h2>
              </div>
              <div class="col-sm-12 col-md-6" style="text-align: right;">
                <a href="javascript:;" id="delete_btn" class="medium-btn">Multi Delete</a>
                <a href="/agent/add" class="medium-btn"><span>Add New</span></a>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table id="table_record" class="table table-bordered">
                <thead>
                  <tr align="center">
                    <th><input type="checkbox" id="selectall" name="selectall" /></th>
                    <th>Agent Number</th>
                    <th>Name</th>
                    <th>Email</th>
                    {{!-- <th>Image</th> --}}
                    <th>Agent Type</th>
                    <th>Reference</th>
                    <th>Joining Date</th>
                    <th>Phone</th>
                    {{!-- <th>Address</th>
                    <th>Post Code</th>
                    <th>City</th>
                    <th>Country</th> --}}
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each agentData as |value key| }}

                  <tr>
                    <td><input type="checkbox" name="iAgentId[]" id="iAgentId_{{value._id}}" value="{{value._id}}"
                        class="checkboxall" /></td>
                    <td>{{value.iUserID}}</td>
                    <td>
                      <div class="agent-usr-detail">
                        <div class="user-pic agent-user-pic">
                          {{#if value.vImage}}
                          <img src="{{value.vImage}}">
                          {{else}}
                          <img src="assets/img/role.png">
                          {{/if}}
                        </div>
                        {{value.vFirstName}} {{value.vLastName}}
                      </div>
                    </td>
                    <td>{{value.vEmail}}</td>
                    <td>{{value.iAgentType.vTitle}}</td>
                    <td> {{#if value.vReferrer.iUserID}}{{value.vReferrer.vFirstName}} {{value.vReferrer.vLastName}}
                      ({{value.vReferrer.iUserID}}){{else}}

                      <span data-toggle="modal" data-target="#reference_model_{{value._id}}" class="badge badge-danger"
                        id="clientList_{{value._id}}" data-id="{{value._id}}"
                        data-filter="{{value.iAgentType.iPosition}}">Add</span>

                      <!-- Modal -->
                      <div class="modal fade" id="reference_model_{{value._id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header pt-0">
                              <h5 class="modal-title" id="exampleModalLabel">Agent List</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-lg-12">
                                  <form class="agent_form_{{value._id}}" method="POST" action="/agent/add_referrerAgent"
                                    enctype="multipart/form-data">
                                    <input type="hidden" name="iAgentId" id="iAgentId" value="{{value._id}}">
                                    <select name="vReferrer" id="vReferrer_{{value._id}}" class="ivu-input">
                                    </select>
                                    <div class="text-danger" id="vReferrer_{{value._id}}_error" style="display: none;">
                                      Please select agent</div>
                                  </form>

                                </div>
                              </div>


                              <script>
                                $('#clientList_{{value._id}}').click(function () {
                                  iPosition = $(this).data('filter');
                                  $.ajax({
                                    url: "/agent/referrerAgent",
                                    type: "POST",
                                    data: {
                                      iPosition: iPosition,
                                    },
                                    success: function (response) {
                                      $("#vReferrer_{{value._id}}").empty();
                                      $("#vReferrer_{{value._id}}").append($('<option>').val("").text("Select Agent"));
                                      if (response != '') {
                                        for (let index = 0; index < response.length; index++) {
                                          const element = response[index];
                                          $("#vReferrer_{{value._id}}").append($('<option>').val(element._id).text(element.vFirstName + ' ' + element.vLastName));
                                          $(".save").show();
                                          $(".closebtn").hide();
                                        }
                                      } else {
                                        $("#vReferrer_{{value._id}}").append($('<option>').text("Not available any agent"));
                                        $(".save").hide();
                                        $(".closebtn").show();
                                      }
                                    }
                                  });
                                })

                                // insert send video
                                $(document).on('click', '#SendAgent_{{value._id}}', function () {

                                  var vReferrer = $("#vReferrer_{{value._id}}").val();
                                  var vError = false;

                                  if (vReferrer.length == 0) {
                                    $("#vReferrer_{{value._id}}_error").show();
                                    vError = true;
                                  } else {
                                    $("#vReferrer_{{value._id}}_error").hide();
                                  }

                                  if (vError == true) {
                                    return false;
                                  } else {
                                    setTimeout(function () {
                                      $(".agent_form_{{value._id}}").submit();
                                      $('#reference_model_{{value._id}}').modal('toggle');
                                      return true;
                                    }, 500);
                                  }
                                });
                              </script>
                            </div>
                            <div class="modal-footer pb-0 justify-content-start">
                              <button type="button" class="medium-btn save" id="SendAgent_{{value._id}}"
                                data-id="{{value._id}}">Send</button>
                              <button type="button" class="medium-btn2 closebtn" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--End Modal -->

                      {{/if}}
                    </td>
                    <td>{{value.dtAddedDate}}</td>

                    <td>{{value.vPhone}}</td>
                    {{!-- <td>{{value.vAddress}}</td>
                    <td>{{value.vZipCode}}</td>
                    <td>{{value.vCountry}}</td>
                    <td>{{value.vCity}}</td> --}}
                    <td class="text-center">
                      <div class="dropdown action-dropdown">
                        <button class="listing-dropdown dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-expanded="false">
                          <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23" viewBox="0 0 4.8 23">
                            <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                              d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                              transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                          </svg>
                        </button>
                        <div class="dropdown-menu w-100" style="will-change: transform;">
                          <a class="dropdown-item" href="agent-hierarchy/agentOverview/{{value._id}}">View</a>
                          <a class="dropdown-item" href="/agent/edit/{{value._id}}">Edit</a>
                          <a class="dropdown-item delete" href="javascript:;" data-id="{{value._id}}">Delete</a>
                          <a class="dropdown-item" href="javascript:;" data-toggle="modal"
                            data-target="#changePassword_model_{{value._id}}" id="clientList_{{value._id}}"
                            data-id="{{value._id}}">Change password</a>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="changePassword_model_{{value._id}}" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header pt-0">
                                <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <form class="password_form_{{value._id}}" method="POST" action="/agent/reset_action"
                                      enctype="multipart/form-data">
                                      <input type="hidden" name="iAgentId" id="iAgentId" value="{{value._id}}">
                                      <input name="vPassword" id="vPassword_{{value._id}}" class="ivu-input">
                                      <div class="text-danger" id="vPassword_{{value._id}}_error"
                                        style="display: none;">Please add password</div>
                                    </form>

                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer pb-0 justify-content-start">
                                <button type="button" class="medium-btn save" id="setPassword_{{value._id}}"
                                  data-id="{{value._id}}">Submit</button>
                                <button type="button" class="medium-btn2 closebtn" data-dismiss="modal">Close</button>
                              </div>
                              <script>
                                // set new password
                                $(document).on('click', '#setPassword_{{value._id}}', function () {

                                  var vPassword = $("#vPassword_{{value._id}}").val();
                                  var vError = false;

                                  if (vPassword.length == 0) {
                                    $("#vPassword_{{value._id}}_error").show();
                                    vError = true;
                                  } else {
                                    $("#vPassword_{{value._id}}_error").hide();
                                  }

                                  if (vError == true) {
                                    return false;
                                  } else {
                                    setTimeout(function () {
                                      $(".password_form_{{value._id}}").submit();
                                      $('#changePassword_model_{{value._id}}').modal('toggle');
                                      return true;
                                    }, 500);
                                  }
                                });
                              </script>
                            </div>
                          </div>
                        </div>
                        <!--End Modal -->
                      </div>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">

  $("#selectall").click(function () {
    if (this.checked) {
      $('.checkboxall').each(function () {
        $(".checkboxall").prop('checked', true);
      });
    } else {
      $('.checkboxall').each(function () {
        $(".checkboxall").prop('checked', false);
      });
    }
  });

  $(document).ready(function () {
    var dataTable = $('#table_record').DataTable();
  });

  //Delete record
  function deleteRecord(iAgentId, vAction) {
    $.ajax({
      url: '/agent/delete',
      type: 'post',
      data: { vAction: vAction, iAgentId: iAgentId },
      success: function () {
        location.reload();
      }
    });
  }

  $(document).on('click', '.delete', function () {
    var iAgentId = $(this).data('id');
    if (confirm('Are you sure to delete this record ?')) {
      deleteRecord(iAgentId, "delete");
    }
  });

  $(document).on('click', '#delete_btn', function () {

    var id = [];
    $("input[name='iAgentId[]']:checked").each(function () {
      id.push($(this).val());
    });
    var iAgentId = id.join(",");
    if (iAgentId.length == 0) {
      alert('Please select records.')
    } else {
      if (confirm('Are you sure delete this record?')) {
        deleteRecord(iAgentId, "multiple_delete")
      }
    }
  });
</script>