<div class="_main_content">

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="_1card">
                <div class="_1card_top p-0">
                    <div class="_1card_top_left">
                        <h2 class="today-event-title">Project Commission</h2>
                    </div>
                </div>

                <div class="_1card_body">
                    <div class="table-responsive" id="table_record">
                        {{#each weekWiseCommission as |value key|}}

                        <div id="accordion">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between" id="heading{{key}}">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse"
                                            data-target="#collapse{{key}}" aria-expanded="true"
                                            aria-controls="collapse{{key}}">
                                            WK {{sub ../weekWiseCommission.length @key}}
                                        </button>
                                    </h5>
                                    <h5>{{#if value}}Total Amount: ${{#totalAmt value}}{{/totalAmt}}{{else}}Total
                                        Amount: $0{{/if}}</h5>
                                </div>

                                <div id="collapse{{key}}" class="collapse" aria-labelledby="heading{{key}}"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    {{!-- <th>Week</th> --}}
                                                    <th>Date</th>
                                                    <th>Agent</th>
                                                    <th>Payroll ID</th>
                                                    <th>Amount</th>
                                                    <th>Statement</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each value as |v k|}}
                                                <tr>
                                                    {{!-- <td>Wk 1</td> --}}
                                                    <td>{{#getWeek v.dtAddedDate}} {{/getWeek}} ({{v.dtAddedDate}})</td>
                                                    <td>{{v.agentId.iUserID}} -{{v.agentId.vFirstName}}
                                                        {{v.agentId.vLastName}}</td>
                                                    <td>{{v.projectId.iProjectUniqueId}} - {{v.projectId.vProject}}</td>
                                                    <td>${{v.iAmount}}</td>
                                                    <td>
                                                        <a href="/contracting/payroll-download/{{v._id}}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="23"
                                                                height="23" viewBox="0 0 23 23">
                                                                <g id="Group_453" data-name="Group 453"
                                                                    transform="translate(-1303 -427)">
                                                                    <g id="Rectangle_61" data-name="Rectangle 61"
                                                                        transform="translate(1303 427)" fill="none"
                                                                        stroke="#8d99ae" stroke-width="1">
                                                                        <rect width="23" height="23" rx="5"
                                                                            stroke="none" />
                                                                        <rect x="0.5" y="0.5" width="22" height="22"
                                                                            rx="4.5" fill="none" />
                                                                    </g>
                                                                    <g id="Icon_feather-download"
                                                                        data-name="Icon feather-download"
                                                                        transform="translate(1304.722 428.721)">
                                                                        <path id="Path_172" data-name="Path 172"
                                                                            d="M15.058,22.5v2.346a1.173,1.173,0,0,1-1.173,1.173H5.673A1.173,1.173,0,0,1,4.5,24.846V22.5"
                                                                            transform="translate(0 -10.962)" fill="none"
                                                                            stroke="#8d99ae" stroke-linecap="round"
                                                                            stroke-linejoin="round" stroke-width="1" />
                                                                        <path id="Path_173" data-name="Path 173"
                                                                            d="M10.5,15l2.933,2.933L16.365,15"
                                                                            transform="translate(-3.654 -6.394)"
                                                                            fill="none" stroke="#8d99ae"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round" stroke-width="1" />
                                                                        <path id="Path_174" data-name="Path 174"
                                                                            d="M18,11.538V4.5"
                                                                            transform="translate(-8.221)" fill="none"
                                                                            stroke="#8d99ae" stroke-linecap="round"
                                                                            stroke-linejoin="round" stroke-width="1" />
                                                                    </g>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                                <tr>
                                                    <td class="text-right" colspan="5">Total Amount: {{#totalAmt
                                                        value}}{{/totalAmt}}
                                                        {{#if value}}
                                                        <a href="javascript:;" class="medium-btn">
                                                            <span>Download Invoice</span>
                                                        </a>
                                                        {{/if}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
