<a class="medium-btn2 mb-4" href="/commission-master">Go back</a>
<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="_main_content">

      <div class="add-client-info-msg">

        <div class="icon">
          <i class="fal fa-lightbulb"></i>
        </div>

        <div class="info-text">
          <p class="info-alert-message">
            Add new project commission!
          </p>
        </div>
      </div>

      <div class="_1card">

        <div class="_1card_body pt-2 profile-difrt-box">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label for="iProjectId" class="ivu-form-item-label">Project Name</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <select class="ivu-input ivu-input-default select2" name="iProjectId" id="iProjectId">
                      <option value="">Select Project</option>
                      {{#each projectData as |value key| }}
                      <option value="{{ value._id }}">{{value.iProjectUniqueId}} - {{value.vProject}}</option>
                      {{/each}}
                    </select>
                    <div class="text-danger" id="iProjectId_error" style="display: none;">Please enter firstname</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

  $(document).on('click', '.cancel', function () {
    location.href = "/commission-master";
  });

  $("#iProjectId").select2({
    placeholder: "Select Project",
    allowClear: true,
  });

   $("#iProjectId").change(function () {
        var iProjectId = $('#iProjectId').val();

        window.location.href = "/commission-master/add/" + iProjectId;
    });

</script>