<a class="medium-btn2 mb-4" href="/commission-master/add">Go back</a>
<div class="row">
  <div class="col-lg-11 col-xl-9 mx-auto">
    <div class="_main_content">

      <div class="add-client-info-msg">

        <div class="icon">
          <i class="fal fa-lightbulb"></i>
        </div>

        <div class="info-text">
          <p class="info-alert-message">
            Add new project commission!
          </p>
        </div>
      </div>

      <div class="_1card">

        <div class="_1card_body pt-2 profile-difrt-box">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label for="iProjectId" class="ivu-form-item-label">Project Name</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <select class="ivu-input ivu-input-default select2" name="iProjectId" id="iProjectId">
                      <option value="">Select Project</option>
                      {{#each projectData as |value key| }}
                      <option value="{{ value._id }}" {{isSelected value._id ../iProjectId}}>{{value.iProjectUniqueId}}
                        - {{value.vProject}}</option>
                      {{/each}}
                    </select>
                    <div class="text-danger" id="iProjectId_error" style="display: none;">Please enter firstname</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="table-responsive mt-4">
                <table class="table">
                  <tr>
                    <td>Project Id :</td>
                    <td>
                      {{ getProject.iProjectUniqueId }}
                    </td>
                  </tr>

                  <tr>
                    <td>Project Name : </td>
                    <td>
                      {{ getProject.vProject }}
                    </td>
                  </tr>

                  <tr>
                    <td>Project Type:</td>
                    <td>
                      {{ getProject.iProjectTypeId.vTitle }}
                    </td>
                  </tr>

                  <tr>
                    <td>Project Price:</td>
                    <td>
                      {{ getProject.iSalesPrice }}
                    </td>
                  </tr>

                  <tr>
                    <td>Sales Agent Name:</td>
                    <td>
                      {{ getProject.AgentId.vFirstName }} {{ getProject.AgentId.vLastName }}
                    </td>
                  </tr>


                  <tr>
                    <table class="table">
                      <tr>
                        <td colspan="2">
                          <h3>Hierarchy: </h3>
                        </td>
                      </tr>

                      {{#each subAgentData as |value key|}}
                      <tr>
                        <td>{{value.iAgentType.vTitle}}</td>
                        <td>{{value.vFirstName}} {{value.vLastName}}</td>
                      </tr>
                      {{/each}}
                    </table>
                  </tr>

                </table>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div>
                <label class="ivu-form-item-label">Project Info</label>
                <table class="table">
                  <tr>
                    <td> Payment Phases :

                      {{#if_equal getProject.eIsRecurring 'No'}}
                      {{#if_equal getProject.ePaymentPhases "ThreePhase" }}
                      Three Phase Payment
                      {{/if_equal}}
                      {{#if_equal getProject.ePaymentPhases "FourPhase" }}
                      Four Phase Payment
                      {{/if_equal}}
                      {{#if_equal getProject.ePaymentPhases "FullPayment" }}
                      Full Payment
                      {{/if_equal}}

                      {{else}}

                      {{#if_equal getProject.ePaymentPhases "Annual" }}
                      Annual Payment
                      {{/if_equal}}
                      {{#if_equal getProject.ePaymentPhases "SemiAnnual" }}
                      Semi-Annual Payment
                      {{/if_equal}}
                      {{#if_equal getProject.ePaymentPhases "Quarterly" }}
                      Quarterly Payment
                      {{/if_equal}}
                      {{#if_equal getProject.ePaymentPhases "Monthly" }}
                      Monthly Payment
                      {{/if_equal}}
                      {{/if_equal}}

                    </td>
                  </tr>
                  <tr>
                    <td class="d-flex">Amount Received :
                      <form class="project_form" method="POST" action="/commission-master/payroll_action"
                        enctype="multipart/form-data">
                        <input type="hidden" id="iProId" name="iProId" value="{{getProject._id}}">
                        <input type="hidden" id="vAgentCommission" name="vAgentCommission" value="">
                        <input type="hidden" id="ePaymentStep" name="ePaymentStep">
                        <input type="hidden" id="commissionId" name="commissionId">
                        <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                          <input type="number" class="ivu-input ivu-input-default" name="iAmount" id="iAmount"
                            placeholder="Enter Amount" {{#if getProject.iPayrollAmt}}value="{{getProject.iPayrollAmt}}"
                            readonly{{/if}}>
                          <div class="text-danger" id="iAmount_error" style="display: none;">Please enter amount
                          </div>
                        </div>
                      </form>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="yourturn row ">

                {{#if getProject.iPayrollAmt}}
                  {{#each payrollPaymentData as |value key|}}

                  <div class="col-md-6">
                    <label class="dash-form-label">Payment Phases</label>
                    <button type="button" class="payment-select-btn {{#if_equal value.ePaymentStatus 'succeeded'}} success-payment-fill{{/if_equal}}" data-commission="{{value._id}}" data-id="{{value.ePaymentStep}}" data-filter="{{value.iAmount}}">
                      <p>Phase {{value.ePaymentStep}}:- </p>
                      <p>
                        Amount : {{value.iAmount}}
                      </p>
                      <p>Estimated Delivery : {{value.dtPaymentDate}}</p>
                    </button>
                  </div>
                  {{/each}}
                {{/if}}

                
              </div>

              <div class="agentCommission"> </div>

              <div class="footer-btns-group submit_btn" style="display: none;">
                <button type="button" class="medium-btn save">
                  <span>Create</span>
                </button>

                <button class="medium-btn save_loader" style="display: none;">
                  <span>Please Wait...</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-loader spin mr-2 text-white">
                    <line x1="12" y1="2" x2="12" y2="6"></line>
                    <line x1="12" y1="18" x2="12" y2="22"></line>
                    <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                    <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                    <line x1="2" y1="12" x2="6" y2="12"></line>
                    <line x1="18" y1="12" x2="22" y2="12"></line>
                    <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                    <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                  </svg>
                </button>
                <button type="button" class="medium-btn2 cancel">
                  <span>Close</span>
                </button>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Include jQuery and moment.js libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script type="text/javascript">

  $(document).on('click', '.cancel', function () {
    location.href = "/commission-master";
  });

  $("#iProjectId").select2({
    placeholder: "Select Project",
    allowClear: true,
  });

  $("#iProjectId").change(function () {
    var iProjectId = $('#iProjectId').val();
    window.location.href = "/commission-master/add/" + iProjectId;
  });

  $(document).ready(function () {
    paymentPhases()
  })

  $('#iAmount').keyup(_.debounce(function () {
    paymentPhases()
  }, 500));

  function paymentPhases(){
    var iPayrollAmt = "{{getProject.iPayrollAmt}}";

    if (!iPayrollAmt) {
      var phases = "{{getProject.ePaymentPhases}}";
      if (phases) {
        paymentPhaseCal();
        $(".agentCommission").empty();
      }
    }
  }

  function paymentPhaseCal() {

    var phases = "{{getProject.ePaymentPhases}}";
    var iSalesPrice = $("#iAmount").val();

    var dtProjectStartDate = new Date("{{getProject.dtProjectStartDate}}");
    var dtDeadlineDate = new Date("{{getProject.dtDeadlineDate}}");
    var eIsRecurring = "{{getProject.eIsRecurring}}";
    var diffDays = moment(dtDeadlineDate).diff(moment(dtProjectStartDate), 'days');

    $(".yourturn").empty();

    if (phases == 'ThreePhase') {

      for (i = 0; i < 3; i++) {
        if (i == 0) {
          var SalesPrice = iSalesPrice / 2;
          //payment date
          var dtPaymentDate = calculateDate('ThreePhase', i + 1, diffDays, dtProjectStartDate, dtDeadlineDate)
        } if (i == 1 || i == 2) {
          var partOne = iSalesPrice / 2;
          var SalesPrice = partOne / 2;
          //payment date
          var dtPaymentDate = calculateDate('ThreePhase', i + 1, diffDays, dtProjectStartDate, dtDeadlineDate)
        }

        var div1 = `<div class="col-md-6">
                  <label class="dash-form-label">Payment Phases</label>
                  <button type="button" class="payment-select-btn" data-id="${i + 1}" data-filter="${SalesPrice}">
                    <p>Phase ${i + 1}:- </p>
                    <p>
                      Amount : ${SalesPrice}
                    </p>
                    <p>Estimated Delivery : ${dtPaymentDate}</p>
                  </button>
                </div>`;
        $(".yourturn").append(div1)
      }

    }
    if (phases == 'FourPhase') {

      for (i = 0; i < 4; i++) {
        var SalesPrice = iSalesPrice / 4;
        //payment date
        var dtPaymentDate = calculateDate('FourPhase', i + 1, diffDays, dtProjectStartDate, dtDeadlineDate);

        var div1 = `<div class="col-md-6">
                  <label class="dash-form-label">Payment Phases</label>
                  <button type="button" class="payment-select-btn" data-id="${i + 1}" data-filter="${SalesPrice}">
                    <p>Phase ${i + 1}:- </p>
                    <p>
                      Amount : ${SalesPrice}
                    </p>
                    <p>Estimated Delivery : ${dtPaymentDate}</p>
                  </button>
                </div>`;

        $(".yourturn").append(div1)
      }

    }
    if (phases == 'FullPayment') {
      var SalesPrice = iSalesPrice;
      var dtPaymentDate = moment(dtProjectStartDate).add(1, 'days').format('MM/DD/YYYY');

      var div1 = `<div class="col-md-6">
                  <label class="dash-form-label">Payment Phases</label>
                  <button type="button" class="payment-select-btn" data-id="1" data-filter="${SalesPrice}">
                    <p>Phase :- </p>
                    <p>
                      Amount : ${SalesPrice}
                    </p>
                    <p>Estimated Delivery : ${dtPaymentDate}</p>
                  </button>
                </div>`;

      $(".yourturn").append(div1)

    }

    if (eIsRecurring === 'Yes') {
      var SalesPrice = iSalesPrice;
      var dtPaymentDate = moment(dtProjectStartDate).add(1, 'days').format('MM/DD/YYYY');

      if (phases == 'Annual') {

        var div1 = `<div class="col-md-6">
                  <label class="dash-form-label">Payment Phases</label>
                  <button type="button" class="payment-select-btn" data-id="1" data-filter="${SalesPrice}">
                    <p>Phase ${phases}:- </p>
                    <p>
                      Amount : ${SalesPrice}
                    </p>
                    <p>Estimated Delivery : ${dtPaymentDate}</p>
                  </button>
                </div>`;
      } else {

        var div1 = `<div class="col-md-6">
                  <label class="dash-form-label">Payment Phases</label>
                  <button type="button" class="payment-select-btn" data-id="1" data-filter="${SalesPrice}">
                    <p>Phase ${phases}:- </p>
                    <p>
                      Amount : ${SalesPrice}
                    </p>
                    <p>Estimated Delivery : ${dtPaymentDate}</p>
                  </button>
                </div>`;

      }

      $(".yourturn").append(div1)

    }

  }


  function calculateDate(phase, paymentPhase, finishInDays, startDate, endDate) {

    if (paymentPhase == 1) {
      var startDate1 = moment(startDate).add(1, 'days').format('MM/DD/YYYY');
      return startDate1;

    }
    if (paymentPhase == 2) {

      var startDate2 = startDate;
      if (phase == 'ThreePhase') {
        var date = moment(startDate2).add((finishInDays / 2), 'days').format('MM/DD/YYYY');
        return date;
      }

      if (phase == 'FourPhase') {
        var date = moment(startDate2).add((finishInDays / 4), 'days').format('MM/DD/YYYY');
        return date;
      }
    }

    if (paymentPhase == 3) {
      if (phase == 'ThreePhase') {
        return moment(endDate).format('MM/DD/YYYY');
      }
      if (phase == 'FourPhase') {
        var date = moment(startDate).add(((finishInDays / 4) * 2), 'days').format('MM/DD/YYYY');
        return date;
      }
    }

    if (paymentPhase == 4) {
      return moment(endDate).format('MM/DD/YYYY');
    }

  }

  $(document).on("click", '.payment-select-btn', function () {

    $(".payment-fill").removeClass('payment-fill')
    $(this).toggleClass('payment-fill');
    var iAmount = $("#iAmount").val()

    if ($(this).hasClass('payment-fill') === true && iAmount > 0) {

      var iPaymentAmt = $(this).data('filter');
      var ePaymentStep = $(this).data('id');
      var commissionId = $(this).data("commission");
      var iProjectId = $("#iProjectId").val();
      var ePaymentPhases = $("#ePaymentPhases").val();
      $("#ePaymentStep").val(ePaymentStep)
      $("#commissionId").val(commissionId)

      $('#iAmount_error').hide()
      $(".agentCommission").empty();

      $.ajax({
        url: "/commission-master/calCommission",
        type: "POST",
        dataType: "json",
        data: {
          iProjectId: iProjectId,
          iPaymentAmt: iPaymentAmt,
          ePaymentPhases: ePaymentPhases,
          ePaymentStep: ePaymentStep

        },
        success: function (data) {

          $("#vAgentCommission").val(JSON.stringify(data));

          var html = `<table class="table"><tbody><tr><td colspan="2"><h3>Agent Commission: </h3></td></tr>`
          for (var i = 0; i < data.length; i++) {
            html += `<tr> <td>${data[i].agentName}</td> <td>${data[i].amt}</td></tr>`;
          }
          html += `</tbody></table>`;

          $('.agentCommission').append(html);
          $(".submit_btn").show();
        }
      })
    } else {
      $(".agentCommission").empty();
      $('#iAmount_error').show()
    }
  });


  $(document).on('click', '.save', function () {
    var iAmount = $("#iAmount").val()
    var vError = false;

    if (iAmount.length == 0) {
      $("#iAmount_error").show();
      vError = true;
    } else {
      $("#iAmount_error").hide();
    }

    if (vError == true) {
      return false;
    } else {
      $(".save").hide();
      $(".save_loader").show();

      setTimeout(function () {
        $(".project_form").submit();
        return true;
      }, 500);
    }

  });


</script>