  <a class="medium-btn2 mb-4" href="/contract">Go back</a>
<div class="row">
<div class="col-lg-11 col-xl-8 mx-auto">
<div class="_main_content">
  <div class="add-client-info-msg">
    <div class="icon">
      <i class="fal fa-lightbulb"></i>
    </div>
    <div class="info-text">
      <p class="info-alert-message">
        Add Contract
      </p>
    </div>
  </div>
  <div class="_1card">
    <div class="_1card_body pt-2 profile-difrt-box">
      <form class="frm" method="POST" action="/contract/add_action" enctype="multipart/form-data">

        <input type="hidden" name="iContractId" value="{{contractData._id}}">

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Select Contract</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <select name="vContract" id="vContract" class="ivu-select-input">
                    <option value="">Select contract</option>
                    <option value="project" {{#if contractData.iProjectTypeId}}selected{{/if}}>Project contract</option>
                    <option value="onboarding" {{#if contractData.iAgentContractTypeId}}selected{{/if}}>Agent onboarding contract</option>
                  </select>

                  <div class="text-danger" id="vContract_error" style="display: none;">Please Select Contract
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 ProjectType" style="display: none;">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Select Project Contract</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <select name="iProjectTypeId" id="iProjectTypeId" class="ivu-select-input">
                    <option value="">Select project contract</option>
                    {{#each ProjectTypeData as |value key| }}
                    <option value="{{value._id}}"  {{isSelected value._id ../contractData.iProjectTypeId}} data-id ="{{value.eRecurrying}}">{{value.vTitle}}</option>
                    {{/each}}
                  </select>

                  <div class="text-danger" id="iProjectTypeId_error" style="display: none;">Please select project contract
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 ProjectType" style="display: none;">
                <div class="ivu-form-item">
                    <label class="ivu-form-item-label">Payment Phases</label>
                    <div class="ivu-form-item-content">
                        <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                            <select class="ivu-input ivu-input-default" name="ePaymentPhases" id="ePaymentPhases">
                                <option value="">Select Payment Phase</option>
                                <option value="ThreePhase" class="recurring_no" {{#if_equal contractData.ePaymentPhases 'ThreePhase'}}selected{{/if_equal}}>Three Phase Payment</option>
                                <option value="FourPhase" class="recurring_no" {{#if_equal contractData.ePaymentPhases 'FourPhase'}}selected{{/if_equal}}>Four Phase Payment</option>
                                <option value="FullPayment" class="recurring_no" {{#if_equal contractData.ePaymentPhases 'FullPayment'}}selected{{/if_equal}}>Full Payment</option>
                                <option value="Annual" class="recurring_yes" {{#if_equal contractData.ePaymentPhases 'Annual'}}selected{{/if_equal}}>Annual Payment</option>
                                <option value="SemiAnnual" class="recurring_yes" {{#if_equal contractData.ePaymentPhases 'SemiAnnual'}}selected{{/if_equal}}>Semi Annual Payment</option>
                                <option value="Quarterly" class="recurring_yes" {{#if_equal contractData.ePaymentPhases 'Quarterly'}}selected{{/if_equal}}>Quarterly Payment</option>
                                <option value="Monthly" class="recurring_yes" {{#if_equal contractData.ePaymentPhases 'Monthly'}}selected{{/if_equal}}>Monthly Payment</option>
                            </select>
                            
                            <div class="text-danger" id="ePaymentPhases_error" style="display: none;">Please enter
                                Payment Phase
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          <div class="col-xs-12 col-sm-6 col-md-6 AgentContractType" style="display: none;">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Select Agent onboarding contract</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <select name="iAgentContractTypeId" id="iAgentContractTypeId" class="ivu-select-input">
                    <option value="">Select agent onboarding contract</option>
                    {{#each AgentContractTypeData as |value key| }}
                    <option value="{{value._id}}" {{isSelected value._id ../contractData.iAgentContractTypeId}}>{{value.vTitle}}</option>
                    {{/each}}
                  </select>

                  <div class="text-danger" id="iAgentContractTypeId_error" style="display: none;">Please select Agent onboarding contract
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{!-- <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Contract Title</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Contract Title"
                    class="ivu-input ivu-input-default" name="vTitle" id="vTitle" value="{{ contractData.vTitle }}" />
                  <div class="text-danger" id="vTitle_error" style="display: none;">Please enter Contract Title
                  </div>
                </div>
              </div>
            </div>
          </div> --}}

          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Contract Content</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <textarea placeholder="Enter Contract Content" class="ivu-input ivu-input-default" name="vDetail"
                    id="vDetail">{{ contractData.vDetail }}</textarea>
                  <div class="text-danger" id="vDetail_error" style="display: none;">Please enter Contract Content
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Download Contract Content</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <textarea placeholder="Enter Download Contract Content" class="ivu-input ivu-input-default" name="vPdfDetail"
                    id="vPdfDetail">{{ contractData.vPdfDetail }}</textarea>
                  <div class="text-danger" id="vPdfDetail_error" style="display: none;">Please enter Download Contract Content
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Status</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <select name="eStatus" id="eStatus" class="ivu-select-input">
                    <option value="Active" {{#if_equal contractData.eStatus "Active" }} selected {{/if_equal}}>Active
                    </option>
                    <option value="Inactive" {{#if_equal contractData.eStatus "Inactive" }} selected {{/if_equal}}>
                      Inactive</option>
                  </select>
                  <div class="text-danger" id="eStatus_error" style="display: none;">Please enter
                    status</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="footer-btns-group">
        <button type="button" class="medium-btn save">
          <span>Create</span>
        </button>
        <button class="medium-btn save_loader" style="display: none;">
          <span>Please Wait...</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-loader spin mr-2 text-white">
            <line x1="12" y1="2" x2="12" y2="6"></line>
            <line x1="12" y1="18" x2="12" y2="22"></line>
            <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
            <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
            <line x1="2" y1="12" x2="6" y2="12"></line>
            <line x1="18" y1="12" x2="22" y2="12"></line>
            <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
            <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
          </svg>
        </button>
           <button type="button" class="medium-btn2 cancel">
          <span>Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.1.2/tinymce.min.js"
  integrity="sha512-cJ2vUNryvHzgNJfmFTtZ2VX5EMT5JOU1i8nm+L1kwoHQ9bSqSYdswxyk++9Gi27p3BG2rXZXLMsTsluY4RZSSw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
  tinymce.init({
    selector: '#vDetail,#vPdfDetail',
    height: 500,
    plugins: [
      'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
      'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
      'insertdatetime', 'media', 'table', 'help', 'wordcount'
    ],
    toolbar: 'undo redo | blocks | ' +
      'bold italic backcolor | alignleft aligncenter ' +
      'alignright alignjustify | bullist numlist outdent indent | ' +
      'removeformat | help',
    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
  });

  $(document).on('click', '.cancel', function () {
    location.href = "/contract";
  });

  $(document).on('change', '#vContract', function () {
    var vContract = $("#vContract").val();
    if (vContract == 'project') {
      $(".ProjectType").show();
      $(".AgentContractType").hide();
    }
    
    if (vContract == 'onboarding') {
      $(".ProjectType").hide();
      $(".AgentContractType").show();
    }
     
  });

  function CheckRecurrying(eRecurrying){

    var eRecurrying = eRecurrying;

    if(eRecurrying == 'Yes'){

      $('.recurring_no').hide();
      $('.recurring_yes').show();
    }else{
      $('.recurring_no').show();
      $('.recurring_yes').hide();
    }

  }

  $(document).ready(function(){
      var eRecurrying = $('#iProjectTypeId').find(':selected').data('id');
      CheckRecurrying(eRecurrying)
      
  })

  $(document).on("change","#iProjectTypeId",function(){
    var eRecurrying = $(this).find(':selected').data('id');
    CheckRecurrying(eRecurrying)

  })

  $(document).ready(function(){
    var iContractId = "{{contractData._id}}";
    var iProjectTypeId = "{{contractData.iProjectTypeId}}"
    var iAgentContractTypeId = "{{contractData.iAgentContractTypeId}}"
    if(iProjectTypeId != ''){
      $(".ProjectType").show();
    }
    if(iAgentContractTypeId != ''){
      $(".AgentContractType").show();
    }
  })

  $(document).on('click', '.save', function () {

    var vContract = $("#vContract").val();
    var iProjectTypeId = $("#iProjectTypeId").val();
    var iAgentContractTypeId = $("#iAgentContractTypeId").val();
    var vDetail = tinyMCE.get('vDetail').getContent();
    var vPdfDetail = tinyMCE.get('vPdfDetail').getContent();
    var eStatus = $("#eStatus").val();
    var ePaymentPhases = $("#ePaymentPhases").val();
    var vError = false;

    if (vContract.length == 0) {
      $("#vContract_error").show();
      vError = true;
    } else {
      $("#vContract_error").hide();

      if (vContract == 'project') {
        if (iProjectTypeId.length == 0) {
          $("#iProjectTypeId_error").show();
          vError = true;
        } else {
          $("#iProjectTypeId_error").hide();
        }

        if (ePaymentPhases.length == 0) {
          $("#ePaymentPhases_error").show();
          vError = true;
        } else {
          $("#ePaymentPhases_error").hide();
        }
      }

      if (vContract == 'onboarding') {
         if (iAgentContractTypeId.length == 0) {
          $("#iAgentContractTypeId_error").show();
          vError = true;
        } else {
          $("#iAgentContractTypeId_error").hide();
        }
      }
      
    }

    if (vDetail.length == 0) {
      $("#vDetail_error").show();
      vError = true;
    } else {
      $("#vDetail_error").hide();
    }

    if (vPdfDetail.length == 0) {
      $("#vPdfDetail_error").show();
      vError = true;
    } else {
      $("#vPdfDetail_error").hide();
    }

    if (eStatus.length == 0) {
      $("#eStatus_error").show();
      vError = true;
    } else {
      $("#eStatus_error").hide();
    }

    if (vError == true) {
      return false;
    } else {
      $(".save").hide();
      $(".save_loader").show();
      setTimeout(function () {
        $(".frm").submit();
        return true;
      }, 500);
    }

  });
</script>