<div class="login-container">
<div class="form-container outer w-100">
  <div class="row align-items-center">
    <div class="col-md-6 col-sm-6">
      <div class="logo-left-center">
        <img src="https://hombolt.s3.us-east-1.amazonaws.com/hombolt/erp/profile/the-logo.png" alt="" class="img-fluid">
      </div>
      <div class="_login_main d-inline-block">
        <div class="mt-4">
          <h4 class="font-weight-bold">Security questions (You have 
            {{#if userData.iPasswordAttempt}}
               {{#if_greterThen userData.iPasswordAttempt 5 }}
                {{#if_equal userData.iPasswordAttempt 8 }} 3 {{/if_equal}}
                {{#if_equal userData.iPasswordAttempt 7 }} 2  {{/if_equal}}
                {{#if_equal userData.iPasswordAttempt 6 }} 1 {{/if_equal}}
               {{else}}
                {{userData.iPasswordAttempt}}
               {{/if_greterThen}}
             
            {{else}} 3 
            {{/if}} attempt left)</h4>
          {{!-- <h2 class="font-weight-bold text-center">Welcome to Client</h2> --}}
          <p class="login-text mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="_login_form mt-5">
         <form class="text-left securityQuestion_form" method="POST" action="/login/admin_securityQuestion_action">
            <div class="ivu-form-item">
   
             {{#if userData.iPasswordAttempt}}
                  {{#if_greterThen userData.iPasswordAttempt 5 }}
                <label for="age">{{securityData.[0].vQuestion}}</label>
                      <input type="hidden" id="iQuestionId" name="iQuestionId0" value="{{securityData.[0]._id}}"/>

                      <input placeholder="{{securityData.[0].vQuestion}}" class="ivu-input" id="vAnswer" name="vAnswer0" type="text" />
                    {{else}}
                      {{#each securityData as |value key|}}
                       <label for="date">{{value.vQuestion}}</label>
                        <input type="hidden" id="iQuestionId" name="iQuestionId{{key}}" value="{{value._id}}"/>
                        <input placeholder="{{value.vQuestion}}" class="ivu-input mb-4" id="vAnswer" name="vAnswer{{key}}" type="text" />
                      {{/each}}
                    {{/if_greterThen}}
                  {{else}}
                  <label for="date">{{securityData.[0].vQuestion}}</label>
                  <input type="hidden" id="iQuestionId" name="iQuestionId0" value="{{securityData.[0]._id}}"/>
                  <input placeholder="{{securityData.[0].vQuestion}}" class="ivu-input" id="vAnswer" name="vAnswer0" type="text" />
             {{/if}}

             
            </div>
            <p class="_forget text-right">
            </p>

            <div class="ivu-form-item-content">
              <button type="button" class="_log_btn ivu-btn ivu-btn-default securityQuestion_button login-btn">
                <span>Answer the secirity questions</span>
              </button>
              <button class="_log_btn ivu-btn ivu-btn-default login_loader login-btn" style="display: none;">
                <span>Sign in</span>
                {{!-- loder --}}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-loader spin mr-2 text-white">
                  <line x1="12" y1="2" x2="12" y2="6"></line>
                  <line x1="12" y1="18" x2="12" y2="22"></line>
                  <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                  <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                  <line x1="2" y1="12" x2="6" y2="12"></line>
                  <line x1="18" y1="12" x2="22" y2="12"></line>
                  <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                  <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                </svg>
                {{!-- loder end --}}
              </button>
            </div>

            <div class="_login_bottom mt-3">
              <p class="_login_do">Don't have Account?
                <a href="/login" class="_1link signup-link">Login</a>
              </p>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
       <div class="left-side  object-cover login-wrapper-img">
     <img src="https://hombolt.s3.us-east-1.amazonaws.com/hombolt/erp/Login/erp_login.png" alt="" class=" w-100">
     </div>
    </div>
  </div>
  </div>
  </div>
  {{!-- end --}}
</div>

<script type="text/javascript">
  $(document).on('click', '.securityQuestion_button', function () {
    var vAnswer = $("#vAnswer").val();
    var vError = false;

    if (vAnswer.length == 0) {
      $("#vAnswer").addClass('.border border-danger');
      vError = true;
    } else {
      $("#vAnswer").removeClass('.border border-danger');
    }


    if (vError == true) {
      return false;
    } else {
      $(".securityQuestion_button").hide();
      $(".login_loader").show();
      setTimeout(function () {
        $(".securityQuestion_form").submit();
        return true;
      }, 1000);
    }

  });

</script>