<div class="login-container">
<div class="form-container outer w-100">
  <div class="row align-items-center">
    <div class="col-md-6 col-sm-6">
      <div class="logo-left-center">
        <img src="https://hombolt.s3.us-east-1.amazonaws.com/hombolt/erp/profile/the-logo.png" alt="" class="img-fluid">
      </div>
      <div class="_login_main d-inline-block">
        <div class="mb-4 mt-4">
          {{!-- <h2 class="font-weight-bold">Email verification</h2> --}}
          <p class="login-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        
        <div class="_login_form">
          <form class="text-left verifyEmail_form" method="POST" action="/login/verifyEmail_action">
            <div class="ivu-form-item">
              <label for="address">Email Address</label>
              <input placeholder="E-mail Address" class="ivu-input" id="vEmail" name="vEmail" type="text" />
            </div>
            <p class="_forget text-right">
            </p>

            <div class="ivu-form-item-content">
              <button type="button" class="_log_btn ivu-btn ivu-btn-default verifyEmail_button login-btn">
                <span>Verify Email</span>
              </button>
            </div>

            <div class="_login_bottom mt-3">
              <p class="_login_do">Don't have Account?
                <a href="/login" class="_1link signup-link">Login</a>
              </p>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
       <div class="left-side  object-cover login-wrapper-img">
     <img src="https://hombolt.s3.us-east-1.amazonaws.com/hombolt/erp/Login/erp_login.png" alt="" class=" w-100">
     </div>
    </div>
  </div>
  </div>
  </div>
  
  {{!-- end --}}
</div>

<script type="text/javascript">
  $(document).on('click', '.verifyEmail_button', function () {
    var vEmail = $("#vEmail").val();
    var vError = false;

    if (vEmail.length == 0) {
      $("#vEmail").addClass('.border border-danger');
      vError = true;
    } else {
      $("#vEmail").removeClass('.border border-danger');
    }


    if (vError == true) {
      return false;
    } else {
     // $(".verifyEmail_button").hide();
      $(".login_loader").show();
      setTimeout(function () {
        $(".verifyEmail_form").submit();
        return true;
      }, 1000);
    }

  });

</script>