<div class="login-container">
<div class="form-container outer w-100">
  <div class="row align-items-center">
    <div class="col-md-6 col-sm-6">
      <div class="logo-left-center">
        <img src="https://hombolt.s3.us-east-1.amazonaws.com/hombolt/erp/profile/the-logo.png" alt="" class="img-fluid">
      </div>
      <div class="_login_main d-inline-block">
        <div class="mb-4 mt-4">
          <h2 class="login-title">Recover Password</h2>
          <p class="login-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    
                <div class="_login_form">
          <form class="text-left login_form" method="POST" action="/login/login_action">
            <div class="ivu-form-item">
              <input placeholder="Email" class="ivu-input" id="vEmail" name="vEmail" type="text" />
            </div>


            <div class="ivu-form-item-content">
              <button type="button" class="_log_btn ivu-btn ivu-btn-default login_button login-btn">
                <span>Send code</span>
              </button>
              <button class="_log_btn ivu-btn ivu-btn-default login_loader login-btn" style="display: none;">
                <span>Sign in</span>
                {{!-- loder --}}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-loader spin mr-2 text-white">
                  <line x1="12" y1="2" x2="12" y2="6"></line>
                  <line x1="12" y1="18" x2="12" y2="22"></line>
                  <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                  <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                  <line x1="2" y1="12" x2="6" y2="12"></line>
                  <line x1="18" y1="12" x2="22" y2="12"></line>
                  <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                  <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                </svg>
                {{!-- loder end --}}
              </button>
            </div>

          </form>
          <div class="_login_bottom">
            <p class="mt-3">
              Do you have a Account?
              <a href="/login" class="_1link signup-link">Login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
       <div class="left-side  object-cover login-wrapper-img">
     <img src="https://hombolt.s3.us-east-1.amazonaws.com/hombolt/erp/Login/erp_login.png" alt="" class=" w-100">
     </div>
    </div>
  </div>
  </div>
  </div>
  {{!-- end --}}
</div>



<script type="text/javascript">
  $(document).on('click', '.login_button', function () {
    var vEmail = $("#vEmail").val();
    var vPassword = $("#vPassword").val();
    var vError = false;

    if (vEmail.length == 0) {
      $("#vEmail").addClass('.border border-danger');
      vError = true;
    } else {
      $("#vEmail").removeClass('.border border-danger');
    }

    if (vPassword.length == 0) {
      $("#vPassword").addClass('.border border-danger');
      vError = true;
    } else {
      $("#vPassword").removeClass('.border border-danger');
    }

    if (vError == true) {
      return false;
    } else {
      $(".login_button").hide();
      $(".login_loader").show();
      setTimeout(function () {
        $(".login_form").submit();
        return true;
      }, 1000);
    }

  });

  $(document).on("click", ".vPasswordEye", function () {
    var eType = $("#vPassword").prop("type");
    if (eType == "password") {
      $("#vPassword").attr("type", "text");
      $(".vPasswordEye").removeClass("fa fa-eye-slash");
      $(".vPasswordEye").addClass("fa fa-eye");
    }
    else {
      $("#vPassword").attr("type", "password");
      $(".vPasswordEye").removeClass("fa fa-eye");
      $(".vPasswordEye").addClass("fa fa-eye-slash");
    }
  });
</script>