<div class="login-container">
<div class="form-container outer w-100">
  <div class="row align-items-center">
    <div class="col-md-6 col-sm-6">
      <div class="logo-left-center">
        <img src="https://assets.hombolt.com/assets/company-detail/1674119144824.png" alt="Admin ERP" class="img-fluid">
      </div>
      <div class="_login_main d-inline-block">
        <div class="mb-4 mt-4">
          <h2 class="login-title">Identity Verification</h2>
          {{!-- <h2 class="font-weight-bold text-center">Welcome to Client</h2> --}}
          {{!-- <p class="login-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> --}}
        </div>
        <div class="_login_form">
        <form class="text-left identity_varification_form" method="POST" action="/login/identity_varification_action"
            enctype="multipart/form-data">
             <input type="hidden" class="ivu-input" id="iUserId" name="iUserId" value="{{userData._id}}" />
             <input type="file" class="ivu-input" id="vFile" name="vFile" style="display: none;"/>
            <div class="ivu-form-item ivu-upload-drag file_upload">
              <div class="upload-image"><i class="fal fa-cloud-upload" style=""></i>
                <p>Click or drag files here to upload</p>
              </div>
            </div>

            <div class="ivu-form-item">
              <p>i {{userData.vEmail}} verify that i am owner of the Email Address registered on file and request to
                have my account password and security question reset.</p>
            </div>


            <div class="ivu-form-item-content">
              <button type="button" class="_log_btn ivu-btn ivu-btn-default submit_button login-btn">
                <span>Submit</span>
              </button>
            </div>

          </form>

            <div class="_login_bottom mt-3">
              <p class="_login_do">Don't have Account?
                <a href="/registration" class="_3link _mar_l5">Create account</a>
              </p>
            </div>

        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
       <div class="left-side  object-cover login-wrapper-img">
     <img src="https://assets.hombolt.com/assets/banner/1678771276462.jpeg" alt="Admin ERP" class=" w-100">
     </div>
    </div>
  </div>
  </div>
  </div>
  {{!-- end --}}
</div>

<script type="text/javascript">

  $(document).on("click", ".file_upload", function () {
    $('#vFile').trigger('click');
  })

  $(document).on('click', '.submit_button', function () {
    var vFile = $("#vFile").val();
    var vError = false;

    if (vFile.length == 0) {
      $("#vFile").addClass('.border border-danger');
      vError = true;
    } else {
      $("#vFile").removeClass('.border border-danger');
    }

    if (vError == true) {
      return false;
    } else {
      $(".submit_button").hide();
      $(".login_loader").show();
      setTimeout(function () {
        $(".identity_varification_form").submit();
        return true;
      }, 1000);
    }

  });
</script>