
<div class="login-container">
  <div class="form-container outer w-100">
    <div class="row align-items-center">
      <div class="col-md-6 col-sm-6">
        <div class="logo-left-center">
      <img src="https://assets.hombolt.com/assets/company-detail/1674119144824.png" alt="Admin ERP" class="img-fluid">
        </div>
        <div class="_login_main d-inline-block">
          <div class="mb-4 mt-4">
            <h2 class="login-title">Reset Password</h2>
            {{!-- <p class="login-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> --}}
          </div>
        <div class="_login_form">
                    <form class="text-left login_form" method="POST" action="/reset/reset_action">
                        <div class="ivu-form-item">
                            <label for="password">New password</label>
                            <input placeholder="Enter New Password" class="ivu-input" id="vPassword" name="vPassword"
                                type="password" />
                            <div class="text-danger" id="vPassword_error" style="display: none;">Please enter password
                            </div>
                        </div>
                        <div class="ivu-form-item">
                             <label for="password">Confirm password</label>
                            <input placeholder="Enter Confirm Password" class="ivu-input" id="vConfirmPassword"
                                name="vConfirmPassword" type="password" />
                            <div class="text-danger" id="vConfirmPassword_error" style="display: none;">Please enter
                                confirm password</div>
                            <div class="text-danger" id="vConfirmMatchPassword_error" style="display: none;">Please
                                enter confirm password not match</div>
                        </div>
                        <input type="hidden" name="token" value="{{ iVerifyToken }}">

                        <div class="ivu-form-item-content">
                            <button type="button" class="_log_btn ivu-btn ivu-btn-default login_button login-btn">
                                <span>Submit</span>
                            </button>
                            <button class="_log_btn ivu-btn ivu-btn-default login_loader login-btn" style="display: none;">
                                <span>Please wait...</span>
                                {{!-- loder --}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-loader spin mr-2 text-white">
                                    <line x1="12" y1="2" x2="12" y2="6"></line>
                                    <line x1="12" y1="18" x2="12" y2="22"></line>
                                    <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                                    <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                                    <line x1="2" y1="12" x2="6" y2="12"></line>
                                    <line x1="18" y1="12" x2="22" y2="12"></line>
                                    <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                                    <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                                </svg>
                                {{!-- loder end --}}
                            </button>
                        </div>
                    </form>
                </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="left-side  object-cover login-wrapper-img">
         <img src="https://assets.hombolt.com/assets/banner/1678771276462.jpeg" alt="Admin ERP" class=" w-100">
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
    $(document).on('click', '.login_button', function () {
        var vConfirmPassword = $("#vConfirmPassword").val();
        var vPassword = $("#vPassword").val();
        var vError = false;

        if (vPassword.length == 0) {
            $("#vPassword_error").show();
            vError = true;
        } else {
            $("#vPassword_error").hide();
        }

        if (vConfirmPassword.length == 0) {
            $("#vConfirmPassword_error").show();
            $("#vConfirmMatchPassword_error").hide();
            vError = true;
        } else {
            $("#vConfirmPassword_error").hide();
            if (vPassword != vConfirmPassword) {
                $("#vConfirmMatchPassword_error").show();
                vError = true;
            } else {
                $("#vConfirmMatchPassword_error").hide();
            }
        }

        if (vError == true) {
            return false;
        } else {
            $(".login_button").hide();
            $(".login_loader").show();
            setTimeout(function () {
                $(".login_form").submit();
                return true;
            }, 1000);
        }

    });
</script>