

<div class="login-container admin-securty-page">
  <div class="form-container outer w-100 securty-form">
    <div class="row align-items-center">
      <div class="col-md-7 col-sm-6">
        <div class="logo-left-center">
                <img src="https://assets.hombolt.com/assets/company-detail/1674119144824.png" alt="Agent ERP" class="img-fluid">
        </div>
        <div class="_login_main d-inline-block">
          <div class="mb-0 mt-4">
            <h2 class="login-title">Security Questions</h2>
            {{!-- <p class="login-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> --}}
          </div>
           <div class="_login_form">
                    <form class="text-left frm" method="POST" action="/security-question/security_action">
                    <div class="row">
                        {{#each questionData as |value key| }}
                        <div class="col-md-6">                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">{{ value.vQuestion }}</label>
                            <input placeholder="Enter your answer" class="ivu-input"
                                name="vAnswer[{{key}}][{{value._id}}]" type="text" />
                        </div>  
                        </div>
                        {{/each}}
                        </div>
                        <input type="hidden" name="token" value="{{ iVerifyToken }}">

                        <div class="ivu-form-item-content">
                            <button type="button" class="_log_btn ivu-btn ivu-btn-default login_button login-btn">
                                <span>Submit</span>
                            </button>
                            <button class="_log_btn ivu-btn ivu-btn-default login_loader login-btn" style="display: none;">
                                <span>Submit</span>
                                {{!-- loder --}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-loader spin mr-2 text-white">
                                    <line x1="12" y1="2" x2="12" y2="6"></line>
                                    <line x1="12" y1="18" x2="12" y2="22"></line>
                                    <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                                    <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                                    <line x1="2" y1="12" x2="6" y2="12"></line>
                                    <line x1="18" y1="12" x2="22" y2="12"></line>
                                    <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                                    <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                                </svg>
                                {{!-- loder end --}}
                            </button>
                        </div>
                    </form>
                </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="left-side  object-cover login-wrapper-img">
        <img src="https://assets.hombolt.com/assets/banner/1678771276462.jpeg" alt="Admin ERP" class=" w-100">
        </div>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
    $(document).on('click', '.login_button', function () {
        $(".login_button").hide();
        $(".login_loader").show();
        setTimeout(function () {
            $(".frm").submit();
            return true;
        }, 1000);
    });
</script>