<div class=" login-container">
<div class="form-container outer w-100">
  <div class="row align-items-center">
    <div class="col-md-6 col-sm-6">
      <div class="logo-left-center">
        <img src="https://assets.hombolt.com/assets/company-detail/1674119144824.png" alt="Admin ERP" class="img-fluid">
      </div>
      <div class="_login_main d-inline-block">
        <div class="mb-3 mt-4">
        <h2 class="login-title">Thank You</h2>
        </div>
        <div class="_login_form">
          <p>Thank you, we have received your request! You should have a link within 24 hours emailed to the Email Address on File. If we need further information to verify your account, you will have instead correspondence within 24 hours! If you need further assistance or request expedition, please email <a href="info@hombolt.com">info@hombolt.com</a></p>
          <div class="_login_bottom">
            <p class="mt-3">
              Do you have a Account?
              <a href="/login" class="_1link signup-link">Login</a>
            </p>
          </div>
     
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
       <div class="left-side  object-cover login-wrapper-img">
     <img src="https://assets.hombolt.com/assets/banner/1678771276462.jpeg" alt="Admin ERP" class=" w-100">
     </div>
    </div>
  </div>
  </div>
  </div>
  {{!-- end --}}
</div>

