{{#each holidayData as |value key| }}

<tr>
    <td><input type="checkbox" name="iHolidayId[]" id="iHolidayId_{{value._id}}" value="{{value._id}}"
            class="checkboxall" /></td>
    <td>{{#dateFormate value.dtHolidayDate 'MM-DD-YYYY'}} {{/dateFormate}}</td>
    <td>{{value.vTitle}}</td>
    <td class="text-center">
        {{#if_equal value.eStatus "Active"}}
        <span class="badge badge-success">{{value.eStatus}}</span>
        {{/if_equal}}
        {{#if_equal value.eStatus "Inactive"}}
        <span class="badge badge-danger">{{value.eStatus}}</span>
        {{/if_equal}}
    </td>
    <td>
        <div class="dropdown action-dropdown">
            <button class="listing-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23" viewBox="0 0 4.8 23">
                    <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                        d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                        transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                </svg>
            </button>
            <div class="dropdown-menu w-100" style="will-change: transform;">
                <a class="dropdown-item" href="/holiday/edit/{{value._id}}">Edit</a>
                <a class="dropdown-item delete" href="javascript:;" data-id="{{value._id}}">Delete</a>
            </div>
        </div>
    </td>
</tr>
{{/each}}

{{#if_count holidayData}}
{{#if_pagination datalimit dataCount}}
<tr>
    <td colspan="5" align="center">
        {{{paginator.vPagination}}}
    </td>
</tr>
{{/if_pagination}}
{{else}}
<tr class="text-center">
    <td colspan="5">No Record Found</td>
</tr>
{{/if_count}}