<div class="_main_content">

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="_1card_body">
                <div class="_1card_top_left">
                    <h2 class="today-event-title mb-3">Weekend</h2>
                </div>
                <div class="row">
                    <div class="col-6">
                        <form action="/holiday/weekend_action" method="POST" class="weekend_form"
                            enctype="multipart/form-data">
                            <div class="d-flex align-items-center">
                                <select name="vWeekend" id="vWeekend" class="ivu-input select2" multiple="multiple">
                                    <option value="">Select Weekend</option>
                                    <option value="0" {{#in_Array '0' weekData}} selected {{/in_Array}}>Sunday </option>
                                    <option value="1" {{#in_Array '1' weekData}} selected {{/in_Array}}>Monday </option>
                                    <option value="2" {{#in_Array '2' weekData}} selected {{/in_Array}}>Tuesday
                                    </option>
                                    <option value="3" {{#in_Array '3' weekData}} selected {{/in_Array}}>WednesDay
                                    </option>
                                    <option value="4" {{#in_Array '4' weekData}} selected {{/in_Array}}>thursday
                                    </option>
                                    <option value="5" {{#in_Array '5' weekData}} selected {{/in_Array}}>Friday </option>
                                    <option value="6" {{#in_Array '6' weekData}} selected {{/in_Array}}>Saturday
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <div class="footer-btns-group mt-0">
                            <button type="button" class="medium-btn save">
                                <span>Create</span>
                            </button>
                            <button class="medium-btn save_loader" style="display: none;">
                                <span>Please Wait...</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-loader spin mr-2 text-white">
                                    <line x1="12" y1="2" x2="12" y2="6"></line>
                                    <line x1="12" y1="18" x2="12" y2="22"></line>
                                    <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                                    <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                                    <line x1="2" y1="12" x2="6" y2="12"></line>
                                    <line x1="18" y1="12" x2="22" y2="12"></line>
                                    <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                                    <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="_1card_body">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <h2 class="today-event-title">Holiday List</h2>
                            </div>
                            <div class="col-sm-12 col-md-6" style="text-align: right;">
                                <a href="javascript:;" id="delete_btn" class="medium-btn">Multi Delete</a>
                                <a href="/holiday/add" class="medium-btn"><span>Add New</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="table_record" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="selectall" name="selectall" /></th>
                                        <th>Holiday Date</th>
                                        <th>Reason</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each holidayData as |value key| }}
                                    <tr>
                                        <td><input type="checkbox" name="iHolidayId[]" id="iHolidayId_{{value._id}}"
                                                value="{{value._id}}" class="checkboxall" /></td>
                                        <td>{{#dateFormate value.dtHolidayDate 'MM-DD-YYYY'}} {{/dateFormate}}</td>
                                        <td>{{value.vTitle}}</td>
                                        <td class="text-center">
                                            {{#if_equal value.eStatus "Active"}}
                                            <span class="badge badge-success">{{value.eStatus}}</span>
                                            {{/if_equal}}
                                            {{#if_equal value.eStatus "Inactive"}}
                                            <span class="badge badge-danger">{{value.eStatus}}</span>
                                            {{/if_equal}}
                                        </td>
                                        <td>
                                            <div class="dropdown action-dropdown">
                                                <button class="listing-dropdown dropdown-toggle" type="button"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23"
                                                        viewBox="0 0 4.8 23">
                                                        <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                                                            d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                                                            transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                                                    </svg>
                                                </button>
                                                <div class="dropdown-menu w-100" style="will-change: transform;">
                                                    <a class="dropdown-item" href="/holiday/edit/{{value._id}}">Edit</a>
                                                    <a class="dropdown-item delete" href="javascript:;"
                                                        data-id="{{value._id}}">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $("#selectall").click(function () {
        if (this.checked) {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', true);
            });
        } else {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', false);
            });
        }
    });

    $(document).ready(function () {
        var dataTable = $('#table_record').DataTable();
        $("#vWeekend").select2({
            closeOnSelect: false,
            placeholder: "Select Weekend Day",
            allowHtml: true,
            allowClear: true,
        });
    });

    //Delete record
    function deleteRecord(iHolidayId, vAction) {
        $.ajax({
            url: '/holiday/delete',
            type: 'post',
            data: { vAction: vAction, iHolidayId: iHolidayId },
            success: function () {
                location.reload();
            }
        });
    }

    $(document).on('click', '.delete', function () {
        var iHolidayId = $(this).data('id');
        if (confirm('Are you sure to delete this record ?')) {
            deleteRecord(iHolidayId, "delete");
        }
    });

    $(document).on('click', '#delete_btn', function () {

        var id = [];
        $("input[name='iHolidayId[]']:checked").each(function () {
            id.push($(this).val());
        });
        var iHolidayId = id.join(",");
        if (iHolidayId.length == 0) {
            alert('Please select records.')
        } else {
            if (confirm('Are you sure delete this record?')) {
                // AJAX request
                deleteRecord(iHolidayId, "multiple_delete")
            }
        }
    });

    //add weekend day
    $(document).on('click', '.save', function () {

        var vWeekend = $("#vWeekend").val();
        var vError = false;

        if (vWeekend.length == 0) {
            $("#vWeekend_error").show();
            vError = true;
        } else {
            $("#vWeekend_error").hide();
        }

        if (vError == true) {
            return false;
        } else {
            $(".save").hide();
            $(".save_loader").show();
            setTimeout(function () {
                $(".weekend_form").submit();
                return true;
            }, 500);
        }
    });

</script>