  <a class="medium-btn2 mb-4" href="/client-reset-request">Go back</a>
<div class="row">
<div class="col-lg-11 col-xl-8 mx-auto">
<div class="_main_content">

  <div class="add-client-info-msg">

    <div class="icon">
      <i class="fal fa-lightbulb"></i>
    </div>

    <div class="info-text">
      <p class="info-alert-message">
        User Detail
      </p>
    </div>
  </div>

  <div class="_1card">

    <div class="y_1card_body pt-2 profile-difrt-box">
      <form class="client_form" method="POST" action="/client-reset-request/forgetPassword_action"
        enctype="multipart/form-data">
        {{#if ResetPwDetail.iUserId}}
        <input type="hidden" name="iUserId" id="iUserId" value="{{ResetPwDetail.iUserId._id}}">

        <div class="d-flex">
          <div>
            <iframe src="{{ResetPwDetail.vFile}}" frameborder="0" scrolling="no"></iframe>
          </div>
          <div class="ml-4">
            <div>
              <b>Admin Name : </b>{{ResetPwDetail.iUserId.vFirstName}} {{ResetPwDetail.iUserId.vLastName}}
            </div>
            <div>
              <b>Email : </b>{{ResetPwDetail.iUserId.vEmail}}
            </div>
          </div>
        </div>
        {{/if}}

        {{#if ResetPwDetail.iAgentId}}
        <input type="hidden" name="iAgentId" id="iAgentId" value="{{ResetPwDetail.iAgentId._id}}">

        <div class="d-flex">
          <div>
            <iframe src="{{ResetPwDetail.vFile}}" frameborder="0" scrolling="no"></iframe>
          </div>
          <div class="ml-4">
            <div>
              <b>User Id : </b>{{ResetPwDetail.iAgentId.iUserID}}
            </div>
            <div>
              <b>Client Name : </b>{{ResetPwDetail.iAgentId.vFirstName}} {{ResetPwDetail.iAgentId.vLastName}}
            </div>
            <div>
              <b>Email : </b>{{ResetPwDetail.iAgentId.vEmail}}
            </div>
          </div>
        </div>
        {{/if}}

        {{#if ResetPwDetail.iClientId}}
        <input type="hidden" name="iClientId" id="iClientId" value="{{ResetPwDetail.iClientId._id}}">

        <div class="d-flex">
          <div>
            <iframe src="{{ResetPwDetail.vFile}}" frameborder="0" scrolling="no"></iframe>
          </div>
          <div class="ml-4">
            <div>
              <b>User Id : </b>{{ResetPwDetail.iClientId.iUserID}}
            </div>
            <div>
              <b>Client Name : </b>{{ResetPwDetail.iClientId.vFirstName}} {{ResetPwDetail.iClientId.vLastName}}
            </div>
            <div>
              <b>Email : </b>{{ResetPwDetail.iClientId.vEmail}}
            </div>
          </div>
        </div>
        {{/if}}

        {{#if ResetPwDetail.iDeveloperId}}
        <input type="hidden" name="iDeveloperId" id="iDeveloperId" value="{{ResetPwDetail.iDeveloperId._id}}">

        <div class="d-flex">
          <div>
            <iframe src="{{ResetPwDetail.vFile}}" frameborder="0" scrolling="no"></iframe>
          </div>
          <div class="ml-4">
            <div>
              <b>User Id : </b>{{ResetPwDetail.iDeveloperId.iUserID}}
            </div>
            <div>
              <b>Client Name : </b>{{ResetPwDetail.iDeveloperId.vFirstName}} {{ResetPwDetail.iDeveloperId.vLastName}}
            </div>
            <div>
              <b>Email : </b>{{ResetPwDetail.iDeveloperId.vEmail}}
            </div>
          </div>
        </div>
        {{/if}}


        <div class="footer-btns-group">
          <button type="button" class="medium-btn save">
            <span>Send Mail</span>
          </button>
          <button class="medium-btn save_loader" style="display: none;">
            <span>Please Wait...</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-loader spin mr-2 text-white">
              <line x1="12" y1="2" x2="12" y2="6"></line>
              <line x1="12" y1="18" x2="12" y2="22"></line>
              <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
              <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
              <line x1="2" y1="12" x2="6" y2="12"></line>
              <line x1="18" y1="12" x2="22" y2="12"></line>
              <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
              <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
            </svg>
          </button>
                    <button type="button" class="medium-btn2 cancel">
            <span>Close</span>
          </button>
        </div>
    </div>
    </form>
  </div>
  </div>
</div>
</div>


<script type="text/javascript">

  $(document).on('click', '.cancel', function () {
    location.href = "/client-reset-request";
  });

  $(document).on('click', '.save', function () {
    $(".client_form").submit();
  });
</script>