<div class="all-notification">
  <div class="_1card_top p-0 ">
<div class="_1card_top_left">
<h2 class="today-event-title mr-4">All Notifications</h2>
</div>
<div class="_1card_top_right">
<ul class="_1card_top_right_list">
<li>
<div class="gmt read_notification" style="cursor: pointer;"> Mark As Read </div>
</li>
</ul>
</div>
</div>


  <div class="ntf-content">
    {{#each notificationData as |value key|}}
      <div class="ntf-box">
        <input type="checkbox" {{#if_equal value.eAdminSeen 'Yes' }}{{else}} checked{{/if_equal}} name="vRead[]"
          id="vRead" value="{{value._id}}" style="display: none;">
        <div class="circle {{#if_equal value.eAdminSeen 'Yes'}}nfn-check{{else}} nfn-uncheck{{/if_equal}}"><i
            class="far fa-check"></i></div>
        <div class="info">
          <p class="notification-title"><a href="javascript:;" class="seenStatus"
              data-id="{{value._id}}">{{value.vNotification}}</a></p>
          <p class="user-small-text2">{{#fromNowTime value.dtAddedDate}}{{/fromNowTime}}</p>
        </div>
      </div>
    {{/each}}
  </div>
  </div>
  <script type="text/javascript">

    $(".seenStatus").click(function () {
      var iNotificationId = $(this).data("id");
      $.ajax({
        url: "/notification/changeSeenStatus",
        type: "POST",
        data: { iNotificationId: iNotificationId },
        success: function (response) {
          window.location.reload();
        }
      });
    });

    $(".read_notification").click(function () {

    var iNotificationId = [];

    $("input[name='vRead[]']:checked").each(function () {
      iNotificationId.push($(this).val());
    });

    var iNotificationId = iNotificationId.join(",");

    if (confirm('Are you sure all notification mark as read?')) {
      $.ajax({
        url: "/notification/read_notification",
        type: "POST",
        data: {
          iNotificationId: iNotificationId
        },
        success: function (response) {
          window.location.reload();
        }
      });
    }
  })
  </script>