  <a class="medium-btn2 mb-4" href="/client">Go back</a>
  <div class="row">
<div class="col-lg-8 mx-auto">
<div class="_main_content">

  <div class="add-client-info-msg">

    <div class="icon">
      <i class="fal fa-lightbulb"></i>
    </div>

    <div class="info-text">
      <p class="info-alert-message">
        Add new client!
      </p>
    </div>
  </div>

  <div class="_1card">

    <div class="_1card_body pt-2 profile-difrt-box">
      <form class="client_form" method="POST" action="/client/add_action" enctype="multipart/form-data">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <input type="hidden" name="iClientId" id="iClientId" value="{{clientData._id}}">
            <div class="ivu-form-item">
              <label for="vFirstName" class="ivu-form-item-label">First Name</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input type="text" class="ivu-input ivu-input-default" name="vFirstName" id="vFirstName"
                    placeholder="Enter Firstname" value="{{clientData.vFirstName}}">
                  <div class="text-danger" id="vFirstName_error" style="display: none;">Please enter firstname</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label for="vLastName" class="ivu-form-item-label">Last Name</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input type="text" class="ivu-input ivu-input-default" name="vLastName" id="vLastName"
                    placeholder="Enter Lastname" value="{{clientData.vLastName}}">
                  <div class="text-danger" id="vLastName_error" style="display: none;">Please enter lastname</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label for="vEmail" class="ivu-form-item-label">Email</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input type="text" class="ivu-input ivu-input-default" name="vEmail" id="vEmail"
                    placeholder="Enter Email" value="{{clientData.vEmail}}">
                  <div class="text-danger" id="vEmail_error" style="display: none;">Please enter email</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Country</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <select name="vCountry" id="vCountry" class="ivu-input ivu-input-default">
                    <option value="">Select Country</option>
                    <option value="United States" {{#if_equal clientData.vCountry "United States" }} selected
                      {{/if_equal}}>
                      United States</option>
                  </select>
                  <div class="text-danger" id="vCountry_error" style="display: none;">Please select country</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label for="vCity" class="ivu-form-item-label">City</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input type="text" name="vCity" id="vCity" class="ivu-input ivu-input-default"
                    placeholder="Enter City" value="{{clientData.vCity}}">
                  <div class="text-danger" id="vCity_error" style="display: none;">Please enter city</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label for="vZipCode" class="ivu-form-item-label">Zip Code</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input type="text" class="ivu-input ivu-input-default" name="vZipCode" id="vZipCode"
                    placeholder="Enter Zip Code" value="{{clientData.vZipCode}}">
                  <div class="text-danger" id="vZipCode_error" style="display: none;">Please enter zipcode</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label class="ivu-form-item-label">Assign an agent. Leave it blank
                if there is no agent available.</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <select name="vReferrer" id="vReferrer" class="ivu-input ivu-input-default">
                    <option value="">Select Agent</option>
                    {{#each agentData as |value key| }}
                    <option value="{{ value._id }}" {{ isSelected value._id ../clientData.vReferrer }}>{{
                      value.vFirstName }} {{value.vLastName}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label for="vPhone" class="ivu-form-item-label">Phone</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <input type="text" class="ivu-input ivu-input-default numeric" name="vPhone" id="vPhone"
                    placeholder="Enter Phone" value="{{clientData.vPhone}}" maxlength="15">
                  <div class="text-danger" id="vPhone_error" style="display: none;">Please enter phone</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="ivu-form-item">
              <label for="eStatus" class="ivu-form-item-label">Status</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <select class="ivu-input ivu-input-default" name="eStatus" id="eStatus">
                    <option value="Active" {{#if_equal clientData.eStatus "Active" }} selected {{/if_equal}}>Active
                    </option>
                    <option value="Inactive" {{#if_equal clientData.eStatus "Inactive" }} selected {{/if_equal}}>
                      Inactive
                    </option>

                  </select>
                  <div class="text-danger" id="eStatus_error" style="display: none;">Please select status</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="ivu-form-item">
              <label for="vAddress" class="ivu-form-item-label">Address</label>
              <div class="ivu-form-item-content">
                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                  <textarea rows="5" class="ivu-input" name="vAddress" id="vAddress"
                    placeholder="Enter Address">{{clientData.vAddress}}</textarea>
                  <div class="text-danger" id="vAddress_error" style="display: none;">Please select address</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>
      <div class="footer-btns-group">
        <button type="button" class="medium-btn save">
          <span>Create</span>
        </button>
        <button class="medium-btn save_loader" style="display: none;">
          <span>Please Wait...</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-loader spin mr-2 text-white">
            <line x1="12" y1="2" x2="12" y2="6"></line>
            <line x1="12" y1="18" x2="12" y2="22"></line>
            <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
            <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
            <line x1="2" y1="12" x2="6" y2="12"></line>
            <line x1="18" y1="12" x2="22" y2="12"></line>
            <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
            <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
          </svg>
        </button>
          <button type="button" class="medium-btn2 cancel">
          <span>Close</span>
        </button>
      </div>
    </div>
  </div>
  </div>

</div>
</div>

<script type="text/javascript">
  $(document).on("input", ".numeric", function () {
    this.value = this.value.replace(/\D/g, '');
  });

  $(document).on('click', '.cancel', function () {
    location.href = "/client";
  });

  $(document).on('click', '.save', function () {
    var iClientId = $("#iClientId").val();
    var vFirstName = $("#vFirstName").val();
    var vLastName = $("#vLastName").val();
    var vEmail = $("#vEmail").val();
    var vCountry = $("#vCountry").val();
    var vCity = $("#vCity").val();
    var vZipCode = $("#vZipCode").val();
    var vPhone = $("#vPhone").val();
    var vAddress = $("#vAddress").val();
    var eStatus = $("#eStatus").val();
    var vError = false;


    if (vFirstName.length == 0) {
      $("#vFirstName_error").show();
      vError = true;
    } else {
      $("#vFirstName_error").hide();
    }

    if (vLastName.length == 0) {
      $("#vLastName_error").show();
      vError = true;
    } else {
      $("#vLastName_error").hide();
    }

    if (vEmail.length == 0) {
      $("#vEmail_error").show();
      vError = true;
    } else {
      $("#vEmail_error").hide();
    }

    if (vCountry.length == 0) {
      $("#vCountry_error").show();
      vError = true;
    } else {
      $("#vCountry_error").hide();
    }

    if (vCity.length == 0) {
      $("#vCity_error").show();
      vError = true;
    } else {
      $("#vCity_error").hide();
    }

    if (vZipCode.length == 0) {
      $("#vZipCode_error").show();
      vError = true;
    } else {
      $("#vZipCode_error").hide();
    }

    if (vPhone.length == 0) {
      $("#vPhone_error").show();
      vError = true;
    } else {
      $("#vPhone_error").hide();
    }

    if (vAddress.length == 0) {
      $("#vAddress_error").show();
      vError = true;
    } else {
      $("#vAddress_error").hide();
    }

    if (eStatus.length == 0) {
      $("#eStatus_error").show();
      vError = true;
    } else {
      $("#eStatus_error").hide();
    }

    if (vError == true) {
      return false;
    } else {
      $(".save").hide();
      $(".save_loader").show();
      setTimeout(function () {
        $(".client_form").submit();
        return true;
      }, 500);
    }

  });
</script>