  <a class="medium-btn2 mb-4" href="/quick-quote">Go back</a>
<div class="row">
<div class="col-lg-11 col-xl-8 mx-auto">
<div class="_main_content">
    <div class="add-client-info-msg">
        <div class="icon">
            <i class="fal fa-lightbulb"></i>
        </div>
        <div class="info-text">
            <p class="info-alert-message"> Add new quick qoute! </p>
        </div>
    </div>
    <div class="_1card">
        <div class="_1card_body profile-difrt-box pt-2">
            <form action="/quick-quote/add_action" method="POST" class="quick_quote_form" enctype="multipart/form-data">
                <input type="hidden" value="{{ quickQuoteData._id }}" name="iQuickQuoteId">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Pages</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" type="text" placeholder="Enter pages"
                                        class="ivu-input ivu-input-default" name="vPages" id="vPages"
                                        value="{{ quickQuoteData.vPages }}" />
                                    <div class="text-danger" id="vPages_error" style="display: none;">Please enter
                                        pages. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Better Price</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" type="text" placeholder="Enter better price"
                                        class="ivu-input ivu-input-default" name="vBetterPrice" id="vBetterPrice"
                                        value="{{ quickQuoteData.vBetterPrice }}" />
                                    <div class="text-danger" id="vBetterPrice_error" style="display: none;">Please enter
                                        better price. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Best Price</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" type="text" placeholder="Enter best price"
                                        class="ivu-input ivu-input-default" name="vBestPrice" id="vBestPrice"
                                        value="{{ quickQuoteData.vBestPrice }}" />
                                    <div class="text-danger" id="vBestPrice_error" style="display: none;">Please enter
                                        best price. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Order No.</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" type="text" placeholder="Enter order no."
                                        class="ivu-input ivu-input-default" name="iOrderId" id="iOrderId"
                                        value="{{ quickQuoteData.iOrderId }}" />
                                    <div class="text-danger" id="iOrderId_error" style="display: none;">Please enter
                                        order no. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Status</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select name="eStatus" id="eStatus" class="ivu-select-input">
                                        <option value="Active" {{#if_equal quickQuoteData.eStatus "Active" }} selected
                                            {{/if_equal}}>Active</option>
                                        <option value="Inactive" {{#if_equal quickQuoteData.eStatus "Inactive" }}
                                            selected {{/if_equal}}>Inactive</option>
                                    </select>
                                    <div class="text-danger" id="eStatus_error" style="display: none;">Please enter
                                        status</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="footer-btns-group">
                <a href="javascript:;" class="medium-btn save">
                    <span>Create</span>
                </a>
                <a href="javascript:;" class="medium-btn save_loader" style="display: none;">
                    <span>Please Wait...</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-loader spin mr-2 text-white">
                        <line x1="12" y1="2" x2="12" y2="6"></line>
                        <line x1="12" y1="18" x2="12" y2="22"></line>
                        <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                        <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                        <line x1="2" y1="12" x2="6" y2="12"></line>
                        <line x1="18" y1="12" x2="22" y2="12"></line>
                        <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                        <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>
                </a>
                 <a href="javascript:;" class="medium-btn2 cancel">
                    <span>Close</span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script type="text/javascript">
    $(document).on('click', '.cancel', function () {
        location.href = "/quick-quote";
    });

    $(document).on('click', '.save', function () {

        var vPages = $("#vPages").val();
        var vBetterPrice = $("#vBetterPrice").val();
        var vBestPrice = $("#vBestPrice").val();
        var eStatus = $("#eStatus").val();
        var vError = false;

        if (vPages.length == 0) {
            $("#vPages_error").show();
            vError = true;
        } else {
            $("#vPages_error").hide();
        }

        if (vBetterPrice.length == 0) {
            $("#vBetterPrice_error").show();
            vError = true;
        } else {
            $("#vBetterPrice_error").hide();
        }

        if (vBestPrice.length == 0) {
            $("#vBestPrice_error").show();
            vError = true;
        } else {
            $("#vBestPrice_error").hide();
        }

        if (eStatus.length == 0) {
            $("#eStatus_error").show();
            vError = true;
        } else {
            $("#eStatus_error").hide();
        }

        if (vError == true) {
            return false;
        } else {
            $(".save").hide();
            $(".save_loader").show();
            setTimeout(function () {
                $(".quick_quote_form").submit();
                return true;
            }, 500);
        }

    });
</script>