<a class="medium-btn2 mb-4" href="/admin">Go back</a>
<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="_main_content">

      <div class="add-client-info-msg">

        <div class="icon">
          <i class="fal fa-lightbulb"></i>
        </div>

        <div class="info-text">
          <p class="info-alert-message">
            Add New User!
          </p>
        </div>
      </div>

      <div class="_1card">

        <div class="_1card_body pt-2 profile-difrt-box">
          <form class="user_form" method="POST" action="/department-user/add_action" enctype="multipart/form-data">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <input type="hidden" name="iUserId" id="iUserId" value="{{userData._id}}">
                <div class="ivu-form-item">
                  <label for="vFirstName" class="ivu-form-item-label">First Name</label>
                  <div class="ivu-form-item-content">
                    <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                      <input type="text" class="ivu-input ivu-input-default" name="vFirstName" id="vFirstName"
                        placeholder="Enter Firstname" value="{{userData.vFirstName}}">
                      <div class="text-danger" id="vFirstName_error" style="display: none;">Please enter firstname</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="ivu-form-item">
                  <label for="vLastName" class="ivu-form-item-label">Last Name</label>
                  <div class="ivu-form-item-content">
                    <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                      <input type="text" class="ivu-input ivu-input-default" name="vLastName" id="vLastName"
                        placeholder="Enter Lastname" value="{{userData.vLastName}}">
                      <div class="text-danger" id="vLastName_error" style="display: none;">Please enter lastname</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="ivu-form-item">
                  <label for="vEmail" class="ivu-form-item-label">Email</label>
                  <div class="ivu-form-item-content">
                    <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                      <input type="text" class="ivu-input ivu-input-default" name="vEmail" id="vEmail"
                        placeholder="Enter Email" value="{{userData.vEmail}}">
                      <div class="text-danger" id="vEmail_error" style="display: none;">Please enter email</div>
                      <div class="text-danger" id="vEmail_valid_error" style="display: none;">Please enter valid email.
                      </div>
                      <div class="text-danger" id="vEmail_uniq_error" style="display: none;">Email already exist. </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="ivu-form-item">
                  <label class="ivu-form-item-label">Country</label>
                  <div class="ivu-form-item-content">
                    <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                      <select name="vCountry" id="vCountry" class="ivu-input ivu-input-default">
                        <option value="">Select Country</option>
                        <option value="United States" {{#if_equal userData.vCountry "United States" }} selected
                          {{/if_equal}}>
                          United States</option>
                      </select>
                      <div class="text-danger" id="vCountry_error" style="display: none;">Please select country</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="ivu-form-item">
                  <label for="vState" class="ivu-form-item-label">State</label>
                  <div class="ivu-form-item-content">
                    <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                      <input type="text" name="vState" id="vState" class="ivu-input ivu-input-default"
                        placeholder="Enter State" value="{{userData.vState}}">
                      <div class="text-danger" id="vState_error" style="display: none;">Please enter state</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="ivu-form-item">
                  <label for="vCity" class="ivu-form-item-label">City</label>
                  <div class="ivu-form-item-content">
                    <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                      <input type="text" name="vCity" id="vCity" class="ivu-input ivu-input-default"
                        placeholder="Enter City" value="{{userData.vCity}}">
                      <div class="text-danger" id="vCity_error" style="display: none;">Please enter city</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="ivu-form-item">
                  <label for="vZipCode" class="ivu-form-item-label">Zip Code</label>
                  <div class="ivu-form-item-content">
                    <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                      <input type="text" class="ivu-input ivu-input-default" name="vZipCode" id="vZipCode"
                        placeholder="Enter Zip Code" value="{{userData.vZipCode}}">
                      <div class="text-danger" id="vZipCode_error" style="display: none;">Please enter zipcode</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="ivu-form-item">
                  <label class="ivu-form-item-label">Upload Image</label>
                  <div class="ivu-form-item-content">
                    <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                      <input type="file" class="ivu-input ivu-input-default" name="vImage" id="vImage"
                        value="{{ userData.vImage }}" />
                      {{#if userData.vImage}}
                      <img src="{{userData.vImage}}" style="height: 100px;">
                      {{/if}}
                      <div class="text-danger" id="vImage_error" style="display: none;">Please select image</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="ivu-form-item">
                  <label for="vPhone" class="ivu-form-item-label">Phone</label>
                  <div class="ivu-form-item-content">
                    <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                      <input type="text" class="ivu-input ivu-input-default numeric" name="vPhone" id="vPhone"
                        placeholder="Enter Phone" value="{{userData.vPhone}}" maxlength="15">
                      <div class="text-danger" id="vPhone_error" style="display: none;">Please enter phone</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6" style="display: none;">
                <div class="ivu-form-item">
                  <label class="ivu-form-item-label">Department</label>
                  <div class="ivu-form-item-content">
                    <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                      <select class="ivu-input" name="vDepartment" id="vDepartment">
                        <option value="{{ roleData.iDepartmentId }}">{{
                          roleData.iDepartmentId }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="ivu-form-item">
                  <label class="ivu-form-item-label">Role</label>
                  <div class="ivu-form-item-content">
                    <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                      <select class="ivu-input" name="vRole" id="vRole">
                        <option value="">Select Role</option>
                        {{#each PositionRoleData as |value key| }}
                        <option value="{{ value._id }}" {{ isSelected value._id ../userData.vRole }}>{{
                          value.vTitle }}</option>
                        {{/each}}
                      </select>
                      <div class="text-danger" id="vRole_error" style="display: none;">Please enter role
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="ivu-form-item">
                  <label for="vAddress" class="ivu-form-item-label">Address</label>
                  <div class="ivu-form-item-content">
                    <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                      <textarea rows="5" class="ivu-input" name="vAddress" id="vAddress"
                        placeholder="Enter Address">{{userData.vAddress}}</textarea>
                      <div class="text-danger" id="vAddress_error" style="display: none;">Please select address</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </form>
          <div class="footer-btns-group">
            <a href="javascript:;" class="medium-btn save"><span>Create</span></a>
            <a href="javascript:;" class="medium-btn save_loader" style="display: none;">
              <span>Please Wait...</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-loader spin mr-2 text-white">
                <line x1="12" y1="2" x2="12" y2="6"></line>
                <line x1="12" y1="18" x2="12" y2="22"></line>
                <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                <line x1="2" y1="12" x2="6" y2="12"></line>
                <line x1="18" y1="12" x2="22" y2="12"></line>
                <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
              </svg>
            </a>
            <a href="javascript:;" class="medium-btn2 cancel">
              <span>Close</span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(document).on("input", ".numeric", function () {
    this.value = this.value.replace(/\D/g, '');
  });

  $(document).on('click', '.cancel', function () {
    location.href = "/department-user/{{roleData._id}}";
  });

  $(document).on('click', '.save', function () {
    var iUserId = $("#iUserId").val();
    var vFirstName = $("#vFirstName").val();
    var vLastName = $("#vLastName").val();
    var vEmail = $("#vEmail").val();
    var vCountry = $("#vCountry").val();
    var vCity = $("#vCity").val();
    var vZipCode = $("#vZipCode").val();
    var vPhone = $("#vPhone").val();
    var vAddress = $("#vAddress").val();
    var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
    var vError = false;


    if (vFirstName.length == 0) {
      $("#vFirstName_error").show();
      vError = true;
    } else {
      $("#vFirstName_error").hide();
    }

    if (vLastName.length == 0) {
      $("#vLastName_error").show();
      vError = true;
    } else {
      $("#vLastName_error").hide();
    }

    if (vEmail.length == 0) {
      $("#vEmail_error").show();
      $("#vEmail_uniq_error").hide();
      $("#vEmail_valid_error").hide();
      vError = true;
    } else {
      $("#vEmail_error").hide();

      if (filter.test(vEmail)) {
        $("#vEmail_valid_error").hide();
      } else {
        $("#vEmail_valid_error").show();
        $("#vEmail_uniq_error").hide();
        vError = true;
      }

      if (!iUserId) {
        $.ajax({
          type: "POST",
          url: "/admin/check-uniq-email",
          data: {
            vEmail: vEmail
          },
          success: function (res_data) {
            if (res_data == 'data_found') {
              $("#vEmail_uniq_error").show();
              vError = true;
            } else {
              $("#vEmail_uniq_error").hide();
            }
          }
        });
      }
    }

    if (vCountry.length == 0) {
      $("#vCountry_error").show();
      vError = true;
    } else {
      $("#vCountry_error").hide();
    }

    if (vCity.length == 0) {
      $("#vCity_error").show();
      vError = true;
    } else {
      $("#vCity_error").hide();
    }

    if (vZipCode.length == 0) {
      $("#vZipCode_error").show();
      vError = true;
    } else {
      $("#vZipCode_error").hide();
    }

    if (vPhone.length == 0) {
      $("#vPhone_error").show();
      vError = true;
    } else {
      $("#vPhone_error").hide();
    }

    if (vAddress.length == 0) {
      $("#vAddress_error").show();
      vError = true;
    } else {
      $("#vAddress_error").hide();
    }

    setTimeout(function () {
      if (vError == true) {
        return false;
      } else {
        $(".save").hide();
        $(".save_loader").show();
        setTimeout(function () {
          $(".user_form").submit();
          return true;
        }, 500);
      }
    }, 1000)
  });
</script>