<div class="col-lg-8 mx-auto">
  <div class="_main_content">
    <div class="add-client-info-msg">
      <div class="icon">
        <i class="fal fa-lightbulb"></i>
      </div>
      <div class="info-text">
        <p class="info-alert-message">
          Add User
        </p>
      </div>
    </div>
    <div class="_1card">
      <div class="_1card_body pt-2 profile-difrt-box">
        <form class="user_form" method="POST" action="" enctype="multipart/form-data">

          <input type="hidden" name="iUserId" id="iUserId" value="{{userData._id}}">

          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">First Name</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter First Name"
                      class="ivu-input ivu-input-default" name="vFirstName" id="vFirstName"
                      value="{{ userData.vFirstName }}" />
                    <div class="text-danger" id="vFirstName_error" style="display: none;">Please enter firstname
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Last Name</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Last Name"
                      class="ivu-input ivu-input-default" name="vLastName" id="vLastName"
                      value="{{ userData.vLastName }}" />
                    <div class="text-danger" id="vLastName_error" style="display: none;">Please enter lastname
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Email</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Email"
                      class="ivu-input ivu-input-default" name="vEmail" id="vEmail" value="{{ userData.vEmail }}" />
                    <div class="text-danger" id="vEmail_error" style="display: none;">Please enter email
                    </div>
                    <div class="text-danger" id="vEmail_unique_error" style="display: none;">That email is taken. Try
                      another.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Country</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <select name="vCountry" id="vCountry" class="ivu-input ivu-input-default">
                      <option value="">Select Country</option>
                      <option value="United States" {{#if_equal userData.vCountry "United States" }} selected
                        {{/if_equal}}>
                        United States</option>
                    </select>
                    <div class="text-danger" id="vCountry_error" style="display: none;">Please select country</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label for="vState" class="ivu-form-item-label">State</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input type="text" name="vState" id="vState" class="ivu-input ivu-input-default"
                      placeholder="Enter State" value="{{userData.vState}}">
                    <div class="text-danger" id="vState_error" style="display: none;">Please enter state</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label for="vCity" class="ivu-form-item-label">City</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input type="text" name="vCity" id="vCity" class="ivu-input ivu-input-default"
                      placeholder="Enter City" value="{{userData.vCity}}">
                    <div class="text-danger" id="vCity_error" style="display: none;">Please enter city</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label for="vZipCode" class="ivu-form-item-label">Zip Code</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input type="text" class="ivu-input ivu-input-default" name="vZipCode" id="vZipCode"
                      placeholder="Enter Zip Code" value="{{userData.vZipCode}}">
                    <div class="text-danger" id="vZipCode_error" style="display: none;">Please enter zipcode</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Upload Image</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input type="file" class="ivu-input ivu-input-default" name="vImage" id="vImage"
                      value="{{ userData.vImage }}" />
                    {{#if userData.vImage}}
                    <img src="{{userData.vImage}}" style="height: 100px;">
                    {{/if}}
                    <div class="text-danger" id="vImage_error" style="display: none;">Please select image</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label for="vPhone" class="ivu-form-item-label">Phone</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <input type="text" class="ivu-input ivu-input-default numeric" name="vPhone" id="vPhone"
                      placeholder="Enter Phone" value="{{userData.vPhone}}" maxlength="15">
                    <div class="text-danger" id="vPhone_error" style="display: none;">Please enter phone</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Departments</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <select class="ivu-input" name="vDepartment" id="vDepartment">
                      <option value="">Select Department</option>
                      {{#each departmentData as |value key| }}
                      <option value="{{ value._id }}" {{ isSelected value.vTitle ../userData.vDepartment }}>{{
                        value.vTitle }}</option>
                      {{/each}}
                      <option value="Sales">Sales</option>
                      <option value="Clients">Clients</option>
                    </select>
                    <div class="text-danger" id="vDepartment_error" style="display: none;">Please enter department
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 vRole_div" style="display: none;">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Role</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <select class="ivu-input" name="vRole" id="vRole">
                      <option value="">Select Role</option>
                    </select>
                    <div class="text-danger" id="vRole_error" style="display: none;">Please enter role
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 iAgentType_div" style="display: none;">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Select Agent Type</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <select name="iAgentType" id="iAgentType" class="ivu-input">
                      <option value="">Select Agent Type</option>
                      {{#each agentTypeData as |value key| }}
                      <option value="{{ value._id }}" data-filter="{{ value.iPosition}}">{{
                        value.vTitle }}</option>
                      {{/each}}
                    </select>
                    <div class="text-danger" id="iAgentType_error" style="display: none;">Please
                      select Agent Type</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 vReferrer_div" style="display: none;">
              <div class="ivu-form-item">
                <label class="ivu-form-item-label">Assign an agent. Leave it blank
                  if there is no agent available.</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <select name="vReferrer" id="vReferrer" class="ivu-input">
                      <option value="">Select Agent</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="ivu-form-item">
                <label for="vAddress" class="ivu-form-item-label">Address</label>
                <div class="ivu-form-item-content">
                  <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                    <textarea rows="5" class="ivu-input" name="vAddress" id="vAddress"
                      placeholder="Enter Address">{{userData.vAddress}}</textarea>
                    <div class="text-danger" id="vAddress_error" style="display: none;">Please select address</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="footer-btns-group">

          <button type="button" class="medium-btn save">
            <span>Create</span>
          </button>

          <button class="medium-btn save_loader" style="display: none;">
            <span>Please Wait...</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-loader spin mr-2 text-white">
              <line x1="12" y1="2" x2="12" y2="6"></line>
              <line x1="12" y1="18" x2="12" y2="22"></line>
              <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
              <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
              <line x1="2" y1="12" x2="6" y2="12"></line>
              <line x1="18" y1="12" x2="22" y2="12"></line>
              <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
              <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
            </svg>
          </button>
          <button type="button" class="medium-btn2 cancel">
            <span>Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('click', '.cancel', function () {
    location.href = "/user";
  });

  $(document).on("change", "#vDepartment", function () {

    var iDepartmentId = $(this).val();

    if (iDepartmentId === 'Sales') {
      $(".iAgentType_div").show();
      $(".vReferrer_div").show();
      $(".vRole_div").hide();

    } else if (iDepartmentId === 'Clients') {
      $(".vRole_div").hide();
      $(".iAgentType_div").hide();
      $(".vReferrer_div").show();

      $.ajax({
        url: "/user/getAllAgent",
        type: 'POST',
        data: {},
        success: function (response) {
          $("#vReferrer").empty();
          $("#vReferrer").append($('<option>').val('').text('Select Agent'));
          for (let index = 0; index < response.length; index++) {
            const element = response[index];
            $("#vReferrer").append($('<option>').val(element._id).text(element.vFirstName + ' ' + element.vLastName));
          }
          $("#vReferrer option[value={{agentData.vReferrer}}]").prop("selected", true)
        }
      })
    } else {

      $(".vRole_div").show();
      $(".iAgentType_div").hide();
      $(".vReferrer_div").hide();

      $.ajax({
        url: "/user/getRole",
        type: 'POST',
        data: {
          iDepartmentId: iDepartmentId
        },
        success: function (response) {
          if (response.length > 0) {
            $("#vRole").empty();
            $("#vRole").append($('<option>').val('').text('Select Role'));
            for (let index = 0; index < response.length; index++) {
              const element = response[index];
              $("#vRole").append($('<option>').val(element._id).text(element.vTitle));
            }
          } else {
            $("#vRole").empty();
            $("#vRole").append($('<option>').val('').text('No Role Exist'));
          }
        }
      })
    }
  })

  $(document).on('change', '#iAgentType', function () {

    var iPosition = $(this).find(":selected").data("filter");
    $.ajax({
      url: "/agent/referrerAgent",
      type: "POST",
      data: {
        iPosition: iPosition,
      },
      success: function (response) {
        $("#vReferrer").empty();
        $("#vReferrer").append($('<option>').val('').text('Select Agent'));
        for (let index = 0; index < response.length; index++) {
          const element = response[index];
          $("#vReferrer").append($('<option>').val(element._id).text(element.vFirstName + ' ' + element.vLastName));
        }
        $("#vReferrer option[value={{agentData.vReferrer}}]").prop("selected", true)
      }
    });
  });

  $(document).on('click', '.save', function () {
    var iUserId = $("#iUserId").val();
    var vFirstName = $("#vFirstName").val();
    var vLastName = $("#vLastName").val();
    var vEmail = $("#vEmail").val();
    var vDepartment = $("#vDepartment").val();
    var vCountry = $("#vCountry").val();
    var vCity = $("#vCity").val();
    var vZipCode = $("#vZipCode").val();
    var vPhone = $("#vPhone").val();
    var vAddress = $("#vAddress").val();
    var vState = $("#vState").val();
    var vError = false;

    if (vFirstName.length == 0) {
      $("#vFirstName_error").show();
      vError = true;
    } else {
      $("#vFirstName_error").hide();
    }

    if (vLastName.length == 0) {
      $("#vLastName_error").show();
      vError = true;
    } else {
      $("#vLastName_error").hide();
    }

    if (vEmail.length == 0) {
      $("#vEmail_error").show();
      vError = true;
    } else {
      $("#vEmail_error").hide();
      if (iUserId.length == 0) {
        $.ajax({
          url: "/user/check_email",
          type: "POST",
          data: {
            vEmail: vEmail
          },
          success: function (response) {
            if (response == 1) {
              $("#vEmail_unique_error").show();
              vError = true;
            } else {
              $("#vEmail_unique_error").hide();
            }
          }
        })
      }
    }

    if (vDepartment.length == 0) {
      $("#vDepartment_error").show();
      vError = true;
    } else {
      $("#vDepartment_error").hide();
    }

    if (vCity.length == 0) {
      $("#vCity_error").show();
      vError = true;
    } else {
      $("#vCity_error").hide();
    }

    if (vCountry.length == 0) {
      $("#vCountry_error").show();
      vError = true;
    } else {
      $("#vCountry_error").hide();
    }

    if (vZipCode.length == 0) {
      $("#vZipCode_error").show();
      vError = true;
    } else {
      $("#vZipCode_error").hide();
    }

    if (vState.length == 0) {
      $("#vState_error").show();
      vError = true;
    } else {
      $("#vState_error").hide();
    }

    if (vPhone.length == 0) {
      $("#vPhone_error").show();
      vError = true;
    } else {
      $("#vPhone_error").hide();
    }

    if (vAddress.length == 0) {
      $("#vAddress_error").show();
      vError = true;
    } else {
      $("#vAddress_error").hide();
    }

  setTimeout(function(){

    if (vError == true) {
      return false;
    } else {
      $(".save").hide();
      $(".save_loader").show();
      setTimeout(function () {

        if (vDepartment === 'Sales') {
          $('.user_form').attr('action', '/agent/add_action');
          $(".user_form").submit();
          return true;
        } else if (vDepartment === 'Clients') {
          $('.user_form').attr('action', '/client/add_action');
          $(".user_form").submit();
          return true;

        } else {
          $('.user_form').attr('action', '/user/add_action');
          $(".user_form").submit();
          return true;
        }

      }, 500);
    }
  },1000);

  });
</script>