<h1>Form Builder</h1>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                <label class="ivu-form-item-label">Page Name</label>
                <input autocomplete="off" type="text" placeholder="Enter Page Name" class="form-control" name="vPage"
                    id="vPage" value="" />
                <div class="text-danger" id="vPage_error" style="display: none;">Please enter page name. </div>
                <div class="text-danger" id="vPageRegex_error" style="display: none;">Please enter only letter. </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                <label class="ivu-form-item-label">Form Layout</label>
                <select name="vLayout" id="vLayout" class="form-control">
                    <option value="">Select Layout</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <div class="text-danger" id="vLayout_error" style="display: none;">Please select layout.</div>
            </div>
        </div>
    </div>
</div>
<div id="build-wrap-custom"></div>
<div class="text-danger" id="vPageBuilder_error" style="display: none;">Please drag and drop fields. </div>
<div class="row mt-2 ml-1">
    <div class="mr-3">
        <button id="getJS" type="button" class="btn btn-primary btn-sm">Save Form</button>
    </div>
    <div class="mr-3">
        <button id="clear-all-fields" type="button" class="btn btn-danger btn-sm">Clear All</button>
    </div>
    <div class="mr-3">
        <button id="go_back" type="button" class="btn btn-primary btn-sm">Go Back</button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
<script>
    $("#go_back").click(function () {
        location.href = '/form-builder'
    });

    var options = {
        showActionButtons: false,
        controlPosition: 'right',
        disableFields: ['autocomplete', 'hidden'],
        formData: ''
    };
    var formBuilder = $("#build-wrap-custom").formBuilder(options);

    $("#getJS").click(function () {
        var getJS = formBuilder.actions.getData();

        var vPage = $("#vPage").val();
        var eStatus = $("#eStatus").val();
        var vLayout = $("#vLayout").val();
        const regex = /^[A-Za-z ]+$/;
        var vError = false;

        if (vPage.length == 0) {
            $("#vPage_error").show();
            vError = true;
        } else {
            $("#vPage_error").hide();
            if (!regex.test(vPage)) {
                $("#vPageRegex_error").show();
                vError = true;
            } else {
                $("#vPageRegex_error").hide();
            }
        }

        if (vLayout.length == 0) {
            $("#vLayout_error").show();
            vError = true;
        } else {
            $("#vLayout_error").hide();
        }

        if (getJS.length == 0) {
            $("#vPageBuilder_error").show();
            vError = true;
        } else {
            $("#vPageBuilder_error").hide();
        }

        setTimeout(function () {
            if (vError == true) {
                return false;
            } else {
                $("#getJS").text("Please Wait...")
                $.ajax({
                    url: "/form-builder/add_action",
                    type: "POST",
                    data: { vPage: vPage, vLayout: vLayout, vFormBuilder: getJS },
                    success: function (response) {
                        location.href = '/form-builder';
                    }
                });
            }
        }, 1000);
    });

    $("#clear-all-fields").click(function () {
        formBuilder.actions.clearFields();
    });

</script>