<div class="row">
    <div class="col-8 col-md-8 col-lg-8">

        <form action="/form-builder/assign_action" method="POST" class="assign_form" enctype="multipart/form-data">
            <h2 class="today-event-title mb-3">Assign Form to Departments</h2>
            <input type="hidden" value="{{iFormBuilderId}}" name="iFormBuilderId">
            <div class="d-flex align-items-center col-12 col-md-12 col-lg-12">
                <select name="iDepartmentRoleId" id="iDepartmentRoleId" class="ivu-input select2" multiple="multiple">
                    {{#each DepartmentRoleData as |value key|}}
                    <option value="{{value._id}}" {{#in_Array value._id ../assignFormIds}}selected{{/in_Array}}>{{value.vTitle}}</option>
                    {{/each}}
                </select>
            </div>
        </form>
    </div>
    <div class="col-2 col-md-2 col-lg-2">
        <a href="javascript:;" class="medium-btn ml-1" id="submit_btn" style="margin: 41px 0 0 0;">
            <span>Assign Form</span>
        </a>
    </div>

    <div class="col-2 col-md-2 col-lg-2" style="display: none;">
        <button class="medium-btn save_loader" style="margin: 41px 0 0 0;">
            <span>Please Wait...</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-loader spin mr-2 text-white">
                <line x1="12" y1="2" x2="12" y2="6"></line>
                <line x1="12" y1="18" x2="12" y2="22"></line>
                <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                <line x1="2" y1="12" x2="6" y2="12"></line>
                <line x1="18" y1="12" x2="22" y2="12"></line>
                <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
            </svg>
        </button>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#iDepartmentRoleId").select2({
            closeOnSelect: false,
            placeholder: "Select Department Role",
            allowHtml: true,
            allowClear: true,
        });
    });

</script>