<div class="_main_content">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="_1card">

                <div class="_1card_top p-0">
                    <div class="_1card_top_left">
                        <h2 class="today-event-title">Form : {{FormBuilderData.vPage}}</h2>
                    </div>
                </div>

                <div class="_1card_top p-0">
                    <div class="_1card_body">
                        <div class="row">
                            <div class="col-8 col-md-8 col-lg-8">
                                {{!-- <h2 class="today-event-title mb-3">Assign Form to Departments</h2> --}}
                                <h6 class="mb-3">Search Departments</h6>
                                <div class="d-flex align-items-center col-12 col-md-12 col-lg-12">
                                    <select name="iDepartmentId" id="iDepartmentId" class="ivu-input select2"
                                        multiple="multiple">
                                        {{#each departmentData as |value key|}}
                                        <option value="{{value._id}}">{{value.vTitle}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-2 col-md-2 col-lg-2">
                                <a href="javascript:;" class="medium-btn2 ml-1" id="select_all"
                                    style="margin: 41px 0 0 0;">
                                    <span>Select All</span>
                                </a>
                            </div>
                            <div class="col-2 col-md-2 col-lg-2">
                                <a href="javascript:;" class="medium-btn2 ml-1" id="department_search"
                                    style="margin: 41px 0 0 0;">
                                    <span>Search</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="_1card_body" id="table_record">
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#iDepartmentId").select2({
            closeOnSelect: false,
            placeholder: "Select Department",
            allowHtml: true,
            allowClear: true,
        });
    });

    // Select all options when the button is clicked
    $('#select_all').click(function () {
        var optionValues = $('#iDepartmentId option').map(function () {
            return $(this).val();
        }).get();

        $('#iDepartmentId').val(optionValues).trigger('change');
    });

    function filter(iDepartmentId) {
        var iFormBuilderId = "{{FormBuilderData._id}}";
        var iDepartmentId = iDepartmentId;

        $("#table_record").html('');
        $("#table_record").html('<div class="loader multi-loader mx-auto"></div>')

        $.ajax({
            url: "/form-builder/ajax_role",
            type: "POST",
            data: { iFormBuilderId: iFormBuilderId, iDepartmentId: iDepartmentId },
            success: function (response) {
                $("#table_record").html(response);
            }
        });
    }

    $(document).on("click", "#department_search", function () {
        const iDepartmentId = $("#iDepartmentId").val();
        filter(iDepartmentId);
    })

    $(document).ready(function () {
        filter("",);
    });


    $(document).on('click', '#submit_btn', function () {

        var iDepartmentRoleId = $("#iDepartmentRoleId").val();
        var vError = false;

        if (iDepartmentRoleId.length == 0) {
            alert('Please select departments.')
            vError = true;
        }

        if (vError == true) {
            return false;
        } else {
            $("#submit_btn").hide();
            $(".save_loader").show();
            setTimeout(function () {
                $(".assign_form").submit();
                return true;
            }, 500);
        }
    });

</script>