<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF</title>
</head>
<style>
</style>

<body style=" font-size: 14px;color: rgb(158, 157,157);font-family:sans-serif;">
    <table style="border: 1px solid; width: 100%;">
        <tr>
            <td style="padding: 20px;">
               #body# 
            </td>
        </tr>
    </table>
</body>

</html>