<h1>Edit Form Builder</h1>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                <label class="ivu-form-item-label">Page Name</label>
                <input autocomplete="off" type="text" placeholder="Enter Page Name" class="form-control" name="vPage"
                    id="vPage" value="{{ formBuilderData.vPage }}" />
                <div class="text-danger" id="vPage_error" style="display: none;">Please enter page name. </div>
                <div class="text-danger" id="vPageRegex_error" style="display: none;">Please enter only letter. </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                <label class="ivu-form-item-label">Form Layout</label>
                <select name="vLayout" id="vLayout" class="form-control">
                    <option value="">Select Layout</option>
                    <option value="2" {{#if_equal formBuilderData.vLayout "2" }}selected{{/if_equal}}>2</option>
                    <option value="3" {{#if_equal formBuilderData.vLayout "3" }}selected{{/if_equal}}>3</option>
                </select>
                <div class="text-danger" id="vLayout_error" style="display: none;">Please select layout.</div>
            </div>
        </div>
    </div>
</div>
<div id="build-wrap-custom"></div>
<div class="text-danger" id="vPageBuilder_error" style="display: none;">Please drag and drop fields. </div>
<div class="row mt-2 ml-1">
    <div class="mr-3">
        <a href="javascript:;" id="getJS" class="btn btn-primary btn-sm">Save Form</a>
    </div>
    <div class="mr-3">
        <a href="javascript:;" id="clear-all-fields" class="btn btn-danger btn-sm">Clear All</a>
    </div>
    <div class="mr-3">
        <a href="javascript:;" id="go_back" class="btn btn-primary btn-sm">Go Back</a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
<script>
    var options = {
        showActionButtons: false,
        controlPosition: 'right',
        disableFields: ['autocomplete', 'hidden'],
    };

    var formBuilder = $("#build-wrap-custom").formBuilder(options);

    var iFormBuilderId = '{{formBuilderData._id}}';

    formBuilder.promise.then(function (fb) {
        $.ajax({
            url: "/form-builder/ajax__",
            type: "POST",
            data: { iFormBuilderId: iFormBuilderId },
            success: function (res) {
                formBuilder.actions.setData(res);
            }
        });
    });

    $("#getJS").click(function () {
        var getJS = formBuilder.actions.getData();

        var iFormBuilderId = '{{formBuilderData._id}}'

        var vPage = $("#vPage").val();
        var eStatus = $("#eStatus").val();
        var vLayout = $("#vLayout").val();
        const regex = /^[A-Za-z ]+$/;
        var vError = false;

        if (vPage.length == 0) {
            $("#vPage_error").show();
            vError = true;
        } else {
            $("#vPage_error").hide();
            if (!regex.test(vPage)) {
                $("#vPageRegex_error").show();
                vError = true;
            } else {
                $("#vPageRegex_error").hide();
            }
        }

        if (vLayout.length == 0) {
            $("#vLayout_error").show();
            vError = true;
        } else {
            $("#vLayout_error").hide();
        }

        if (getJS.length == 0) {
            $("#vPageBuilder_error").show();
            vError = true;
        } else {
            $("#vPageBuilder_error").hide();
        }

        setTimeout(function () {
            if (vError == true) {
                return false;
            } else {
                $("#getJS").text("Please Wait...");
                $.ajax({
                    url: "/form-builder/update_action",
                    type: "POST",
                    data: { vPage: vPage, vLayout: vLayout, vFormBuilder: getJS, iFormBuilderId: iFormBuilderId },
                    success: function (response) {
                        location.href = '/form-builder/view/' + iFormBuilderId;
                    }
                });
            }
        }, 1000);
    });

    $("#clear-all-fields").click(function () {
        formBuilder.actions.clearFields();
    });

    $("#go_back").click(function () {
        location.href = '/form-builder'
    });
</script>