<div class="_main_content">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="_1card">
                <div class="_1card">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <h2 class="today-event-title">Form List</h2>
                                </div>
                                <div class="col-sm-12 col-md-6" style="text-align: right;">
                                    <a href="/form-builder/add" class="medium-btn"><span>Add New</span></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="table_record" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Page</th>
                                            <th>Slug</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each formBuilderData as |value key| }}
                                        <tr>
                                            <td>{{value.vPage}}</td>
                                            <td><a href="{{value.vSlug}}" target="_blank">{{value.vSlug}}</a><svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15"
                                                    viewBox="0 0 15 15">
                                                    <defs>
                                                        <clipPath id="clip-icon_n">
                                                            <rect width="15" height="15"></rect>
                                                        </clipPath>
                                                    </defs>
                                                    <g id="icon_n" data-name="icon n" clip-path="url(#clip-icon_n)">
                                                        <rect width="15" height="15" fill="#fff"></rect>
                                                        <path id="arrow_outward_FILL0_wght400_GRAD0_opsz48"
                                                            d="M10.829,16.472l-.529-.529,5.187-5.187H10.728V10h6.044v6.044h-.755V11.284Z"
                                                            transform="translate(-6.036 -5.736)"></path>
                                                    </g>
                                                </svg></td>
                                            <td class="text-center">
                                                <div class="dropdown action-dropdown">
                                                    <button class="listing-dropdown dropdown-toggle" type="button"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="4.8" height="23"
                                                            viewBox="0 0 4.8 23">
                                                            <path id="more_vert_FILL0_wght400_GRAD0_opsz48"
                                                                d="M24,35a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,35Zm0-8.6a2.39,2.39,0,1,1,1.7-.7A2.314,2.314,0,0,1,24,26.4Zm0-9.6a2.4,2.4,0,0,1-1.7-4.1,2.4,2.4,0,0,1,3.4,3.4A2.314,2.314,0,0,1,24,16.8Z"
                                                                transform="translate(-21.6 -12)" fill="#8d99ae"></path>
                                                        </svg>
                                                    </button>
                                                    <div class="dropdown-menu w-100" style="will-change: transform;">
                                                        <a class="dropdown-item"
                                                            href="/form-builder/view/{{value._id}}">View</a>
                                                        <a class="dropdown-item"
                                                            href="/form-builder/assign-form/{{value._id}}">Assign
                                                            Form</a>
                                                        <a class="dropdown-item"
                                                            href="/form-builder/edit/{{value._id}}">Edit</a>
                                                        <a class="dropdown-item delete" href="javascript:;"
                                                            data-id="{{value._id}}">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $("#selectall").click(function () {
        if (this.checked) {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', true);
            });
        } else {
            $('.checkboxall').each(function () {
                $(".checkboxall").prop('checked', false);
            });
        }
    });

    $(document).ready(function () {
        var dataTable = $('#table_record').DataTable();
    });

    function deleteRecord(iFormBuilderId, vAction) {
        $.ajax({
            url: '/form-builder/delete',
            type: 'post',
            data: { vAction: vAction, iFormBuilderId: iFormBuilderId },
            success: function () {
                location.reload();
            }
        });
    }

    $(document).on('click', '.delete', function () {
        var iFormBuilderId = $(this).data('id');
        if (confirm('Are you sure to delete this record ?')) {
            deleteRecord(iFormBuilderId, "delete");
        }
    });

    $(document).on('click', '#delete_btn', function () {

        var id = [];
        $("input[name='iFormBuilderId[]']:checked").each(function () {
            id.push($(this).val());
        });
        var iFormBuilderId = id.join(",");
        if (iFormBuilderId.length == 0) {
            alert('Please select records.')
        } else {
            if (confirm('Are you sure delete this record?')) {
                deleteRecord(iFormBuilderId, "multiple_delete")
            }
        }
    });
</script>