<a class="medium-btn2 mb-4" href="/form-builder">Go back</a>
<a href="/form-builder/download/{{formBuilderData._id}}" class="medium-btn2 mb-4">Download PDF</a>
<div class="row">
    <div id="ssPdf" class="col-lg-11 col-xl-8 mx-auto">
        <div class="_main_content">
            <div class="_1card">
                <div class="_1card_body pt-2 profile-difrt-box">
                    <form action="" method="POST" class="form_submit_" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12" style="display: flex;justify-content: space-between;align-items: center;margin-top: 16px;">
                                <div><img src="https://assets.hombolt.com/assets/company-detail/1674119144824.png" style="height: 45px;"></div>
                                <div>Form No. : {{formBuilderData.vFormUnique}}</div>
                            </div>
                            {{#each formBuilderData.vFormBuilder as |value key|}}
                                {{!-- Input Type Text --}}
                                {{#if_equal value.type 'text'}}
                                   <div class="col-xs-12 col-sm-6 {{#if_equal ../formBuilderData.vLayout "2"}}col-md-6{{/if_equal}}{{#if_equal ../formBuilderData.vLayout "3"}}col-md-4{{/if_equal}}">
                                        <div class="ivu-form-item">
                                            <label class="ivu-form-item-label">{{ value.label }}</label>
                                            <div class="ivu-form-item-content">
                                                <div
                                                    class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                                    <input autocomplete="off" type="{{ value.subtype }}" placeholder="{{ value.placeholder }}" class="{{ value.className }}" name="{{ value.name }}" value="" id="{{ value.name }}" />
                                                    <div class="text-danger" id="{{ value.name }}_error" style="display: none;">This field is required. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if_equal}}

                                {{!-- Input Type Date --}}
                                {{#if_equal value.type 'date'}}
                                    <div class="col-xs-12 col-sm-6 {{#if_equal ../formBuilderData.vLayout "2"}}col-md-6{{/if_equal}}{{#if_equal ../formBuilderData.vLayout "3"}}col-md-4{{/if_equal}}">
                                        <div class="ivu-form-item">
                                            <label class="ivu-form-item-label">{{ value.label }}</label>
                                            <div class="ivu-form-item-content">
                                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                                    <input type="{{ value.type }}" class="{{ value.className }}" name="{{ value.name }}" value="" id="{{ value.name }}"/>
                                                    <div class="text-danger" id="{{ value.name }}_error" style="display: none;">This field is required. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if_equal}}
                                {{!-- Input Type File --}}
                                {{#if_equal value.type 'file'}}
                                    <div class="col-xs-12 col-sm-6 {{#if_equal ../formBuilderData.vLayout "2"}}col-md-6{{/if_equal}}{{#if_equal ../formBuilderData.vLayout "3"}}col-md-4{{/if_equal}}">
                                        <div class="ivu-form-item">
                                            <label class="ivu-form-item-label">{{ value.label }}</label>
                                            <div class="ivu-form-item-content">
                                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                                    <input type="{{ value.type }}" class="{{ value.className }}" name="{{ value.name }}" id="{{ value.name }}" value="" />
                                                    <div class="text-danger" id="{{ value.name }}_error" style="display: none;">This field is required. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if_equal}}
                                {{!-- Textarea --}}
                                {{#if_equal value.type 'textarea'}}
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="ivu-form-item">
                                            <label class="ivu-form-item-label">{{ value.label }}</label>
                                            <div class="ivu-form-item-content">
                                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                                    <textarea name="{{value.name}}" class="form-control" placeholder="{{ value.placeholder }}" id="{{ value.name }}" {{#if value.rows}}rows="{{value.rows}}"{{/if}}></textarea>
                                                    <div class="text-danger" id="{{ value.name }}_error" style="display: none;">This field is required. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if_equal}}
                                {{!-- Input Type Date --}}
                                {{#if_equal value.type 'number'}}
                                    <div class="col-xs-12 col-sm-6 {{#if_equal ../formBuilderData.vLayout "2"}}col-md-6{{/if_equal}}{{#if_equal ../formBuilderData.vLayout "3"}}col-md-4{{/if_equal}}">
                                        <div class="ivu-form-item">
                                            <label class="ivu-form-item-label">{{ value.label }}</label>
                                            <div class="ivu-form-item-content">
                                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                                    <input type="{{ value.type }}" class="{{ value.className }}" placeholder="{{ value.placeholder }}" name="{{ value.name }}" value="" id="{{ value.name }}" />
                                                    <div class="text-danger" id="{{ value.name }}_error" style="display: none;">This field is required. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if_equal}}
                                {{!-- Input Type checkbox-group --}}
                                {{#if_equal value.type 'checkbox-group'}}
                                    <div class="col-xs-12 col-sm-6 {{#if_equal ../formBuilderData.vLayout "2"}}col-md-6{{/if_equal}}{{#if_equal ../formBuilderData.vLayout "3"}}col-md-4{{/if_equal}}">
                                        <div class="ivu-form-item">
                                            <label class="ivu-form-item-label">{{ value.label }}</label>
                                            <div class="ivu-form-item-content">
                                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                                    {{#each value.values as |val key2|}}
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" name="{{ value.name }}" type="checkbox" id="{{ value.name }}" value="{{ val.value }}" {{#if_equal val.selected 'true' }} checked {{/if_equal}}>
                                                            <label class="form-check-label">{{ val.label }}</label>
                                                        </div>
                                                    {{/each}}
                                                    <div class="text-danger" id="{{ value.name }}_error" style="display: none;">This field is required. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if_equal}}
                                {{!-- Input Type radio-group --}}
                                {{#if_equal value.type 'radio-group'}}
                                    <div class="col-xs-12 col-sm-6 {{#if_equal ../formBuilderData.vLayout "2"}}col-md-6{{/if_equal}}{{#if_equal ../formBuilderData.vLayout "3"}}col-md-4{{/if_equal}}">
                                        <div class="ivu-form-item">
                                            <label class="ivu-form-item-label">{{ value.label }}</label>
                                            <div class="ivu-form-item-content">
                                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                                    {{#each value.values as |val key2|}}
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" name="{{ value.name }}" type="radio" id="inlineRadioCheckbox{{key2}}" value="{{ val.value }}" {{#if_equal val.selected 'true' }} checked {{/if_equal}}>
                                                            <label class="form-check-label" for="inlineRadioCheckbox{{key2}}">{{ val.label }}</label>
                                                        </div>
                                                    {{/each}}
                                                    <div class="text-danger" id="{{ value.name }}_error" style="display: none;">This field is required. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if_equal}}
                                {{!-- Select Tag --}}
                                {{#if_equal value.type 'select'}}
                                    <div class="col-xs-12 col-sm-6 {{#if_equal ../formBuilderData.vLayout "2"}}col-md-6{{/if_equal}}{{#if_equal ../formBuilderData.vLayout "3"}}col-md-4{{/if_equal}}">
                                        <div class="ivu-form-item">
                                            <label class="ivu-form-item-label">{{ value.label }}</label>
                                            <div class="ivu-form-item-content">
                                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                                    <select name="{{ value.name }}" class="{{ value.className }}" id="{{ value.name }}">
                                                        {{#each value.values as |val key2|}}
                                                            <option {{#if val.value}}value="{{val.value}}"{{else}}value=""{{/if}}{{#if_equal val.selected 'true' }} selected{{/if_equal}}>{{val.label}}</option>
                                                        {{/each}}
                                                    </select>
                                                    <div class="text-danger" id="{{ value.name }}_error" style="display: none;">This field is required. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if_equal}}

                                {{!-- Paragraph Tag --}}
                                {{#if_equal value.type 'paragraph'}}
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="ivu-form-item">
                                            <{{value.subtype}}>{{{value.label}}}</{{value.subtype}}>
                                        </div>
                                    </div>
                                {{/if_equal}}
                                {{!-- H1,H2... Tag --}}
                                {{#if_equal value.type 'header'}}
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="ivu-form-item">
                                            <{{value.subtype}}>{{{value.label}}}</{{value.subtype}}>
                                        </div>
                                    </div>
                                {{/if_equal}}
                                {{#if_equal value.type 'button'}}
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="footer-btns-group">
                                            {{!-- Input Type Button --}}
                                            <a href="javascript:;" class="{{ value.className }} save_form" name="{{ value.name }}">{{ value.label }}</a>
                                            <a href="javascript:;" class="{{ value.className }} save_loader" style="display: none;">Please Wait...</a>
                                        </div>
                                    </div>
                                {{/if_equal}}
                            {{/each}}
                            <div class="col-xs-12 col-sm-6 col-md-12" style="display: flex;justify-content: space-between;align-items: center;margin-top: 48px;">
                                <div>Copyright © 2023 Hombolt inc. All Rights Reserved.</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '.save_form', function () {

        {{#each formBuilderData.vFormBuilder as |value key|}}
            {{#if_equal value.type 'button'}}
            {{else}}
                {{#if_equal value.type 'radio-group'}}
                    {{#if_equal value.required 'true'}}
                        var {{value.name}} = $('input[name="{{value.name}}"]:checked').val();
                    {{/if_equal}}
                {{else}}
                    {{#if_equal value.type 'checkbox-group'}}
                        {{#if_equal value.required 'true'}}
                            var {{value.name}} = $('input[name="{{value.name}}"]:checked').val();
                        {{/if_equal}}
                    {{else}}
                        {{#if_equal value.required 'true'}}
                            var {{value.name}} = $("#{{value.name}}").val();
                        {{/if_equal}}
                    {{/if_equal}}
                {{/if_equal}}
            {{/if_equal}}
        {{/each}}
        
        var vError = false;

        {{#each formBuilderData.vFormBuilder as |value key|}}
        {{#if_equal value.type 'button'}}
        {{else}}
        {{#if_equal value.required 'true'}}
        {{#if_equal value.type 'radio-group'}}
        if (!{{value.name}}) {
            $("#{{value.name}}_error").show();
            vError = true;
        } else {
            $("#{{value.name}}_error").hide();
        }
        {{else}}
        {{#if_equal value.type 'checkbox-group'}}
        if (!{{value.name}}) {
            $("#{{value.name}}_error").show();
            vError = true;
        } else {
            $("#{{value.name}}_error").hide();
        }
        {{else}}
        if ({{value.name}}.length == 0) {
            $("#{{value.name}}_error").show();
            vError = true;
        } else {
            $("#{{value.name}}_error").hide();
        }
        {{/if_equal}}
        {{/if_equal}}
        {{/if_equal}}
        {{/if_equal}}
        {{/each}}

        if (vError == true) {
            return false;
        } else {
            $(".save_form").hide();
            $(".save_loader").show();
            setTimeout(function () {
               // $(".form_submit_").submit();
                return true;
            }, 500);
        }

    });
</script>