  <a class="medium-btn2 mb-4" href="/blog">Go back</a>
<div class="row">
<div class="col-lg-11 col-xl-8 mx-auto">
<div class="_main_content">
    <div class="add-client-info-msg">
        <div class="icon">
            <i class="fal fa-lightbulb"></i>
        </div>
        <div class="info-text">
            <p class="info-alert-message">
                Add new blog!
            </p>
        </div>
    </div>
    <div class="_1card">
        <div class="_1card_body pt-2 profile-difrt-box">
            <form action="/blog/add_action" method="POST" class="blog_form" enctype="multipart/form-data">
                <input type="hidden" value="{{ blogData._id }}" name="iBlogId">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Select Blog Category</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select name="iBlogCategoryId" id="iBlogCategoryId" class="ivu-select-input">
                                        <option value="">Select Blog Category</option>
                                        {{#each blogCategoryData as |value key| }}
                                            <option value="{{ value._id }}" {{ isSelected value._id
                                                ../blogData.iBlogCategoryId }}>{{
                                            value.vTitle }}</option>
                                        {{/each}}
                                    </select>
                                    <div class="text-danger" id="iBlogCategoryId_error" style="display: none;">Please
                                        select blog category</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Title</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Title"
                                        class="ivu-input ivu-input-default" name="vTitle" id="vTitle"
                                        value="{{ blogData.vTitle }}" />
                                    <div class="text-danger" id="vTitle_error" style="display: none;">Please enter title
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Description</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <textarea rows="5" autocomplete="off" spellcheck="false" type="text"
                                        placeholder="Enter Title" class="ivu-input ivu-input-default"
                                        name="tDescription" id="tDescription">{{ blogData.tDescription }}</textarea>
                                    <div class="text-danger" id="tDescription_error" style="display: none;">Please enter
                                        description
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Link</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="text" placeholder="Enter Link"
                                        class="ivu-input ivu-input-default" name="vLink" id="vLink"
                                        value="{{ blogData.vLink }}" />
                                    <div class="text-danger" id="vLink_error" style="display: none;">Please enter link
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Type</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select name="eType" id="eType" class="ivu-select-input">
                                        <option value="">Select Type</option>
                                        <option value="All" {{#if_equal blogData.eType "All" }} selected {{/if_equal}}>
                                            All</option>
                                        <option value="Client" {{#if_equal blogData.eType "Client" }} selected
                                            {{/if_equal}}>Client</option>
                                        <option value="Agent" {{#if_equal blogData.eType "Agent" }} selected
                                            {{/if_equal}}>Agent</option>
                                        <option value="Developer" {{#if_equal blogData.eType "Developer" }} selected
                                            {{/if_equal}}>Developer</option>
                                    </select>
                                    <div class="text-danger" id="eType_error" style="display: none;">Please enter
                                        type</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Image</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <input autocomplete="off" spellcheck="false" type="file"
                                        class="ivu-input ivu-input-default" name="vImage" id="vImage" />
                                    {{#if blogData.vImage}}
                                        <img src="{{ blogData.vImage }}" style="width: 100px;">
                                    {{/if}}
                                    <div class="text-danger" id="vImage_error" style="display: none;">Please choose
                                        image
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="ivu-form-item">
                            <label class="ivu-form-item-label">Status</label>
                            <div class="ivu-form-item-content">
                                <div class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text">
                                    <select name="eStatus" id="eStatus" class="ivu-select-input">
                                        <option value="Active" {{#if_equal blogData.eStatus "Active" }} selected
                                            {{/if_equal}}>Active</option>
                                        <option value="Inactive" {{#if_equal blogData.eStatus "Inactive" }} selected
                                            {{/if_equal}}>Inactive</option>
                                    </select>
                                    <div class="text-danger" id="eStatus_error" style="display: none;">Please enter
                                        status</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="footer-btns-group">
                <button type="button" class="medium-btn save">
                    <span>Create</span>
                </button>
                <button class="medium-btn save_loader" style="display: none;">
                    <span>Please Wait...</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-loader spin mr-2 text-white">
                        <line x1="12" y1="2" x2="12" y2="6"></line>
                        <line x1="12" y1="18" x2="12" y2="22"></line>
                        <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                        <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                        <line x1="2" y1="12" x2="6" y2="12"></line>
                        <line x1="18" y1="12" x2="22" y2="12"></line>
                        <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                        <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>
                </button>
                 <button type="button" class="medium-btn2 cancel">
                    <span>Close</span>
                </button>
            </div>
        </div>
        </div>
    </div>

</div>
</div>

<script type="text/javascript">
    $(document).on('click', '.cancel', function () {
        location.href = "/blog";
    });

    $(document).on('click', '.save', function () {
        var iBlogCategoryId = $("#iBlogCategoryId").val();
        var vTitle = $("#vTitle").val();
        var tDescription = $("#tDescription").val();
        var vLink = $("#vLink").val();
        var eType = $("#eType").val();
        var eStatus = $("#eStatus").val();
        var vError = false;

        if (iBlogCategoryId.length == 0) {
            $("#iBlogCategoryId_error").show();
            vError = true;
        } else {
            $("#iBlogCategoryId_error").hide();
        }

        if (vTitle.length == 0) {
            $("#vTitle_error").show();
            vError = true;
        } else {
            $("#vTitle_error").hide();
        }

        if (tDescription.length == 0) {
            $("#tDescription_error").show();
            vError = true;
        } else {
            $("#tDescription_error").hide();
        }

        if (vLink.length == 0) {
            $("#vLink_error").show();
            vError = true;
        } else {
            $("#vLink_error").hide();
        }

        if (eType.length == 0) {
            $("#eType_error").show();
            vError = true;
        } else {
            $("#eType_error").hide();
        }

        if (eStatus.length == 0) {
            $("#eStatus_error").show();
            vError = true;
        } else {
            $("#eStatus_error").hide();
        }

        if (vError == true) {
            return false;
        } else {
            $(".save").hide();
            $(".save_loader").show();
            setTimeout(function () {
                $(".blog_form").submit();
                return true;
            }, 500);
        }

    });
</script>